# Transfer Learning

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.models import Model
from tensorflow.keras.models import Sequential
tf.__version__

'2.9.1'

## Load an empty dataset for user input

In [2]:
%cd Z:\PPMI_Data\Excels\CollaborativeFiltering
df2 = pd.read_csv('NonMotor_Empty.csv')
# Removing a column
df3 = df2.drop('Patient_ID', axis = 1)
df3.head(2)

Z:\PPMI_Data\Excels\CollaborativeFiltering

,Anxiety,Apathy,Benton,Clock,Cognition,COGSTATE,Constipate,Depress,DopaDefic,Education,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Take input from user

In [3]:
# Ask the user for the updated value of age
new_age = int(input("What is the user's age (in years): "))

# Update the value of age in the dataframe
df3.at[0, 'Age'] = new_age

# Print the updated dataframe
print(df3)

What is the user's age (in years): 44
   Anxiety  Apathy  Benton  Clock  Cognition  COGSTATE  Constipate  Depress  \
0      NaN     NaN     NaN    NaN        NaN       NaN         NaN      NaN

   DopaDefic  Education  ...  SleepDay  SleepNight  STAIA  STAIS  \
0        NaN        NaN  ...       NaN         NaN    NaN    NaN

   Symbol_Digit  Trail_Making_A  Trail_Making_B  UPSIT  Urine   Age
0           NaN             NaN             NaN    NaN    NaN  44.0

[1 rows x 46 columns]

## Loading Sparse Full data

In [4]:
dframe1 = pd.read_csv('Feats45_unCategSparse_APPRDX.csv')
# dropping a few columns
dframe = dframe1.drop(['PATNO','APPRDX','Age'], axis = 1)
dframe = dframe.add(1)
print(dframe.shape)
dframe.head(2)

(618, 47)

,Patient_ID,Gender,Anxiety,Apathy,Benton,Clock,Cognition,COGSTATE,Constipate,Depress,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
0,2,2,2,1,16.46,NaN,1,2.0,1,1,...,50,2,1,48,45,49.330002,54.0,91.0,26,5.0
1,3,1,2,1,13.16,8.0,2,2.0,2,2,...,58,2,1,46,60,48.500000,111.0,205.0,18,2.0

## Taking input from user

In [5]:
def update_values(df3, dframe):
    # Input from the user for number of columns
    num_columns = int(input("Enter the number of columns you want to update (minimum 3, maximum 45): "))
    
    while num_columns < 3 or num_columns > 45:
        print("Invalid number of columns. Please enter a number between 3 and 45.")
        num_columns = int(input("Enter the number of columns you want to update (minimum 3, maximum 45): "))
    
    columns = []
    values = []
     
    # Loop to get input from the user for each column
    for i in range(num_columns):
        column = input("Enter the name of the Feature %d: " % (i + 1))
        value = input("Enter the score of the Feature %d: " % (i + 1))
        
        columns.append(column)
        values.append(int(value)) 
        
    # Update the values in the dataframe
    for i in range(num_columns):
        df3.loc[df3[columns[i]] != values[i], columns[i]] = values[i] 
    
    # Put values equal to zero on the columns that are not selected
    for col in dframe.columns:
        if col not in columns and col != 'Age': # Skip 'Age' column
            dframe = dframe.drop(col, axis=1)
    
    return df3, dframe

# Call the function
df3, dframe = update_values(df3, dframe)

# Print the updated dataframe and the modified dframe
print("\nUpdated dataframe:\n")
print(df3.head())

print("\nModified dataframe:\n")
print(dframe.head())

Enter the number of columns you want to update (minimum 3, maximum 45): 3
Enter the name of the Feature 1: UPSIT
Enter the score of the Feature 1: 9
Enter the name of the Feature 2: Clock
Enter the score of the Feature 2: 3
Enter the name of the Feature 3: Pain
Enter the score of the Feature 3: 2

Updated dataframe:

   Anxiety  Apathy  Benton  Clock  Cognition  COGSTATE  Constipate  Depress  \
0      NaN     NaN     NaN    3.0        NaN       NaN         NaN      NaN

   DopaDefic  Education  ...  SleepDay  SleepNight  STAIA  STAIS  \
0        NaN        NaN  ...       NaN         NaN    NaN    NaN

   Symbol_Digit  Trail_Making_A  Trail_Making_B  UPSIT  Urine   Age
0           NaN             NaN             NaN    9.0    NaN  44.0

[1 rows x 46 columns]

Modified dataframe:

   Clock  Pain  UPSIT
0    NaN   1.0     26
1    8.0   2.0     18
2    NaN   2.0     24
3    NaN   2.0     14
4    NaN   3.0     19

## Moving Age column (as the first column)

In [6]:
col_age = df3.pop('Age')
df3.insert(0, "Age", col_age)
df3.head()

,Age,Anxiety,Apathy,Benton,Clock,Cognition,COGSTATE,Constipate,Depress,DopaDefic,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
0,44.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN

In [7]:
# dropping a few columns
df3 = df3.dropna(axis = 1)
print(df3.shape)
df3.head(2)

(1, 4)

    Age  Clock  Pain  UPSIT
0  44.0    3.0   2.0    9.0

## Removing NaN values, taking only those who have score for features given as input

In [8]:
# dropping a few columns
dframe = dframe.dropna()
print(dframe.shape)
dframe.head(2)

(284, 3)

   Clock  Pain  UPSIT
1    8.0   2.0     18
5    7.0   3.0     10

### Adding Age Column to it

In [9]:
# Drop the Age column from the original DataFrame
col_age = dframe1.pop('Age')

# Insert the column at the 1st position
dframe.insert(0, "Age", col_age)
dframe.head(2)

         Age  Clock  Pain  UPSIT
1  67.578082    8.0   2.0     18
5  46.965716    7.0   3.0     10

### Adding APPRDX column as 1st column

In [10]:
col_Apprdx = dframe1.pop('APPRDX')
dframe.insert(0, 'APPRDX', col_Apprdx)

In [11]:
dframes = dframe.drop(['APPRDX'], axis = 1)
print(dframes.shape)
dframes.head(2)

(284, 4)

         Age  Clock  Pain  UPSIT
1  67.578082    8.0   2.0     18
5  46.965716    7.0   3.0     10

## Changing APPRDX values from 1 & 2 to 0 & 1

In [12]:
dframe.loc[:, "APPRDX"] = dframe["APPRDX"].apply(lambda x: x - 1)
dframe.head(2)

   APPRDX        Age  Clock  Pain  UPSIT
1       0  67.578082    8.0   2.0     18
5       0  46.965716    7.0   3.0     10

## Creating Test Train Dataset

In [13]:
X = dframe.iloc[:, 1:].values
y = dframe.iloc[:, 0].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [15]:
X_train

array([[56.32054795,  8.        ,  1.        , 28.        ],
       [66.6276368 ,  7.        ,  2.        , 28.        ],
       [71.11780822,  6.        ,  1.        ,  9.        ],
       [57.53972603,  8.        ,  1.        , 21.        ],
       [62.64979415,  8.        ,  3.        , 22.        ],
       [55.99726776,  7.        ,  1.        , 37.        ],
       [41.56712329,  8.        ,  2.        , 31.        ],
       [67.08634628,  5.        ,  2.        , 17.        ],
       [49.97260274,  8.        ,  2.        , 16.        ],
       [68.51780822,  8.        ,  1.        , 23.        ],
       [37.24657534,  8.        ,  2.        , 36.        ],
       [48.2295082 ,  7.        ,  1.        , 30.        ],
       [60.49589041,  6.        ,  3.        , 39.        ],
       [46.00678195,  8.        ,  1.        , 27.        ],
       [62.84528782,  2.        ,  1.        , 15.        ],
       [49.58170522,  8.        ,  4.        , 37.        ],
       [53.59452055,  8.        ,  1.        , 28.        ],
       [63.05216708,  8.        ,  1.        , 23.        ],
       [56.89938618,  2.        ,  1.        , 27.        ],
       [59.36986301,  8.        ,  1.        , 39.        ],
       [62.60547945,  7.        ,  2.        , 36.        ],
       [64.58082192,  8.        ,  2.        , 26.        ],
       [48.81369863,  8.        ,  1.        , 40.        ],
       [68.67289468,  7.        ,  1.        , 35.        ],
       [71.70136986,  6.        ,  1.        , 18.        ],
       [48.29508197,  8.        ,  1.        , 29.        ],
       [63.83561644,  6.        ,  2.        , 23.        ],
       [59.95616438,  8.        ,  1.        , 38.        ],
       [61.25078224,  8.        ,  2.        , 12.        ],
       [58.25731716,  8.        ,  1.        , 30.        ],
       [36.64754098,  8.        ,  1.        , 22.        ],
       [70.09424358,  7.        ,  1.        , 25.        ],
       [62.26551389,  8.        ,  1.        , 23.        ],
       [66.38356164,  8.        ,  2.        , 33.        ],
       [60.45408339,  8.        ,  1.        , 27.        ],
       [45.21369863,  7.        ,  2.        , 31.        ],
       [69.84657534,  6.        ,  1.        , 30.        ],
       [64.5136612 ,  8.        ,  1.        , 19.        ],
       [53.46027397,  8.        ,  2.        , 28.        ],
       [66.45461487,  5.        ,  2.        , 25.        ],
       [78.32054795,  7.        ,  1.        , 25.        ],
       [60.27374055,  7.        ,  2.        , 30.        ],
       [72.97945206,  8.        ,  2.        , 33.        ],
       [57.82191781,  7.        ,  1.        , 35.        ],
       [65.20821918,  5.        ,  1.        , 14.        ],
       [56.75342466,  7.        ,  1.        , 23.        ],
       [67.57808219,  8.        ,  2.        , 18.        ],
       [68.02465753,  8.        ,  2.        , 40.        ],
       [70.61362377,  8.        ,  1.        , 32.        ],
       [56.70958904,  8.        ,  2.        , 20.        ],
       [54.80961898,  8.        ,  2.        , 33.        ],
       [31.16090276,  8.        ,  1.        , 40.        ],
       [49.17879332,  8.        ,  3.        , 28.        ],
       [82.2520548 ,  8.        ,  4.        , 15.        ],
       [62.1195823 ,  8.        ,  1.        , 31.        ],
       [48.15342466,  7.        ,  2.        , 39.        ],
       [73.52401377,  5.        ,  1.        , 15.        ],
       [57.13965117,  8.        ,  1.        , 31.        ],
       [62.0343888 ,  8.        ,  2.        , 22.        ],
       [52.06575343,  7.        ,  1.        , 40.        ],
       [61.28767123,  7.        ,  2.        , 30.        ],
       [55.73424658,  5.        ,  1.        , 19.        ],
       [66.15616438,  8.        ,  1.        , 38.        ],
       [49.04383562,  8.        ,  2.        , 25.        ],
       [58.99187814,  8.        ,  1.        , 33.        ],
       [54.03827382,  8.        ,  2.        , 37.        ],
       [49.12959054,  8.        ,  1.        , 25.        ],
       [50.74750356,  8.        ,  1.        , 14.        ],
       [65.73150685,  7.        ,  2.        , 23.        ],
       [43.18769369,  7.        ,  1.        , 39.        ],
       [50.46004192,  3.        ,  2.        , 20.        ],
       [53.71911071,  8.        ,  2.        , 32.        ],
       [45.79452055,  8.        ,  1.        , 32.        ],
       [59.58919829,  8.        ,  1.        , 29.        ],
       [69.36438356,  4.        ,  1.        , 22.        ],
       [47.18781346,  8.        ,  1.        , 39.        ],
       [30.96504229,  8.        ,  1.        , 38.        ],
       [48.44535519,  7.        ,  2.        , 16.        ],
       [68.88767123,  1.        ,  2.        , 10.        ],
       [79.29202036,  6.        ,  2.        , 36.        ],
       [75.05284827,  5.        ,  2.        ,  7.        ],
       [57.23013699,  8.        ,  1.        , 37.        ],
       [59.82465753,  6.        ,  1.        , 36.        ],
       [68.69172094,  5.        ,  2.        , 15.        ],
       [52.5369863 ,  8.        ,  1.        , 34.        ],
       [74.07872595,  8.        ,  2.        , 37.        ],
       [70.49863014,  8.        ,  2.        , 27.        ],
       [58.87707164,  6.        ,  2.        , 25.        ],
       [57.9260274 ,  8.        ,  1.        , 28.        ],
       [63.94808743,  8.        ,  1.        , 38.        ],
       [31.8630137 ,  8.        ,  1.        , 38.        ],
       [48.03278689,  8.        ,  2.        , 18.        ],
       [59.11674527,  7.        ,  1.        , 18.        ],
       [49.16546897,  8.        ,  3.        , 38.        ],
       [47.35420316,  6.        ,  4.        , 16.        ],
       [58.42585523,  7.        ,  1.        , 39.        ],
       [67.40273973,  7.        ,  2.        , 13.        ],
       [68.37704918,  8.        ,  1.        , 30.        ],
       [67.55182274,  8.        ,  1.        ,  8.        ],
       [64.32240437,  8.        ,  3.        , 19.        ],
       [53.93937421,  8.        ,  1.        , 39.        ],
       [56.67290216,  8.        ,  3.        , 23.        ],
       [59.64931507,  7.        ,  1.        , 35.        ],
       [39.18630137,  8.        ,  4.        , 31.        ],
       [54.16712329,  7.        ,  1.        , 20.        ],
       [60.85593233,  8.        ,  2.        , 24.        ],
       [69.1890411 ,  6.        ,  1.        , 35.        ],
       [64.44918033,  8.        ,  1.        , 21.        ],
       [49.89315069,  2.        ,  2.        , 18.        ],
       [54.42191781,  8.        ,  1.        , 35.        ],
       [58.44109589,  8.        ,  2.        , 36.        ],
       [75.4726776 ,  4.        ,  3.        ,  6.        ],
       [72.10928962,  4.        ,  1.        , 23.        ],
       [56.80071862,  6.        ,  2.        , 39.        ],
       [57.00821918,  8.        ,  2.        , 36.        ],
       [56.36949622,  8.        ,  2.        , 16.        ],
       [64.59704319,  7.        ,  1.        , 32.        ],
       [69.9369863 ,  8.        ,  2.        , 38.        ],
       [72.29315069,  7.        ,  1.        , 20.        ],
       [72.03835616,  7.        ,  1.        , 19.        ],
       [43.09202036,  8.        ,  1.        , 29.        ],
       [69.81494872,  8.        ,  4.        , 11.        ],
       [64.8442623 ,  7.        ,  4.        , 34.        ],
       [64.2431694 ,  8.        ,  1.        , 18.        ],
       [54.03561644,  8.        ,  1.        , 33.        ],
       [73.87945206,  7.        ,  2.        , 23.        ],
       [53.78082192,  7.        ,  2.        , 26.        ],
       [64.01917808,  7.        ,  1.        , 27.        ],
       [73.24931507,  7.        ,  1.        , 34.        ],
       [32.19178082,  8.        ,  1.        , 39.        ],
       [60.28493151,  8.        ,  1.        , 31.        ],
       [73.96355266,  8.        ,  2.        , 27.        ],
       [69.86575343,  8.        ,  2.        , 39.        ],
       [71.63561644,  6.        ,  1.        , 29.        ],
       [75.68219178,  1.        ,  2.        , 20.        ],
       [55.73150685,  8.        ,  1.        , 39.        ],
       [51.00248522,  8.        ,  2.        , 11.        ],
       [65.82497193,  8.        ,  3.        , 10.        ],
       [61.43561644,  8.        ,  2.        , 20.        ],
       [68.77595628,  6.        ,  1.        , 14.        ],
       [39.22465753,  8.        ,  2.        , 34.        ],
       [66.38428026,  8.        ,  2.        , 39.        ],
       [48.93424658,  8.        ,  1.        , 13.        ],
       [59.93150685,  8.        ,  2.        , 31.        ],
       [81.78630137,  8.        ,  1.        , 17.        ],
       [46.79194551,  7.        ,  2.        , 30.        ],
       [68.56438356,  7.        ,  1.        , 35.        ],
       [48.27123288,  6.        ,  1.        , 36.        ],
       [66.89315069,  6.        ,  1.        , 26.        ],
       [58.69863014,  6.        ,  2.        , 21.        ],
       [56.32876712,  8.        ,  1.        , 39.        ],
       [62.55840258,  7.        ,  1.        , 24.        ],
       [74.69589041,  8.        ,  1.        , 27.        ],
       [63.95342466,  1.        ,  2.        , 18.        ],
       [51.50979864,  5.        ,  1.        , 25.        ],
       [62.23981585,  6.        ,  1.        , 29.        ],
       [54.76757242,  8.        ,  1.        , 38.        ],
       [62.33424658,  8.        ,  1.        , 38.        ],
       [66.54101355,  7.        ,  2.        , 16.        ],
       [54.9119994 ,  8.        ,  2.        , 21.        ],
       [59.01643836,  5.        ,  1.        , 11.        ],
       [56.40983607,  8.        ,  1.        , 31.        ],
       [43.86883749,  7.        ,  1.        , 36.        ],
       [48.4863388 ,  8.        ,  1.        , 31.        ],
       [81.89041096,  8.        ,  2.        , 38.        ],
       [70.67887566,  5.        ,  1.        , 11.        ],
       [59.18743918,  8.        ,  2.        , 35.        ],
       [49.22060034,  6.        ,  2.        , 25.        ],
       [51.55464481,  8.        ,  2.        , 23.        ],
       [72.32876712,  7.        ,  1.        , 33.        ],
       [67.35952541,  8.        ,  1.        , 24.        ],
       [73.55342466,  8.        ,  1.        , 23.        ],
       [64.22465753,  8.        ,  2.        , 36.        ],
       [53.25367168,  8.        ,  2.        , 20.        ],
       [62.28744667,  6.        ,  1.        , 37.        ],
       [57.66849315,  8.        ,  1.        , 38.        ],
       [63.51232877,  8.        ,  2.        , 29.        ],
       [60.2792724 ,  4.        ,  1.        ,  7.        ],
       [55.59452055,  8.        ,  2.        , 35.        ],
       [78.01614642,  5.        ,  2.        , 19.        ],
       [68.49863014,  8.        ,  1.        , 30.        ],
       [77.46027397,  7.        ,  2.        , 10.        ],
       [68.84054944,  6.        ,  2.        , 12.        ],
       [70.59370462,  6.        ,  1.        , 16.        ],
       [67.91256831,  6.        ,  1.        , 32.        ],
       [54.46575343,  8.        ,  1.        , 20.        ],
       [66.56522195,  7.        ,  1.        , 31.        ],
       [64.51506849,  8.        ,  1.        , 29.        ],
       [63.09479752,  8.        ,  2.        , 19.        ],
       [83.68219178,  7.        ,  2.        , 39.        ],
       [64.07377049,  7.        ,  1.        ,  9.        ],
       [71.5863912 ,  2.        ,  1.        , 17.        ],
       [68.64641066,  2.        ,  3.        , 25.        ],
       [52.715847  ,  8.        ,  3.        , 34.        ],
       [66.2630137 ,  6.        ,  2.        , 36.        ],
       [62.47945206,  5.        ,  2.        , 14.        ],
       [73.28544801,  8.        ,  1.        , 27.        ],
       [72.61917808,  8.        ,  1.        , 30.        ],
       [68.78082192,  7.        ,  1.        , 38.        ],
       [62.99613744,  7.        ,  1.        , 20.        ],
       [52.15342466,  8.        ,  1.        , 29.        ],
       [67.34360356,  4.        ,  1.        , 32.        ],
       [52.38356164,  8.        ,  1.        , 38.        ],
       [61.41911071,  8.        ,  2.        , 17.        ],
       [46.965716  ,  7.        ,  3.        , 10.        ],
       [60.0136612 ,  8.        ,  2.        , 23.        ],
       [74.22382663,  8.        ,  1.        , 15.        ],
       [38.34007037,  8.        ,  2.        , 35.        ],
       [62.94655289,  7.        ,  2.        , 25.        ],
       [75.43287671,  6.        ,  1.        , 22.        ],
       [52.09589041,  8.        ,  1.        , 37.        ],
       [67.40547945,  8.        ,  1.        , 35.        ],
       [71.39071038,  8.        ,  1.        , 13.        ],
       [60.75861217,  8.        ,  3.        , 15.        ],
       [61.00520249,  8.        ,  1.        , 34.        ],
       [64.22989745,  6.        ,  2.        , 27.        ],
       [77.18460963,  5.        ,  2.        , 17.        ],
       [63.66926417,  8.        ,  4.        , 37.        ],
       [69.42739726,  4.        ,  2.        , 15.        ],
       [57.7369863 ,  7.        ,  1.        , 30.        ],
       [52.1230631 ,  5.        ,  2.        , 12.        ],
       [77.26662924,  8.        ,  2.        , 12.        ],
       [71.52707538,  8.        ,  2.        , 38.        ],
       [79.24203908,  7.        ,  4.        , 38.        ],
       [65.4       ,  5.        ,  1.        , 18.        ],
       [45.54794521,  8.        ,  1.        , 39.        ],
       [55.81420765,  8.        ,  2.        , 16.        ]])

In [16]:
y_train

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0], dtype=int64)

## Removing 1st layer of the model, replacing with dframe

In [17]:
from keras.models import load_model, Model
from keras.layers import Input, Dense

# Load the pre-trained model
model_ann = load_model('model_ann.h5')

# Define the input layer of the new model with a different shape
new_input_layer = Input(shape=dframes.shape[1:])
#new_input_layer = Dense(units = 13, input_shape=(dframes.shape[1:]), activation='relu')

# Define the first hidden layer of the new model
new_hidden_layer1 = Dense(units=12, activation='relu',kernel_regularizer=tf.keras.regularizers.l1(0.01))(new_input_layer)

# Get the weights of the second hidden and output layers from the pre-trained model
pretrained_hidden_layer2_weights = model_ann.layers[1].get_weights()
pretrained_output_layer_weights = model_ann.layers[2].get_weights()

# Define the second hidden layer and the output layer of the new model using the pre-trained weights
new_hidden_layer2 = Dense(units=pretrained_hidden_layer2_weights[0].shape[1], activation='relu', weights=pretrained_hidden_layer2_weights)(new_hidden_layer1)
new_output_layer = Dense(units=pretrained_output_layer_weights[0].shape[1], activation='sigmoid', weights=pretrained_output_layer_weights)(new_hidden_layer2)


# Create the new model with the input layer and all four layers
new_model = Model(inputs=new_input_layer, outputs=new_output_layer)

# Compile the new model with the desired optimizer, loss function, and metrics
new_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

for layer in new_model.layers[2:]:
    layer.trainable = False

In [18]:
new_model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 4)]               0

 dense (Dense)               (None, 12)                60

 dense_1 (Dense)             (None, 8)                 104

 dense_2 (Dense)             (None, 1)                 9

=================================================================
Total params: 173
Trainable params: 60
Non-trainable params: 113
_________________________________________________________________

In [19]:
new_model.fit(X_train, y_train, batch_size = 20, epochs = 100)

Epoch 1/100
12/12 [==============================] - 1s 1ms/step - loss: 0.7201 - accuracy: 0.6740
Epoch 2/100
12/12 [==============================] - 0s 1ms/step - loss: 0.6695 - accuracy: 0.7093
Epoch 3/100
12/12 [==============================] - 0s 1ms/step - loss: 0.6337 - accuracy: 0.7797
Epoch 4/100
12/12 [==============================] - 0s 2ms/step - loss: 0.6220 - accuracy: 0.7841
Epoch 5/100
12/12 [==============================] - 0s 1ms/step - loss: 0.6028 - accuracy: 0.7930
Epoch 6/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5954 - accuracy: 0.8282
Epoch 7/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5905 - accuracy: 0.7974
Epoch 8/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5834 - accuracy: 0.8062
Epoch 9/100
12/12 [==============================] - 0s 592us/step - loss: 0.5814 - accuracy: 0.8106
Epoch 10/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5653 - accuracy: 0.8326
Epoch 11/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5660 - accuracy: 0.8150
Epoch 12/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5620 - accuracy: 0.8062
Epoch 13/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5583 - accuracy: 0.8062
Epoch 14/100
12/12 [==============================] - 0s 0s/step - loss: 0.5637 - accuracy: 0.7753
Epoch 15/100
12/12 [==============================] - 0s 0s/step - loss: 0.5482 - accuracy: 0.8106
Epoch 16/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5607 - accuracy: 0.8018
Epoch 17/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5726 - accuracy: 0.7665
Epoch 18/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5384 - accuracy: 0.8150
Epoch 19/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5483 - accuracy: 0.8150
Epoch 20/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5477 - accuracy: 0.8150
Epoch 21/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5301 - accuracy: 0.8238
Epoch 22/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5366 - accuracy: 0.8018
Epoch 23/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5363 - accuracy: 0.8326
Epoch 24/100
12/12 [==============================] - 0s 0s/step - loss: 0.5345 - accuracy: 0.7974
Epoch 25/100
12/12 [==============================] - 0s 592us/step - loss: 0.5354 - accuracy: 0.7974
Epoch 26/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5324 - accuracy: 0.7841
Epoch 27/100
12/12 [==============================] - 0s 0s/step - loss: 0.5314 - accuracy: 0.8194
Epoch 28/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5289 - accuracy: 0.7974
Epoch 29/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5214 - accuracy: 0.8150
Epoch 30/100
12/12 [==============================] - 0s 592us/step - loss: 0.5107 - accuracy: 0.8458
Epoch 31/100
12/12 [==============================] - 0s 0s/step - loss: 0.5128 - accuracy: 0.8238
Epoch 32/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5138 - accuracy: 0.7974
Epoch 33/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5156 - accuracy: 0.8238
Epoch 34/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5272 - accuracy: 0.8018
Epoch 35/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5048 - accuracy: 0.8238
Epoch 36/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5036 - accuracy: 0.8194
Epoch 37/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4979 - accuracy: 0.8326
Epoch 38/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5009 - accuracy: 0.8326
Epoch 39/100
12/12 [==============================] - 0s 2ms/step - loss: 0.5089 - accuracy: 0.8062
Epoch 40/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5020 - accuracy: 0.8194
Epoch 41/100
12/12 [==============================] - 0s 0s/step - loss: 0.4954 - accuracy: 0.8194
Epoch 42/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4980 - accuracy: 0.8194
Epoch 43/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4899 - accuracy: 0.8458
Epoch 44/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4883 - accuracy: 0.8194
Epoch 45/100
12/12 [==============================] - 0s 915us/step - loss: 0.4871 - accuracy: 0.8282
Epoch 46/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4896 - accuracy: 0.8238
Epoch 47/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4940 - accuracy: 0.8458
Epoch 48/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4827 - accuracy: 0.8370
Epoch 49/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4901 - accuracy: 0.8282
Epoch 50/100
12/12 [==============================] - 0s 910us/step - loss: 0.4851 - accuracy: 0.8150
Epoch 51/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4999 - accuracy: 0.8370
Epoch 52/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4872 - accuracy: 0.8238
Epoch 53/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4861 - accuracy: 0.8238
Epoch 54/100
12/12 [==============================] - 0s 1ms/step - loss: 0.5007 - accuracy: 0.8062
Epoch 55/100
12/12 [==============================] - 0s 364us/step - loss: 0.4965 - accuracy: 0.8018
Epoch 56/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4988 - accuracy: 0.8106
Epoch 57/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4824 - accuracy: 0.8282
Epoch 58/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4876 - accuracy: 0.8238
Epoch 59/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4789 - accuracy: 0.8370
Epoch 60/100
12/12 [==============================] - 0s 0s/step - loss: 0.4812 - accuracy: 0.8238
Epoch 61/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4796 - accuracy: 0.8282
Epoch 62/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4929 - accuracy: 0.8238
Epoch 63/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4938 - accuracy: 0.8194
Epoch 64/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4778 - accuracy: 0.8370
Epoch 65/100
12/12 [==============================] - 0s 592us/step - loss: 0.4755 - accuracy: 0.8414
Epoch 66/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4758 - accuracy: 0.8414
Epoch 67/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4765 - accuracy: 0.8282
Epoch 68/100
12/12 [==============================] - 0s 3ms/step - loss: 0.4791 - accuracy: 0.8238
Epoch 69/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4752 - accuracy: 0.8150
Epoch 70/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4871 - accuracy: 0.8150
Epoch 71/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4823 - accuracy: 0.8194
Epoch 72/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.8018
Epoch 73/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4750 - accuracy: 0.8546
Epoch 74/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4803 - accuracy: 0.8106
Epoch 75/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4714 - accuracy: 0.8370
Epoch 76/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4741 - accuracy: 0.8238
Epoch 77/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4759 - accuracy: 0.8194
Epoch 78/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4775 - accuracy: 0.8326
Epoch 79/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4752 - accuracy: 0.8106
Epoch 80/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4799 - accuracy: 0.8282
Epoch 81/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4745 - accuracy: 0.8106
Epoch 82/100

12/12 [==============================] - 0s 1ms/step - loss: 0.4792 - accuracy: 0.8458
Epoch 83/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4716 - accuracy: 0.8062
Epoch 84/100
12/12 [==============================] - 0s 592us/step - loss: 0.4740 - accuracy: 0.8546
Epoch 85/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4683 - accuracy: 0.8502
Epoch 86/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4663 - accuracy: 0.8458
Epoch 87/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4750 - accuracy: 0.8150
Epoch 88/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4696 - accuracy: 0.8326
Epoch 89/100
12/12 [==============================] - 0s 592us/step - loss: 0.4694 - accuracy: 0.8414
Epoch 90/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4756 - accuracy: 0.8238
Epoch 91/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4678 - accuracy: 0.8414
Epoch 92/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4742 - accuracy: 0.8502
Epoch 93/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4651 - accuracy: 0.8370
Epoch 94/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.8282
Epoch 95/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4865 - accuracy: 0.8194
Epoch 96/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4782 - accuracy: 0.8238
Epoch 97/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4630 - accuracy: 0.8546
Epoch 98/100
12/12 [==============================] - 0s 2ms/step - loss: 0.4662 - accuracy: 0.8502
Epoch 99/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4654 - accuracy: 0.8282
Epoch 100/100
12/12 [==============================] - 0s 1ms/step - loss: 0.4662 - accuracy: 0.8458

In [51]:
import pandas as pd

# Predict the outcome of the df3 data frame
prediction = new_model.predict(df3,verbose=0)

# Determine the predicted class and scaled prediction
if prediction[0][0] > 0.5:
    predicted_class = "Healthy"
    scaled_prediction = prediction[0][0]
else:
    scaled_prediction = 1 - (prediction[0][0] - 0) * (1 - 0.5) / (0.5 - 0)
    predicted_class = "Patient"
    scaled_prediction = scaled_prediction

# Create a new dataframe with the predicted class and scaled prediction
results_df_NeuNet = pd.DataFrame({'Category': [predicted_class],
                           'Percentage': [scaled_prediction]})
print(results_df_NeuNet)

  Category  Percentage
0  Patient    0.935931

Code for calculating score of healthy or patient prediction

In [64]:
# create the dataframe
data = {'Category': ['Patient', 'Patient', 'Healthy', 'Patient', 'Patient', 'Healthy'],
        'Score': [0.666667, 0.533333, 0.689576, 0.956667, 0.730333, 0.889576]}
df = pd.DataFrame(data)

# identify the categories with low and high occurrence
low_cat = df['Category'].value_counts().idxmin()
high_cat = df['Category'].value_counts().idxmax()

# compute the sum of score in the low_cat and high_cat
low_cat_sum = df.loc[df['Category'] == low_cat, 'Score'].sum()
high_cat_sum = df.loc[df['Category'] == high_cat, 'Score'].sum()

# compute the difference between high_cat_sum and low_cat_sum
difference = (high_cat_sum - low_cat_sum)/3 * 100

print("Sum of scores in {} category: {}".format(low_cat, low_cat_sum))
print("Sum of scores in {} category: {}".format(high_cat, high_cat_sum))
print("Difference between {} and {} categories: {}".format(high_cat, low_cat, difference))

Sum of scores in Healthy category: 1.5791520000000001
Sum of scores in Patient category: 2.887
Difference between Patient and Healthy categories: 43.59493333333333

In [65]:
difference

43.59493333333333

In [67]:
difference = (high_cat_sum - low_cat_sum)/3 * 100
rounded_difference = "{:.2f}".format(difference)
rounded_difference

'43.59'

# Predict the outcome of the df3 data frame
prediction = new_model.predict(df3)
print(prediction[0][0])

if prediction[0][0] > 0.5:
    predicted_class = "Healthy"
else:
    scaled_prediction = 1 - (prediction[0][0] - 0) * (1 - 0.5) / (0.5 - 0)
    predicted_class = "Patient"
scaled_prediction = scaled_prediction
print("The predicted class is: " + predicted_class + ", and the values in Neural Network is: " + str(scaled_prediction))

# Predict the outcome of the df3 data frame
prediction = new_model.predict(df3)
print (prediction [0][0])

if prediction[0][0] > 0.5:
    predicted_class = "Healthy"
else:
    predicted_class = "Patient"

prediction_value = prediction[0][0]

if prediction_value <= 0.5:
    # Scale the prediction value between 0 to 0.5
    scaled_value = 1 - (prediction_value / 0.5)
else:
    # Scale the prediction value between 0.5 to 1
    scaled_value = (prediction_value - 0.5) / 0.5

# Output the scaled value
#print("The scaled value is:", scaled_value)
print("The predicted class is: " + predicted_class + ", and the values in Neural Network is: " + str(scaled_value))

In [22]:
y_pred = new_model.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

2/2 [==============================] - 0s 0s/step
[[1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [1 1]
 [1 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [1 1]]

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[34  9]
 [ 2 12]]

0.8070175438596491