# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
df = pd.read_csv('Apathy_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
(458, 3572)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,MDS_Apathy_Category,cg19958696,cg05962325,...,cg19795267,cg16922840,cg19628277,cg26480988,cg01673347,cg12994818,cg09008531,cg16463148,cg04021430,cg04863888
0,200973410159_R03C01,3000,2,2,0,69.1,4,0,0.010314,0.057597,...,0.751058,0.901978,0.580283,0.548182,0.725312,0.092118,0.723395,0.129795,0.017529,0.026699
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.014601,0.068728,...,0.630319,0.851560,0.521620,0.495925,0.830013,0.076462,0.728590,0.246918,0.039718,0.024071
2,200991620021_R03C01,3002,2,1,2,67.6,4,0,0.014465,0.043749,...,0.756439,0.861054,0.530380,0.500924,0.792804,0.074791,0.660346,0.263525,0.029293,0.021847

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Age','MDS_Apathy_Category','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg19958696,cg05962325,cg15093662,cg04873221,cg05903298,cg19020436,cg14994056,cg05973813,cg18337422,...,cg19795267,cg16922840,cg19628277,cg26480988,cg01673347,cg12994818,cg09008531,cg16463148,cg04021430,cg04863888
0,2,0.010314,0.057597,0.020549,0.015659,0.011741,0.014318,0.035177,0.014771,0.013507,...,0.751058,0.901978,0.580283,0.548182,0.725312,0.092118,0.723395,0.129795,0.017529,0.026699
1,1,0.014601,0.068728,0.019329,0.021747,0.012923,0.017399,0.033939,0.020282,0.017160,...,0.630319,0.851560,0.521620,0.495925,0.830013,0.076462,0.728590,0.246918,0.039718,0.024071

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.47000000000000003
2
Mean accuracy: 0.43
3
Mean accuracy: 0.5149999999999999
4
Mean accuracy: 0.42000000000000004
5
Mean accuracy: 0.625
6
Mean accuracy: 0.585
7
Mean accuracy: 0.515
8
Mean accuracy: 0.525
9
Mean accuracy: 0.505
10
Mean accuracy: 0.5750000000000001
11
Mean accuracy: 0.5250000000000001
12
Mean accuracy: 0.5549999999999999
13
Mean accuracy: 0.4900000000000001
14
Mean accuracy: 0.515
15
Mean accuracy: 0.53
16
Mean accuracy: 0.53
17
Mean accuracy: 0.5800000000000001
18
Mean accuracy: 0.52
19
Mean accuracy: 0.425
20
Mean accuracy: 0.47000000000000003
21
Mean accuracy: 0.5249999999999999
22
Mean accuracy: 0.45999999999999996
23
Mean accuracy: 0.53
24
Mean accuracy: 0.505
25
Mean accuracy: 0.5399999999999999
26
Mean accuracy: 0.52
27
Mean accuracy: 0.5149999999999999
28
Mean accuracy: 0.5200000000000001
29
Mean accuracy: 0.5349999999999999
30
Mean accuracy: 0.5700000000000001
31
Mean accuracy: 0.575
32
Mean accuracy: 0.43999999999999995
33
Mean accuracy: 0.5
34
Mean accuracy: 0.505
35
Mean accuracy: 0.505
36
Mean accuracy: 0.55
37
Mean accuracy: 0.53
38
Mean accuracy: 0.425
39
Mean accuracy: 0.575
40
Mean accuracy: 0.505
41
Mean accuracy: 0.495
42
Mean accuracy: 0.485
43
Mean accuracy: 0.52
44
Mean accuracy: 0.48
45
Mean accuracy: 0.49000000000000005
46
Mean accuracy: 0.4699999999999999
47
Mean accuracy: 0.5149999999999999
48
Mean accuracy: 0.505
49
Mean accuracy: 0.51
50
Mean accuracy: 0.505
51
Mean accuracy: 0.485
52
Mean accuracy: 0.53
53
Mean accuracy: 0.495
54
Mean accuracy: 0.5199999999999999
55
Mean accuracy: 0.46499999999999997
56
Mean accuracy: 0.52
57
Mean accuracy: 0.48
58
Mean accuracy: 0.565
59
Mean accuracy: 0.5700000000000001
60
Mean accuracy: 0.555
61
Mean accuracy: 0.515
62
Mean accuracy: 0.505
63
Mean accuracy: 0.5349999999999999
64
Mean accuracy: 0.5000000000000001
65
Mean accuracy: 0.51
66
Mean accuracy: 0.54
67
Mean accuracy: 0.5
68
Mean accuracy: 0.4
69
Mean accuracy: 0.5250000000000001
70
Mean accuracy: 0.585
71
Mean accuracy: 0.45999999999999996
72
Mean accuracy: 0.51
73
Mean accuracy: 0.475
74
Mean accuracy: 0.49000000000000005
75
Mean accuracy: 0.5599999999999999
76
Mean accuracy: 0.45
77
Mean accuracy: 0.49499999999999994
78
Mean accuracy: 0.48
79
Mean accuracy: 0.53
80
Mean accuracy: 0.57
81
Mean accuracy: 0.51
82
Mean accuracy: 0.45999999999999996
83
Mean accuracy: 0.53
84
Mean accuracy: 0.5650000000000001
85
Mean accuracy: 0.545
86
Mean accuracy: 0.53
87
Mean accuracy: 0.575
88
Mean accuracy: 0.5
89
Mean accuracy: 0.475
90
Mean accuracy: 0.51
91
Mean accuracy: 0.525
92
Mean accuracy: 0.48500000000000004
93
Mean accuracy: 0.5149999999999999
94
Mean accuracy: 0.51
95
Mean accuracy: 0.5650000000000001
96
Mean accuracy: 0.5
97
Mean accuracy: 0.5150000000000001
98
Mean accuracy: 0.43
99
Mean accuracy: 0.46499999999999997
100
Mean accuracy: 0.535

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_AllCpG_100RF.csv", index = False)

0.5117499999999999

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5249999999999999
2
Mean accuracy: 0.4600000000000001
3
Mean accuracy: 0.475
4
Mean accuracy: 0.505
5
Mean accuracy: 0.475
6
Mean accuracy: 0.535
7
Mean accuracy: 0.5399999999999999
8
Mean accuracy: 0.535
9
Mean accuracy: 0.54
10
Mean accuracy: 0.48999999999999994
11
Mean accuracy: 0.48
12
Mean accuracy: 0.55
13
Mean accuracy: 0.5199999999999999
14
Mean accuracy: 0.45999999999999996
15
Mean accuracy: 0.575
16
Mean accuracy: 0.58
17
Mean accuracy: 0.5700000000000001
18
Mean accuracy: 0.495
19
Mean accuracy: 0.5700000000000001
20
Mean accuracy: 0.445
21
Mean accuracy: 0.5599999999999999
22
Mean accuracy: 0.5549999999999999
23
Mean accuracy: 0.47000000000000003
24
Mean accuracy: 0.575
25
Mean accuracy: 0.5199999999999999
26
Mean accuracy: 0.465
27
Mean accuracy: 0.505
28
Mean accuracy: 0.465
29
Mean accuracy: 0.53
30
Mean accuracy: 0.43499999999999994
31
Mean accuracy: 0.45499999999999996
32
Mean accuracy: 0.495
33
Mean accuracy: 0.55
34
Mean accuracy: 0.49499999999999994
35
Mean accuracy: 0.51
36
Mean accuracy: 0.395
37
Mean accuracy: 0.5199999999999999
38
Mean accuracy: 0.5050000000000001
39
Mean accuracy: 0.48500000000000004
40
Mean accuracy: 0.51
41
Mean accuracy: 0.5449999999999999
42
Mean accuracy: 0.465
43
Mean accuracy: 0.5650000000000001
44
Mean accuracy: 0.5249999999999999
45
Mean accuracy: 0.46499999999999997
46
Mean accuracy: 0.525
47
Mean accuracy: 0.45500000000000007
48
Mean accuracy: 0.47000000000000003
49
Mean accuracy: 0.53
50
Mean accuracy: 0.5000000000000001
51
Mean accuracy: 0.525
52
Mean accuracy: 0.5700000000000001
53
Mean accuracy: 0.5599999999999999
54
Mean accuracy: 0.5499999999999999
55
Mean accuracy: 0.43499999999999994
56
Mean accuracy: 0.575
57
Mean accuracy: 0.43999999999999995
58
Mean accuracy: 0.51
59
Mean accuracy: 0.525
60
Mean accuracy: 0.53
61
Mean accuracy: 0.49000000000000005
62
Mean accuracy: 0.48500000000000004
63
Mean accuracy: 0.4600000000000001
64
Mean accuracy: 0.505
65
Mean accuracy: 0.485
66
Mean accuracy: 0.55
67
Mean accuracy: 0.515
68
Mean accuracy: 0.51
69
Mean accuracy: 0.4800000000000001
70
Mean accuracy: 0.45499999999999996
71
Mean accuracy: 0.53
72
Mean accuracy: 0.5
73
Mean accuracy: 0.5850000000000001
74
Mean accuracy: 0.485
75
Mean accuracy: 0.5449999999999999
76
Mean accuracy: 0.52
77
Mean accuracy: 0.505
78
Mean accuracy: 0.47000000000000003
79
Mean accuracy: 0.55
80
Mean accuracy: 0.515
81
Mean accuracy: 0.4800000000000001
82
Mean accuracy: 0.54
83
Mean accuracy: 0.575
84
Mean accuracy: 0.39499999999999996
85
Mean accuracy: 0.445
86
Mean accuracy: 0.48
87
Mean accuracy: 0.505
88
Mean accuracy: 0.445
89
Mean accuracy: 0.44000000000000006
90
Mean accuracy: 0.535
91
Mean accuracy: 0.54
92
Mean accuracy: 0.545
93
Mean accuracy: 0.48
94
Mean accuracy: 0.5149999999999999
95
Mean accuracy: 0.515
96
Mean accuracy: 0.515
97
Mean accuracy: 0.525
98
Mean accuracy: 0.54
99
Mean accuracy: 0.53
100
Mean accuracy: 0.5750000000000001

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Rand100CpG_100RF.csv", index = False)

0.5085

## RanFor 100 times. Samples = 93

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(93, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.515
2
Mean accuracy: 0.545
3
Mean accuracy: 0.41500000000000004
4
Mean accuracy: 0.5549999999999999
5
Mean accuracy: 0.5
6
Mean accuracy: 0.5249999999999999
7
Mean accuracy: 0.5650000000000001
8
Mean accuracy: 0.5
9
Mean accuracy: 0.55
10
Mean accuracy: 0.505
11
Mean accuracy: 0.495
12
Mean accuracy: 0.51
13
Mean accuracy: 0.485
14
Mean accuracy: 0.4749999999999999
15
Mean accuracy: 0.5599999999999999
16
Mean accuracy: 0.5299999999999999
17
Mean accuracy: 0.54
18
Mean accuracy: 0.59
19
Mean accuracy: 0.535
20
Mean accuracy: 0.47000000000000003
21
Mean accuracy: 0.51
22
Mean accuracy: 0.5800000000000001
23
Mean accuracy: 0.43
24
Mean accuracy: 0.525
25
Mean accuracy: 0.45500000000000007
26
Mean accuracy: 0.475
27
Mean accuracy: 0.49000000000000005
28
Mean accuracy: 0.48500000000000004
29
Mean accuracy: 0.48999999999999994
30
Mean accuracy: 0.445
31
Mean accuracy: 0.47000000000000003
32
Mean accuracy: 0.525
33
Mean accuracy: 0.575
34
Mean accuracy: 0.46499999999999997
35
Mean accuracy: 0.51
36
Mean accuracy: 0.475
37
Mean accuracy: 0.48999999999999994
38
Mean accuracy: 0.545
39
Mean accuracy: 0.445
40
Mean accuracy: 0.51
41
Mean accuracy: 0.465
42
Mean accuracy: 0.515
43
Mean accuracy: 0.49000000000000005
44
Mean accuracy: 0.5549999999999999
45
Mean accuracy: 0.475
46
Mean accuracy: 0.515
47
Mean accuracy: 0.465
48
Mean accuracy: 0.465
49
Mean accuracy: 0.5399999999999999
50
Mean accuracy: 0.4600000000000001
51
Mean accuracy: 0.495
52
Mean accuracy: 0.56
53
Mean accuracy: 0.505
54
Mean accuracy: 0.53
55
Mean accuracy: 0.485
56
Mean accuracy: 0.57
57
Mean accuracy: 0.41500000000000004
58
Mean accuracy: 0.51
59
Mean accuracy: 0.5050000000000001
60
Mean accuracy: 0.545
61
Mean accuracy: 0.4800000000000001
62
Mean accuracy: 0.45
63
Mean accuracy: 0.48
64
Mean accuracy: 0.505
65
Mean accuracy: 0.5499999999999999
66
Mean accuracy: 0.535
67
Mean accuracy: 0.5150000000000001
68
Mean accuracy: 0.525
69
Mean accuracy: 0.495
70
Mean accuracy: 0.48
71
Mean accuracy: 0.535
72
Mean accuracy: 0.5149999999999999
73
Mean accuracy: 0.555
74
Mean accuracy: 0.54
75
Mean accuracy: 0.5599999999999999
76
Mean accuracy: 0.48999999999999994
77
Mean accuracy: 0.5
78
Mean accuracy: 0.51
79
Mean accuracy: 0.495
80
Mean accuracy: 0.52
81
Mean accuracy: 0.43500000000000005
82
Mean accuracy: 0.49499999999999994
83
Mean accuracy: 0.5750000000000001
84
Mean accuracy: 0.485
85
Mean accuracy: 0.525
86
Mean accuracy: 0.49000000000000005
87
Mean accuracy: 0.525
88
Mean accuracy: 0.4900000000000001
89
Mean accuracy: 0.48
90
Mean accuracy: 0.55
91
Mean accuracy: 0.5499999999999999
92
Mean accuracy: 0.5549999999999999
93
Mean accuracy: 0.475
94
Mean accuracy: 0.44000000000000006
95
Mean accuracy: 0.495
96
Mean accuracy: 0.5
97
Mean accuracy: 0.495
98
Mean accuracy: 0.5149999999999999
99
Mean accuracy: 0.5799999999999998
100
Mean accuracy: 0.505

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Rand93CpG_100RF.csv", index = False)

0.5071999999999999

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Apathy_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg14824670,cg18299793,cg08556479,cg10164191,cg05064739,cg03476938,cg26840770,cg12049462,...,cg26501664,cg13580611,cg07897734,cg11875268,cg23203206,cg06632027,cg02553661,cg15567507,cg19458274,cg25324991
0,3000,2,0.312659,0.923536,0.864220,0.511121,0.88989,0.611944,0.109552,0.208430,...,0.871542,0.883831,0.890719,0.953649,0.621678,0.043348,0.947492,0.906558,0.018417,0.693119
1,3001,1,0.312060,0.885384,0.866326,0.604161,0.85152,0.549004,0.058578,0.131758,...,0.798379,0.898389,0.842938,0.956079,0.850858,0.029793,0.929744,0.824857,0.018518,0.599772

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg14824670,cg18299793,cg08556479,cg10164191,cg05064739,cg03476938,cg26840770,cg12049462,cg23804054,...,cg26501664,cg13580611,cg07897734,cg11875268,cg23203206,cg06632027,cg02553661,cg15567507,cg19458274,cg25324991
0,2,0.312659,0.923536,0.864220,0.511121,0.88989,0.611944,0.109552,0.208430,0.290418,...,0.871542,0.883831,0.890719,0.953649,0.621678,0.043348,0.947492,0.906558,0.018417,0.693119
1,1,0.312060,0.885384,0.866326,0.604161,0.85152,0.549004,0.058578,0.131758,0.215196,...,0.798379,0.898389,0.842938,0.956079,0.850858,0.029793,0.929744,0.824857,0.018518,0.599772

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5650000000000001
2
Mean accuracy: 0.5850000000000001
3
Mean accuracy: 0.635
4
Mean accuracy: 0.67
5
Mean accuracy: 0.64
6
Mean accuracy: 0.65
7
Mean accuracy: 0.575
8
Mean accuracy: 0.605
9
Mean accuracy: 0.605
10
Mean accuracy: 0.5900000000000001
11
Mean accuracy: 0.61
12
Mean accuracy: 0.605
13
Mean accuracy: 0.6250000000000001
14
Mean accuracy: 0.61
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.595
17
Mean accuracy: 0.6149999999999999
18
Mean accuracy: 0.63
19
Mean accuracy: 0.55
20
Mean accuracy: 0.655
21
Mean accuracy: 0.625
22
Mean accuracy: 0.5900000000000001
23
Mean accuracy: 0.6399999999999999
24
Mean accuracy: 0.62
25
Mean accuracy: 0.5800000000000001
26
Mean accuracy: 0.5700000000000001
27
Mean accuracy: 0.615
28
Mean accuracy: 0.68
29
Mean accuracy: 0.665
30
Mean accuracy: 0.6599999999999999
31
Mean accuracy: 0.615
32
Mean accuracy: 0.5849999999999999
33
Mean accuracy: 0.5499999999999999
34
Mean accuracy: 0.575
35
Mean accuracy: 0.63
36
Mean accuracy: 0.6500000000000001
37
Mean accuracy: 0.6199999999999999
38
Mean accuracy: 0.505
39
Mean accuracy: 0.6200000000000001
40
Mean accuracy: 0.6299999999999999
41
Mean accuracy: 0.66
42
Mean accuracy: 0.5650000000000001
43
Mean accuracy: 0.6249999999999999
44
Mean accuracy: 0.6449999999999999
45
Mean accuracy: 0.64
46
Mean accuracy: 0.595
47
Mean accuracy: 0.68
48
Mean accuracy: 0.62
49
Mean accuracy: 0.545
50
Mean accuracy: 0.5449999999999999
51
Mean accuracy: 0.605
52
Mean accuracy: 0.67
53
Mean accuracy: 0.5349999999999999
54
Mean accuracy: 0.595
55
Mean accuracy: 0.59
56
Mean accuracy: 0.625
57
Mean accuracy: 0.625
58
Mean accuracy: 0.6549999999999999
59
Mean accuracy: 0.6599999999999999
60
Mean accuracy: 0.6500000000000001
61
Mean accuracy: 0.62
62
Mean accuracy: 0.625
63
Mean accuracy: 0.5700000000000001
64
Mean accuracy: 0.645
65
Mean accuracy: 0.6000000000000001
66
Mean accuracy: 0.6499999999999999
67
Mean accuracy: 0.64
68
Mean accuracy: 0.605
69
Mean accuracy: 0.575
70
Mean accuracy: 0.64
71
Mean accuracy: 0.595
72
Mean accuracy: 0.5549999999999999
73
Mean accuracy: 0.6050000000000001
74
Mean accuracy: 0.5650000000000001
75
Mean accuracy: 0.6399999999999999
76
Mean accuracy: 0.6300000000000001
77
Mean accuracy: 0.615
78
Mean accuracy: 0.635
79
Mean accuracy: 0.63
80
Mean accuracy: 0.585
81
Mean accuracy: 0.5399999999999999
82
Mean accuracy: 0.59
83
Mean accuracy: 0.595
84
Mean accuracy: 0.545
85
Mean accuracy: 0.615
86
Mean accuracy: 0.675
87
Mean accuracy: 0.665
88
Mean accuracy: 0.63
89
Mean accuracy: 0.59
90
Mean accuracy: 0.6050000000000001
91
Mean accuracy: 0.635
92
Mean accuracy: 0.65
93
Mean accuracy: 0.5700000000000001
94
Mean accuracy: 0.5800000000000001
95
Mean accuracy: 0.645
96
Mean accuracy: 0.545
97
Mean accuracy: 0.635
98
Mean accuracy: 0.6000000000000001
99
Mean accuracy: 0.575
100
Mean accuracy: 0.5700000000000001

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Boruta50CpG_100RF.csv", index = False)

0.6109000000000001

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_Apathy_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,...,cg14498209,cg25121146,cg05446994,cg15104211,cg19325183,cg14123992,cg25648103,cg03191458,cg08292003,cg05356336
0,3000,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,...,0.066835,0.764635,0.061219,0.912982,0.884938,0.866045,0.068994,0.932425,0.927526,0.730565
1,3001,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,...,0.070633,0.817254,0.042576,0.872000,0.833177,0.706168,0.032556,0.921355,0.873576,0.794499

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,cg04875789,...,cg14498209,cg25121146,cg05446994,cg15104211,cg19325183,cg14123992,cg25648103,cg03191458,cg08292003,cg05356336
0,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,0.030486,...,0.066835,0.764635,0.061219,0.912982,0.884938,0.866045,0.068994,0.932425,0.927526,0.730565
1,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,0.042940,...,0.070633,0.817254,0.042576,0.872000,0.833177,0.706168,0.032556,0.921355,0.873576,0.794499

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.63
2
Mean accuracy: 0.6299999999999999
3
Mean accuracy: 0.6649999999999999
4
Mean accuracy: 0.61
5
Mean accuracy: 0.665
6
Mean accuracy: 0.6449999999999999
7
Mean accuracy: 0.6450000000000001
8
Mean accuracy: 0.6799999999999999
9
Mean accuracy: 0.66
10
Mean accuracy: 0.6699999999999999
11
Mean accuracy: 0.64
12
Mean accuracy: 0.67
13
Mean accuracy: 0.675
14
Mean accuracy: 0.67
15
Mean accuracy: 0.68
16
Mean accuracy: 0.6199999999999999
17
Mean accuracy: 0.6799999999999999
18
Mean accuracy: 0.665
19
Mean accuracy: 0.675
20
Mean accuracy: 0.6849999999999999
21
Mean accuracy: 0.64
22
Mean accuracy: 0.635
23
Mean accuracy: 0.6649999999999999
24
Mean accuracy: 0.665
25
Mean accuracy: 0.655
26
Mean accuracy: 0.625
27
Mean accuracy: 0.6449999999999999
28
Mean accuracy: 0.63
29
Mean accuracy: 0.675
30
Mean accuracy: 0.61
31
Mean accuracy: 0.6900000000000001
32
Mean accuracy: 0.55
33
Mean accuracy: 0.6399999999999999
34
Mean accuracy: 0.6549999999999999
35
Mean accuracy: 0.6849999999999999
36
Mean accuracy: 0.6050000000000001
37
Mean accuracy: 0.675
38
Mean accuracy: 0.65
39
Mean accuracy: 0.6799999999999999
40
Mean accuracy: 0.635
41
Mean accuracy: 0.625
42
Mean accuracy: 0.645
43
Mean accuracy: 0.6599999999999999
44
Mean accuracy: 0.6499999999999999
45
Mean accuracy: 0.63
46
Mean accuracy: 0.605
47
Mean accuracy: 0.6950000000000001
48
Mean accuracy: 0.67
49
Mean accuracy: 0.65
50
Mean accuracy: 0.7
51
Mean accuracy: 0.595
52
Mean accuracy: 0.6699999999999999
53
Mean accuracy: 0.645
54
Mean accuracy: 0.67
55
Mean accuracy: 0.665
56
Mean accuracy: 0.62
57
Mean accuracy: 0.6250000000000001
58
Mean accuracy: 0.6599999999999999
59
Mean accuracy: 0.67
60
Mean accuracy: 0.71
61
Mean accuracy: 0.6249999999999999
62
Mean accuracy: 0.705
63
Mean accuracy: 0.6299999999999999
64
Mean accuracy: 0.6599999999999999
65
Mean accuracy: 0.6
66
Mean accuracy: 0.645
67
Mean accuracy: 0.675
68
Mean accuracy: 0.6
69
Mean accuracy: 0.6449999999999999
70
Mean accuracy: 0.6900000000000001
71
Mean accuracy: 0.64
72
Mean accuracy: 0.6100000000000001
73
Mean accuracy: 0.675
74
Mean accuracy: 0.595
75
Mean accuracy: 0.6300000000000001
76
Mean accuracy: 0.595
77
Mean accuracy: 0.595
78
Mean accuracy: 0.625
79
Mean accuracy: 0.6050000000000001
80
Mean accuracy: 0.71
81
Mean accuracy: 0.625
82
Mean accuracy: 0.5900000000000001
83
Mean accuracy: 0.6650000000000001
84
Mean accuracy: 0.6649999999999999
85
Mean accuracy: 0.6499999999999999
86
Mean accuracy: 0.6849999999999999
87
Mean accuracy: 0.655
88
Mean accuracy: 0.625
89
Mean accuracy: 0.63
90
Mean accuracy: 0.63
91
Mean accuracy: 0.6900000000000001
92
Mean accuracy: 0.67
93
Mean accuracy: 0.63
94
Mean accuracy: 0.655
95
Mean accuracy: 0.685
96
Mean accuracy: 0.6300000000000001
97
Mean accuracy: 0.6649999999999999
98
Mean accuracy: 0.625
99
Mean accuracy: 0.675
100
Mean accuracy: 0.63

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_NMI50CpG_100RF.csv", index = False)

0.6486000000000002

## RanFor Top 50 Boruta + NMI 100 times. Samples = 93

In [19]:
df = pd.read_csv('Apathy_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(458, 95)

,PATNO,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,...,cg17741809,cg15705342,cg18888403,cg24284087,cg15567507,cg03104569,cg26501664,cg11986643,cg12148300,cg09926649
0,3000,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,...,0.581553,0.799648,0.842037,0.034545,0.906558,0.592606,0.871542,0.075037,0.770635,0.855460
1,3001,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,...,0.452972,0.740308,0.724402,0.025670,0.824857,0.577578,0.798379,0.064960,0.708033,0.832275

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,cg04875789,...,cg17741809,cg15705342,cg18888403,cg24284087,cg15567507,cg03104569,cg26501664,cg11986643,cg12148300,cg09926649
0,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,0.030486,...,0.581553,0.799648,0.842037,0.034545,0.906558,0.592606,0.871542,0.075037,0.770635,0.855460
1,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,0.042940,...,0.452972,0.740308,0.724402,0.025670,0.824857,0.577578,0.798379,0.064960,0.708033,0.832275

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6300000000000001
2
Mean accuracy: 0.615
3
Mean accuracy: 0.6900000000000001
4
Mean accuracy: 0.6399999999999999
5
Mean accuracy: 0.675
6
Mean accuracy: 0.71
7
Mean accuracy: 0.6
8
Mean accuracy: 0.65
9
Mean accuracy: 0.615
10
Mean accuracy: 0.635
11
Mean accuracy: 0.635
12
Mean accuracy: 0.6399999999999999
13
Mean accuracy: 0.625
14
Mean accuracy: 0.67
15
Mean accuracy: 0.6849999999999999
16
Mean accuracy: 0.615
17
Mean accuracy: 0.665
18
Mean accuracy: 0.665
19
Mean accuracy: 0.645
20
Mean accuracy: 0.69
21
Mean accuracy: 0.665
22
Mean accuracy: 0.62
23
Mean accuracy: 0.65
24
Mean accuracy: 0.625
25
Mean accuracy: 0.6599999999999999
26
Mean accuracy: 0.645
27
Mean accuracy: 0.645
28
Mean accuracy: 0.675
29
Mean accuracy: 0.7000000000000001
30
Mean accuracy: 0.605
31
Mean accuracy: 0.6500000000000001
32
Mean accuracy: 0.58
33
Mean accuracy: 0.545
34
Mean accuracy: 0.6599999999999999
35
Mean accuracy: 0.72
36
Mean accuracy: 0.6599999999999999
37
Mean accuracy: 0.6799999999999999
38
Mean accuracy: 0.585
39
Mean accuracy: 0.6300000000000001
40
Mean accuracy: 0.6199999999999999
41
Mean accuracy: 0.655
42
Mean accuracy: 0.65
43
Mean accuracy: 0.67
44
Mean accuracy: 0.685
45
Mean accuracy: 0.655
46
Mean accuracy: 0.65
47
Mean accuracy: 0.6399999999999999
48
Mean accuracy: 0.675
49
Mean accuracy: 0.645
50
Mean accuracy: 0.5800000000000001
51
Mean accuracy: 0.635
52
Mean accuracy: 0.7300000000000001
53
Mean accuracy: 0.62
54
Mean accuracy: 0.61
55
Mean accuracy: 0.66
56
Mean accuracy: 0.675
57
Mean accuracy: 0.685
58
Mean accuracy: 0.63
59
Mean accuracy: 0.6799999999999999
60
Mean accuracy: 0.7
61
Mean accuracy: 0.64
62
Mean accuracy: 0.725
63
Mean accuracy: 0.62
64
Mean accuracy: 0.6699999999999999
65
Mean accuracy: 0.62
66
Mean accuracy: 0.6849999999999999
67
Mean accuracy: 0.69
68
Mean accuracy: 0.6050000000000001
69
Mean accuracy: 0.665
70
Mean accuracy: 0.685
71
Mean accuracy: 0.625
72
Mean accuracy: 0.65
73
Mean accuracy: 0.6299999999999999
74
Mean accuracy: 0.605
75
Mean accuracy: 0.6300000000000001
76
Mean accuracy: 0.6399999999999999
77
Mean accuracy: 0.6000000000000001
78
Mean accuracy: 0.62
79
Mean accuracy: 0.635
80
Mean accuracy: 0.675
81
Mean accuracy: 0.62
82
Mean accuracy: 0.62
83
Mean accuracy: 0.615
84
Mean accuracy: 0.6500000000000001
85
Mean accuracy: 0.6450000000000001
86
Mean accuracy: 0.71
87
Mean accuracy: 0.6549999999999999
88
Mean accuracy: 0.6199999999999999
89
Mean accuracy: 0.6649999999999999
90
Mean accuracy: 0.6649999999999999
91
Mean accuracy: 0.67
92
Mean accuracy: 0.685
93
Mean accuracy: 0.64
94
Mean accuracy: 0.66
95
Mean accuracy: 0.67
96
Mean accuracy: 0.635
97
Mean accuracy: 0.685
98
Mean accuracy: 0.65
99
Mean accuracy: 0.67
100
Mean accuracy: 0.635

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Apathy_Top50sCpG93_100RF.csv", index = False)

0.6492499999999999