# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## NMI

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
df = pd.read_csv('Top50NMI_Apathy_Data.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
(458, 52)

,PATNO,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,...,cg14498209,cg25121146,cg05446994,cg15104211,cg19325183,cg14123992,cg25648103,cg03191458,cg08292003,cg05356336
0,3000,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,...,0.066835,0.764635,0.061219,0.912982,0.884938,0.866045,0.068994,0.932425,0.927526,0.730565
1,3001,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,...,0.070633,0.817254,0.042576,0.872000,0.833177,0.706168,0.032556,0.921355,0.873576,0.794499
2,3002,1,0.909074,0.081780,0.637395,0.132808,0.975221,0.676977,0.775669,0.072638,...,0.055912,0.829208,0.031170,0.849519,0.839254,0.837906,0.054987,0.907265,0.896818,0.822890

In [3]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,cg04875789,...,cg14498209,cg25121146,cg05446994,cg15104211,cg19325183,cg14123992,cg25648103,cg03191458,cg08292003,cg05356336
0,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,0.030486,...,0.066835,0.764635,0.061219,0.912982,0.884938,0.866045,0.068994,0.932425,0.927526,0.730565
1,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,0.042940,...,0.070633,0.817254,0.042576,0.872000,0.833177,0.706168,0.032556,0.921355,0.873576,0.794499

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
print(dframe1.head(2))
dframe1.to_csv ("Apathy_NMICpG_100RF.csv")

   Accuracy   Std_Dev
0     0.661  0.102611
1     0.645  0.098107

## Boruta

In [6]:
df = pd.read_csv('Top50Boruta_Apathy_Data.csv')
print(df.shape)
df.head(3)

(458, 52)

,PATNO,APPRDX,cg10013170,cg26200585,cg01447828,cg04856117,cg07226281,cg01081395,cg02157463,cg24144574,...,cg18888403,cg24284087,cg15567507,cg01366849,cg03104569,cg04333485,cg26501664,cg11986643,cg12148300,cg09926649
0,3000,2,0.057307,0.894961,0.483002,0.608352,0.013171,0.525126,0.677453,0.560944,...,0.842037,0.034545,0.906558,0.945979,0.592606,0.162589,0.871542,0.075037,0.770635,0.855460
1,3001,1,0.068637,0.740107,0.441146,0.625565,0.024729,0.826699,0.641978,0.602079,...,0.724402,0.025670,0.824857,0.922968,0.577578,0.184197,0.798379,0.064960,0.708033,0.832275
2,3002,1,0.064471,0.861804,0.618824,0.585446,0.019458,0.857042,0.637395,0.518575,...,0.787884,0.028478,0.891626,0.952598,0.581838,0.132808,0.807807,0.076355,0.727009,0.869729

In [7]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg10013170,cg26200585,cg01447828,cg04856117,cg07226281,cg01081395,cg02157463,cg24144574,cg19628277,...,cg18888403,cg24284087,cg15567507,cg01366849,cg03104569,cg04333485,cg26501664,cg11986643,cg12148300,cg09926649
0,2,0.057307,0.894961,0.483002,0.608352,0.013171,0.525126,0.677453,0.560944,0.580283,...,0.842037,0.034545,0.906558,0.945979,0.592606,0.162589,0.871542,0.075037,0.770635,0.855460
1,1,0.068637,0.740107,0.441146,0.625565,0.024729,0.826699,0.641978,0.602079,0.521620,...,0.724402,0.025670,0.824857,0.922968,0.577578,0.184197,0.798379,0.064960,0.708033,0.832275

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
print(dframe1.head(2))
dframe1.to_csv ("Apathy_BorutaCpG_100RF.csv")

   Accuracy   Std_Dev
0     0.591  0.082274
1     0.580  0.114891

## BorutaR

In [10]:
df = pd.read_csv('BorutaR_Apathy_CpG.csv')
print(df.shape)
df.head(3)

(458, 9)

,PATNO,APPRDX,cg08409074,cg01081395,cg02522978,cg03605226,cg02157463,cg17741809,cg26200585
0,3000,2,0.016969,0.525126,0.920436,0.030330,0.677453,0.581553,0.894961
1,3001,1,0.036602,0.826699,0.914103,0.051677,0.641978,0.452972,0.740107
2,3002,1,0.024048,0.857042,0.892825,0.111494,0.637395,0.442759,0.861804

In [11]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg08409074,cg01081395,cg02522978,cg03605226,cg02157463,cg17741809,cg26200585
0,2,0.016969,0.525126,0.920436,0.030330,0.677453,0.581553,0.894961
1,1,0.036602,0.826699,0.914103,0.051677,0.641978,0.452972,0.740107

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
print(dframe1.head(2))
dframe1.to_csv ("Apathy_BorutaRCpG_100RF.csv")

   Accuracy   Std_Dev
0     0.644  0.080399
1     0.634  0.094043

## Common

In [15]:
df = pd.read_csv('Common10_Apathy_Data.csv')
print(df.shape)
df.head(3)

(458, 12)

,PATNO,APPRDX,cg02157463,cg04333485,cg08187983,cg11486829,cg03605226,cg01366849,cg14498209,cg01081395,cg17741809,cg26200585
0,3000,2,0.677453,0.162589,0.976590,0.850409,0.030330,0.945979,0.066835,0.525126,0.581553,0.894961
1,3001,1,0.641978,0.184197,0.972912,0.813852,0.051677,0.922968,0.070633,0.826699,0.452972,0.740107
2,3002,1,0.637395,0.132808,0.975221,0.756494,0.111494,0.952598,0.055912,0.857042,0.442759,0.861804

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02157463,cg04333485,cg08187983,cg11486829,cg03605226,cg01366849,cg14498209,cg01081395,cg17741809,cg26200585
0,2,0.677453,0.162589,0.976590,0.850409,0.030330,0.945979,0.066835,0.525126,0.581553,0.894961
1,1,0.641978,0.184197,0.972912,0.813852,0.051677,0.922968,0.070633,0.826699,0.452972,0.740107

In [18]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
print(dframe1.head(2))
dframe1.to_csv ("Apathy_Common10CpG_100RF.csv")

   Accuracy   Std_Dev
0     0.610  0.093808
1     0.636  0.096974