In [1]:
import numpy as np
import pandas as pd
from boruta import BorutaPy
from sklearn.datasets import load_diabetes
from sklearn.metrics import accuracy_score 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Cognition

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Cognition
data = pd.read_csv('CognitionCateg_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Cognition

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,Montreal_Cognitive,cg08012045,cg08300930,cg00134295,...,cg10054014,cg15364874,cg06622006,cg22071811,cg24960706,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,0,200991620021_R01C01,3001,2,1,1,0,0.962437,0.964442,0.24353,...,0.852622,0.880126,0.876185,0.770531,0.830047,0.216268,0.23435,0.68155,0.103758,0.83789

In [3]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','Montreal_Cognitive','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [4]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [5]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7258064516129032

In [6]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100


BorutaPy finished running.

Iteration: 	35 / 100
Confirmed: 	1
Tentative: 	0
Rejected: 	123016

BorutaPy(estimator=RandomForestClassifier(n_estimators=14,
                                          random_state=RandomState(MT19937) at 0x22525D59640),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x22525D59640, verbose=1)

In [7]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  1

In [8]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [9]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
71838  cg21921473        1
66900  cg13675469        2
36361  cg06284898        3

In [10]:
Top50.to_csv ('Cognition_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('Cognition_BorutaMale_All.csv', index = False)

In [11]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Cognition_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\1789865926.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg22508530,cg06129513,cg13312668,cg07456278,cg05817202,...,cg22216017,cg15809230,cg17624978,cg16606731,cg13468400,cg11755107,cg10121816,cg13240962,cg15419852,APPRDX
0,0.853809,0.012194,0.910787,0.931500,0.040499,0.597781,0.843875,0.858468,0.582067,0.823899,...,0.043279,0.015557,0.866434,0.574604,0.812987,0.014287,0.011981,0.778440,0.025940,1
1,0.895204,0.012696,0.924330,0.937715,0.034218,0.546212,0.920245,0.895692,0.667340,0.849287,...,0.045068,0.015942,0.899224,0.625920,0.897971,0.015179,0.014084,0.799525,0.037032,1

# Fatigue

In [12]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue
data = pd.read_csv('FatigueCateg_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Fatigue,cg17960051,cg06562372,cg04099454,...,cg15500865,cg10329418,cg18241308,cg04350520,cg04685170,cg20985067,cg08461772,cg25879118,cg07510163,ch.13.693633F
0,0,200991620021_R01C01,3001,2,1,1,1,0.019716,0.024434,0.895146,...,0.105174,0.262518,0.784256,0.886425,0.080717,0.814912,0.331552,0.916387,0.841837,0.036872

In [13]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDSP_Fatigue','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [14]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [15]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7419354838709677

In [16]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100


BorutaPy finished running.

Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	31211

BorutaPy(estimator=RandomForestClassifier(n_estimators=2498,
                                          random_state=RandomState(MT19937) at 0x225A3A96340),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x225A3A96340, verbose=1)

In [17]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  0

In [18]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [19]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
3858   cg18473117        2
3121   cg06129513        3
27671  cg15171154        4

In [20]:
Top50.to_csv ('Fatigue_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('Fatigue_BorutaMale_All.csv', index = False)

In [21]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Fatigue_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\4113585263.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,cg00057317,cg01304065,...,cg16494828,cg22887963,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg25278660,cg25101936,APPRDX
0,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,0.025983,0.021666,...,0.012698,0.349673,0.906395,0.018032,0.812987,0.626620,0.874991,0.944035,0.560435,1
1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,0.029269,0.040407,...,0.012574,0.492091,0.902180,0.011688,0.897971,0.646688,0.866949,0.917977,0.599352,1

# Depression

In [22]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression
data = pd.read_csv('DepressionCateg_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDS_Depress,cg20815302,cg25795414,cg00959375,...,cg02293835,cg25106148,cg09135009,cg16616325,cg08020573,cg19102621,cg26302779,cg10377074,cg06750710,ch.14.849914F
0,0,200991620021_R01C01,3001,2,1,1,0,0.907957,0.86891,0.752844,...,0.890264,0.096523,0.088376,0.035056,0.040317,0.620467,0.917245,0.87378,0.809904,0.045885

In [23]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDS_Depress','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [24]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [25]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7096774193548387

In [26]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100
Iteration: 35 / 100
Iteration: 36 / 100
Iteration: 37 / 100
Iteration: 38 / 100
Iteration: 39 / 100
Iteration: 40 / 100
Iteration: 41 / 100
Iteration: 42 / 100
Iteration: 43 / 100


BorutaPy finished running.

Iteration: 	44 / 100
Confirmed: 	3
Tentative: 	0
Rejected: 	106972

BorutaPy(estimator=RandomForestClassifier(n_estimators=24,
                                          random_state=RandomState(MT19937) at 0x225A3A96B40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x225A3A96B40, verbose=1)

In [27]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  3

In [28]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [29]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
11884  cg23149728        1
8777   cg18174834        1
25500  cg04415610        1

In [30]:
Top50.to_csv ('Depression_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('Depression_BorutaMale_All.csv', index = False)

In [31]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Depression_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\2554772119.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,cg07456278,cg05817202,...,cg12220605,cg27316956,cg16293892,cg13468400,cg11374446,cg06284898,cg11485463,cg21915910,cg21915910.1,APPRDX
0,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,0.582067,0.823899,...,0.082447,0.378469,0.595614,0.812987,0.884892,0.816919,0.011261,0.796023,0.796023,1
1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,0.667340,0.849287,...,0.113486,0.327984,0.558226,0.897971,0.859572,0.855105,0.013494,0.851971,0.851971,1

# Symbol Digit

In [32]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi
data = pd.read_csv('SymbDigiCateg_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,Symbol_Digit,cg20815302,cg25795414,cg00959375,...,cg03814399,cg14792798,cg16910097,cg08750857,cg17933893,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,0,200991620021_R01C01,3001,2,1,1,1,0.907957,0.86891,0.752844,...,0.880496,0.928546,0.900567,0.8778,0.836823,0.216268,0.23435,0.68155,0.103758,0.83789

In [33]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','Symbol_Digit','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [34]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [35]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7096774193548387

In [37]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100


BorutaPy finished running.

Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	192582

BorutaPy(estimator=RandomForestClassifier(n_estimators=6206,
                                          random_state=RandomState(MT19937) at 0x22507ABAA40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x22507ABAA40, verbose=1)

In [38]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  0

In [39]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [40]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

               CpG  Ranking
15059   cg18174834        2
23497   cg05817202        3
187084  cg15419852        4

In [41]:
Top50.to_csv ('SymbDigi_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('SymbDigi_BorutaMale_All.csv', index = False)

In [42]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('SymbDigi_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\1746843683.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,cg17349352,cg19829375,...,cg27150010,cg13468400,cg15912098,cg11820312,cg11755107,cg13590297,cg07880064,cg15419852,cg11374446,APPRDX
0,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,0.045292,0.791662,...,0.010640,0.812987,0.794243,0.924203,0.014287,0.103243,0.797291,0.025940,0.884892,1
1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,0.028921,0.849490,...,0.012205,0.897971,0.923425,0.928210,0.015179,0.315527,0.820042,0.037032,0.859572,1

# TrailMaking B

In [43]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB
data = pd.read_csv('TrailMakingBCateg_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,Trail_Making_B_Category,cg02315971,cg24133836,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.028697,0.017,...,0.10987,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096

In [44]:
X = data.drop(['Sentrix','PATNO','HYS','Gender','Age','AgeCate', 'Trail_Making_B_Category','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [45]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [46]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7666666666666667

In [67]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100


BorutaPy finished running.

Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	5672

BorutaPy(estimator=RandomForestClassifier(n_estimators=1065,
                                          random_state=RandomState(MT19937) at 0x2250719CA40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x2250719CA40, verbose=1)

In [68]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  0

In [69]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [70]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

             CpG  Ranking
1330  cg03682895        2
2851  cg14398353        3
730   cg19400616        4

In [71]:
Top50.to_csv ('TrlMakB_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('TrlMakB_BorutaMale_All.csv', index = False)

In [72]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['PATNO'] = data['PATNO']
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('TrlMakB_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\399118056.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['PATNO'] = data['PATNO']
C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\399118056.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,cg22219083,cg21639451,...,cg11559967,cg24718866,cg07806248,cg10210919,cg15028128,cg07897734,cg19731340,cg24272338,PATNO,APPRDX
0,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,0.018263,0.899725,...,0.896292,0.013781,0.934287,0.026093,0.921116,0.842938,0.018411,0.912405,3001,1
1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,0.021999,0.855613,...,0.918307,0.012835,0.905446,0.023069,0.919847,0.923446,0.017375,0.891393,3007,1

# UPSIT

In [73]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT
data = pd.read_csv('UPSIT3Categ_Methylome_Male.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT

,Sentrix,PATNO,HYS,Gender,APPRDX,UPSIT_3,UPSIT_Total,cg06067658,cg15442538,cg25928446,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200991620021_R01C01,3001,2,1,1,1,25,0.088679,0.890148,0.719238,...,0.748763,0.830052,0.861102,0.855659,0.788271,0.805084,0.729165,0.803183,0.925666,0.849608

In [74]:
X = data.drop(['Sentrix','PATNO','HYS','Gender','UPSIT_3','UPSIT_Total','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [75]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [76]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7096774193548387

In [77]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100


BorutaPy finished running.

Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	0
Rejected: 	5672

BorutaPy(estimator=RandomForestClassifier(n_estimators=1065,
                                          random_state=RandomState(MT19937) at 0x22507ABAB40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x22507ABAB40, verbose=1)

In [78]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  0

In [79]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [80]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

             CpG  Ranking
1330  cg03682895        2
2851  cg14398353        3
730   cg19400616        4

In [81]:
Top50.to_csv ('UPSIT_BorutaMale_Top50.csv', index = False)
selected_rf_features.to_csv ('UPSIT_BorutaMale_All.csv', index = False)

In [82]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['PATNO'] = data['PATNO']
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('UPSIT_Boruta_Top50_Data_Male.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\3792604500.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['PATNO'] = data['PATNO']
C:\Users\system 4\AppData\Local\Temp\ipykernel_6676\3792604500.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,cg22219083,cg21639451,...,cg11559967,cg24718866,cg07806248,cg10210919,cg15028128,cg07897734,cg19731340,cg24272338,PATNO,APPRDX
0,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,0.018263,0.899725,...,0.896292,0.013781,0.934287,0.026093,0.921116,0.842938,0.018411,0.912405,3001,1
1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,0.021999,0.855613,...,0.918307,0.012835,0.905446,0.023069,0.919847,0.923446,0.017375,0.891393,3007,1