In [1]:
import numpy as np
import pandas as pd
from boruta import BorutaPy
from sklearn.datasets import load_diabetes
from sklearn.metrics import accuracy_score 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Cognition

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Cognition
data = pd.read_csv('CognitionCateg_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Cognition

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,Montreal_Cognitive,cg08012045,cg08300930,cg00134295,...,cg10054014,cg15364874,cg06622006,cg22071811,cg24960706,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,214,200991620021_R03C01,3002,2,2,1,0,0.952757,0.970714,0.227504,...,0.918107,0.923478,0.902558,0.775472,0.832588,0.259813,0.306235,0.836966,0.063255,0.888196

In [3]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','Montreal_Cognitive','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)

In [4]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [5]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7666666666666667

In [6]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100


BorutaPy finished running.

Iteration: 	33 / 100
Confirmed: 	3
Tentative: 	0
Rejected: 	123014

BorutaPy(estimator=RandomForestClassifier(n_estimators=24,
                                          random_state=RandomState(MT19937) at 0x1BB2CBAAD40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB2CBAAD40, verbose=1)

In [7]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  3

In [8]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [9]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
30220  cg02992048        1
40451  cg20230179        1
49358  cg24573261        1

In [10]:
Top50.to_csv ('Cognition_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('Cognition_BorutaFemale_All.csv', index = False)

In [11]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Cognition_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\2974393707.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg11668199,cg04983473,cg25943702,cg12845419,cg01620849,cg22210403,cg21241862,cg19030090,cg02232418,cg18757169,...,cg18319799,cg04954056,cg01158140,cg09902448,cg00319242,cg05125128,cg26819590,cg14587401,cg06191029,APPRDX
0,0.045694,0.924158,0.908038,0.518718,0.033501,0.07147,0.904030,0.917645,0.830685,0.506640,...,0.020568,0.924756,0.830883,0.952915,0.936700,0.894132,0.930234,0.036688,0.622872,1
1,0.050506,0.929821,0.928079,0.548928,0.032749,0.06974,0.914086,0.889673,0.768925,0.535331,...,0.019818,0.906033,0.887657,0.959074,0.935086,0.887206,0.923072,0.047844,0.895365,1

# Constipation

In [29]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Constipation
data = pd.read_csv('ConstipationCateg_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Constipation

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Constipate,cg13609937,cg13847987,cg13822231,...,cg06819251,cg22158158,cg20161227,cg05701765,cg25437180,cg06002203,cg21722170,cg13142750,cg12743359,cg04293703
0,214,200991620021_R03C01,3002,2,2,1,1,0.022266,0.939755,0.011179,...,0.913934,0.883586,0.946774,0.8147,0.642126,0.912947,0.870158,0.698537,0.871932,0.573198

In [30]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDSP_Constipate','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1) 
print(X.head(2))

   cg13609937  cg13847987  cg13822231  cg20728472  cg14567798  cg14205952  \
0    0.022266    0.939755    0.011179    0.018786    0.018662    0.011471
1    0.023747    0.954997    0.009352    0.034445    0.014196    0.009332

   cg13083110  cg24453271  cg18015632  cg21195763  ...  cg06819251  \
0    0.587818    0.783724    0.827664    0.860302  ...    0.913934
1    0.506270    0.809293    0.900723    0.852396  ...    0.923224

   cg22158158  cg20161227  cg05701765  cg25437180  cg06002203  cg21722170  \
0    0.883586    0.946774    0.814700    0.642126    0.912947    0.870158
1    0.867354    0.969337    0.852062    0.694741    0.861585    0.764911

   cg13142750  cg12743359  cg04293703
0    0.698537    0.871932    0.573198
1    0.633921    0.823493    0.545910

[2 rows x 20751 columns]

In [31]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [32]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.7666666666666667

In [33]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100
Iteration: 35 / 100
Iteration: 36 / 100
Iteration: 37 / 100


BorutaPy finished running.

Iteration: 	38 / 100
Confirmed: 	4
Tentative: 	0
Rejected: 	20747

BorutaPy(estimator=RandomForestClassifier(n_estimators=28,
                                          random_state=RandomState(MT19937) at 0x1BB0EE4DC40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB0EE4DC40, verbose=1)

In [34]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  4

In [35]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [36]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
11100  cg12103037        1
12655  cg15995909        1
8075   cg07198258        1

In [37]:
Top50.to_csv ('Constipation_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('Constipation_BorutaFemale_All.csv', index = False)

In [38]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Constipation_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\3324591374.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg14270890,cg22237213,cg07053599,cg06630567,cg26856497,cg23565749,cg12413242,cg24784310,cg04359365,cg00265238,...,cg15454710,cg13365781,cg19878200,cg23814714,cg06173919,cg16694455,cg19458274,cg20641425,cg11712482,APPRDX
0,0.905918,0.911791,0.024867,0.930482,0.906581,0.033449,0.686040,0.140557,0.085721,0.036745,...,0.831087,0.014288,0.123791,0.879547,0.938525,0.907496,0.015144,0.611551,0.426216,1
1,0.903949,0.932302,0.023275,0.926093,0.889148,0.037335,0.703256,0.115134,0.199964,0.037143,...,0.885725,0.014145,0.104146,0.900867,0.958519,0.908508,0.015374,0.744868,0.431001,1

# Gastro

In [39]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro
data = pd.read_csv('GastroCateg_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Gastro_Category,cg03441945,cg21094410,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200973410159_R03C01,3000,2,2,0,69.1,4,0,0.89241,0.015756,...,0.874283,0.88697,0.903544,0.918856,0.869453,0.889527,0.853304,0.862654,0.929857,0.889773

In [40]:
X = data.drop(['Sentrix','PATNO','HYS','Gender','Age','AgeCate','SCOPA_Gastro_Category','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1) 
print(X.head(2))

   cg03441945  cg21094410  cg22926093  cg25025609  cg16704802  cg06228737  \
0    0.892410    0.015756    0.011101    0.018491    0.020476    0.962482
1    0.922532    0.013309    0.012393    0.018230    0.018660    0.924050

   cg00220102  cg19016494  cg12247200  cg24658413  ...  cg05766881  \
0    0.677222    0.029560    0.929821    0.899519  ...    0.874283
1    0.577240    0.019605    0.937446    0.846377  ...    0.843815

   cg01708543  cg10933281  cg04735449  cg15856662  cg11864127  cg14420798  \
0    0.886970    0.903544    0.918856    0.869453    0.889527    0.853304
1    0.861038    0.870442    0.896617    0.857573    0.832123    0.807071

   cg08859349  cg01481205  cg19228755
0    0.862654    0.929857    0.889773
1    0.846446    0.914551    0.874165

[2 rows x 36555 columns]

In [41]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [42]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.8333333333333334

In [43]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100


BorutaPy finished running.

Iteration: 	33 / 100
Confirmed: 	1
Tentative: 	0
Rejected: 	36554

BorutaPy(estimator=RandomForestClassifier(n_estimators=14,
                                          random_state=RandomState(MT19937) at 0x1BB0EE4D840),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB0EE4D840, verbose=1)

In [44]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  1

In [45]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [46]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
6774   cg25909697        1
14281  cg06407053        2
12002  cg18248290        3

In [47]:
Top50.to_csv ('Gastro_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('Gastro_BorutaFemale_All.csv', index = False)

In [48]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Gastro_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\2099485117.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg22908141,cg10726394,cg00800908,cg11868755,cg13934472,cg00282674,cg08696401,cg17497187,cg09236126,cg02694058,...,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665,APPRDX
0,0.554475,0.022090,0.935055,0.743071,0.455235,0.033416,0.858968,0.841456,0.973491,0.198977,...,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968,2
1,0.593300,0.010402,0.921612,0.798193,0.448433,0.039272,0.891080,0.821130,0.795918,0.260704,...,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645,1

# Pain

In [49]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain
data = pd.read_csv('PainCateg_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Pain,cg08012045,cg08300930,cg00134295,...,cg12385643,cg14543119,cg11523984,cg04449108,cg14323797,cg02234120,cg23874600,cg27361577,cg00831331,ch.14.849914F
0,213,200991620021_R03C01,3002,2,2,1,1,0.952757,0.970714,0.227504,...,0.803776,0.793736,0.737096,0.93174,0.882883,0.864305,0.933641,0.728115,0.923617,0.049931

In [50]:
X = data.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDSP_Pain','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1) 
print(X.head(2))

   cg08012045  cg08300930  cg00134295  cg10537824  cg04990650  cg03379001  \
0    0.952757    0.970714    0.227504    0.860591    0.836116    0.863656
1    0.948345    0.966610    0.209896    0.826954    0.798853    0.877657

   cg02215627  cg06699201  cg18100935  cg19220149  ...  cg12385643  \
0    0.885796    0.741853    0.879686    0.840151  ...    0.803776
1    0.846453    0.778225    0.902908    0.842138  ...    0.878934

   cg14543119  cg11523984  cg04449108  cg14323797  cg02234120  cg23874600  \
0    0.793736    0.737096    0.931740    0.882883    0.864305    0.933641
1    0.799641    0.780678    0.937121    0.797353    0.802888    0.933380

   cg27361577  cg00831331  ch.14.849914F
0    0.728115    0.923617       0.049931
1    0.669195    0.916997       0.056143

[2 rows x 108273 columns]

In [51]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [52]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.8

In [53]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=1)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100
Iteration: 35 / 100
Iteration: 36 / 100
Iteration: 37 / 100


BorutaPy finished running.

Iteration: 	38 / 100
Confirmed: 	2
Tentative: 	0
Rejected: 	108271

BorutaPy(estimator=RandomForestClassifier(n_estimators=20,
                                          random_state=RandomState(MT19937) at 0x1BB0EE4DA40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB0EE4DA40, verbose=1)

In [54]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  2

In [55]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [56]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

              CpG  Ranking
82191  cg01836011        1
27676  cg19485268        1
35273  cg26950867        2

In [57]:
Top50.to_csv ('Pain_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('Pain_BorutaFemale_All.csv', index = False)

In [58]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Pain_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\809891941.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg06263630,cg01806972,cg13107682,cg13332222,cg17597915,cg12845419,cg16646261,cg24752563,cg15859602,cg19511263,...,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482,APPRDX
0,0.847555,0.192149,0.061848,0.885483,0.929066,0.518718,0.903759,0.631837,0.833900,0.900896,...,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216,1
1,0.838412,0.181933,0.089608,0.945536,0.927944,0.548928,0.907222,0.516742,0.827027,0.854604,...,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001,1

# UPSIT

In [59]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT
data = pd.read_csv('UPSIT3Categ_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT

,Sentrix,PATNO,HYS,Gender,APPRDX,UPSIT_3,UPSIT_Total,cg06067658,cg15442538,cg25928446,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200991620021_R03C01,3002,2,2,1,2,17,0.130195,0.886075,0.721228,...,0.843815,0.861038,0.870442,0.896617,0.857573,0.832123,0.807071,0.846446,0.914551,0.874165

In [60]:
X = data.drop(['Sentrix','PATNO','HYS','Gender','UPSIT_3','UPSIT_Total','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1) 
print(X.head(2))

   cg06067658  cg15442538  cg25928446  cg12415575  cg26358225  cg19058526  \
0    0.130195    0.886075    0.721228    0.030683    0.126684    0.070607
1    0.070498    0.904334    0.706840    0.051474    0.141152    0.170727

   cg20195763  cg23725394  cg27107076  cg15657055  ...  cg05766881  \
0    0.416702    0.932702    0.623884    0.732753  ...    0.843815
1    0.421593    0.934273    0.643751    0.728273  ...    0.857097

   cg01708543  cg10933281  cg04735449  cg15856662  cg11864127  cg14420798  \
0    0.861038    0.870442    0.896617    0.857573    0.832123    0.807071
1    0.881147    0.912999    0.897845    0.836257    0.882631    0.835665

   cg08859349  cg01481205  cg19228755
0    0.846446    0.914551    0.874165
1    0.896638    0.944095    0.914684

[2 rows x 5672 columns]

In [61]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [62]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.8

In [63]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100
Iteration: 35 / 100
Iteration: 36 / 100
Iteration: 37 / 100
Iteration: 38 / 100
Iteration: 39 / 100
Iteration: 40 / 100


BorutaPy finished running.

Iteration: 	41 / 100
Confirmed: 	5
Tentative: 	0
Rejected: 	5667

BorutaPy(estimator=RandomForestClassifier(n_estimators=31,
                                          random_state=RandomState(MT19937) at 0x1BB0EE4DE40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB0EE4DE40, verbose=1)

In [64]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  5

In [65]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [66]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

             CpG  Ranking
2326  cg27362302        1
2559  cg09046813        1
2517  cg12347084        1

In [67]:
Top50.to_csv ('UPSIT_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('UPSIT_BorutaFemale_All.csv', index = False)

In [68]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('UPSIT_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\750700284.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg00260798,cg07668077,cg17502447,cg17478371,cg02888917,cg00173854,cg12845419,cg17503711,cg27344018,cg23187886,...,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274,APPRDX
0,0.879267,0.743484,0.862084,0.020390,0.061802,0.025939,0.518718,0.460579,0.876019,0.028337,...,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144,1
1,0.910582,0.825779,0.831112,0.034629,0.063124,0.048876,0.548928,0.333375,0.853940,0.031037,...,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374,1

# Urine

In [69]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine
data = pd.read_csv('UrineCateg_Methylome_Female.csv')
data.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Urine_Category,cg08012045,cg08300930,...,cg16839933,cg00481999,cg16533561,cg11773570,cg22912011,cg02944422,cg24822140,cg10840597,cg20350952,cg08656747
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.964598,0.960974,...,0.227529,0.404628,0.784774,0.287128,0.260995,0.367307,0.166336,0.899156,0.774554,0.453867

In [70]:
X = data.drop(['Sentrix','PATNO','HYS','Gender','Age','AgeCate','SCOPA_Urine_Category','APPRDX'], axis = 1)
y = data['APPRDX']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1) 
print(X.head(2))

   cg08012045  cg08300930  cg00134295  cg10537824  cg04990650  cg03379001  \
0    0.964598    0.960974    0.241886    0.852113    0.765526    0.856057
1    0.952757    0.970714    0.227504    0.860591    0.836116    0.863656

   cg02215627  cg06699201  cg18100935  cg19220149  ...  cg16839933  \
0    0.874673    0.798285    0.893820    0.879652  ...    0.227529
1    0.885796    0.741853    0.879686    0.840151  ...    0.232653

   cg00481999  cg16533561  cg11773570  cg22912011  cg02944422  cg24822140  \
0    0.404628    0.784774    0.287128    0.260995    0.367307    0.166336
1    0.357154    0.807268    0.314678    0.244913    0.347417    0.121603

   cg10840597  cg20350952  cg08656747
0    0.899156    0.774554    0.453867
1    0.923040    0.735951    0.457544

[2 rows x 11009 columns]

In [71]:
rf_all_features = RandomForestClassifier(random_state=1)
rf_all_features.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [72]:
accuracy_score(y_test, rf_all_features.predict(X_test))

0.8333333333333334

In [73]:
rfc = RandomForestClassifier(random_state=1)
boruta_selector = BorutaPy(rfc, n_estimators= 'auto', verbose=1, random_state=2)
boruta_selector.fit(np.array(X_train), np.array(y_train))

Iteration: 1 / 100
Iteration: 2 / 100
Iteration: 3 / 100
Iteration: 4 / 100
Iteration: 5 / 100
Iteration: 6 / 100
Iteration: 7 / 100
Iteration: 8 / 100
Iteration: 9 / 100
Iteration: 10 / 100
Iteration: 11 / 100
Iteration: 12 / 100
Iteration: 13 / 100
Iteration: 14 / 100
Iteration: 15 / 100
Iteration: 16 / 100
Iteration: 17 / 100
Iteration: 18 / 100
Iteration: 19 / 100
Iteration: 20 / 100
Iteration: 21 / 100
Iteration: 22 / 100
Iteration: 23 / 100
Iteration: 24 / 100
Iteration: 25 / 100
Iteration: 26 / 100
Iteration: 27 / 100
Iteration: 28 / 100
Iteration: 29 / 100
Iteration: 30 / 100
Iteration: 31 / 100
Iteration: 32 / 100
Iteration: 33 / 100
Iteration: 34 / 100
Iteration: 35 / 100
Iteration: 36 / 100
Iteration: 37 / 100
Iteration: 38 / 100
Iteration: 39 / 100
Iteration: 40 / 100
Iteration: 41 / 100
Iteration: 42 / 100
Iteration: 43 / 100
Iteration: 44 / 100
Iteration: 45 / 100
Iteration: 46 / 100
Iteration: 47 / 100
Iteration: 48 / 100
Iteration: 49 / 100
Iteration: 50 / 100
Iteration: 51 / 100


BorutaPy finished running.

Iteration: 	52 / 100
Confirmed: 	2
Tentative: 	0
Rejected: 	11007

BorutaPy(estimator=RandomForestClassifier(n_estimators=20,
                                          random_state=RandomState(MT19937) at 0x1BB34BD9C40),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1BB34BD9C40, verbose=1)

In [74]:
# print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

No. of significant features:  2

In [75]:
selected_rf_features = pd.DataFrame({'CpG':list(X_train.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features = selected_rf_features.sort_values(by='Ranking')

In [76]:
Top50 = selected_rf_features.iloc[:51, :]
Top50.head(3)

             CpG  Ranking
2909  cg25909697        1
6945  cg06996696        1
7911  cg23275623        2

In [77]:
Top50.to_csv ('Urine_BorutaFemale_Top50.csv', index = False)
selected_rf_features.to_csv ('Urine_BorutaFemale_All.csv', index = False)

In [78]:
# create a list of column names to subset from data
col_names = Top50.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = data.loc[:, data.columns.isin(col_names)]
df_subset['APPRDX'] = data['APPRDX']
df_subset.to_csv ('Urine_Boruta_Top50_Data_Female.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2992\2989198814.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = data['APPRDX']

,cg07567767,cg07150866,cg21230719,cg11499262,cg22982510,cg06893785,cg01507046,cg20258154,ch.12.2471797R,cg21909650,...,cg25186332,cg07924503,cg03913050,cg12372912,cg09705253,cg10029130,cg27193204,cg15567507,cg17165848,APPRDX
0,0.951552,0.915648,0.87687,0.871552,0.913168,0.876917,0.025490,0.015710,0.029217,0.938274,...,0.917926,0.289985,0.154252,0.919962,0.908398,0.054931,0.878167,0.906558,0.065619,2
1,0.957475,0.914869,0.86454,0.848403,0.887058,0.840248,0.021505,0.016806,0.024404,0.896688,...,0.887484,0.300905,0.182643,0.908645,0.906041,0.067078,0.879973,0.891626,0.042422,1