# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Xtras\TopCpG_NMI_Compare
df = pd.read_csv('Methylome_Male.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Xtras\TopCpG_NMI_Compare
(308, 837969)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,cg18478105,cg09835024,cg14361672,...,cg23659307,cg16040564,cg02455706,cg21822051,cg10615271,cg23079522,cg16818145,cg14585103,cg10633746,cg12623625
0,200991620021_R01C01,3001,1,1,2,65.1,4,0.014327,0.029524,0.902918,...,0.808755,0.460212,0.397015,0.810033,0.900790,0.890029,0.913420,0.820941,0.116707,0.617260
1,200989060135_R07C01,3004,1,2,0,59.4,3,0.009996,0.022834,0.878833,...,0.829937,0.796395,0.252178,0.809514,0.910937,0.881612,0.873479,0.829998,0.078282,0.620123

In [3]:
df1 = df.drop(df.columns[[0,1,2,4,5,6]], axis=1)
df1.head(2)

,APPRDX,cg18478105,cg09835024,cg14361672,cg01763666,cg12950382,cg02115394,cg25813447,cg07779434,cg13417420,...,cg23659307,cg16040564,cg02455706,cg21822051,cg10615271,cg23079522,cg16818145,cg14585103,cg10633746,cg12623625
0,1,0.014327,0.029524,0.902918,0.883315,0.592818,0.024543,0.032831,0.016275,0.024952,...,0.808755,0.460212,0.397015,0.810033,0.900790,0.890029,0.913420,0.820941,0.116707,0.617260
1,2,0.009996,0.022834,0.878833,0.825254,0.842256,0.034446,0.031099,0.019536,0.037505,...,0.829937,0.796395,0.252178,0.809514,0.910937,0.881612,0.873479,0.829998,0.078282,0.620123

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
print(dframe1.head(2))
dframe1.to_csv ("ChrAllCpG_Male_100RF.csv", index=False)

   Accuracy   Std_Dev
0  0.488889  0.142292
1  0.500000  0.146986

## RanFor 1000 times. Samples = 707

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(707, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand707CpG_Male_1000RF.csv", index=False)

   Accuracy   Std_Dev
0  0.511111  0.113312
1  0.588889  0.096864

## RanFor 1000 times. Samples = 327

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(327, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [10]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand327CpG_Male_1000RF.csv", index=False)

   Accuracy   Std_Dev
0  0.527778  0.062113
1  0.566667  0.135628

## RanFor 1000 times. Samples = 67

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(67, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand67CpG_Male_100RF.csv")

   Accuracy   Std_Dev
0  0.522222  0.149485
1  0.550000  0.106719

## RanFor 1000 times. Samples = 43

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(43, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [14]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand43CpG_Male_100RF.csv")

   Accuracy   Std_Dev
0  0.522222  0.117063
1  0.511111  0.081650

## RanFor 1000 times. Samples = 9

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(9, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand9CpG_Male_100RF.csv")

   Accuracy   Std_Dev
0  0.494444  0.143695
1  0.566667  0.140106

# Common in Feats

In [17]:
df = pd.read_csv('CommonCpG_ofEachFeats_Male.csv')
print(df.shape)
df.head(2)

(109, 45)

,PATNO,APPRDX,cg18174834,cg13675469,cg19829375,cg23149728,cg06704773,cg07656888,cg27266871,cg12220605,...,cg03616148,cg00314622,cg21620535,cg03567838,cg04891959,cg07804122,cg21228068,cg23867254,cg11489262,cg06947206
0,3029,2,0.047790,0.010265,0.840155,0.742275,0.026550,0.868124,0.387007,0.161607,...,0.669980,0.696370,0.045212,0.854349,0.021231,0.047708,0.905122,0.553096,0.090989,0.010944
1,3071,2,0.064484,0.012743,0.867541,0.858005,0.032365,0.899058,0.252709,0.117267,...,0.833404,0.819708,0.062264,0.871040,0.028525,0.059414,0.894786,0.607279,0.112388,0.010933

In [18]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(109, 44)

,APPRDX,cg18174834,cg13675469,cg19829375,cg23149728,cg06704773,cg07656888,cg27266871,cg12220605,cg05791411,...,cg03616148,cg00314622,cg21620535,cg03567838,cg04891959,cg07804122,cg21228068,cg23867254,cg11489262,cg06947206
0,2,0.047790,0.010265,0.840155,0.742275,0.026550,0.868124,0.387007,0.161607,0.052097,...,0.669980,0.696370,0.045212,0.854349,0.021231,0.047708,0.905122,0.553096,0.090989,0.010944
1,2,0.064484,0.012743,0.867541,0.858005,0.032365,0.899058,0.252709,0.117267,0.081954,...,0.833404,0.819708,0.062264,0.871040,0.028525,0.059414,0.894786,0.607279,0.112388,0.010933

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
dframe1.to_csv ("CommonCpG_ofEachFeats_Male_Accuracy_100RF.csv", index=False)

# NMI > 07

In [22]:
df = pd.read_csv('NMI_Methylome_Male07_Data.csv')
print(df.shape)
df.head(2)

(308, 69)

,PATNO,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,...,cg02914044,cg04169248,cg00156743,cg19711613,cg04754315,cg12334949,cg24980453,cg27648238,cg01923140,cg01935989
0,3001,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,...,0.902843,0.880611,0.821042,0.84131,0.040118,0.018531,0.788784,0.845385,0.829051,0.890250
1,3004,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,...,0.914312,0.827945,0.862916,0.86089,0.021840,0.020056,0.808681,0.853576,0.776252,0.902143

In [23]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(308, 68)

,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,cg19166896,...,cg02914044,cg04169248,cg00156743,cg19711613,cg04754315,cg12334949,cg24980453,cg27648238,cg01923140,cg01935989
0,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,0.928030,...,0.902843,0.880611,0.821042,0.84131,0.040118,0.018531,0.788784,0.845385,0.829051,0.890250
1,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,0.934171,...,0.914312,0.827945,0.862916,0.86089,0.021840,0.020056,0.808681,0.853576,0.776252,0.902143

In [24]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
dframe1.to_csv ("NMI_Methylome_Male07_Accuracy_100RF.csv", index=False)

# NMI > 06

In [26]:
df = pd.read_csv('NMI_Methylome_Male06_Data.csv')
print(df.shape)
df.head(2)

(308, 329)

,PATNO,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,...,cg09372808,cg08109545,cg03769939,cg04824818,cg19056515,cg18868933,cg11206312,cg00295303,cg00113363,cg23377551
0,3001,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,...,0.859071,0.910721,0.817815,0.941467,0.966428,0.850839,0.021457,0.824603,0.021304,0.783802
1,3004,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,...,0.873619,0.911777,0.754973,0.948919,0.936251,0.893749,0.016610,0.883748,0.010358,0.767463

In [27]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(308, 328)

,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,cg19166896,...,cg09372808,cg08109545,cg03769939,cg04824818,cg19056515,cg18868933,cg11206312,cg00295303,cg00113363,cg23377551
0,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,0.928030,...,0.859071,0.910721,0.817815,0.941467,0.966428,0.850839,0.021457,0.824603,0.021304,0.783802
1,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,0.934171,...,0.873619,0.911777,0.754973,0.948919,0.936251,0.893749,0.016610,0.883748,0.010358,0.767463

In [28]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [29]:
dframe1.to_csv ("NMI_Methylome_Male06_Accuracy_100RF.csv", index=False)

# NMI > 055

In [30]:
df = pd.read_csv('NMI_Methylome_Male055_Data.csv')
print(df.shape)
df.head(2)

(308, 709)

,PATNO,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,...,cg09971881,cg14595332,cg22862094,cg04663998,cg00531525,cg09293319,cg17284116,cg12024822,cg07337480,cg12085407
0,3001,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,...,0.789874,0.831425,0.874163,0.914508,0.886064,0.922673,0.786093,0.446445,0.882963,0.218729
1,3004,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,...,0.746787,0.798525,0.879614,0.922025,0.875261,0.928808,0.868735,0.379969,0.858064,0.091214

In [31]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(308, 708)

,APPRDX,cg16117273,cg24860848,cg11877812,cg04414720,cg07400453,cg15953070,cg06942628,cg12454778,cg19166896,...,cg09971881,cg14595332,cg22862094,cg04663998,cg00531525,cg09293319,cg17284116,cg12024822,cg07337480,cg12085407
0,1,0.271174,0.783908,0.877517,0.152477,0.897180,0.861183,0.892934,0.720849,0.928030,...,0.789874,0.831425,0.874163,0.914508,0.886064,0.922673,0.786093,0.446445,0.882963,0.218729
1,2,0.218033,0.760298,0.833439,0.053786,0.877265,0.870926,0.868634,0.609559,0.934171,...,0.746787,0.798525,0.879614,0.922025,0.875261,0.928808,0.868735,0.379969,0.858064,0.091214

In [32]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(90))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [33]:
dframe1.to_csv ("NMI_Methylome_Male055_Accuracy_100RF.csv", index=False)

# Common Chr NMi & common in Feats

In [34]:
df = pd.read_csv('CpG_CommonChrNMI_comFeat_Male_Data.csv')
print(df.shape)
df.head(2)

(109, 11)

,PATNO,APPRDX,cg13675469,cg23149728,cg06704773,cg07656888,cg10557147,cg10986946,cg16004767,cg12229394,cg12653876
0,3029,2,0.010265,0.742275,0.026550,0.868124,0.017688,0.785700,0.907436,0.03651,0.903550
1,3071,2,0.012743,0.858005,0.032365,0.899058,0.018827,0.669297,0.913187,0.03390,0.861602

In [35]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(109, 10)

,APPRDX,cg13675469,cg23149728,cg06704773,cg07656888,cg10557147,cg10986946,cg16004767,cg12229394,cg12653876
0,2,0.010265,0.742275,0.026550,0.868124,0.017688,0.785700,0.907436,0.03651,0.903550
1,2,0.012743,0.858005,0.032365,0.899058,0.018827,0.669297,0.913187,0.03390,0.861602

In [41]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [42]:
dframe1.to_csv ("CpG_CommonChrNMI_comFeat_Male_Accuracy_100RF.csv", index=False)