# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Xtras\TopCpG_NMI_Compare
df = pd.read_csv('Methylome_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Xtras\TopCpG_NMI_Compare
(150, 837969)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,cg18478105,cg09835024,cg14361672,...,cg23659307,cg16040564,cg02455706,cg21822051,cg10615271,cg23079522,cg16818145,cg14585103,cg10633746,cg12623625
0,200973410159_R03C01,3000,2,2,0,69.1,4,0.012578,0.022227,0.919272,...,0.806559,0.469303,0.371767,0.838957,0.929768,0.887072,0.911340,0.864708,0.061452,0.695212
1,200991620021_R03C01,3002,2,1,2,67.6,4,0.015461,0.027406,0.918393,...,0.846242,0.552224,0.516365,0.828666,0.916648,0.911917,0.897801,0.835603,0.088954,0.631507

In [3]:
df1 = df.drop(df.columns[[0,1,2,4,5,6]], axis=1)
df1.head(2)

,APPRDX,cg18478105,cg09835024,cg14361672,cg01763666,cg12950382,cg02115394,cg25813447,cg07779434,cg13417420,...,cg23659307,cg16040564,cg02455706,cg21822051,cg10615271,cg23079522,cg16818145,cg14585103,cg10633746,cg12623625
0,2,0.012578,0.022227,0.919272,0.886308,0.504573,0.035614,0.356011,0.360377,0.019089,...,0.806559,0.469303,0.371767,0.838957,0.929768,0.887072,0.911340,0.864708,0.061452,0.695212
1,1,0.015461,0.027406,0.918393,0.903383,0.821010,0.040668,0.399754,0.424870,0.125981,...,0.846242,0.552224,0.516365,0.828666,0.916648,0.911917,0.897801,0.835603,0.088954,0.631507

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
print(dframe1.head(2))
dframe1.to_csv ("ChrAllCpG_Female_100RF.csv", index=False)

   Accuracy   Std_Dev
0  0.485714  0.204041
1  0.557143  0.076931

## RanFor 1000 times. Samples = 728

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(728, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand728CpG_Female_100RF.csv", index=False)

   Accuracy   Std_Dev
0  0.485714  0.159079
1  0.585714  0.185714

## RanFor 1000 times. Samples = 332

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(322, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [10]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand332CpG_Female_100RF.csv", index=False)

   Accuracy   Std_Dev
0  0.528571  0.202535
1  0.557143  0.234303

## RanFor 1000 times. Samples = 62

In [11]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(62, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand62CpG_Female_100RF.csv")

   Accuracy   Std_Dev
0  0.514286  0.204041
1  0.471429  0.157143

## RanFor 1000 times. Samples = 61

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(61, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [14]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand61CpG_Female_100RF.csv")

   Accuracy   Std_Dev
0  0.471429  0.202535
1  0.414286  0.134771

## RanFor 1000 times. Samples = 11

In [15]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(11, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
print(dframe1.head(2))
dframe1.to_csv ("Chr_Rand11CpG_Female_100RF.csv")

   Accuracy   Std_Dev
0       0.5  0.146385
1       0.5  0.194307

# Common in Feats

In [17]:
df = pd.read_csv('CommonCpG_ofEachFeats_Female.csv')
print(df.shape)
df.head(2)

(73, 63)

,PATNO,APPRDX,cg02992048,cg14587401,cg23446297,cg24926711,cg24305835,cg19930203,cg12103037,cg05896001,...,cg06480636,cg06632027,cg07433663,cg10253929,cg10769891,cg17990657,cg18795825,cg21088420,cg25158734,cg26632873
0,3000,2,0.896164,0.040657,0.052424,0.165702,0.036573,0.826955,0.076198,0.795810,...,0.629698,0.043348,0.088087,0.027381,0.031391,0.572508,0.025923,0.159974,0.282774,0.011142
1,3008,2,0.879386,0.038382,0.035295,0.175988,0.036154,0.848004,0.054586,0.720987,...,0.696529,0.053420,0.082437,0.027822,0.012061,0.542720,0.023565,0.126312,0.212181,0.009994

In [18]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(73, 62)

,APPRDX,cg02992048,cg14587401,cg23446297,cg24926711,cg24305835,cg19930203,cg12103037,cg05896001,cg16694455,...,cg06480636,cg06632027,cg07433663,cg10253929,cg10769891,cg17990657,cg18795825,cg21088420,cg25158734,cg26632873
0,2,0.896164,0.040657,0.052424,0.165702,0.036573,0.826955,0.076198,0.795810,0.927031,...,0.629698,0.043348,0.088087,0.027381,0.031391,0.572508,0.025923,0.159974,0.282774,0.011142
1,2,0.879386,0.038382,0.035295,0.175988,0.036154,0.848004,0.054586,0.720987,0.896214,...,0.696529,0.053420,0.082437,0.027822,0.012061,0.542720,0.023565,0.126312,0.212181,0.009994

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(20))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
dframe1.to_csv ("CommonCpG_ofEachFeats_Female_Accuracy_100RF.csv", index=False)

# NMI > 15

In [22]:
df = pd.read_csv('NMI_Methylome_Female15_Data.csv')
print(df.shape)
df.head(2)

(150, 64)

,PATNO,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,...,cg04550367,cg18765724,cg26405759,cg17080573,cg22011888,cg26115667,cg01219777,cg25588592,cg27094323,cg16537985
0,3000,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,...,0.908233,0.926035,0.910940,0.637042,0.889954,0.747158,0.849757,0.879274,0.104415,0.683303
1,3002,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,...,0.890952,0.862585,0.918484,0.642083,0.882415,0.702583,0.833641,0.885489,0.316684,0.865309

In [23]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(150, 63)

,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,cg21605784,...,cg04550367,cg18765724,cg26405759,cg17080573,cg22011888,cg26115667,cg01219777,cg25588592,cg27094323,cg16537985
0,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,0.929662,...,0.908233,0.926035,0.910940,0.637042,0.889954,0.747158,0.849757,0.879274,0.104415,0.683303
1,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,0.921895,...,0.890952,0.862585,0.918484,0.642083,0.882415,0.702583,0.833641,0.885489,0.316684,0.865309

In [24]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
dframe1.to_csv ("NMI_Methylome_Female15_Accuracy_100RF.csv", index=False)

# NMI > 13

In [26]:
df = pd.read_csv('NMI_Methylome_Female13_Data.csv')
print(df.shape)
df.head(2)

(150, 334)

,PATNO,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,...,cg10304506,cg01276843,cg26470958,cg05389652,cg10387956,cg25562059,cg16123908,cg23060256,cg16670864,cg02294563
0,3000,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,...,0.853080,0.886033,0.917312,0.802816,0.774342,0.832651,0.912145,0.876982,0.087812,0.350083
1,3002,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,...,0.867486,0.888180,0.924157,0.795173,0.857429,0.766510,0.899257,0.855902,0.064308,0.434085

In [27]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(150, 333)

,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,cg21605784,...,cg10304506,cg01276843,cg26470958,cg05389652,cg10387956,cg25562059,cg16123908,cg23060256,cg16670864,cg02294563
0,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,0.929662,...,0.853080,0.886033,0.917312,0.802816,0.774342,0.832651,0.912145,0.876982,0.087812,0.350083
1,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,0.921895,...,0.867486,0.888180,0.924157,0.795173,0.857429,0.766510,0.899257,0.855902,0.064308,0.434085

In [28]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [29]:
dframe1.to_csv ("NMI_Methylome_Female13_Accuracy_100RF.csv", index=False)

# NMI > 12

In [30]:
df = pd.read_csv('NMI_Methylome_Female12_Data.csv')
print(df.shape)
df.head(2)

(150, 730)

,PATNO,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,...,cg06577521,cg05392540,cg25290888,cg07573863,cg01112653,cg19755272,cg02746620,cg11541225,cg22020954,cg24822602
0,3000,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,...,0.876887,0.860581,0.795094,0.926100,0.870502,0.873026,0.873300,0.812509,0.908503,0.910111
1,3002,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,...,0.847965,0.818291,0.825354,0.922722,0.847364,0.892314,0.884273,0.861410,0.910162,0.931325

In [31]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(150, 729)

,APPRDX,cg15487922,cg05702234,cg24441068,cg20699097,cg14245173,cg12130295,cg12162792,cg25537999,cg21605784,...,cg06577521,cg05392540,cg25290888,cg07573863,cg01112653,cg19755272,cg02746620,cg11541225,cg22020954,cg24822602
0,2,0.787071,0.886493,0.009892,0.561816,0.037158,0.917261,0.855302,0.927314,0.929662,...,0.876887,0.860581,0.795094,0.926100,0.870502,0.873026,0.873300,0.812509,0.908503,0.910111
1,1,0.771991,0.891774,0.010496,0.522515,0.030703,0.920615,0.887998,0.864310,0.921895,...,0.847965,0.818291,0.825354,0.922722,0.847364,0.892314,0.884273,0.861410,0.910162,0.931325

In [32]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(35))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [33]:
dframe1.to_csv ("NMI_Methylome_Female12_Accuracy_100RF.csv", index=False)

# Common Chr NMi & common in Feats

In [34]:
df = pd.read_csv('CpG_CommonChrNMI_comFeat_Female_Data.csv')
print(df.shape)
df.head(2)

(73, 13)

,PATNO,APPRDX,cg02992048,cg14587401,cg03181829,cg08596655,cg15713391,cg18248290,cg19138499,cg02888917,cg12845419,cg21909650,ch.12.2471797R
0,3000,2,0.896164,0.040657,0.039903,0.026157,0.927416,0.898221,0.920851,0.074130,0.600696,0.938274,0.029217
1,3008,2,0.879386,0.038382,0.035905,0.040973,0.904880,0.878512,0.923456,0.037364,0.450748,0.885162,0.027708

In [35]:
df1 = df.drop(['PATNO'], axis=1)
print(df1.shape)
df1.head(2)

(73, 12)

,APPRDX,cg02992048,cg14587401,cg03181829,cg08596655,cg15713391,cg18248290,cg19138499,cg02888917,cg12845419,cg21909650,ch.12.2471797R
0,2,0.896164,0.040657,0.039903,0.026157,0.927416,0.898221,0.920851,0.074130,0.600696,0.938274,0.029217
1,2,0.879386,0.038382,0.035905,0.040973,0.904880,0.878512,0.923456,0.037364,0.450748,0.885162,0.027708

In [36]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(20))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [37]:
dframe1.to_csv ("CpG_CommonChrNMI_comFeat_Female_Accuracy_100RF.csv", index=False)