# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression
df = pd.read_csv('DepressionCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression
(307, 106982)

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDS_Depress,cg20815302,cg25795414,cg00959375,...,cg02293835,cg25106148,cg09135009,cg16616325,cg08020573,cg19102621,cg26302779,cg10377074,cg06750710,ch.14.849914F
0,0,200991620021_R01C01,3001,2,1,1,0,0.907957,0.868910,0.752844,...,0.890264,0.096523,0.088376,0.035056,0.040317,0.620467,0.917245,0.873780,0.809904,0.045885
1,1,200973410167_R04C01,3007,2,1,1,0,0.918626,0.865257,0.798170,...,0.841768,0.056917,0.062589,0.032271,0.033286,0.656780,0.876781,0.891459,0.791871,0.061687
2,2,200973410167_R05C01,3010,2,1,1,0,0.905297,0.864778,0.769766,...,0.842802,0.060373,0.042036,0.020839,0.025395,0.691786,0.899872,0.908775,0.834410,0.060866

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDS_Depress'], axis=1)
df1.head(2)

,APPRDX,cg20815302,cg25795414,cg00959375,cg07781847,cg05138383,cg27394794,cg12443990,cg19788329,cg22178513,...,cg02293835,cg25106148,cg09135009,cg16616325,cg08020573,cg19102621,cg26302779,cg10377074,cg06750710,ch.14.849914F
0,1,0.907957,0.868910,0.752844,0.827413,0.771393,0.766283,0.791932,0.785104,0.723989,...,0.890264,0.096523,0.088376,0.035056,0.040317,0.620467,0.917245,0.873780,0.809904,0.045885
1,1,0.918626,0.865257,0.798170,0.823846,0.760193,0.801117,0.772456,0.742722,0.580721,...,0.841768,0.056917,0.062589,0.032271,0.033286,0.656780,0.876781,0.891459,0.791871,0.061687

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.43
2
Mean accuracy: 0.54
3
Mean accuracy: 0.49000000000000005
4
Mean accuracy: 0.62
5
Mean accuracy: 0.43
6
Mean accuracy: 0.52
7
Mean accuracy: 0.52
8
Mean accuracy: 0.5900000000000001
9
Mean accuracy: 0.51
10
Mean accuracy: 0.5499999999999999
11
Mean accuracy: 0.42000000000000004
12
Mean accuracy: 0.45999999999999996
13
Mean accuracy: 0.5399999999999999
14
Mean accuracy: 0.6100000000000001
15
Mean accuracy: 0.45
16
Mean accuracy: 0.37
17
Mean accuracy: 0.47000000000000003
18
Mean accuracy: 0.5
19
Mean accuracy: 0.61
20
Mean accuracy: 0.47000000000000003
21
Mean accuracy: 0.58
22
Mean accuracy: 0.5599999999999999
23
Mean accuracy: 0.56
24
Mean accuracy: 0.6
25
Mean accuracy: 0.48
26
Mean accuracy: 0.47000000000000003
27
Mean accuracy: 0.45999999999999996
28
Mean accuracy: 0.58
29
Mean accuracy: 0.5399999999999999
30
Mean accuracy: 0.57
31
Mean accuracy: 0.43999999999999995
32
Mean accuracy: 0.58
33
Mean accuracy: 0.4699999999999999
34
Mean accuracy: 0.58
35
Mean accuracy: 0.5299999999999999
36
Mean accuracy: 0.5599999999999999
37
Mean accuracy: 0.59
38
Mean accuracy: 0.45999999999999996
39
Mean accuracy: 0.5599999999999999
40
Mean accuracy: 0.5499999999999999
41
Mean accuracy: 0.47000000000000003
42
Mean accuracy: 0.47000000000000003
43
Mean accuracy: 0.61
44
Mean accuracy: 0.4600000000000001
45
Mean accuracy: 0.5199999999999999
46
Mean accuracy: 0.56
47
Mean accuracy: 0.47000000000000003
48
Mean accuracy: 0.49000000000000005
49
Mean accuracy: 0.48
50
Mean accuracy: 0.5800000000000001
51
Mean accuracy: 0.44000000000000006
52
Mean accuracy: 0.45
53
Mean accuracy: 0.56
54
Mean accuracy: 0.44000000000000006
55
Mean accuracy: 0.55
56
Mean accuracy: 0.48
57
Mean accuracy: 0.51
58
Mean accuracy: 0.45
59
Mean accuracy: 0.47000000000000003
60
Mean accuracy: 0.54
61
Mean accuracy: 0.54
62
Mean accuracy: 0.5599999999999999
63
Mean accuracy: 0.55
64
Mean accuracy: 0.45999999999999996
65
Mean accuracy: 0.48999999999999994
66
Mean accuracy: 0.37999999999999995
67
Mean accuracy: 0.61
68
Mean accuracy: 0.5199999999999999
69
Mean accuracy: 0.4600000000000001
70
Mean accuracy: 0.49000000000000005
71
Mean accuracy: 0.5599999999999999
72
Mean accuracy: 0.41000000000000003
73
Mean accuracy: 0.5000000000000001
74
Mean accuracy: 0.61
75
Mean accuracy: 0.45
76
Mean accuracy: 0.54
77
Mean accuracy: 0.54
78
Mean accuracy: 0.51
79
Mean accuracy: 0.55
80
Mean accuracy: 0.4800000000000001
81
Mean accuracy: 0.4999999999999999
82
Mean accuracy: 0.5200000000000001
83
Mean accuracy: 0.6199999999999999
84
Mean accuracy: 0.45999999999999996
85
Mean accuracy: 0.47000000000000003
86
Mean accuracy: 0.6
87
Mean accuracy: 0.5
88
Mean accuracy: 0.53
89
Mean accuracy: 0.4
90
Mean accuracy: 0.51
91
Mean accuracy: 0.52
92
Mean accuracy: 0.48
93
Mean accuracy: 0.51
94
Mean accuracy: 0.55
95
Mean accuracy: 0.5200000000000001
96
Mean accuracy: 0.6
97
Mean accuracy: 0.51
98
Mean accuracy: 0.6599999999999999
99
Mean accuracy: 0.49000000000000005
100
Mean accuracy: 0.59

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_AllCpG_Male_100RF.csv", index = False)

0.5156999999999999

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48
2
Mean accuracy: 0.42000000000000004
3
Mean accuracy: 0.41
4
Mean accuracy: 0.4600000000000001
5
Mean accuracy: 0.44000000000000006
6
Mean accuracy: 0.6
7
Mean accuracy: 0.55
8
Mean accuracy: 0.61
9
Mean accuracy: 0.44000000000000006
10
Mean accuracy: 0.48999999999999994
11
Mean accuracy: 0.57
12
Mean accuracy: 0.54
13
Mean accuracy: 0.4800000000000001
14
Mean accuracy: 0.44000000000000006
15
Mean accuracy: 0.63
16
Mean accuracy: 0.48
17
Mean accuracy: 0.5199999999999999
18
Mean accuracy: 0.48
19
Mean accuracy: 0.4999999999999999
20
Mean accuracy: 0.52
21
Mean accuracy: 0.45999999999999996
22
Mean accuracy: 0.5199999999999999
23
Mean accuracy: 0.5200000000000001
24
Mean accuracy: 0.55
25
Mean accuracy: 0.4499999999999999
26
Mean accuracy: 0.48
27
Mean accuracy: 0.48
28
Mean accuracy: 0.49000000000000005
29
Mean accuracy: 0.53
30
Mean accuracy: 0.47000000000000003
31
Mean accuracy: 0.5200000000000001
32
Mean accuracy: 0.5
33
Mean accuracy: 0.47000000000000003
34
Mean accuracy: 0.48
35
Mean accuracy: 0.63
36
Mean accuracy: 0.5199999999999999
37
Mean accuracy: 0.5700000000000001
38
Mean accuracy: 0.56
39
Mean accuracy: 0.52
40
Mean accuracy: 0.47000000000000003
41
Mean accuracy: 0.43
42
Mean accuracy: 0.52
43
Mean accuracy: 0.4800000000000001
44
Mean accuracy: 0.5000000000000001
45
Mean accuracy: 0.57
46
Mean accuracy: 0.5
47
Mean accuracy: 0.51
48
Mean accuracy: 0.41
49
Mean accuracy: 0.5299999999999999
50
Mean accuracy: 0.5700000000000001
51
Mean accuracy: 0.5399999999999999
52
Mean accuracy: 0.45
53
Mean accuracy: 0.52
54
Mean accuracy: 0.5000000000000001
55
Mean accuracy: 0.5
56
Mean accuracy: 0.43
57
Mean accuracy: 0.5900000000000001
58
Mean accuracy: 0.58
59
Mean accuracy: 0.41000000000000003
60
Mean accuracy: 0.4600000000000001
61
Mean accuracy: 0.56
62
Mean accuracy: 0.53
63
Mean accuracy: 0.35
64
Mean accuracy: 0.53
65
Mean accuracy: 0.55
66
Mean accuracy: 0.38
67
Mean accuracy: 0.45999999999999996
68
Mean accuracy: 0.48
69
Mean accuracy: 0.47000000000000003
70
Mean accuracy: 0.58
71
Mean accuracy: 0.5199999999999999
72
Mean accuracy: 0.47000000000000003
73
Mean accuracy: 0.5
74
Mean accuracy: 0.33999999999999997
75
Mean accuracy: 0.5299999999999999
76
Mean accuracy: 0.61
77
Mean accuracy: 0.6
78
Mean accuracy: 0.4999999999999999
79
Mean accuracy: 0.6199999999999999
80
Mean accuracy: 0.5499999999999999
81
Mean accuracy: 0.5
82
Mean accuracy: 0.48
83
Mean accuracy: 0.52
84
Mean accuracy: 0.53
85
Mean accuracy: 0.55
86
Mean accuracy: 0.45
87
Mean accuracy: 0.55
88
Mean accuracy: 0.45
89
Mean accuracy: 0.5399999999999999
90
Mean accuracy: 0.49000000000000005
91
Mean accuracy: 0.43
92
Mean accuracy: 0.5
93
Mean accuracy: 0.53
94
Mean accuracy: 0.43
95
Mean accuracy: 0.53
96
Mean accuracy: 0.49000000000000005
97
Mean accuracy: 0.36
98
Mean accuracy: 0.44000000000000006
99
Mean accuracy: 0.32999999999999996
100
Mean accuracy: 0.53

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_Rand50CpG_Male_100RF.csv", index = False)

0.5001

## RanFor 100 times. Samples = 98

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(98, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.42000000000000004
2
Mean accuracy: 0.41
3
Mean accuracy: 0.47000000000000003
4
Mean accuracy: 0.5199999999999999
5
Mean accuracy: 0.45000000000000007
6
Mean accuracy: 0.5700000000000001
7
Mean accuracy: 0.5700000000000001
8
Mean accuracy: 0.48
9
Mean accuracy: 0.53
10
Mean accuracy: 0.52
11
Mean accuracy: 0.43
12
Mean accuracy: 0.53
13
Mean accuracy: 0.51
14
Mean accuracy: 0.44000000000000006
15
Mean accuracy: 0.5700000000000001
16
Mean accuracy: 0.47000000000000003
17
Mean accuracy: 0.41
18
Mean accuracy: 0.4600000000000001
19
Mean accuracy: 0.4999999999999999
20
Mean accuracy: 0.48
21
Mean accuracy: 0.39
22
Mean accuracy: 0.55
23
Mean accuracy: 0.4800000000000001
24
Mean accuracy: 0.53
25
Mean accuracy: 0.45999999999999996
26
Mean accuracy: 0.5599999999999999
27
Mean accuracy: 0.45999999999999996
28
Mean accuracy: 0.56
29
Mean accuracy: 0.5299999999999999
30
Mean accuracy: 0.53
31
Mean accuracy: 0.48
32
Mean accuracy: 0.43999999999999995
33
Mean accuracy: 0.47000000000000003
34
Mean accuracy: 0.51
35
Mean accuracy: 0.58
36
Mean accuracy: 0.36
37
Mean accuracy: 0.54
38
Mean accuracy: 0.53
39
Mean accuracy: 0.39
40
Mean accuracy: 0.51
41
Mean accuracy: 0.45
42
Mean accuracy: 0.55
43
Mean accuracy: 0.52
44
Mean accuracy: 0.53
45
Mean accuracy: 0.5999999999999999
46
Mean accuracy: 0.5499999999999999
47
Mean accuracy: 0.58
48
Mean accuracy: 0.51
49
Mean accuracy: 0.51
50
Mean accuracy: 0.6
51
Mean accuracy: 0.5
52
Mean accuracy: 0.51
53
Mean accuracy: 0.5199999999999999
54
Mean accuracy: 0.48
55
Mean accuracy: 0.44000000000000006
56
Mean accuracy: 0.48
57
Mean accuracy: 0.59
58
Mean accuracy: 0.5399999999999999
59
Mean accuracy: 0.42000000000000004
60
Mean accuracy: 0.39
61
Mean accuracy: 0.56
62
Mean accuracy: 0.45999999999999996
63
Mean accuracy: 0.43
64
Mean accuracy: 0.4999999999999999
65
Mean accuracy: 0.62
66
Mean accuracy: 0.48
67
Mean accuracy: 0.45999999999999996
68
Mean accuracy: 0.57
69
Mean accuracy: 0.5400000000000001
70
Mean accuracy: 0.59
71
Mean accuracy: 0.57
72
Mean accuracy: 0.47000000000000003
73
Mean accuracy: 0.43999999999999995
74
Mean accuracy: 0.44000000000000006
75
Mean accuracy: 0.5
76
Mean accuracy: 0.5299999999999999
77
Mean accuracy: 0.64
78
Mean accuracy: 0.48999999999999994
79
Mean accuracy: 0.51
80
Mean accuracy: 0.54
81
Mean accuracy: 0.5
82
Mean accuracy: 0.43999999999999995
83
Mean accuracy: 0.5
84
Mean accuracy: 0.52
85
Mean accuracy: 0.47000000000000003
86
Mean accuracy: 0.45
87
Mean accuracy: 0.4999999999999999
88
Mean accuracy: 0.51
89
Mean accuracy: 0.5700000000000001
90
Mean accuracy: 0.5199999999999999
91
Mean accuracy: 0.49000000000000005
92
Mean accuracy: 0.53
93
Mean accuracy: 0.47000000000000003
94
Mean accuracy: 0.47000000000000003
95
Mean accuracy: 0.54
96
Mean accuracy: 0.55
97
Mean accuracy: 0.47000000000000003
98
Mean accuracy: 0.39
99
Mean accuracy: 0.49000000000000005
100
Mean accuracy: 0.48

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_Rand98CpG_Male_100RF.csv", index = False)

0.5007

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Depression_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 52)

,PATNO,APPRDX,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,...,cg18588504,cg12220605,cg27316956,cg16293892,cg13468400,cg11374446,cg06284898,cg11485463,cg21915910,cg21915910.1
0,3001,1,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,...,0.015081,0.082447,0.378469,0.595614,0.812987,0.884892,0.816919,0.011261,0.796023,0.796023
1,3007,1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,...,0.017836,0.113486,0.327984,0.558226,0.897971,0.859572,0.855105,0.013494,0.851971,0.851971

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,cg07456278,...,cg18588504,cg12220605,cg27316956,cg16293892,cg13468400,cg11374446,cg06284898,cg11485463,cg21915910,cg21915910.1
0,1,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,0.582067,...,0.015081,0.082447,0.378469,0.595614,0.812987,0.884892,0.816919,0.011261,0.796023,0.796023
1,1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,0.667340,...,0.017836,0.113486,0.327984,0.558226,0.897971,0.859572,0.855105,0.013494,0.851971,0.851971

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.62
2
Mean accuracy: 0.69
3
Mean accuracy: 0.75
4
Mean accuracy: 0.67
5
Mean accuracy: 0.7100000000000001
6
Mean accuracy: 0.55
7
Mean accuracy: 0.72
8
Mean accuracy: 0.75
9
Mean accuracy: 0.7100000000000001
10
Mean accuracy: 0.73
11
Mean accuracy: 0.6399999999999999
12
Mean accuracy: 0.73
13
Mean accuracy: 0.65
14
Mean accuracy: 0.76
15
Mean accuracy: 0.7
16
Mean accuracy: 0.6300000000000001
17
Mean accuracy: 0.59
18
Mean accuracy: 0.77
19
Mean accuracy: 0.6799999999999999
20
Mean accuracy: 0.6100000000000001
21
Mean accuracy: 0.7100000000000001
22
Mean accuracy: 0.61
23
Mean accuracy: 0.7300000000000001
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7
26
Mean accuracy: 0.5999999999999999
27
Mean accuracy: 0.63
28
Mean accuracy: 0.71
29
Mean accuracy: 0.58
30
Mean accuracy: 0.6
31
Mean accuracy: 0.5900000000000001
32
Mean accuracy: 0.6799999999999999
33
Mean accuracy: 0.68
34
Mean accuracy: 0.7
35
Mean accuracy: 0.71
36
Mean accuracy: 0.67
37
Mean accuracy: 0.7
38
Mean accuracy: 0.6499999999999999
39
Mean accuracy: 0.69
40
Mean accuracy: 0.71
41
Mean accuracy: 0.65
42
Mean accuracy: 0.72
43
Mean accuracy: 0.6399999999999999
44
Mean accuracy: 0.7100000000000001
45
Mean accuracy: 0.6499999999999999
46
Mean accuracy: 0.67
47
Mean accuracy: 0.6
48
Mean accuracy: 0.6799999999999999
49
Mean accuracy: 0.6799999999999999
50
Mean accuracy: 0.6399999999999999
51
Mean accuracy: 0.6799999999999999
52
Mean accuracy: 0.6
53
Mean accuracy: 0.6799999999999999
54
Mean accuracy: 0.6799999999999999
55
Mean accuracy: 0.72
56
Mean accuracy: 0.68
57
Mean accuracy: 0.6499999999999999
58
Mean accuracy: 0.63
59
Mean accuracy: 0.66
60
Mean accuracy: 0.56
61
Mean accuracy: 0.6799999999999999
62
Mean accuracy: 0.7300000000000001
63
Mean accuracy: 0.6799999999999999
64
Mean accuracy: 0.6700000000000002
65
Mean accuracy: 0.6
66
Mean accuracy: 0.5700000000000001
67
Mean accuracy: 0.7600000000000001
68
Mean accuracy: 0.77
69
Mean accuracy: 0.6
70
Mean accuracy: 0.6599999999999999
71
Mean accuracy: 0.65
72
Mean accuracy: 0.6799999999999999
73
Mean accuracy: 0.73
74
Mean accuracy: 0.6799999999999999
75
Mean accuracy: 0.62
76
Mean accuracy: 0.7
77
Mean accuracy: 0.6199999999999999
78
Mean accuracy: 0.65
79
Mean accuracy: 0.62
80
Mean accuracy: 0.6199999999999999
81
Mean accuracy: 0.74
82
Mean accuracy: 0.7300000000000001
83
Mean accuracy: 0.78
84
Mean accuracy: 0.7499999999999999
85
Mean accuracy: 0.5900000000000001
86
Mean accuracy: 0.6699999999999999
87
Mean accuracy: 0.67
88
Mean accuracy: 0.65
89
Mean accuracy: 0.7
90
Mean accuracy: 0.6699999999999999
91
Mean accuracy: 0.6699999999999999
92
Mean accuracy: 0.6900000000000001
93
Mean accuracy: 0.6699999999999999
94
Mean accuracy: 0.6599999999999999
95
Mean accuracy: 0.6599999999999999
96
Mean accuracy: 0.76
97
Mean accuracy: 0.6799999999999999
98
Mean accuracy: 0.7
99
Mean accuracy: 0.6299999999999999
100
Mean accuracy: 0.6599999999999999

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_Boruta50CpG_Male_100RF.csv", index = False)

0.6720999999999999

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Depression_NMI_Top50_Male_Data.csv')
print(df.shape)
df.head(2)

(307, 51)

,APPRDX,cg06724212,cg01070424,cg01360545,cg24860848,cg05826330,cg23149728,cg19559114,cg12573516,cg02050165,...,cg23061549,cg12613770,cg20003494,cg06470379,cg05467890,cg15736994,cg16840743,cg00558297,cg06435511,cg11485463
0,1,0.594896,0.450485,0.605723,0.783908,0.015721,0.708239,0.823933,0.026891,0.713721,...,0.914102,0.838669,0.025708,0.775220,0.870255,0.523965,0.072730,0.776180,0.960060,0.011261
1,1,0.577396,0.368044,0.633931,0.839703,0.018893,0.789988,0.882641,0.050838,0.840914,...,0.932469,0.848701,0.045513,0.840957,0.876092,0.562597,0.072311,0.366488,0.943276,0.013494

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.67
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.7600000000000001
4
Mean accuracy: 0.76
5
Mean accuracy: 0.74
6
Mean accuracy: 0.72
7
Mean accuracy: 0.6800000000000002
8
Mean accuracy: 0.75
9
Mean accuracy: 0.77
10
Mean accuracy: 0.65
11
Mean accuracy: 0.74
12
Mean accuracy: 0.73
13
Mean accuracy: 0.7299999999999999
14
Mean accuracy: 0.7200000000000001
15
Mean accuracy: 0.6499999999999999
16
Mean accuracy: 0.75
17
Mean accuracy: 0.62
18
Mean accuracy: 0.75
19
Mean accuracy: 0.6399999999999999
20
Mean accuracy: 0.6399999999999999
21
Mean accuracy: 0.69
22
Mean accuracy: 0.74
23
Mean accuracy: 0.73
24
Mean accuracy: 0.6900000000000001
25
Mean accuracy: 0.7
26
Mean accuracy: 0.73
27
Mean accuracy: 0.6900000000000001
28
Mean accuracy: 0.69
29
Mean accuracy: 0.72
30
Mean accuracy: 0.69
31
Mean accuracy: 0.7100000000000001
32
Mean accuracy: 0.71
33
Mean accuracy: 0.6799999999999999
34
Mean accuracy: 0.7300000000000001
35
Mean accuracy: 0.7
36
Mean accuracy: 0.7500000000000001
37
Mean accuracy: 0.6900000000000001
38
Mean accuracy: 0.73
39
Mean accuracy: 0.69
40
Mean accuracy: 0.7699999999999999
41
Mean accuracy: 0.7
42
Mean accuracy: 0.6799999999999999
43
Mean accuracy: 0.74
44
Mean accuracy: 0.63
45
Mean accuracy: 0.74
46
Mean accuracy: 0.7
47
Mean accuracy: 0.7299999999999999
48
Mean accuracy: 0.66
49
Mean accuracy: 0.7200000000000001
50
Mean accuracy: 0.73
51
Mean accuracy: 0.6100000000000001
52
Mean accuracy: 0.72
53
Mean accuracy: 0.7500000000000001
54
Mean accuracy: 0.65
55
Mean accuracy: 0.7
56
Mean accuracy: 0.6599999999999999
57
Mean accuracy: 0.6799999999999999
58
Mean accuracy: 0.5999999999999999
59
Mean accuracy: 0.77
60
Mean accuracy: 0.69
61
Mean accuracy: 0.77
62
Mean accuracy: 0.7099999999999999
63
Mean accuracy: 0.6100000000000001
64
Mean accuracy: 0.7500000000000001
65
Mean accuracy: 0.6799999999999999
66
Mean accuracy: 0.75
67
Mean accuracy: 0.7500000000000001
68
Mean accuracy: 0.72
69
Mean accuracy: 0.65
70
Mean accuracy: 0.7300000000000001
71
Mean accuracy: 0.71
72
Mean accuracy: 0.73
73
Mean accuracy: 0.6699999999999999
74
Mean accuracy: 0.6699999999999999
75
Mean accuracy: 0.6799999999999999
76
Mean accuracy: 0.78
77
Mean accuracy: 0.7
78
Mean accuracy: 0.71
79
Mean accuracy: 0.68
80
Mean accuracy: 0.69
81
Mean accuracy: 0.7400000000000001
82
Mean accuracy: 0.72
83
Mean accuracy: 0.71
84
Mean accuracy: 0.74
85
Mean accuracy: 0.75
86
Mean accuracy: 0.7100000000000001
87
Mean accuracy: 0.7
88
Mean accuracy: 0.6699999999999999
89
Mean accuracy: 0.69
90
Mean accuracy: 0.75
91
Mean accuracy: 0.72
92
Mean accuracy: 0.62
93
Mean accuracy: 0.69
94
Mean accuracy: 0.64
95
Mean accuracy: 0.72
96
Mean accuracy: 0.73
97
Mean accuracy: 0.7
98
Mean accuracy: 0.77
99
Mean accuracy: 0.7
100
Mean accuracy: 0.71

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_NMI50CpG_Male_100RF.csv", index = False)

0.7056

## RanFor Top 50 Boruta + NMI 100 times. Samples = 98

In [18]:
df = pd.read_csv('Depression_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 100)

,PATNO,APPRDX,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,...,cg19711613,cg23061549,cg12613770,cg20003494,cg06470379,cg05467890,cg15736994,cg16840743,cg00558297,cg06435511
0,3001,1,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,...,0.841310,0.914102,0.838669,0.025708,0.775220,0.870255,0.523965,0.072730,0.776180,0.960060
1,3007,1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,...,0.839718,0.932469,0.848701,0.045513,0.840957,0.876092,0.562597,0.072311,0.366488,0.943276

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,cg07456278,...,cg19711613,cg23061549,cg12613770,cg20003494,cg06470379,cg05467890,cg15736994,cg16840743,cg00558297,cg06435511
0,1,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,0.582067,...,0.841310,0.914102,0.838669,0.025708,0.775220,0.870255,0.523965,0.072730,0.776180,0.960060
1,1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,0.667340,...,0.839718,0.932469,0.848701,0.045513,0.840957,0.876092,0.562597,0.072311,0.366488,0.943276

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6300000000000001
2
Mean accuracy: 0.7299999999999999
3
Mean accuracy: 0.77
4
Mean accuracy: 0.73
5
Mean accuracy: 0.73
6
Mean accuracy: 0.6799999999999999
7
Mean accuracy: 0.6799999999999999
8
Mean accuracy: 0.75
9
Mean accuracy: 0.74
10
Mean accuracy: 0.72
11
Mean accuracy: 0.7
12
Mean accuracy: 0.72
13
Mean accuracy: 0.7500000000000001
14
Mean accuracy: 0.75
15
Mean accuracy: 0.77
16
Mean accuracy: 0.76
17
Mean accuracy: 0.65
18
Mean accuracy: 0.71
19
Mean accuracy: 0.6699999999999999
20
Mean accuracy: 0.6799999999999999
21
Mean accuracy: 0.73
22
Mean accuracy: 0.7100000000000001
23
Mean accuracy: 0.8
24
Mean accuracy: 0.69
25
Mean accuracy: 0.76
26
Mean accuracy: 0.8
27
Mean accuracy: 0.69
28
Mean accuracy: 0.7
29
Mean accuracy: 0.62
30
Mean accuracy: 0.71
31
Mean accuracy: 0.7200000000000001
32
Mean accuracy: 0.76
33
Mean accuracy: 0.7100000000000001
34
Mean accuracy: 0.77
35
Mean accuracy: 0.78
36
Mean accuracy: 0.72
37
Mean accuracy: 0.7099999999999999
38
Mean accuracy: 0.72
39
Mean accuracy: 0.73
40
Mean accuracy: 0.77
41
Mean accuracy: 0.64
42
Mean accuracy: 0.7300000000000001
43
Mean accuracy: 0.7099999999999999
44
Mean accuracy: 0.72
45
Mean accuracy: 0.73
46
Mean accuracy: 0.71
47
Mean accuracy: 0.7100000000000001
48
Mean accuracy: 0.7
49
Mean accuracy: 0.7099999999999999
50
Mean accuracy: 0.78
51
Mean accuracy: 0.6799999999999999
52
Mean accuracy: 0.6399999999999999
53
Mean accuracy: 0.71
54
Mean accuracy: 0.6599999999999999
55
Mean accuracy: 0.69
56
Mean accuracy: 0.7000000000000001
57
Mean accuracy: 0.6599999999999999
58
Mean accuracy: 0.66
59
Mean accuracy: 0.6900000000000001
60
Mean accuracy: 0.67
61
Mean accuracy: 0.7
62
Mean accuracy: 0.72
63
Mean accuracy: 0.6599999999999999
64
Mean accuracy: 0.6900000000000001
65
Mean accuracy: 0.7
66
Mean accuracy: 0.7300000000000001
67
Mean accuracy: 0.7699999999999999
68
Mean accuracy: 0.72
69
Mean accuracy: 0.7100000000000001
70
Mean accuracy: 0.74
71
Mean accuracy: 0.75
72
Mean accuracy: 0.78
73
Mean accuracy: 0.77
74
Mean accuracy: 0.6799999999999999
75
Mean accuracy: 0.7100000000000001
76
Mean accuracy: 0.76
77
Mean accuracy: 0.6900000000000001
78
Mean accuracy: 0.7
79
Mean accuracy: 0.69
80
Mean accuracy: 0.6900000000000001
81
Mean accuracy: 0.75
82
Mean accuracy: 0.72
83
Mean accuracy: 0.77
84
Mean accuracy: 0.7100000000000001
85
Mean accuracy: 0.6799999999999999
86
Mean accuracy: 0.69
87
Mean accuracy: 0.73
88
Mean accuracy: 0.7
89
Mean accuracy: 0.72
90
Mean accuracy: 0.72
91
Mean accuracy: 0.78
92
Mean accuracy: 0.72
93
Mean accuracy: 0.76
94
Mean accuracy: 0.6499999999999999
95
Mean accuracy: 0.71
96
Mean accuracy: 0.76
97
Mean accuracy: 0.74
98
Mean accuracy: 0.7300000000000001
99
Mean accuracy: 0.73
100
Mean accuracy: 0.72

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Depression_Top50sCpG98_Male_100RF.csv", index = False)

0.7167000000000001