# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Dream
df = pd.read_csv('Dream_with_MethylomeDetails_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Dream
(110, 648)

,Unnamed: 0,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,REM_Dream,cg07920064,...,cg12444710,cg01442833,cg17429457,cg26703873,cg21642591,cg06818627,cg20495247,cg12696399,cg22978941,cg12009719
0,3,200973410167_R05C01,3010,1,47.0,2,2,1,2,0.020416,...,0.875451,0.022926,0.863662,0.907782,0.022595,0.019975,0.046285,0.021058,0.031956,0.590721
1,8,200989060143_R08C01,3024,1,52.7,2,2,1,0,0.011673,...,0.857053,0.023881,0.829684,0.916199,0.039999,0.031587,0.041728,0.034263,0.026730,0.514764
2,9,201004820067_R08C01,3029,1,66.3,4,0,2,0,0.024150,...,0.874196,0.031594,0.849785,0.902483,0.027215,0.021525,0.037720,0.017105,0.035254,0.558569

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','REM_Dream','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg07920064,cg27486695,cg08290072,cg19964303,cg24775454,cg26544277,cg23153680,cg06716437,cg18014247,...,cg12444710,cg01442833,cg17429457,cg26703873,cg21642591,cg06818627,cg20495247,cg12696399,cg22978941,cg12009719
0,1,0.020416,0.010285,0.028790,0.967632,0.034748,0.021628,0.106042,0.188028,0.060150,...,0.875451,0.022926,0.863662,0.907782,0.022595,0.019975,0.046285,0.021058,0.031956,0.590721
1,1,0.011673,0.007561,0.014732,0.977709,0.018826,0.010112,0.028173,0.123297,0.040974,...,0.857053,0.023881,0.829684,0.916199,0.039999,0.031587,0.041728,0.034263,0.026730,0.514764

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(25))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.38
2
Mean accuracy: 0.34
3
Mean accuracy: 0.5200000000000001
4
Mean accuracy: 0.4
5
Mean accuracy: 0.30000000000000004
6
Mean accuracy: 0.48
7
Mean accuracy: 0.42000000000000004
8
Mean accuracy: 0.5
9
Mean accuracy: 0.6
10
Mean accuracy: 0.36
11
Mean accuracy: 0.32000000000000006
12
Mean accuracy: 0.44000000000000006
13
Mean accuracy: 0.44000000000000006
14
Mean accuracy: 0.38
15
Mean accuracy: 0.42000000000000004
16
Mean accuracy: 0.2800000000000001
17
Mean accuracy: 0.48000000000000015
18
Mean accuracy: 0.48
19
Mean accuracy: 0.4
20
Mean accuracy: 0.45999999999999996
21
Mean accuracy: 0.4000000000000001
22
Mean accuracy: 0.52
23
Mean accuracy: 0.36
24
Mean accuracy: 0.34
25
Mean accuracy: 0.44000000000000006
26
Mean accuracy: 0.36
27
Mean accuracy: 0.5
28
Mean accuracy: 0.44000000000000006
29
Mean accuracy: 0.34
30
Mean accuracy: 0.36000000000000004
31
Mean accuracy: 0.5399999999999999
32
Mean accuracy: 0.36
33
Mean accuracy: 0.34
34
Mean accuracy: 0.38
35
Mean accuracy: 0.30000000000000004
36
Mean accuracy: 0.33999999999999997
37
Mean accuracy: 0.38
38
Mean accuracy: 0.34
39
Mean accuracy: 0.38
40
Mean accuracy: 0.5
41
Mean accuracy: 0.42000000000000004
42
Mean accuracy: 0.42000000000000004
43
Mean accuracy: 0.5999999999999999
44
Mean accuracy: 0.26
45
Mean accuracy: 0.38000000000000006
46
Mean accuracy: 0.38
47
Mean accuracy: 0.44000000000000006
48
Mean accuracy: 0.5399999999999999
49
Mean accuracy: 0.4999999999999999
50
Mean accuracy: 0.38
51
Mean accuracy: 0.4
52
Mean accuracy: 0.4
53
Mean accuracy: 0.54
54
Mean accuracy: 0.28
55
Mean accuracy: 0.4800000000000001
56
Mean accuracy: 0.44000000000000006
57
Mean accuracy: 0.44000000000000006
58
Mean accuracy: 0.36
59
Mean accuracy: 0.38
60
Mean accuracy: 0.4600000000000001
61
Mean accuracy: 0.44000000000000006
62
Mean accuracy: 0.4600000000000001
63
Mean accuracy: 0.32
64
Mean accuracy: 0.44000000000000006
65
Mean accuracy: 0.4600000000000001
66
Mean accuracy: 0.38
67
Mean accuracy: 0.44000000000000006
68
Mean accuracy: 0.33999999999999997
69
Mean accuracy: 0.38
70
Mean accuracy: 0.42000000000000004
71
Mean accuracy: 0.38
72
Mean accuracy: 0.4800000000000001
73
Mean accuracy: 0.28
74
Mean accuracy: 0.42000000000000004
75
Mean accuracy: 0.30000000000000004
76
Mean accuracy: 0.32000000000000006
77
Mean accuracy: 0.5000000000000001
78
Mean accuracy: 0.2
79
Mean accuracy: 0.5
80
Mean accuracy: 0.4600000000000001
81
Mean accuracy: 0.5399999999999999
82
Mean accuracy: 0.33999999999999997
83
Mean accuracy: 0.5000000000000001
84
Mean accuracy: 0.34
85
Mean accuracy: 0.54
86
Mean accuracy: 0.31999999999999995
87
Mean accuracy: 0.5200000000000001
88
Mean accuracy: 0.43999999999999995
89
Mean accuracy: 0.44000000000000006
90
Mean accuracy: 0.66
91
Mean accuracy: 0.27999999999999997
92
Mean accuracy: 0.5
93
Mean accuracy: 0.26000000000000006
94
Mean accuracy: 0.44000000000000006
95
Mean accuracy: 0.52
96
Mean accuracy: 0.42000000000000004
97
Mean accuracy: 0.4800000000000001
98
Mean accuracy: 0.28
99
Mean accuracy: 0.30000000000000004
100
Mean accuracy: 0.34

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_AllCpG_Male_100RF.csv", index = False)

0.41200000000000014

## RanFor 100 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(25))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48
2
Mean accuracy: 0.38
3
Mean accuracy: 0.38
4
Mean accuracy: 0.5599999999999999
5
Mean accuracy: 0.26
6
Mean accuracy: 0.44000000000000006
7
Mean accuracy: 0.4800000000000001
8
Mean accuracy: 0.4600000000000001
9
Mean accuracy: 0.52
10
Mean accuracy: 0.3400000000000001
11
Mean accuracy: 0.38
12
Mean accuracy: 0.44000000000000006
13
Mean accuracy: 0.48
14
Mean accuracy: 0.4600000000000001
15
Mean accuracy: 0.38
16
Mean accuracy: 0.42000000000000004
17
Mean accuracy: 0.45999999999999996
18
Mean accuracy: 0.48
19
Mean accuracy: 0.34
20
Mean accuracy: 0.5599999999999999
21
Mean accuracy: 0.4600000000000001
22
Mean accuracy: 0.58
23
Mean accuracy: 0.38
24
Mean accuracy: 0.5
25
Mean accuracy: 0.42000000000000004
26
Mean accuracy: 0.56
27
Mean accuracy: 0.44000000000000006
28
Mean accuracy: 0.30000000000000004
29
Mean accuracy: 0.58
30
Mean accuracy: 0.5
31
Mean accuracy: 0.3
32
Mean accuracy: 0.5
33
Mean accuracy: 0.42000000000000004
34
Mean accuracy: 0.42000000000000004
35
Mean accuracy: 0.42000000000000004
36
Mean accuracy: 0.5399999999999999
37
Mean accuracy: 0.42000000000000004
38
Mean accuracy: 0.45999999999999996
39
Mean accuracy: 0.26
40
Mean accuracy: 0.34
41
Mean accuracy: 0.45999999999999996
42
Mean accuracy: 0.42000000000000004
43
Mean accuracy: 0.4800000000000001
44
Mean accuracy: 0.56
45
Mean accuracy: 0.42000000000000004
46
Mean accuracy: 0.3000000000000001
47
Mean accuracy: 0.4800000000000001
48
Mean accuracy: 0.30000000000000004
49
Mean accuracy: 0.4600000000000001
50
Mean accuracy: 0.44000000000000006
51
Mean accuracy: 0.5
52
Mean accuracy: 0.6
53
Mean accuracy: 0.42000000000000004
54
Mean accuracy: 0.3400000000000001
55
Mean accuracy: 0.48
56
Mean accuracy: 0.45999999999999996
57
Mean accuracy: 0.34
58
Mean accuracy: 0.4800000000000001
59
Mean accuracy: 0.48
60
Mean accuracy: 0.44000000000000006
61
Mean accuracy: 0.36
62
Mean accuracy: 0.34
63
Mean accuracy: 0.5599999999999999
64
Mean accuracy: 0.6
65
Mean accuracy: 0.5
66
Mean accuracy: 0.5000000000000001
67
Mean accuracy: 0.38
68
Mean accuracy: 0.4800000000000001
69
Mean accuracy: 0.36
70
Mean accuracy: 0.64
71
Mean accuracy: 0.32
72
Mean accuracy: 0.36000000000000004
73
Mean accuracy: 0.4000000000000001
74
Mean accuracy: 0.44000000000000006
75
Mean accuracy: 0.48
76
Mean accuracy: 0.4600000000000001
77
Mean accuracy: 0.4
78
Mean accuracy: 0.48
79
Mean accuracy: 0.5000000000000001
80
Mean accuracy: 0.54
81
Mean accuracy: 0.5000000000000001
82
Mean accuracy: 0.4
83
Mean accuracy: 0.54
84
Mean accuracy: 0.4
85
Mean accuracy: 0.42000000000000004
86
Mean accuracy: 0.44000000000000006
87
Mean accuracy: 0.4
88
Mean accuracy: 0.42000000000000004
89
Mean accuracy: 0.36000000000000004
90
Mean accuracy: 0.42000000000000004
91
Mean accuracy: 0.42000000000000004
92
Mean accuracy: 0.54
93
Mean accuracy: 0.26
94
Mean accuracy: 0.5000000000000001
95
Mean accuracy: 0.48
96
Mean accuracy: 0.52
97
Mean accuracy: 0.44000000000000006
98
Mean accuracy: 0.56
99
Mean accuracy: 0.4
100
Mean accuracy: 0.5199999999999999

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Rand50CpG_Male_100RF.csv", index = False)

0.44400000000000006

## RanFor 100 times. Samples = 90

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(90, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(25))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48
2
Mean accuracy: 0.32000000000000006
3
Mean accuracy: 0.42000000000000004
4
Mean accuracy: 0.58
5
Mean accuracy: 0.38
6
Mean accuracy: 0.39999999999999997
7
Mean accuracy: 0.38
8
Mean accuracy: 0.48
9
Mean accuracy: 0.56
10
Mean accuracy: 0.24000000000000005
11
Mean accuracy: 0.45999999999999996
12
Mean accuracy: 0.38
13
Mean accuracy: 0.44000000000000006
14
Mean accuracy: 0.38
15
Mean accuracy: 0.42000000000000004
16
Mean accuracy: 0.44000000000000006
17
Mean accuracy: 0.5599999999999999
18
Mean accuracy: 0.5
19
Mean accuracy: 0.36000000000000004
20
Mean accuracy: 0.44000000000000006
21
Mean accuracy: 0.4
22
Mean accuracy: 0.52
23
Mean accuracy: 0.38000000000000006
24
Mean accuracy: 0.6
25
Mean accuracy: 0.38
26
Mean accuracy: 0.54
27
Mean accuracy: 0.4600000000000001
28
Mean accuracy: 0.28
29
Mean accuracy: 0.4
30
Mean accuracy: 0.4600000000000001
31
Mean accuracy: 0.44000000000000006
32
Mean accuracy: 0.44000000000000006
33
Mean accuracy: 0.54
34
Mean accuracy: 0.38
35
Mean accuracy: 0.4000000000000001
36
Mean accuracy: 0.4999999999999999
37
Mean accuracy: 0.42000000000000004
38
Mean accuracy: 0.4999999999999999
39
Mean accuracy: 0.18000000000000002
40
Mean accuracy: 0.4
41
Mean accuracy: 0.4
42
Mean accuracy: 0.3
43
Mean accuracy: 0.44000000000000006
44
Mean accuracy: 0.5200000000000001
45
Mean accuracy: 0.48
46
Mean accuracy: 0.44000000000000006
47
Mean accuracy: 0.42000000000000004
48
Mean accuracy: 0.33999999999999997
49
Mean accuracy: 0.33999999999999997
50
Mean accuracy: 0.44000000000000006
51
Mean accuracy: 0.5799999999999998
52
Mean accuracy: 0.5399999999999999
53
Mean accuracy: 0.42000000000000004
54
Mean accuracy: 0.38
55
Mean accuracy: 0.4400000000000001
56
Mean accuracy: 0.42000000000000004
57
Mean accuracy: 0.38
58
Mean accuracy: 0.44000000000000006
59
Mean accuracy: 0.34
60
Mean accuracy: 0.4800000000000001
61
Mean accuracy: 0.44000000000000006
62
Mean accuracy: 0.52
63
Mean accuracy: 0.4600000000000001
64
Mean accuracy: 0.5
65
Mean accuracy: 0.54
66
Mean accuracy: 0.33999999999999997
67
Mean accuracy: 0.45999999999999996
68
Mean accuracy: 0.4600000000000001
69
Mean accuracy: 0.42000000000000004
70
Mean accuracy: 0.4800000000000001
71
Mean accuracy: 0.4
72
Mean accuracy: 0.4
73
Mean accuracy: 0.42000000000000004
74
Mean accuracy: 0.5
75
Mean accuracy: 0.34
76
Mean accuracy: 0.5
77
Mean accuracy: 0.38
78
Mean accuracy: 0.52
79
Mean accuracy: 0.4800000000000001
80
Mean accuracy: 0.42000000000000004
81
Mean accuracy: 0.4
82
Mean accuracy: 0.27999999999999997
83
Mean accuracy: 0.38
84
Mean accuracy: 0.4000000000000001
85
Mean accuracy: 0.4600000000000001
86
Mean accuracy: 0.34
87
Mean accuracy: 0.42000000000000004
88
Mean accuracy: 0.42000000000000004
89
Mean accuracy: 0.44000000000000006
90
Mean accuracy: 0.5599999999999999
91
Mean accuracy: 0.45999999999999996
92
Mean accuracy: 0.5800000000000001
93
Mean accuracy: 0.42000000000000004
94
Mean accuracy: 0.4800000000000001
95
Mean accuracy: 0.4
96
Mean accuracy: 0.45999999999999996
97
Mean accuracy: 0.42000000000000004
98
Mean accuracy: 0.6599999999999999
99
Mean accuracy: 0.4800000000000001
100
Mean accuracy: 0.44000000000000006

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Rand90CpG_Male_100RF.csv", index = False)

0.43660000000000015

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Dream_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(110, 52)

,PATNO,APPRDX,cg25836061,cg12175949,cg13463109,cg04692870,cg05519181,cg07795168,cg25935985,cg03129541,...,cg02976543,cg22619549,cg10365880,cg07308881,cg09132121,cg20878697,cg14276366,cg25745663,cg18016466,cg19258682
0,3010,1,0.908477,0.019751,0.873580,0.565374,0.872761,0.977116,0.210510,0.012383,...,0.057305,0.899828,0.924827,0.699845,0.889340,0.780733,0.915085,0.016247,0.020425,0.021563
1,3024,1,0.896387,0.012827,0.857712,0.663156,0.836375,0.980372,0.190329,0.007813,...,0.055810,0.947324,0.940162,0.763235,0.929361,0.876878,0.859082,0.011207,0.014503,0.011485

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg25836061,cg12175949,cg13463109,cg04692870,cg05519181,cg07795168,cg25935985,cg03129541,cg24096745,...,cg02976543,cg22619549,cg10365880,cg07308881,cg09132121,cg20878697,cg14276366,cg25745663,cg18016466,cg19258682
0,1,0.908477,0.019751,0.873580,0.565374,0.872761,0.977116,0.210510,0.012383,0.905673,...,0.057305,0.899828,0.924827,0.699845,0.889340,0.780733,0.915085,0.016247,0.020425,0.021563
1,1,0.896387,0.012827,0.857712,0.663156,0.836375,0.980372,0.190329,0.007813,0.946070,...,0.055810,0.947324,0.940162,0.763235,0.929361,0.876878,0.859082,0.011207,0.014503,0.011485

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(25))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45999999999999996
2
Mean accuracy: 0.62
3
Mean accuracy: 0.6399999999999999
4
Mean accuracy: 0.6
5
Mean accuracy: 0.5999999999999999
6
Mean accuracy: 0.5599999999999999
7
Mean accuracy: 0.42000000000000004
8
Mean accuracy: 0.5599999999999999
9
Mean accuracy: 0.6
10
Mean accuracy: 0.5799999999999998
11
Mean accuracy: 0.54
12
Mean accuracy: 0.5999999999999999
13
Mean accuracy: 0.4600000000000001
14
Mean accuracy: 0.52
15
Mean accuracy: 0.5599999999999999
16
Mean accuracy: 0.52
17
Mean accuracy: 0.5800000000000001
18
Mean accuracy: 0.5599999999999999
19
Mean accuracy: 0.38
20
Mean accuracy: 0.6599999999999999
21
Mean accuracy: 0.52
22
Mean accuracy: 0.6
23
Mean accuracy: 0.58
24
Mean accuracy: 0.58
25
Mean accuracy: 0.62
26
Mean accuracy: 0.45999999999999996
27
Mean accuracy: 0.54
28
Mean accuracy: 0.5000000000000001
29
Mean accuracy: 0.54
30
Mean accuracy: 0.5599999999999999
31
Mean accuracy: 0.6
32
Mean accuracy: 0.5
33
Mean accuracy: 0.5
34
Mean accuracy: 0.6200000000000001
35
Mean accuracy: 0.5
36
Mean accuracy: 0.5800000000000001
37
Mean accuracy: 0.48
38
Mean accuracy: 0.54
39
Mean accuracy: 0.42000000000000004
40
Mean accuracy: 0.6
41
Mean accuracy: 0.58
42
Mean accuracy: 0.5399999999999999
43
Mean accuracy: 0.62
44
Mean accuracy: 0.42000000000000004
45
Mean accuracy: 0.5199999999999999
46
Mean accuracy: 0.5999999999999999
47
Mean accuracy: 0.6000000000000001
48
Mean accuracy: 0.6
49
Mean accuracy: 0.6599999999999999
50
Mean accuracy: 0.5800000000000001
51
Mean accuracy: 0.5399999999999999
52
Mean accuracy: 0.6
53
Mean accuracy: 0.56
54
Mean accuracy: 0.41999999999999993
55
Mean accuracy: 0.62
56
Mean accuracy: 0.52
57
Mean accuracy: 0.56
58
Mean accuracy: 0.4600000000000001
59
Mean accuracy: 0.45999999999999996
60
Mean accuracy: 0.48
61
Mean accuracy: 0.58
62
Mean accuracy: 0.6799999999999999
63
Mean accuracy: 0.6399999999999999
64
Mean accuracy: 0.5
65
Mean accuracy: 0.5200000000000001
66
Mean accuracy: 0.5599999999999999
67
Mean accuracy: 0.58
68
Mean accuracy: 0.4999999999999999
69
Mean accuracy: 0.62
70
Mean accuracy: 0.48
71
Mean accuracy: 0.5800000000000001
72
Mean accuracy: 0.6799999999999999
73
Mean accuracy: 0.6799999999999999
74
Mean accuracy: 0.58
75
Mean accuracy: 0.52
76
Mean accuracy: 0.33999999999999997
77
Mean accuracy: 0.6399999999999999
78
Mean accuracy: 0.4400000000000001
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.6599999999999999
81
Mean accuracy: 0.7000000000000001
82
Mean accuracy: 0.5
83
Mean accuracy: 0.58
84
Mean accuracy: 0.54
85
Mean accuracy: 0.64
86
Mean accuracy: 0.5600000000000002
87
Mean accuracy: 0.4999999999999999
88
Mean accuracy: 0.54
89
Mean accuracy: 0.5399999999999999
90
Mean accuracy: 0.5999999999999999
91
Mean accuracy: 0.5199999999999999
92
Mean accuracy: 0.6
93
Mean accuracy: 0.44000000000000006
94
Mean accuracy: 0.54
95
Mean accuracy: 0.56
96
Mean accuracy: 0.68
97
Mean accuracy: 0.5
98
Mean accuracy: 0.44000000000000006
99
Mean accuracy: 0.5399999999999999
100
Mean accuracy: 0.5599999999999999

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Boruta50CpG_Male_100RF.csv", index = False)

0.5534

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_Dream_Data_Male.csv')
print(df.shape)
df.head(2)

(110, 52)

,PATNO,APPRDX,cg13175282,cg24096745,cg09411910,cg08730070,cg08202720,cg25752677,cg12715811,cg19403822,...,cg24320398,cg16899306,cg16623098,cg13344118,cg14642045,cg20856060,cg10304328,cg07876903,cg07829842,cg09071662
0,3010,1,0.787463,0.905673,0.595321,0.809970,0.887202,0.234716,0.891938,0.892865,...,0.906486,0.907055,0.431609,0.628073,0.285242,0.012594,0.842113,0.028986,0.037045,0.347263
1,3024,1,0.806073,0.946070,0.018640,0.882898,0.873184,0.338328,0.912036,0.977465,...,0.951502,0.885225,0.835966,0.690635,0.336450,0.006750,0.810303,0.013352,0.019731,0.422481

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg13175282,cg24096745,cg09411910,cg08730070,cg08202720,cg25752677,cg12715811,cg19403822,cg21036007,...,cg24320398,cg16899306,cg16623098,cg13344118,cg14642045,cg20856060,cg10304328,cg07876903,cg07829842,cg09071662
0,1,0.787463,0.905673,0.595321,0.809970,0.887202,0.234716,0.891938,0.892865,0.756892,...,0.906486,0.907055,0.431609,0.628073,0.285242,0.012594,0.842113,0.028986,0.037045,0.347263
1,1,0.806073,0.946070,0.018640,0.882898,0.873184,0.338328,0.912036,0.977465,0.067844,...,0.951502,0.885225,0.835966,0.690635,0.336450,0.006750,0.810303,0.013352,0.019731,0.422481

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(25))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.64
2
Mean accuracy: 0.6599999999999999
3
Mean accuracy: 0.6599999999999999
4
Mean accuracy: 0.62
5
Mean accuracy: 0.6
6
Mean accuracy: 0.5999999999999999
7
Mean accuracy: 0.6599999999999999
8
Mean accuracy: 0.58
9
Mean accuracy: 0.62
10
Mean accuracy: 0.6000000000000001
11
Mean accuracy: 0.62
12
Mean accuracy: 0.6799999999999999
13
Mean accuracy: 0.72
14
Mean accuracy: 0.62
15
Mean accuracy: 0.7
16
Mean accuracy: 0.5999999999999999
17
Mean accuracy: 0.62
18
Mean accuracy: 0.5200000000000001
19
Mean accuracy: 0.5
20
Mean accuracy: 0.62
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.82
23
Mean accuracy: 0.5999999999999999
24
Mean accuracy: 0.7000000000000001
25
Mean accuracy: 0.5599999999999999
26
Mean accuracy: 0.5399999999999999
27
Mean accuracy: 0.62
28
Mean accuracy: 0.64
29
Mean accuracy: 0.56
30
Mean accuracy: 0.5200000000000001
31
Mean accuracy: 0.6799999999999999
32
Mean accuracy: 0.4600000000000001
33
Mean accuracy: 0.72
34
Mean accuracy: 0.7
35
Mean accuracy: 0.6599999999999999
36
Mean accuracy: 0.62
37
Mean accuracy: 0.6399999999999999
38
Mean accuracy: 0.5000000000000001
39
Mean accuracy: 0.66
40
Mean accuracy: 0.6199999999999999
41
Mean accuracy: 0.58
42
Mean accuracy: 0.54
43
Mean accuracy: 0.7
44
Mean accuracy: 0.6199999999999999
45
Mean accuracy: 0.58
46
Mean accuracy: 0.6599999999999999
47
Mean accuracy: 0.5799999999999998
48
Mean accuracy: 0.74
49
Mean accuracy: 0.66
50
Mean accuracy: 0.5999999999999999
51
Mean accuracy: 0.56
52
Mean accuracy: 0.5999999999999999
53
Mean accuracy: 0.58
54
Mean accuracy: 0.5999999999999999
55
Mean accuracy: 0.6399999999999999
56
Mean accuracy: 0.5
57
Mean accuracy: 0.74
58
Mean accuracy: 0.6599999999999999
59
Mean accuracy: 0.58
60
Mean accuracy: 0.6599999999999999
61
Mean accuracy: 0.6
62
Mean accuracy: 0.62
63
Mean accuracy: 0.6799999999999999
64
Mean accuracy: 0.6
65
Mean accuracy: 0.7
66
Mean accuracy: 0.64
67
Mean accuracy: 0.56
68
Mean accuracy: 0.6399999999999999
69
Mean accuracy: 0.6
70
Mean accuracy: 0.6199999999999999
71
Mean accuracy: 0.6399999999999999
72
Mean accuracy: 0.82
73
Mean accuracy: 0.5599999999999999
74
Mean accuracy: 0.5999999999999999
75
Mean accuracy: 0.5199999999999999
76
Mean accuracy: 0.6399999999999999
77
Mean accuracy: 0.58
78
Mean accuracy: 0.5599999999999999
79
Mean accuracy: 0.72
80
Mean accuracy: 0.72
81
Mean accuracy: 0.76
82
Mean accuracy: 0.5
83
Mean accuracy: 0.6599999999999999
84
Mean accuracy: 0.58
85
Mean accuracy: 0.72
86
Mean accuracy: 0.6399999999999999
87
Mean accuracy: 0.5800000000000001
88
Mean accuracy: 0.7
89
Mean accuracy: 0.6
90
Mean accuracy: 0.6399999999999999
91
Mean accuracy: 0.6
92
Mean accuracy: 0.8
93
Mean accuracy: 0.64
94
Mean accuracy: 0.64
95
Mean accuracy: 0.72
96
Mean accuracy: 0.78
97
Mean accuracy: 0.76
98
Mean accuracy: 0.56
99
Mean accuracy: 0.6000000000000001
100
Mean accuracy: 0.62

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_NMI50CpG_Male_100RF.csv", index = False)

0.6301999999999999

## RanFor Top 50 Boruta + NMI 100 times. Samples = 90

In [19]:
df = pd.read_csv('Dream_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(110, 92)

,PATNO,APPRDX,cg25836061,cg12175949,cg13463109,cg04692870,cg05519181,cg07795168,cg25935985,cg03129541,...,cg07790747,cg24320398,cg16899306,cg16623098,cg14642045,cg20856060,cg10304328,cg07876903,cg07829842,cg09071662
0,3010,1,0.908477,0.019751,0.873580,0.565374,0.872761,0.977116,0.210510,0.012383,...,0.900291,0.906486,0.907055,0.431609,0.285242,0.012594,0.842113,0.028986,0.037045,0.347263
1,3024,1,0.896387,0.012827,0.857712,0.663156,0.836375,0.980372,0.190329,0.007813,...,0.924521,0.951502,0.885225,0.835966,0.336450,0.006750,0.810303,0.013352,0.019731,0.422481

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg25836061,cg12175949,cg13463109,cg04692870,cg05519181,cg07795168,cg25935985,cg03129541,cg24096745,...,cg07790747,cg24320398,cg16899306,cg16623098,cg14642045,cg20856060,cg10304328,cg07876903,cg07829842,cg09071662
0,1,0.908477,0.019751,0.873580,0.565374,0.872761,0.977116,0.210510,0.012383,0.905673,...,0.900291,0.906486,0.907055,0.431609,0.285242,0.012594,0.842113,0.028986,0.037045,0.347263
1,1,0.896387,0.012827,0.857712,0.663156,0.836375,0.980372,0.190329,0.007813,0.946070,...,0.924521,0.951502,0.885225,0.835966,0.336450,0.006750,0.810303,0.013352,0.019731,0.422481

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(25))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5199999999999999
2
Mean accuracy: 0.6000000000000001
3
Mean accuracy: 0.6599999999999999
4
Mean accuracy: 0.6000000000000001
5
Mean accuracy: 0.6
6
Mean accuracy: 0.56
7
Mean accuracy: 0.6200000000000001
8
Mean accuracy: 0.6
9
Mean accuracy: 0.5599999999999999
10
Mean accuracy: 0.6799999999999999
11
Mean accuracy: 0.5
12
Mean accuracy: 0.5399999999999999
13
Mean accuracy: 0.6599999999999999
14
Mean accuracy: 0.5400000000000001
15
Mean accuracy: 0.6199999999999999
16
Mean accuracy: 0.5800000000000001
17
Mean accuracy: 0.68
18
Mean accuracy: 0.52
19
Mean accuracy: 0.5599999999999999
20
Mean accuracy: 0.5599999999999999
21
Mean accuracy: 0.64
22
Mean accuracy: 0.8800000000000001
23
Mean accuracy: 0.54
24
Mean accuracy: 0.68
25
Mean accuracy: 0.5599999999999999
26
Mean accuracy: 0.48
27
Mean accuracy: 0.4999999999999999
28
Mean accuracy: 0.6199999999999999
29
Mean accuracy: 0.54
30
Mean accuracy: 0.5599999999999999
31
Mean accuracy: 0.6599999999999999
32
Mean accuracy: 0.44000000000000006
33
Mean accuracy: 0.6599999999999999
34
Mean accuracy: 0.6
35
Mean accuracy: 0.64
36
Mean accuracy: 0.56
37
Mean accuracy: 0.6
38
Mean accuracy: 0.44000000000000006
39
Mean accuracy: 0.56
40
Mean accuracy: 0.6
41
Mean accuracy: 0.58
42
Mean accuracy: 0.54
43
Mean accuracy: 0.6799999999999999
44
Mean accuracy: 0.54
45
Mean accuracy: 0.52
46
Mean accuracy: 0.5999999999999999
47
Mean accuracy: 0.5999999999999999
48
Mean accuracy: 0.8400000000000001
49
Mean accuracy: 0.6599999999999999
50
Mean accuracy: 0.6
51
Mean accuracy: 0.6599999999999999
52
Mean accuracy: 0.6
53
Mean accuracy: 0.5
54
Mean accuracy: 0.4999999999999999
55
Mean accuracy: 0.6599999999999999
56
Mean accuracy: 0.5
57
Mean accuracy: 0.6199999999999999
58
Mean accuracy: 0.5599999999999998
59
Mean accuracy: 0.6199999999999999
60
Mean accuracy: 0.6
61
Mean accuracy: 0.6399999999999999
62
Mean accuracy: 0.6799999999999999
63
Mean accuracy: 0.5800000000000001
64
Mean accuracy: 0.6599999999999999
65
Mean accuracy: 0.6399999999999999
66
Mean accuracy: 0.56
67
Mean accuracy: 0.54
68
Mean accuracy: 0.58
69
Mean accuracy: 0.62
70
Mean accuracy: 0.6599999999999999
71
Mean accuracy: 0.5399999999999999
72
Mean accuracy: 0.74
73
Mean accuracy: 0.58
74
Mean accuracy: 0.6399999999999999
75
Mean accuracy: 0.5599999999999999
76
Mean accuracy: 0.5
77
Mean accuracy: 0.7000000000000001
78
Mean accuracy: 0.4600000000000001
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.6799999999999999
81
Mean accuracy: 0.6199999999999999
82
Mean accuracy: 0.58
83
Mean accuracy: 0.6199999999999999
84
Mean accuracy: 0.5200000000000001
85
Mean accuracy: 0.7
86
Mean accuracy: 0.5999999999999999
87
Mean accuracy: 0.62
88
Mean accuracy: 0.66
89
Mean accuracy: 0.52
90
Mean accuracy: 0.6399999999999999
91
Mean accuracy: 0.5800000000000001
92
Mean accuracy: 0.6599999999999999
93
Mean accuracy: 0.5599999999999999
94
Mean accuracy: 0.62
95
Mean accuracy: 0.66
96
Mean accuracy: 0.68
97
Mean accuracy: 0.76
98
Mean accuracy: 0.5799999999999998
99
Mean accuracy: 0.6799999999999999
100
Mean accuracy: 0.5999999999999999

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Top50sCpG90_Male_100RF.csv", index = False)

0.6019999999999999