# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\Dream
df = pd.read_csv('Dream_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\Dream
(160, 647)

,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,REM_Dream,cg07920064,cg27486695,...,cg12444710,cg01442833,cg17429457,cg26703873,cg21642591,cg06818627,cg20495247,cg12696399,cg22978941,cg12009719
0,200991620021_R03C01,3002,2,67.6,4,2,1,2,0.023631,0.010635,...,0.865247,0.026656,0.916954,0.913505,0.031580,0.041244,0.052317,0.022932,0.045476,0.586523
1,200973410143_R01C01,3008,2,81.9,5,0,2,2,0.011070,0.008845,...,0.775811,0.021784,0.776223,0.926893,0.019075,0.018032,0.027572,0.026038,0.022241,0.526541
2,200973410143_R06C01,3009,2,83.7,5,0,2,1,0.019694,0.008567,...,0.863623,0.023787,0.846284,0.929773,0.025635,0.023810,0.022940,0.025842,0.022499,0.585227

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','REM_Dream','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg07920064,cg27486695,cg08290072,cg19964303,cg24775454,cg26544277,cg23153680,cg06716437,cg18014247,...,cg12444710,cg01442833,cg17429457,cg26703873,cg21642591,cg06818627,cg20495247,cg12696399,cg22978941,cg12009719
0,1,0.023631,0.010635,0.022312,0.979811,0.023961,0.020120,0.115778,0.190787,0.038345,...,0.865247,0.026656,0.916954,0.913505,0.031580,0.041244,0.052317,0.022932,0.045476,0.586523
1,2,0.011070,0.008845,0.012105,0.980551,0.015579,0.014584,0.087679,0.145042,0.035543,...,0.775811,0.021784,0.776223,0.926893,0.019075,0.018032,0.027572,0.026038,0.022241,0.526541

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.5
3
Mean accuracy: 0.6
4
Mean accuracy: 0.5
5
Mean accuracy: 0.5
6
Mean accuracy: 0.5
7
Mean accuracy: 0.525
8
Mean accuracy: 0.5125
9
Mean accuracy: 0.55
10
Mean accuracy: 0.625
11
Mean accuracy: 0.6125
12
Mean accuracy: 0.475
13
Mean accuracy: 0.5875
14
Mean accuracy: 0.35
15
Mean accuracy: 0.5375
16
Mean accuracy: 0.55
17
Mean accuracy: 0.425
18
Mean accuracy: 0.575
19
Mean accuracy: 0.575
20
Mean accuracy: 0.5
21
Mean accuracy: 0.4875
22
Mean accuracy: 0.45
23
Mean accuracy: 0.5125
24
Mean accuracy: 0.45
25
Mean accuracy: 0.4
26
Mean accuracy: 0.5375
27
Mean accuracy: 0.65
28
Mean accuracy: 0.5
29
Mean accuracy: 0.475
30
Mean accuracy: 0.5375
31
Mean accuracy: 0.4875
32
Mean accuracy: 0.4875
33
Mean accuracy: 0.5125
34
Mean accuracy: 0.5375
35
Mean accuracy: 0.4875
36
Mean accuracy: 0.5
37
Mean accuracy: 0.475
38
Mean accuracy: 0.45
39
Mean accuracy: 0.4625
40
Mean accuracy: 0.575
41
Mean accuracy: 0.5125
42
Mean accuracy: 0.4625
43
Mean accuracy: 0.5
44
Mean accuracy: 0.475
45
Mean accuracy: 0.4875
46
Mean accuracy: 0.5375
47
Mean accuracy: 0.425
48
Mean accuracy: 0.4875
49
Mean accuracy: 0.5625
50
Mean accuracy: 0.5
51
Mean accuracy: 0.45
52
Mean accuracy: 0.4625
53
Mean accuracy: 0.625
54
Mean accuracy: 0.5
55
Mean accuracy: 0.5625
56
Mean accuracy: 0.45
57
Mean accuracy: 0.575
58
Mean accuracy: 0.5875
59
Mean accuracy: 0.5375
60
Mean accuracy: 0.5125
61
Mean accuracy: 0.4875
62
Mean accuracy: 0.55
63
Mean accuracy: 0.525
64
Mean accuracy: 0.5125
65
Mean accuracy: 0.475
66
Mean accuracy: 0.5125
67
Mean accuracy: 0.45
68
Mean accuracy: 0.4375
69
Mean accuracy: 0.525
70
Mean accuracy: 0.5125
71
Mean accuracy: 0.3375
72
Mean accuracy: 0.4875
73
Mean accuracy: 0.475
74
Mean accuracy: 0.55
75
Mean accuracy: 0.4125
76
Mean accuracy: 0.4625
77
Mean accuracy: 0.5375
78
Mean accuracy: 0.4625
79
Mean accuracy: 0.475
80
Mean accuracy: 0.425
81
Mean accuracy: 0.4375
82
Mean accuracy: 0.5375
83
Mean accuracy: 0.45
84
Mean accuracy: 0.625
85
Mean accuracy: 0.4875
86
Mean accuracy: 0.475
87
Mean accuracy: 0.525
88
Mean accuracy: 0.525
89
Mean accuracy: 0.4875
90
Mean accuracy: 0.4375
91
Mean accuracy: 0.525
92
Mean accuracy: 0.3875
93
Mean accuracy: 0.6125
94
Mean accuracy: 0.4875
95
Mean accuracy: 0.5625
96
Mean accuracy: 0.5125
97
Mean accuracy: 0.525
98
Mean accuracy: 0.55
99
Mean accuracy: 0.4375
100
Mean accuracy: 0.4125

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_AllCpG_100RF.csv", index = False)

0.5025

## RanFor 100 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(40))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4625
2
Mean accuracy: 0.4875
3
Mean accuracy: 0.425
4
Mean accuracy: 0.475
5
Mean accuracy: 0.45
6
Mean accuracy: 0.4875
7
Mean accuracy: 0.425
8
Mean accuracy: 0.45
9
Mean accuracy: 0.4875
10
Mean accuracy: 0.525
11
Mean accuracy: 0.5
12
Mean accuracy: 0.4375
13
Mean accuracy: 0.375
14
Mean accuracy: 0.625
15
Mean accuracy: 0.325
16
Mean accuracy: 0.4
17
Mean accuracy: 0.475
18
Mean accuracy: 0.6125
19
Mean accuracy: 0.6125
20
Mean accuracy: 0.5
21
Mean accuracy: 0.55
22
Mean accuracy: 0.575
23
Mean accuracy: 0.4
24
Mean accuracy: 0.5
25
Mean accuracy: 0.525
26
Mean accuracy: 0.5625
27
Mean accuracy: 0.5
28
Mean accuracy: 0.3625
29
Mean accuracy: 0.525
30
Mean accuracy: 0.4125
31
Mean accuracy: 0.5125
32
Mean accuracy: 0.35
33
Mean accuracy: 0.35
34
Mean accuracy: 0.5875
35
Mean accuracy: 0.3875
36
Mean accuracy: 0.5875
37
Mean accuracy: 0.4625
38
Mean accuracy: 0.575
39
Mean accuracy: 0.4875
40
Mean accuracy: 0.475
41
Mean accuracy: 0.5875
42
Mean accuracy: 0.5375
43
Mean accuracy: 0.5125
44
Mean accuracy: 0.6
45
Mean accuracy: 0.5875
46
Mean accuracy: 0.5125
47
Mean accuracy: 0.525
48
Mean accuracy: 0.4875
49
Mean accuracy: 0.5625
50
Mean accuracy: 0.5125
51
Mean accuracy: 0.5
52
Mean accuracy: 0.4375
53
Mean accuracy: 0.575
54
Mean accuracy: 0.525
55
Mean accuracy: 0.4
56
Mean accuracy: 0.45
57
Mean accuracy: 0.6375
58
Mean accuracy: 0.4375
59
Mean accuracy: 0.4875
60
Mean accuracy: 0.575
61
Mean accuracy: 0.4
62
Mean accuracy: 0.4125
63
Mean accuracy: 0.475
64
Mean accuracy: 0.425
65
Mean accuracy: 0.4375
66
Mean accuracy: 0.5125
67
Mean accuracy: 0.4625
68
Mean accuracy: 0.4375
69
Mean accuracy: 0.475
70
Mean accuracy: 0.55
71
Mean accuracy: 0.45
72
Mean accuracy: 0.55
73
Mean accuracy: 0.575
74
Mean accuracy: 0.45
75
Mean accuracy: 0.425
76
Mean accuracy: 0.3625
77
Mean accuracy: 0.3875
78
Mean accuracy: 0.5125
79
Mean accuracy: 0.575
80
Mean accuracy: 0.5375
81
Mean accuracy: 0.4
82
Mean accuracy: 0.4875
83
Mean accuracy: 0.425
84
Mean accuracy: 0.5
85
Mean accuracy: 0.4125
86
Mean accuracy: 0.475
87
Mean accuracy: 0.3875
88
Mean accuracy: 0.5
89
Mean accuracy: 0.475
90
Mean accuracy: 0.4375
91
Mean accuracy: 0.3875
92
Mean accuracy: 0.475
93
Mean accuracy: 0.425
94
Mean accuracy: 0.4875
95
Mean accuracy: 0.425
96
Mean accuracy: 0.5125
97
Mean accuracy: 0.35
98
Mean accuracy: 0.4125
99
Mean accuracy: 0.4125
100
Mean accuracy: 0.3875

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Rand50CpG_100RF.csv", index = False)

0.478625

## RanFor 100 times. Samples = 84

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(84, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(40))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.475
2
Mean accuracy: 0.4875
3
Mean accuracy: 0.525
4
Mean accuracy: 0.475
5
Mean accuracy: 0.4
6
Mean accuracy: 0.5375
7
Mean accuracy: 0.575
8
Mean accuracy: 0.5
9
Mean accuracy: 0.475
10
Mean accuracy: 0.575
11
Mean accuracy: 0.4875
12
Mean accuracy: 0.4125
13
Mean accuracy: 0.3875
14
Mean accuracy: 0.55
15
Mean accuracy: 0.3875
16
Mean accuracy: 0.525
17
Mean accuracy: 0.55
18
Mean accuracy: 0.6
19
Mean accuracy: 0.5625
20
Mean accuracy: 0.5
21
Mean accuracy: 0.5
22
Mean accuracy: 0.5875
23
Mean accuracy: 0.55
24
Mean accuracy: 0.525
25
Mean accuracy: 0.5125
26
Mean accuracy: 0.5
27
Mean accuracy: 0.4625
28
Mean accuracy: 0.525
29
Mean accuracy: 0.5375
30
Mean accuracy: 0.425
31
Mean accuracy: 0.3875
32
Mean accuracy: 0.3375
33
Mean accuracy: 0.3625
34
Mean accuracy: 0.5125
35
Mean accuracy: 0.3625
36
Mean accuracy: 0.55
37
Mean accuracy: 0.475
38
Mean accuracy: 0.5625
39
Mean accuracy: 0.6375
40
Mean accuracy: 0.4
41
Mean accuracy: 0.5125
42
Mean accuracy: 0.5375
43
Mean accuracy: 0.6125
44
Mean accuracy: 0.6
45
Mean accuracy: 0.5625
46
Mean accuracy: 0.4625
47
Mean accuracy: 0.5
48
Mean accuracy: 0.4625
49
Mean accuracy: 0.5625
50
Mean accuracy: 0.5125
51
Mean accuracy: 0.4375
52
Mean accuracy: 0.4625
53
Mean accuracy: 0.525
54
Mean accuracy: 0.4875
55
Mean accuracy: 0.375
56
Mean accuracy: 0.5125
57
Mean accuracy: 0.6375
58
Mean accuracy: 0.4125
59
Mean accuracy: 0.4875
60
Mean accuracy: 0.5625
61
Mean accuracy: 0.4625
62
Mean accuracy: 0.4
63
Mean accuracy: 0.4625
64
Mean accuracy: 0.4875
65
Mean accuracy: 0.4375
66
Mean accuracy: 0.475
67
Mean accuracy: 0.55
68
Mean accuracy: 0.3875
69
Mean accuracy: 0.5875
70
Mean accuracy: 0.5125
71
Mean accuracy: 0.45
72
Mean accuracy: 0.575
73
Mean accuracy: 0.5375
74
Mean accuracy: 0.4625
75
Mean accuracy: 0.4
76
Mean accuracy: 0.4375
77
Mean accuracy: 0.4875
78
Mean accuracy: 0.475
79
Mean accuracy: 0.5125
80
Mean accuracy: 0.4875
81
Mean accuracy: 0.3875
82
Mean accuracy: 0.475
83
Mean accuracy: 0.4
84
Mean accuracy: 0.5
85
Mean accuracy: 0.375
86
Mean accuracy: 0.45
87
Mean accuracy: 0.4125
88
Mean accuracy: 0.5625
89
Mean accuracy: 0.525
90
Mean accuracy: 0.55
91
Mean accuracy: 0.5
92
Mean accuracy: 0.425
93
Mean accuracy: 0.475
94
Mean accuracy: 0.3375
95
Mean accuracy: 0.45
96
Mean accuracy: 0.575
97
Mean accuracy: 0.325
98
Mean accuracy: 0.4625
99
Mean accuracy: 0.4375
100
Mean accuracy: 0.4

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Rand84CpG_100RF.csv", index = False)

0.4853750000000001

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Dream_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(160, 52)

,PATNO,APPRDX,cg07916323,cg25836061,cg12175949,cg11361387,cg24164157,cg04856117,cg12728623,cg02328545,...,cg00792230,cg20146792,cg04201744,cg07308881,cg11780096,cg14276366,cg25745663,cg19258682,cg02803589,cg21642591
0,3002,1,0.083608,0.880723,0.019869,0.826294,0.104010,0.585446,0.893565,0.975067,...,0.923448,0.783442,0.890941,0.792484,0.750843,0.878788,0.011783,0.025435,0.924742,0.031580
1,3008,2,0.052975,0.928010,0.016260,0.781571,0.078016,0.524912,0.907389,0.970260,...,0.897794,0.763527,0.802491,0.894306,0.593850,0.918059,0.014489,0.027770,0.944254,0.019075

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg07916323,cg25836061,cg12175949,cg11361387,cg24164157,cg04856117,cg12728623,cg02328545,cg17403609,...,cg00792230,cg20146792,cg04201744,cg07308881,cg11780096,cg14276366,cg25745663,cg19258682,cg02803589,cg21642591
0,1,0.083608,0.880723,0.019869,0.826294,0.104010,0.585446,0.893565,0.975067,0.143041,...,0.923448,0.783442,0.890941,0.792484,0.750843,0.878788,0.011783,0.025435,0.924742,0.031580
1,2,0.052975,0.928010,0.016260,0.781571,0.078016,0.524912,0.907389,0.970260,0.114913,...,0.897794,0.763527,0.802491,0.894306,0.593850,0.918059,0.014489,0.027770,0.944254,0.019075

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.625
3
Mean accuracy: 0.6875
4
Mean accuracy: 0.625
5
Mean accuracy: 0.65
6
Mean accuracy: 0.6875
7
Mean accuracy: 0.625
8
Mean accuracy: 0.7125
9
Mean accuracy: 0.6875
10
Mean accuracy: 0.6875
11
Mean accuracy: 0.675
12
Mean accuracy: 0.675
13
Mean accuracy: 0.6875
14
Mean accuracy: 0.65
15
Mean accuracy: 0.6875
16
Mean accuracy: 0.675
17
Mean accuracy: 0.5375
18
Mean accuracy: 0.7
19
Mean accuracy: 0.7125
20
Mean accuracy: 0.6125
21
Mean accuracy: 0.575
22
Mean accuracy: 0.6375
23
Mean accuracy: 0.625
24
Mean accuracy: 0.6125
25
Mean accuracy: 0.5875
26
Mean accuracy: 0.675
27
Mean accuracy: 0.675
28
Mean accuracy: 0.5625
29
Mean accuracy: 0.6125
30
Mean accuracy: 0.6125
31
Mean accuracy: 0.6375
32
Mean accuracy: 0.675
33
Mean accuracy: 0.65
34
Mean accuracy: 0.6875
35
Mean accuracy: 0.575
36
Mean accuracy: 0.6
37
Mean accuracy: 0.575
38
Mean accuracy: 0.5
39
Mean accuracy: 0.6625
40
Mean accuracy: 0.6875
41
Mean accuracy: 0.6375
42
Mean accuracy: 0.6375
43
Mean accuracy: 0.6625
44
Mean accuracy: 0.5125
45
Mean accuracy: 0.6375
46
Mean accuracy: 0.6
47
Mean accuracy: 0.5875
48
Mean accuracy: 0.6875
49
Mean accuracy: 0.65
50
Mean accuracy: 0.6
51
Mean accuracy: 0.5
52
Mean accuracy: 0.6625
53
Mean accuracy: 0.775
54
Mean accuracy: 0.65
55
Mean accuracy: 0.6625
56
Mean accuracy: 0.6875
57
Mean accuracy: 0.6125
58
Mean accuracy: 0.75
59
Mean accuracy: 0.7125
60
Mean accuracy: 0.65
61
Mean accuracy: 0.6
62
Mean accuracy: 0.6375
63
Mean accuracy: 0.6375
64
Mean accuracy: 0.65
65
Mean accuracy: 0.6
66
Mean accuracy: 0.675
67
Mean accuracy: 0.625
68
Mean accuracy: 0.675
69
Mean accuracy: 0.6625
70
Mean accuracy: 0.6625
71
Mean accuracy: 0.625
72
Mean accuracy: 0.6375
73
Mean accuracy: 0.6
74
Mean accuracy: 0.6875
75
Mean accuracy: 0.5875
76
Mean accuracy: 0.575
77
Mean accuracy: 0.65
78
Mean accuracy: 0.6
79
Mean accuracy: 0.6875
80
Mean accuracy: 0.575
81
Mean accuracy: 0.6125
82
Mean accuracy: 0.7125
83
Mean accuracy: 0.6
84
Mean accuracy: 0.7
85
Mean accuracy: 0.5875
86
Mean accuracy: 0.6
87
Mean accuracy: 0.5875
88
Mean accuracy: 0.625
89
Mean accuracy: 0.625
90
Mean accuracy: 0.6875
91
Mean accuracy: 0.6625
92
Mean accuracy: 0.55
93
Mean accuracy: 0.725
94
Mean accuracy: 0.6125
95
Mean accuracy: 0.6375
96
Mean accuracy: 0.6375
97
Mean accuracy: 0.6
98
Mean accuracy: 0.7125
99
Mean accuracy: 0.6875
100
Mean accuracy: 0.6

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Boruta50CpG_100RF.csv", index = False)

0.640125

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_Dream_Data.csv')
print(df.shape)
df.head(2)

(160, 52)

,PATNO,APPRDX,cg13875151,cg09411910,cg04234687,cg04201744,cg00489401,cg22978941,cg18563571,cg05486647,...,cg19412109,cg24242384,cg07790747,cg22933800,cg12720083,cg24899205,cg19145289,cg10497023,cg13423887,cg17475271
0,3002,1,0.851672,0.024118,0.897869,0.890941,0.278867,0.045476,0.025135,0.858764,...,0.173499,0.282943,0.902411,0.048301,0.897765,0.015106,0.045858,0.855497,0.869036,0.681465
1,3008,2,0.869677,0.253963,0.816340,0.802491,0.221893,0.022241,0.021044,0.910825,...,0.223806,0.446929,0.907982,0.025064,0.903884,0.014905,0.030579,0.862688,0.918289,0.539782

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg13875151,cg09411910,cg04234687,cg04201744,cg00489401,cg22978941,cg18563571,cg05486647,cg13175282,...,cg19412109,cg24242384,cg07790747,cg22933800,cg12720083,cg24899205,cg19145289,cg10497023,cg13423887,cg17475271
0,1,0.851672,0.024118,0.897869,0.890941,0.278867,0.045476,0.025135,0.858764,0.780041,...,0.173499,0.282943,0.902411,0.048301,0.897765,0.015106,0.045858,0.855497,0.869036,0.681465
1,2,0.869677,0.253963,0.816340,0.802491,0.221893,0.022241,0.021044,0.910825,0.792936,...,0.223806,0.446929,0.907982,0.025064,0.903884,0.014905,0.030579,0.862688,0.918289,0.539782

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.6625
3
Mean accuracy: 0.65
4
Mean accuracy: 0.725
5
Mean accuracy: 0.6125
6
Mean accuracy: 0.625
7
Mean accuracy: 0.625
8
Mean accuracy: 0.6
9
Mean accuracy: 0.625
10
Mean accuracy: 0.725
11
Mean accuracy: 0.6375
12
Mean accuracy: 0.575
13
Mean accuracy: 0.6625
14
Mean accuracy: 0.6
15
Mean accuracy: 0.6
16
Mean accuracy: 0.6125
17
Mean accuracy: 0.5125
18
Mean accuracy: 0.6625
19
Mean accuracy: 0.7125
20
Mean accuracy: 0.6375
21
Mean accuracy: 0.6125
22
Mean accuracy: 0.6
23
Mean accuracy: 0.625
24
Mean accuracy: 0.65
25
Mean accuracy: 0.575
26
Mean accuracy: 0.6
27
Mean accuracy: 0.7
28
Mean accuracy: 0.7
29
Mean accuracy: 0.6625
30
Mean accuracy: 0.725
31
Mean accuracy: 0.5375
32
Mean accuracy: 0.5875
33
Mean accuracy: 0.55
34
Mean accuracy: 0.7125
35
Mean accuracy: 0.6
36
Mean accuracy: 0.675
37
Mean accuracy: 0.6
38
Mean accuracy: 0.575
39
Mean accuracy: 0.625
40
Mean accuracy: 0.75
41
Mean accuracy: 0.6875
42
Mean accuracy: 0.575
43
Mean accuracy: 0.625
44
Mean accuracy: 0.6125
45
Mean accuracy: 0.65
46
Mean accuracy: 0.675
47
Mean accuracy: 0.625
48
Mean accuracy: 0.5875
49
Mean accuracy: 0.6625
50
Mean accuracy: 0.575
51
Mean accuracy: 0.575
52
Mean accuracy: 0.6125
53
Mean accuracy: 0.65
54
Mean accuracy: 0.6625
55
Mean accuracy: 0.675
56
Mean accuracy: 0.6875
57
Mean accuracy: 0.725
58
Mean accuracy: 0.75
59
Mean accuracy: 0.6625
60
Mean accuracy: 0.7
61
Mean accuracy: 0.6375
62
Mean accuracy: 0.675
63
Mean accuracy: 0.6875
64
Mean accuracy: 0.6375
65
Mean accuracy: 0.5875
66
Mean accuracy: 0.6125
67
Mean accuracy: 0.6125
68
Mean accuracy: 0.6375
69
Mean accuracy: 0.5875
70
Mean accuracy: 0.6875
71
Mean accuracy: 0.65
72
Mean accuracy: 0.625
73
Mean accuracy: 0.6125
74
Mean accuracy: 0.625
75
Mean accuracy: 0.675
76
Mean accuracy: 0.6125
77
Mean accuracy: 0.6375
78
Mean accuracy: 0.575
79
Mean accuracy: 0.575
80
Mean accuracy: 0.55
81
Mean accuracy: 0.575
82
Mean accuracy: 0.725
83
Mean accuracy: 0.6125
84
Mean accuracy: 0.7125
85
Mean accuracy: 0.6125
86
Mean accuracy: 0.575
87
Mean accuracy: 0.625
88
Mean accuracy: 0.65
89
Mean accuracy: 0.5875
90
Mean accuracy: 0.5625
91
Mean accuracy: 0.725
92
Mean accuracy: 0.5125
93
Mean accuracy: 0.7125
94
Mean accuracy: 0.6625
95
Mean accuracy: 0.6625
96
Mean accuracy: 0.575
97
Mean accuracy: 0.6125
98
Mean accuracy: 0.75
99
Mean accuracy: 0.675
100
Mean accuracy: 0.6

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_NMI50CpG_100RF.csv", index = False)

0.63525

## RanFor Top 50 Boruta + NMI 100 times. Samples = 84

In [19]:
df = pd.read_csv('Dream_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(160, 86)

,PATNO,APPRDX,cg13875151,cg09411910,cg04234687,cg04201744,cg00489401,cg22978941,cg18563571,cg05486647,...,cg03147723,cg16188532,cg11090759,cg09128059,cg07308881,cg11780096,cg14276366,cg25745663,cg02803589,cg21642591
0,3002,1,0.851672,0.024118,0.897869,0.890941,0.278867,0.045476,0.025135,0.858764,...,0.932444,0.038725,0.782961,0.884322,0.792484,0.750843,0.878788,0.011783,0.924742,0.031580
1,3008,2,0.869677,0.253963,0.816340,0.802491,0.221893,0.022241,0.021044,0.910825,...,0.883895,0.015116,0.670124,0.808195,0.894306,0.593850,0.918059,0.014489,0.944254,0.019075

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg13875151,cg09411910,cg04234687,cg04201744,cg00489401,cg22978941,cg18563571,cg05486647,cg13175282,...,cg03147723,cg16188532,cg11090759,cg09128059,cg07308881,cg11780096,cg14276366,cg25745663,cg02803589,cg21642591
0,1,0.851672,0.024118,0.897869,0.890941,0.278867,0.045476,0.025135,0.858764,0.780041,...,0.932444,0.038725,0.782961,0.884322,0.792484,0.750843,0.878788,0.011783,0.924742,0.031580
1,2,0.869677,0.253963,0.816340,0.802491,0.221893,0.022241,0.021044,0.910825,0.792936,...,0.883895,0.015116,0.670124,0.808195,0.894306,0.593850,0.918059,0.014489,0.944254,0.019075

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6875
2
Mean accuracy: 0.675
3
Mean accuracy: 0.6
4
Mean accuracy: 0.675
5
Mean accuracy: 0.6875
6
Mean accuracy: 0.675
7
Mean accuracy: 0.6
8
Mean accuracy: 0.5875
9
Mean accuracy: 0.6625
10
Mean accuracy: 0.7
11
Mean accuracy: 0.6625
12
Mean accuracy: 0.625
13
Mean accuracy: 0.675
14
Mean accuracy: 0.5375
15
Mean accuracy: 0.7375
16
Mean accuracy: 0.6625
17
Mean accuracy: 0.5625
18
Mean accuracy: 0.65
19
Mean accuracy: 0.675
20
Mean accuracy: 0.65
21
Mean accuracy: 0.6
22
Mean accuracy: 0.625
23
Mean accuracy: 0.65
24
Mean accuracy: 0.5875
25
Mean accuracy: 0.5875
26
Mean accuracy: 0.6625
27
Mean accuracy: 0.7125
28
Mean accuracy: 0.55
29
Mean accuracy: 0.625
30
Mean accuracy: 0.6125
31
Mean accuracy: 0.6125
32
Mean accuracy: 0.5625
33
Mean accuracy: 0.6375
34
Mean accuracy: 0.6625
35
Mean accuracy: 0.65
36
Mean accuracy: 0.5625
37
Mean accuracy: 0.65
38
Mean accuracy: 0.575
39
Mean accuracy: 0.6375
40
Mean accuracy: 0.6375
41
Mean accuracy: 0.6625
42
Mean accuracy: 0.65
43
Mean accuracy: 0.6
44
Mean accuracy: 0.5875
45
Mean accuracy: 0.6
46
Mean accuracy: 0.5875
47
Mean accuracy: 0.6375
48
Mean accuracy: 0.6375
49
Mean accuracy: 0.65
50
Mean accuracy: 0.625
51
Mean accuracy: 0.5875
52
Mean accuracy: 0.625
53
Mean accuracy: 0.725
54
Mean accuracy: 0.7
55
Mean accuracy: 0.6875
56
Mean accuracy: 0.6875
57
Mean accuracy: 0.675
58
Mean accuracy: 0.7
59
Mean accuracy: 0.675
60
Mean accuracy: 0.625
61
Mean accuracy: 0.575
62
Mean accuracy: 0.65
63
Mean accuracy: 0.625
64
Mean accuracy: 0.6
65
Mean accuracy: 0.55
66
Mean accuracy: 0.6375
67
Mean accuracy: 0.6
68
Mean accuracy: 0.625
69
Mean accuracy: 0.675
70
Mean accuracy: 0.675
71
Mean accuracy: 0.6
72
Mean accuracy: 0.5875
73
Mean accuracy: 0.65
74
Mean accuracy: 0.7125
75
Mean accuracy: 0.5875
76
Mean accuracy: 0.6625
77
Mean accuracy: 0.65
78
Mean accuracy: 0.6
79
Mean accuracy: 0.6375
80
Mean accuracy: 0.625
81
Mean accuracy: 0.5375
82
Mean accuracy: 0.675
83
Mean accuracy: 0.575
84
Mean accuracy: 0.7
85
Mean accuracy: 0.6625
86
Mean accuracy: 0.4875
87
Mean accuracy: 0.65
88
Mean accuracy: 0.675
89
Mean accuracy: 0.55
90
Mean accuracy: 0.625
91
Mean accuracy: 0.7
92
Mean accuracy: 0.525
93
Mean accuracy: 0.7375
94
Mean accuracy: 0.6375
95
Mean accuracy: 0.65
96
Mean accuracy: 0.625
97
Mean accuracy: 0.6125
98
Mean accuracy: 0.65
99
Mean accuracy: 0.7
100
Mean accuracy: 0.5625

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Dream_Top50sCpG84_100RF.csv", index = False)

0.6337499999999999