# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue
df = pd.read_csv('FatigueCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue
(307, 31218)

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Fatigue,cg17960051,cg06562372,cg04099454,...,cg15500865,cg10329418,cg18241308,cg04350520,cg04685170,cg20985067,cg08461772,cg25879118,cg07510163,ch.13.693633F
0,0,200991620021_R01C01,3001,2,1,1,1,0.019716,0.024434,0.895146,...,0.105174,0.262518,0.784256,0.886425,0.080717,0.814912,0.331552,0.916387,0.841837,0.036872
1,1,200973410167_R04C01,3007,2,1,1,1,0.020417,0.016055,0.882493,...,0.066103,0.210723,0.905081,0.882225,0.082907,0.906400,0.497660,0.915460,0.822889,0.039866
2,2,200973410167_R05C01,3010,2,1,1,1,0.020654,0.017736,0.927835,...,0.330337,0.310647,0.852778,0.876989,0.183659,0.917887,0.470535,0.894010,0.823575,0.036319

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDSP_Fatigue'], axis=1)
df1.head(2)

,APPRDX,cg17960051,cg06562372,cg04099454,cg18542829,cg04599912,cg15759056,cg16703576,cg00031165,cg26835636,...,cg15500865,cg10329418,cg18241308,cg04350520,cg04685170,cg20985067,cg08461772,cg25879118,cg07510163,ch.13.693633F
0,1,0.019716,0.024434,0.895146,0.024184,0.014927,0.012150,0.026345,0.078477,0.016245,...,0.105174,0.262518,0.784256,0.886425,0.080717,0.814912,0.331552,0.916387,0.841837,0.036872
1,1,0.020417,0.016055,0.882493,0.045616,0.021537,0.013626,0.032826,0.033160,0.018156,...,0.066103,0.210723,0.905081,0.882225,0.082907,0.906400,0.497660,0.915460,0.822889,0.039866

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.51
2
Mean accuracy: 0.48
3
Mean accuracy: 0.52
4
Mean accuracy: 0.5499999999999999
5
Mean accuracy: 0.45999999999999996
6
Mean accuracy: 0.54
7
Mean accuracy: 0.51
8
Mean accuracy: 0.55
9
Mean accuracy: 0.5000000000000001
10
Mean accuracy: 0.64
11
Mean accuracy: 0.52
12
Mean accuracy: 0.48
13
Mean accuracy: 0.4999999999999999
14
Mean accuracy: 0.59
15
Mean accuracy: 0.47000000000000003
16
Mean accuracy: 0.47999999999999987
17
Mean accuracy: 0.41
18
Mean accuracy: 0.48999999999999994
19
Mean accuracy: 0.52
20
Mean accuracy: 0.4999999999999999
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.55
23
Mean accuracy: 0.52
24
Mean accuracy: 0.6599999999999999
25
Mean accuracy: 0.55
26
Mean accuracy: 0.41999999999999993
27
Mean accuracy: 0.41
28
Mean accuracy: 0.54
29
Mean accuracy: 0.45
30
Mean accuracy: 0.5000000000000001
31
Mean accuracy: 0.51
32
Mean accuracy: 0.54
33
Mean accuracy: 0.42000000000000004
34
Mean accuracy: 0.55
35
Mean accuracy: 0.53
36
Mean accuracy: 0.47000000000000003
37
Mean accuracy: 0.52
38
Mean accuracy: 0.43
39
Mean accuracy: 0.4800000000000001
40
Mean accuracy: 0.55
41
Mean accuracy: 0.48999999999999994
42
Mean accuracy: 0.4699999999999999
43
Mean accuracy: 0.6199999999999999
44
Mean accuracy: 0.45999999999999996
45
Mean accuracy: 0.5399999999999999
46
Mean accuracy: 0.6
47
Mean accuracy: 0.4800000000000001
48
Mean accuracy: 0.5
49
Mean accuracy: 0.54
50
Mean accuracy: 0.6
51
Mean accuracy: 0.5
52
Mean accuracy: 0.4800000000000001
53
Mean accuracy: 0.53
54
Mean accuracy: 0.39999999999999997
55
Mean accuracy: 0.5
56
Mean accuracy: 0.44000000000000006
57
Mean accuracy: 0.41
58
Mean accuracy: 0.4800000000000001
59
Mean accuracy: 0.49000000000000005
60
Mean accuracy: 0.51
61
Mean accuracy: 0.51
62
Mean accuracy: 0.58
63
Mean accuracy: 0.38
64
Mean accuracy: 0.52
65
Mean accuracy: 0.51
66
Mean accuracy: 0.42000000000000004
67
Mean accuracy: 0.59
68
Mean accuracy: 0.4699999999999999
69
Mean accuracy: 0.4
70
Mean accuracy: 0.5
71
Mean accuracy: 0.5499999999999999
72
Mean accuracy: 0.42000000000000004
73
Mean accuracy: 0.5
74
Mean accuracy: 0.5499999999999999
75
Mean accuracy: 0.57
76
Mean accuracy: 0.52
77
Mean accuracy: 0.55
78
Mean accuracy: 0.53
79
Mean accuracy: 0.5100000000000001
80
Mean accuracy: 0.45
81
Mean accuracy: 0.52
82
Mean accuracy: 0.5
83
Mean accuracy: 0.62
84
Mean accuracy: 0.52
85
Mean accuracy: 0.44000000000000006
86
Mean accuracy: 0.6
87
Mean accuracy: 0.47000000000000003
88
Mean accuracy: 0.5
89
Mean accuracy: 0.5700000000000001
90
Mean accuracy: 0.5599999999999999
91
Mean accuracy: 0.5399999999999999
92
Mean accuracy: 0.4699999999999999
93
Mean accuracy: 0.4600000000000001
94
Mean accuracy: 0.44000000000000006
95
Mean accuracy: 0.53
96
Mean accuracy: 0.6000000000000001
97
Mean accuracy: 0.49000000000000005
98
Mean accuracy: 0.5599999999999999
99
Mean accuracy: 0.51
100
Mean accuracy: 0.4699999999999999

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_AllCpG_Male_100RF.csv", index = False)

0.5092000000000001

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.52
3
Mean accuracy: 0.51
4
Mean accuracy: 0.52
5
Mean accuracy: 0.5
6
Mean accuracy: 0.53
7
Mean accuracy: 0.4600000000000001
8
Mean accuracy: 0.5599999999999999
9
Mean accuracy: 0.51
10
Mean accuracy: 0.5
11
Mean accuracy: 0.49000000000000005
12
Mean accuracy: 0.54
13
Mean accuracy: 0.4800000000000001
14
Mean accuracy: 0.5700000000000001
15
Mean accuracy: 0.5000000000000001
16
Mean accuracy: 0.54
17
Mean accuracy: 0.4699999999999999
18
Mean accuracy: 0.5599999999999999
19
Mean accuracy: 0.57
20
Mean accuracy: 0.49000000000000005
21
Mean accuracy: 0.4
22
Mean accuracy: 0.6100000000000001
23
Mean accuracy: 0.55
24
Mean accuracy: 0.63
25
Mean accuracy: 0.4600000000000001
26
Mean accuracy: 0.49000000000000005
27
Mean accuracy: 0.53
28
Mean accuracy: 0.42000000000000004
29
Mean accuracy: 0.51
30
Mean accuracy: 0.48999999999999994
31
Mean accuracy: 0.45
32
Mean accuracy: 0.5199999999999999
33
Mean accuracy: 0.59
34
Mean accuracy: 0.5900000000000001
35
Mean accuracy: 0.43
36
Mean accuracy: 0.5199999999999999
37
Mean accuracy: 0.61
38
Mean accuracy: 0.64
39
Mean accuracy: 0.5599999999999999
40
Mean accuracy: 0.51
41
Mean accuracy: 0.47000000000000003
42
Mean accuracy: 0.59
43
Mean accuracy: 0.51
44
Mean accuracy: 0.42000000000000004
45
Mean accuracy: 0.5299999999999999
46
Mean accuracy: 0.53
47
Mean accuracy: 0.5700000000000001
48
Mean accuracy: 0.4699999999999999
49
Mean accuracy: 0.44000000000000006
50
Mean accuracy: 0.5399999999999999
51
Mean accuracy: 0.53
52
Mean accuracy: 0.45999999999999996
53
Mean accuracy: 0.38
54
Mean accuracy: 0.58
55
Mean accuracy: 0.42000000000000004
56
Mean accuracy: 0.54
57
Mean accuracy: 0.5800000000000001
58
Mean accuracy: 0.5900000000000001
59
Mean accuracy: 0.47000000000000003
60
Mean accuracy: 0.49000000000000005
61
Mean accuracy: 0.53
62
Mean accuracy: 0.45
63
Mean accuracy: 0.42000000000000004
64
Mean accuracy: 0.39
65
Mean accuracy: 0.5900000000000001
66
Mean accuracy: 0.6599999999999999
67
Mean accuracy: 0.47000000000000003
68
Mean accuracy: 0.5100000000000001
69
Mean accuracy: 0.5299999999999999
70
Mean accuracy: 0.42000000000000004
71
Mean accuracy: 0.43
72
Mean accuracy: 0.44000000000000006
73
Mean accuracy: 0.5
74
Mean accuracy: 0.6199999999999999
75
Mean accuracy: 0.47000000000000003
76
Mean accuracy: 0.48
77
Mean accuracy: 0.6
78
Mean accuracy: 0.53
79
Mean accuracy: 0.43
80
Mean accuracy: 0.45
81
Mean accuracy: 0.39
82
Mean accuracy: 0.52
83
Mean accuracy: 0.4999999999999999
84
Mean accuracy: 0.57
85
Mean accuracy: 0.52
86
Mean accuracy: 0.49000000000000005
87
Mean accuracy: 0.5799999999999998
88
Mean accuracy: 0.5599999999999999
89
Mean accuracy: 0.53
90
Mean accuracy: 0.4800000000000001
91
Mean accuracy: 0.48
92
Mean accuracy: 0.48
93
Mean accuracy: 0.6
94
Mean accuracy: 0.39
95
Mean accuracy: 0.59
96
Mean accuracy: 0.53
97
Mean accuracy: 0.43
98
Mean accuracy: 0.54
99
Mean accuracy: 0.41
100
Mean accuracy: 0.45

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_Rand50CpG_Male_100RF.csv", index = False)

0.5085000000000001

## RanFor 100 times. Samples = 98

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(98, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4
2
Mean accuracy: 0.53
3
Mean accuracy: 0.49000000000000005
4
Mean accuracy: 0.5900000000000001
5
Mean accuracy: 0.48
6
Mean accuracy: 0.51
7
Mean accuracy: 0.5599999999999999
8
Mean accuracy: 0.55
9
Mean accuracy: 0.5199999999999999
10
Mean accuracy: 0.4
11
Mean accuracy: 0.58
12
Mean accuracy: 0.4
13
Mean accuracy: 0.5
14
Mean accuracy: 0.51
15
Mean accuracy: 0.41
16
Mean accuracy: 0.5499999999999999
17
Mean accuracy: 0.5
18
Mean accuracy: 0.58
19
Mean accuracy: 0.5
20
Mean accuracy: 0.51
21
Mean accuracy: 0.51
22
Mean accuracy: 0.51
23
Mean accuracy: 0.43000000000000005
24
Mean accuracy: 0.6
25
Mean accuracy: 0.4600000000000001
26
Mean accuracy: 0.37000000000000005
27
Mean accuracy: 0.52
28
Mean accuracy: 0.45999999999999996
29
Mean accuracy: 0.53
30
Mean accuracy: 0.48999999999999994
31
Mean accuracy: 0.48
32
Mean accuracy: 0.5
33
Mean accuracy: 0.5900000000000001
34
Mean accuracy: 0.54
35
Mean accuracy: 0.47000000000000003
36
Mean accuracy: 0.5199999999999999
37
Mean accuracy: 0.53
38
Mean accuracy: 0.59
39
Mean accuracy: 0.5399999999999999
40
Mean accuracy: 0.51
41
Mean accuracy: 0.5
42
Mean accuracy: 0.57
43
Mean accuracy: 0.48999999999999994
44
Mean accuracy: 0.49000000000000005
45
Mean accuracy: 0.6499999999999999
46
Mean accuracy: 0.53
47
Mean accuracy: 0.52
48
Mean accuracy: 0.47000000000000003
49
Mean accuracy: 0.37
50
Mean accuracy: 0.5199999999999999
51
Mean accuracy: 0.5
52
Mean accuracy: 0.42000000000000004
53
Mean accuracy: 0.4999999999999999
54
Mean accuracy: 0.5199999999999999
55
Mean accuracy: 0.43000000000000005
56
Mean accuracy: 0.58
57
Mean accuracy: 0.45
58
Mean accuracy: 0.5
59
Mean accuracy: 0.47000000000000003
60
Mean accuracy: 0.45
61
Mean accuracy: 0.52
62
Mean accuracy: 0.48
63
Mean accuracy: 0.43
64
Mean accuracy: 0.38
65
Mean accuracy: 0.5700000000000001
66
Mean accuracy: 0.5799999999999998
67
Mean accuracy: 0.53
68
Mean accuracy: 0.54
69
Mean accuracy: 0.44000000000000006
70
Mean accuracy: 0.44000000000000006
71
Mean accuracy: 0.43999999999999995
72
Mean accuracy: 0.5
73
Mean accuracy: 0.45
74
Mean accuracy: 0.59
75
Mean accuracy: 0.52
76
Mean accuracy: 0.59
77
Mean accuracy: 0.5800000000000001
78
Mean accuracy: 0.48
79
Mean accuracy: 0.43999999999999995
80
Mean accuracy: 0.41
81
Mean accuracy: 0.45
82
Mean accuracy: 0.5399999999999999
83
Mean accuracy: 0.52
84
Mean accuracy: 0.4600000000000001
85
Mean accuracy: 0.49000000000000005
86
Mean accuracy: 0.44000000000000006
87
Mean accuracy: 0.47000000000000003
88
Mean accuracy: 0.4
89
Mean accuracy: 0.49000000000000005
90
Mean accuracy: 0.53
91
Mean accuracy: 0.5900000000000001
92
Mean accuracy: 0.5399999999999999
93
Mean accuracy: 0.5700000000000001
94
Mean accuracy: 0.4499999999999999
95
Mean accuracy: 0.5599999999999999
96
Mean accuracy: 0.45999999999999996
97
Mean accuracy: 0.38
98
Mean accuracy: 0.4600000000000001
99
Mean accuracy: 0.48
100
Mean accuracy: 0.48

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_Rand98CpG_Male_100RF.csv", index = False)

0.4981999999999999

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Fatigue_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 52)

,PATNO,APPRDX,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,...,cg12220605,cg12683454,cg16494828,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg25278660,cg25101936
0,3001,1,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,...,0.082447,0.023826,0.012698,0.906395,0.018032,0.812987,0.626620,0.874991,0.944035,0.560435
1,3007,1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,...,0.113486,0.028970,0.012574,0.902180,0.011688,0.897971,0.646688,0.866949,0.917977,0.599352

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,cg00057317,...,cg12220605,cg12683454,cg16494828,cg15171154,cg17001689,cg13468400,cg00226956,cg26442607,cg25278660,cg25101936
0,1,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,0.025983,...,0.082447,0.023826,0.012698,0.906395,0.018032,0.812987,0.626620,0.874991,0.944035,0.560435
1,1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,0.029269,...,0.113486,0.028970,0.012574,0.902180,0.011688,0.897971,0.646688,0.866949,0.917977,0.599352

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6799999999999999
2
Mean accuracy: 0.6599999999999999
3
Mean accuracy: 0.5700000000000001
4
Mean accuracy: 0.69
5
Mean accuracy: 0.63
6
Mean accuracy: 0.57
7
Mean accuracy: 0.71
8
Mean accuracy: 0.7100000000000001
9
Mean accuracy: 0.67
10
Mean accuracy: 0.7100000000000001
11
Mean accuracy: 0.65
12
Mean accuracy: 0.73
13
Mean accuracy: 0.6599999999999999
14
Mean accuracy: 0.7
15
Mean accuracy: 0.67
16
Mean accuracy: 0.62
17
Mean accuracy: 0.6599999999999999
18
Mean accuracy: 0.6499999999999999
19
Mean accuracy: 0.7100000000000002
20
Mean accuracy: 0.63
21
Mean accuracy: 0.64
22
Mean accuracy: 0.6599999999999999
23
Mean accuracy: 0.69
24
Mean accuracy: 0.6799999999999999
25
Mean accuracy: 0.74
26
Mean accuracy: 0.67
27
Mean accuracy: 0.67
28
Mean accuracy: 0.6699999999999999
29
Mean accuracy: 0.6100000000000001
30
Mean accuracy: 0.6399999999999999
31
Mean accuracy: 0.6199999999999999
32
Mean accuracy: 0.61
33
Mean accuracy: 0.6900000000000001
34
Mean accuracy: 0.6399999999999999
35
Mean accuracy: 0.7
36
Mean accuracy: 0.62
37
Mean accuracy: 0.73
38
Mean accuracy: 0.7699999999999999
39
Mean accuracy: 0.66
40
Mean accuracy: 0.67
41
Mean accuracy: 0.6
42
Mean accuracy: 0.6799999999999999
43
Mean accuracy: 0.7100000000000002
44
Mean accuracy: 0.68
45
Mean accuracy: 0.6799999999999999
46
Mean accuracy: 0.71
47
Mean accuracy: 0.69
48
Mean accuracy: 0.73
49
Mean accuracy: 0.65
50
Mean accuracy: 0.73
51
Mean accuracy: 0.71
52
Mean accuracy: 0.6699999999999999
53
Mean accuracy: 0.72
54
Mean accuracy: 0.6799999999999999
55
Mean accuracy: 0.65
56
Mean accuracy: 0.6399999999999999
57
Mean accuracy: 0.6799999999999999
58
Mean accuracy: 0.6599999999999999
59
Mean accuracy: 0.6599999999999999
60
Mean accuracy: 0.6399999999999999
61
Mean accuracy: 0.6699999999999999
62
Mean accuracy: 0.7
63
Mean accuracy: 0.72
64
Mean accuracy: 0.64
65
Mean accuracy: 0.6500000000000001
66
Mean accuracy: 0.5800000000000001
67
Mean accuracy: 0.72
68
Mean accuracy: 0.6399999999999999
69
Mean accuracy: 0.65
70
Mean accuracy: 0.72
71
Mean accuracy: 0.7
72
Mean accuracy: 0.63
73
Mean accuracy: 0.8
74
Mean accuracy: 0.66
75
Mean accuracy: 0.6
76
Mean accuracy: 0.66
77
Mean accuracy: 0.6100000000000001
78
Mean accuracy: 0.66
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.6799999999999999
81
Mean accuracy: 0.6699999999999999
82
Mean accuracy: 0.6799999999999999
83
Mean accuracy: 0.7499999999999999
84
Mean accuracy: 0.73
85
Mean accuracy: 0.58
86
Mean accuracy: 0.6199999999999999
87
Mean accuracy: 0.63
88
Mean accuracy: 0.6600000000000001
89
Mean accuracy: 0.6399999999999999
90
Mean accuracy: 0.66
91
Mean accuracy: 0.69
92
Mean accuracy: 0.59
93
Mean accuracy: 0.6
94
Mean accuracy: 0.6900000000000001
95
Mean accuracy: 0.61
96
Mean accuracy: 0.78
97
Mean accuracy: 0.67
98
Mean accuracy: 0.7
99
Mean accuracy: 0.6900000000000001
100
Mean accuracy: 0.7300000000000001

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_Boruta50CpG_Male_100RF.csv", index = False)

0.6696999999999999

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Fatigue_NMI_Top50_Male_Data.csv')
print(df.shape)
df.head(2)

(307, 51)

,APPRDX,cg03787486,cg04721711,cg05826330,cg02295000,cg09537714,cg15272034,cg24810998,cg16448286,cg12350196,...,cg16338844,cg06470379,cg15228932,cg25330422,cg17136384,cg10538320,cg16195239,cg25772658,cg09826790,cg19095988
0,1,0.035693,0.831384,0.015721,0.826318,0.726330,0.850724,0.734430,0.906014,0.407146,...,0.753305,0.775220,0.922735,0.713645,0.901962,0.032919,0.946079,0.911458,0.869270,0.757170
1,1,0.034595,0.875973,0.018893,0.805755,0.742926,0.837866,0.907744,0.890996,0.345335,...,0.769894,0.840957,0.916820,0.655201,0.872775,0.025642,0.905118,0.903341,0.914964,0.849966

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.7000000000000001
3
Mean accuracy: 0.64
4
Mean accuracy: 0.65
5
Mean accuracy: 0.65
6
Mean accuracy: 0.6900000000000001
7
Mean accuracy: 0.63
8
Mean accuracy: 0.7
9
Mean accuracy: 0.69
10
Mean accuracy: 0.6799999999999999
11
Mean accuracy: 0.61
12
Mean accuracy: 0.7
13
Mean accuracy: 0.6699999999999999
14
Mean accuracy: 0.7100000000000001
15
Mean accuracy: 0.6799999999999999
16
Mean accuracy: 0.6900000000000001
17
Mean accuracy: 0.71
18
Mean accuracy: 0.7300000000000001
19
Mean accuracy: 0.62
20
Mean accuracy: 0.62
21
Mean accuracy: 0.7699999999999999
22
Mean accuracy: 0.7500000000000001
23
Mean accuracy: 0.6699999999999999
24
Mean accuracy: 0.6799999999999999
25
Mean accuracy: 0.6199999999999999
26
Mean accuracy: 0.6
27
Mean accuracy: 0.6699999999999999
28
Mean accuracy: 0.76
29
Mean accuracy: 0.61
30
Mean accuracy: 0.6799999999999999
31
Mean accuracy: 0.65
32
Mean accuracy: 0.77
33
Mean accuracy: 0.63
34
Mean accuracy: 0.73
35
Mean accuracy: 0.66
36
Mean accuracy: 0.66
37
Mean accuracy: 0.6499999999999999
38
Mean accuracy: 0.63
39
Mean accuracy: 0.75
40
Mean accuracy: 0.66
41
Mean accuracy: 0.6200000000000001
42
Mean accuracy: 0.6199999999999999
43
Mean accuracy: 0.7
44
Mean accuracy: 0.74
45
Mean accuracy: 0.74
46
Mean accuracy: 0.71
47
Mean accuracy: 0.6900000000000001
48
Mean accuracy: 0.72
49
Mean accuracy: 0.79
50
Mean accuracy: 0.6799999999999999
51
Mean accuracy: 0.6799999999999999
52
Mean accuracy: 0.6300000000000001
53
Mean accuracy: 0.6699999999999999
54
Mean accuracy: 0.5999999999999999
55
Mean accuracy: 0.77
56
Mean accuracy: 0.6799999999999999
57
Mean accuracy: 0.62
58
Mean accuracy: 0.65
59
Mean accuracy: 0.6599999999999999
60
Mean accuracy: 0.63
61
Mean accuracy: 0.72
62
Mean accuracy: 0.72
63
Mean accuracy: 0.6299999999999999
64
Mean accuracy: 0.6599999999999999
65
Mean accuracy: 0.63
66
Mean accuracy: 0.5799999999999998
67
Mean accuracy: 0.7899999999999999
68
Mean accuracy: 0.76
69
Mean accuracy: 0.66
70
Mean accuracy: 0.71
71
Mean accuracy: 0.67
72
Mean accuracy: 0.6799999999999999
73
Mean accuracy: 0.74
74
Mean accuracy: 0.76
75
Mean accuracy: 0.67
76
Mean accuracy: 0.74
77
Mean accuracy: 0.69
78
Mean accuracy: 0.77
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.5900000000000001
81
Mean accuracy: 0.71
82
Mean accuracy: 0.6799999999999999
83
Mean accuracy: 0.7699999999999999
84
Mean accuracy: 0.62
85
Mean accuracy: 0.65
86
Mean accuracy: 0.67
87
Mean accuracy: 0.7
88
Mean accuracy: 0.6699999999999999
89
Mean accuracy: 0.7
90
Mean accuracy: 0.7100000000000001
91
Mean accuracy: 0.75
92
Mean accuracy: 0.65
93
Mean accuracy: 0.66
94
Mean accuracy: 0.7
95
Mean accuracy: 0.69
96
Mean accuracy: 0.7000000000000001
97
Mean accuracy: 0.7200000000000001
98
Mean accuracy: 0.77
99
Mean accuracy: 0.71
100
Mean accuracy: 0.69

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_NMI50CpG_Male_100RF.csv", index = False)

0.6844

## RanFor Top 50 Boruta + NMI 100 times. Samples = 98

In [18]:
df = pd.read_csv('Fatigue_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 100)

,PATNO,APPRDX,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,...,cg16338844,cg06470379,cg15228932,cg25330422,cg17136384,cg10538320,cg16195239,cg25772658,cg09826790,cg19095988
0,3001,1,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,...,0.753305,0.775220,0.922735,0.713645,0.901962,0.032919,0.946079,0.911458,0.869270,0.757170
1,3007,1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,...,0.769894,0.840957,0.916820,0.655201,0.872775,0.025642,0.905118,0.903341,0.914964,0.849966

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,cg00057317,...,cg16338844,cg06470379,cg15228932,cg25330422,cg17136384,cg10538320,cg16195239,cg25772658,cg09826790,cg19095988
0,1,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,0.025983,...,0.753305,0.775220,0.922735,0.713645,0.901962,0.032919,0.946079,0.911458,0.869270,0.757170
1,1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,0.029269,...,0.769894,0.840957,0.916820,0.655201,0.872775,0.025642,0.905118,0.903341,0.914964,0.849966

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7300000000000001
2
Mean accuracy: 0.72
3
Mean accuracy: 0.69
4
Mean accuracy: 0.7100000000000002
5
Mean accuracy: 0.7
6
Mean accuracy: 0.58
7
Mean accuracy: 0.74
8
Mean accuracy: 0.71
9
Mean accuracy: 0.78
10
Mean accuracy: 0.76
11
Mean accuracy: 0.62
12
Mean accuracy: 0.7
13
Mean accuracy: 0.67
14
Mean accuracy: 0.71
15
Mean accuracy: 0.73
16
Mean accuracy: 0.77
17
Mean accuracy: 0.6799999999999999
18
Mean accuracy: 0.7
19
Mean accuracy: 0.68
20
Mean accuracy: 0.62
21
Mean accuracy: 0.75
22
Mean accuracy: 0.75
23
Mean accuracy: 0.77
24
Mean accuracy: 0.6900000000000001
25
Mean accuracy: 0.7
26
Mean accuracy: 0.65
27
Mean accuracy: 0.71
28
Mean accuracy: 0.76
29
Mean accuracy: 0.58
30
Mean accuracy: 0.6899999999999998
31
Mean accuracy: 0.68
32
Mean accuracy: 0.6799999999999999
33
Mean accuracy: 0.7100000000000002
34
Mean accuracy: 0.71
35
Mean accuracy: 0.71
36
Mean accuracy: 0.7
37
Mean accuracy: 0.7
38
Mean accuracy: 0.7
39
Mean accuracy: 0.6799999999999999
40
Mean accuracy: 0.74
41
Mean accuracy: 0.65
42
Mean accuracy: 0.62
43
Mean accuracy: 0.78
44
Mean accuracy: 0.73
45
Mean accuracy: 0.73
46
Mean accuracy: 0.69
47
Mean accuracy: 0.74
48
Mean accuracy: 0.77
49
Mean accuracy: 0.76
50
Mean accuracy: 0.73
51
Mean accuracy: 0.72
52
Mean accuracy: 0.6900000000000001
53
Mean accuracy: 0.6799999999999999
54
Mean accuracy: 0.62
55
Mean accuracy: 0.6900000000000001
56
Mean accuracy: 0.75
57
Mean accuracy: 0.6900000000000001
58
Mean accuracy: 0.6299999999999999
59
Mean accuracy: 0.74
60
Mean accuracy: 0.69
61
Mean accuracy: 0.6900000000000002
62
Mean accuracy: 0.72
63
Mean accuracy: 0.5999999999999999
64
Mean accuracy: 0.73
65
Mean accuracy: 0.7499999999999999
66
Mean accuracy: 0.55
67
Mean accuracy: 0.7900000000000001
68
Mean accuracy: 0.78
69
Mean accuracy: 0.6500000000000001
70
Mean accuracy: 0.7100000000000001
71
Mean accuracy: 0.71
72
Mean accuracy: 0.68
73
Mean accuracy: 0.78
74
Mean accuracy: 0.7000000000000001
75
Mean accuracy: 0.6399999999999999
76
Mean accuracy: 0.6900000000000001
77
Mean accuracy: 0.67
78
Mean accuracy: 0.7300000000000001
79
Mean accuracy: 0.74
80
Mean accuracy: 0.6500000000000001
81
Mean accuracy: 0.6799999999999999
82
Mean accuracy: 0.6799999999999999
83
Mean accuracy: 0.79
84
Mean accuracy: 0.7000000000000001
85
Mean accuracy: 0.67
86
Mean accuracy: 0.7100000000000001
87
Mean accuracy: 0.74
88
Mean accuracy: 0.63
89
Mean accuracy: 0.6100000000000001
90
Mean accuracy: 0.6799999999999999
91
Mean accuracy: 0.76
92
Mean accuracy: 0.68
93
Mean accuracy: 0.65
94
Mean accuracy: 0.7
95
Mean accuracy: 0.6699999999999999
96
Mean accuracy: 0.7899999999999999
97
Mean accuracy: 0.71
98
Mean accuracy: 0.77
99
Mean accuracy: 0.73
100
Mean accuracy: 0.78

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Fatigue_Top50sCpG98_Male_100RF.csv", index = False)

0.7025