# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro
df = pd.read_csv('GastroCateg_Methylome_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro
(150, 36563)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Gastro_Category,cg03441945,cg21094410,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200973410159_R03C01,3000,2,2,0,69.1,4,0,0.892410,0.015756,...,0.874283,0.886970,0.903544,0.918856,0.869453,0.889527,0.853304,0.862654,0.929857,0.889773
1,200991620021_R03C01,3002,2,1,2,67.6,4,1,0.922532,0.013309,...,0.843815,0.861038,0.870442,0.896617,0.857573,0.832123,0.807071,0.846446,0.914551,0.874165

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','SCOPA_Gastro_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg03441945,cg21094410,cg22926093,cg25025609,cg16704802,cg06228737,cg00220102,cg19016494,cg12247200,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,2,0.892410,0.015756,0.011101,0.018491,0.020476,0.962482,0.677222,0.029560,0.929821,...,0.874283,0.886970,0.903544,0.918856,0.869453,0.889527,0.853304,0.862654,0.929857,0.889773
1,1,0.922532,0.013309,0.012393,0.018230,0.018660,0.924050,0.577240,0.019605,0.937446,...,0.843815,0.861038,0.870442,0.896617,0.857573,0.832123,0.807071,0.846446,0.914551,0.874165

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.5833333333333333
3
Mean accuracy: 0.3833333333333333
4
Mean accuracy: 0.5
5
Mean accuracy: 0.4833333333333333
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.4999999999999999
8
Mean accuracy: 0.6333333333333334
9
Mean accuracy: 0.55
10
Mean accuracy: 0.5333333333333333
11
Mean accuracy: 0.5166666666666666
12
Mean accuracy: 0.5333333333333333
13
Mean accuracy: 0.5166666666666666
14
Mean accuracy: 0.5
15
Mean accuracy: 0.4666666666666666
16
Mean accuracy: 0.4833333333333333
17
Mean accuracy: 0.5166666666666666
18
Mean accuracy: 0.6
19
Mean accuracy: 0.5833333333333333
20
Mean accuracy: 0.4999999999999999
21
Mean accuracy: 0.55
22
Mean accuracy: 0.5
23
Mean accuracy: 0.5666666666666667
24
Mean accuracy: 0.5333333333333334
25
Mean accuracy: 0.5833333333333333
26
Mean accuracy: 0.5666666666666667
27
Mean accuracy: 0.55
28
Mean accuracy: 0.5166666666666667
29
Mean accuracy: 0.5166666666666666
30
Mean accuracy: 0.4666666666666666
31
Mean accuracy: 0.65
32
Mean accuracy: 0.5333333333333333
33
Mean accuracy: 0.5833333333333333
34
Mean accuracy: 0.31666666666666665
35
Mean accuracy: 0.5666666666666667
36
Mean accuracy: 0.5000000000000001
37
Mean accuracy: 0.55
38
Mean accuracy: 0.4
39
Mean accuracy: 0.6
40
Mean accuracy: 0.5166666666666666
41
Mean accuracy: 0.43333333333333324
42
Mean accuracy: 0.5
43
Mean accuracy: 0.5499999999999999
44
Mean accuracy: 0.5166666666666666
45
Mean accuracy: 0.6
46
Mean accuracy: 0.5666666666666667
47
Mean accuracy: 0.6166666666666667
48
Mean accuracy: 0.5666666666666667
49
Mean accuracy: 0.5333333333333333
50
Mean accuracy: 0.55
51
Mean accuracy: 0.6333333333333333
52
Mean accuracy: 0.5333333333333332
53
Mean accuracy: 0.38333333333333336
54
Mean accuracy: 0.5000000000000001
55
Mean accuracy: 0.5833333333333333
56
Mean accuracy: 0.6166666666666666
57
Mean accuracy: 0.4833333333333333
58
Mean accuracy: 0.5
59
Mean accuracy: 0.55
60
Mean accuracy: 0.4666666666666666
61
Mean accuracy: 0.4833333333333333
62
Mean accuracy: 0.3833333333333333
63
Mean accuracy: 0.5833333333333334
64
Mean accuracy: 0.6166666666666666
65
Mean accuracy: 0.6166666666666666
66
Mean accuracy: 0.55
67
Mean accuracy: 0.5666666666666667
68
Mean accuracy: 0.4166666666666667
69
Mean accuracy: 0.5
70
Mean accuracy: 0.5833333333333334
71
Mean accuracy: 0.5333333333333334
72
Mean accuracy: 0.5333333333333333
73
Mean accuracy: 0.4
74
Mean accuracy: 0.5
75
Mean accuracy: 0.4666666666666667
76
Mean accuracy: 0.5333333333333333
77
Mean accuracy: 0.5333333333333333
78
Mean accuracy: 0.4666666666666667
79
Mean accuracy: 0.4833333333333334
80
Mean accuracy: 0.5333333333333332
81
Mean accuracy: 0.5666666666666667
82
Mean accuracy: 0.45
83
Mean accuracy: 0.5166666666666666
84
Mean accuracy: 0.5166666666666666
85
Mean accuracy: 0.55
86
Mean accuracy: 0.3833333333333333
87
Mean accuracy: 0.5166666666666666
88
Mean accuracy: 0.41666666666666663
89
Mean accuracy: 0.5499999999999999
90
Mean accuracy: 0.55
91
Mean accuracy: 0.4833333333333333
92
Mean accuracy: 0.4666666666666667
93
Mean accuracy: 0.5166666666666666
94
Mean accuracy: 0.5333333333333333
95
Mean accuracy: 0.55
96
Mean accuracy: 0.5666666666666667
97
Mean accuracy: 0.33333333333333337
98
Mean accuracy: 0.5166666666666666
99
Mean accuracy: 0.4666666666666666
100
Mean accuracy: 0.5166666666666667

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_AllCpG_Female_100RF.csv", index = False)

0.5196666666666666

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5333333333333333
2
Mean accuracy: 0.5333333333333334
3
Mean accuracy: 0.5999999999999999
4
Mean accuracy: 0.6333333333333333
5
Mean accuracy: 0.6666666666666667
6
Mean accuracy: 0.5166666666666666
7
Mean accuracy: 0.6666666666666667
8
Mean accuracy: 0.6833333333333333
9
Mean accuracy: 0.55
10
Mean accuracy: 0.55
11
Mean accuracy: 0.4666666666666667
12
Mean accuracy: 0.4999999999999999
13
Mean accuracy: 0.41666666666666663
14
Mean accuracy: 0.4666666666666666
15
Mean accuracy: 0.5166666666666667
16
Mean accuracy: 0.6166666666666667
17
Mean accuracy: 0.55
18
Mean accuracy: 0.6166666666666666
19
Mean accuracy: 0.4666666666666667
20
Mean accuracy: 0.5999999999999999
21
Mean accuracy: 0.4333333333333334
22
Mean accuracy: 0.5
23
Mean accuracy: 0.4666666666666666
24
Mean accuracy: 0.4333333333333333
25
Mean accuracy: 0.4833333333333333
26
Mean accuracy: 0.41666666666666663
27
Mean accuracy: 0.6833333333333333
28
Mean accuracy: 0.5
29
Mean accuracy: 0.5833333333333333
30
Mean accuracy: 0.4333333333333333
31
Mean accuracy: 0.5
32
Mean accuracy: 0.6666666666666667
33
Mean accuracy: 0.6000000000000001
34
Mean accuracy: 0.5666666666666667
35
Mean accuracy: 0.5
36
Mean accuracy: 0.5833333333333334
37
Mean accuracy: 0.5499999999999999
38
Mean accuracy: 0.5166666666666666
39
Mean accuracy: 0.65
40
Mean accuracy: 0.45
41
Mean accuracy: 0.45
42
Mean accuracy: 0.5666666666666667
43
Mean accuracy: 0.6500000000000001
44
Mean accuracy: 0.6
45
Mean accuracy: 0.41666666666666663
46
Mean accuracy: 0.4833333333333333
47
Mean accuracy: 0.5833333333333333
48
Mean accuracy: 0.5
49
Mean accuracy: 0.4833333333333333
50
Mean accuracy: 0.4666666666666667
51
Mean accuracy: 0.5166666666666667
52
Mean accuracy: 0.5166666666666667
53
Mean accuracy: 0.6166666666666666
54
Mean accuracy: 0.4999999999999999
55
Mean accuracy: 0.55
56
Mean accuracy: 0.6333333333333333
57
Mean accuracy: 0.7
58
Mean accuracy: 0.5166666666666667
59
Mean accuracy: 0.4333333333333333
60
Mean accuracy: 0.5166666666666666
61
Mean accuracy: 0.5166666666666666
62
Mean accuracy: 0.41666666666666663
63
Mean accuracy: 0.6
64
Mean accuracy: 0.5833333333333333
65
Mean accuracy: 0.6
66
Mean accuracy: 0.5833333333333333
67
Mean accuracy: 0.65
68
Mean accuracy: 0.4833333333333333
69
Mean accuracy: 0.4333333333333334
70
Mean accuracy: 0.55
71
Mean accuracy: 0.5166666666666666
72
Mean accuracy: 0.6333333333333334
73
Mean accuracy: 0.55
74
Mean accuracy: 0.6
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.4833333333333333
77
Mean accuracy: 0.4666666666666666
78
Mean accuracy: 0.6833333333333333
79
Mean accuracy: 0.6333333333333333
80
Mean accuracy: 0.5
81
Mean accuracy: 0.5833333333333333
82
Mean accuracy: 0.55
83
Mean accuracy: 0.5166666666666667
84
Mean accuracy: 0.5
85
Mean accuracy: 0.5166666666666666
86
Mean accuracy: 0.5166666666666667
87
Mean accuracy: 0.6
88
Mean accuracy: 0.5
89
Mean accuracy: 0.4166666666666667
90
Mean accuracy: 0.5499999999999999
91
Mean accuracy: 0.4666666666666666
92
Mean accuracy: 0.55
93
Mean accuracy: 0.5333333333333333
94
Mean accuracy: 0.5166666666666667
95
Mean accuracy: 0.25
96
Mean accuracy: 0.5
97
Mean accuracy: 0.5333333333333333
98
Mean accuracy: 0.5166666666666667
99
Mean accuracy: 0.6166666666666667
100
Mean accuracy: 0.5333333333333333

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_Rand50CpG_Female_100RF.csv", index = False)

0.5358333333333332

## RanFor 100 times. Samples = 97

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(97, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5499999999999999
2
Mean accuracy: 0.55
3
Mean accuracy: 0.6333333333333334
4
Mean accuracy: 0.6000000000000001
5
Mean accuracy: 0.6666666666666667
6
Mean accuracy: 0.5833333333333333
7
Mean accuracy: 0.6833333333333333
8
Mean accuracy: 0.7166666666666667
9
Mean accuracy: 0.6000000000000001
10
Mean accuracy: 0.4
11
Mean accuracy: 0.4333333333333333
12
Mean accuracy: 0.5333333333333333
13
Mean accuracy: 0.4666666666666667
14
Mean accuracy: 0.5166666666666666
15
Mean accuracy: 0.5
16
Mean accuracy: 0.4833333333333333
17
Mean accuracy: 0.5166666666666666
18
Mean accuracy: 0.6
19
Mean accuracy: 0.55
20
Mean accuracy: 0.5499999999999999
21
Mean accuracy: 0.5000000000000001
22
Mean accuracy: 0.5166666666666667
23
Mean accuracy: 0.5833333333333333
24
Mean accuracy: 0.5166666666666666
25
Mean accuracy: 0.4666666666666666
26
Mean accuracy: 0.4666666666666666
27
Mean accuracy: 0.55
28
Mean accuracy: 0.55
29
Mean accuracy: 0.4833333333333333
30
Mean accuracy: 0.4333333333333333
31
Mean accuracy: 0.5333333333333333
32
Mean accuracy: 0.6833333333333333
33
Mean accuracy: 0.6000000000000001
34
Mean accuracy: 0.5833333333333333
35
Mean accuracy: 0.45
36
Mean accuracy: 0.55
37
Mean accuracy: 0.5666666666666667
38
Mean accuracy: 0.55
39
Mean accuracy: 0.5833333333333333
40
Mean accuracy: 0.5499999999999999
41
Mean accuracy: 0.4333333333333333
42
Mean accuracy: 0.6
43
Mean accuracy: 0.6666666666666666
44
Mean accuracy: 0.5999999999999999
45
Mean accuracy: 0.4833333333333333
46
Mean accuracy: 0.55
47
Mean accuracy: 0.5166666666666666
48
Mean accuracy: 0.5666666666666667
49
Mean accuracy: 0.6
50
Mean accuracy: 0.36666666666666664
51
Mean accuracy: 0.4666666666666666
52
Mean accuracy: 0.5833333333333333
53
Mean accuracy: 0.5833333333333333
54
Mean accuracy: 0.4833333333333333
55
Mean accuracy: 0.5
56
Mean accuracy: 0.6166666666666667
57
Mean accuracy: 0.6833333333333333
58
Mean accuracy: 0.5166666666666667
59
Mean accuracy: 0.5
60
Mean accuracy: 0.5333333333333333
61
Mean accuracy: 0.6166666666666666
62
Mean accuracy: 0.4666666666666666
63
Mean accuracy: 0.5
64
Mean accuracy: 0.5333333333333333
65
Mean accuracy: 0.6333333333333334
66
Mean accuracy: 0.5999999999999999
67
Mean accuracy: 0.5
68
Mean accuracy: 0.4833333333333333
69
Mean accuracy: 0.5833333333333333
70
Mean accuracy: 0.6166666666666667
71
Mean accuracy: 0.65
72
Mean accuracy: 0.5333333333333333
73
Mean accuracy: 0.5166666666666667
74
Mean accuracy: 0.6166666666666666
75
Mean accuracy: 0.5333333333333333
76
Mean accuracy: 0.4666666666666667
77
Mean accuracy: 0.4666666666666667
78
Mean accuracy: 0.6
79
Mean accuracy: 0.6666666666666667
80
Mean accuracy: 0.5499999999999999
81
Mean accuracy: 0.55
82
Mean accuracy: 0.5166666666666666
83
Mean accuracy: 0.4666666666666667
84
Mean accuracy: 0.4166666666666667
85
Mean accuracy: 0.4333333333333333
86
Mean accuracy: 0.5
87
Mean accuracy: 0.5333333333333333
88
Mean accuracy: 0.5333333333333333
89
Mean accuracy: 0.4666666666666666
90
Mean accuracy: 0.5666666666666667
91
Mean accuracy: 0.5833333333333334
92
Mean accuracy: 0.4833333333333334
93
Mean accuracy: 0.5333333333333333
94
Mean accuracy: 0.4833333333333333
95
Mean accuracy: 0.2833333333333333
96
Mean accuracy: 0.4999999999999999
97
Mean accuracy: 0.4833333333333332
98
Mean accuracy: 0.4833333333333334
99
Mean accuracy: 0.5666666666666667
100
Mean accuracy: 0.5166666666666666

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_Rand97CpG_Female_100RF.csv", index = False)

0.5373333333333333

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Gastro_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg22908141,cg10726394,cg00800908,cg11868755,cg13934472,cg08696401,cg17497187,cg09236126,...,cg02386354,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665
0,3000,2,0.554475,0.022090,0.935055,0.743071,0.455235,0.858968,0.841456,0.973491,...,0.925231,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968
1,3002,1,0.593300,0.010402,0.921612,0.798193,0.448433,0.891080,0.821130,0.795918,...,0.927492,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg22908141,cg10726394,cg00800908,cg11868755,cg13934472,cg08696401,cg17497187,cg09236126,cg02694058,...,cg02386354,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665
0,2,0.554475,0.022090,0.935055,0.743071,0.455235,0.858968,0.841456,0.973491,0.198977,...,0.925231,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968
1,1,0.593300,0.010402,0.921612,0.798193,0.448433,0.891080,0.821130,0.795918,0.260704,...,0.927492,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.8333333333333334
2
Mean accuracy: 0.8
3
Mean accuracy: 0.7166666666666666
4
Mean accuracy: 0.7333333333333334
5
Mean accuracy: 0.7499999999999999
6
Mean accuracy: 0.65
7
Mean accuracy: 0.6666666666666667
8
Mean accuracy: 0.8333333333333333
9
Mean accuracy: 0.7166666666666666
10
Mean accuracy: 0.8
11
Mean accuracy: 0.7000000000000001
12
Mean accuracy: 0.7333333333333333
13
Mean accuracy: 0.7333333333333333
14
Mean accuracy: 0.6833333333333333
15
Mean accuracy: 0.7333333333333333
16
Mean accuracy: 0.7333333333333333
17
Mean accuracy: 0.7833333333333333
18
Mean accuracy: 0.7666666666666667
19
Mean accuracy: 0.7666666666666666
20
Mean accuracy: 0.7666666666666668
21
Mean accuracy: 0.7166666666666668
22
Mean accuracy: 0.7333333333333333
23
Mean accuracy: 0.85
24
Mean accuracy: 0.7666666666666667
25
Mean accuracy: 0.7166666666666667
26
Mean accuracy: 0.7
27
Mean accuracy: 0.7499999999999999
28
Mean accuracy: 0.7833333333333332
29
Mean accuracy: 0.7999999999999999
30
Mean accuracy: 0.65
31
Mean accuracy: 0.8166666666666667
32
Mean accuracy: 0.7833333333333333
33
Mean accuracy: 0.8
34
Mean accuracy: 0.75
35
Mean accuracy: 0.7833333333333334
36
Mean accuracy: 0.7333333333333334
37
Mean accuracy: 0.9333333333333333
38
Mean accuracy: 0.7000000000000001
39
Mean accuracy: 0.7333333333333332
40
Mean accuracy: 0.75
41
Mean accuracy: 0.7666666666666667
42
Mean accuracy: 0.8
43
Mean accuracy: 0.85
44
Mean accuracy: 0.7333333333333333
45
Mean accuracy: 0.6333333333333333
46
Mean accuracy: 0.6666666666666666
47
Mean accuracy: 0.7166666666666666
48
Mean accuracy: 0.7833333333333334
49
Mean accuracy: 0.7166666666666667
50
Mean accuracy: 0.7833333333333334
51
Mean accuracy: 0.7833333333333333
52
Mean accuracy: 0.7333333333333334
53
Mean accuracy: 0.75
54
Mean accuracy: 0.7
55
Mean accuracy: 0.7833333333333332
56
Mean accuracy: 0.7833333333333334
57
Mean accuracy: 0.8
58
Mean accuracy: 0.75
59
Mean accuracy: 0.8166666666666668
60
Mean accuracy: 0.8666666666666668
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6333333333333334
63
Mean accuracy: 0.7833333333333332
64
Mean accuracy: 0.85
65
Mean accuracy: 0.7833333333333334
66
Mean accuracy: 0.7666666666666667
67
Mean accuracy: 0.7666666666666666
68
Mean accuracy: 0.6666666666666666
69
Mean accuracy: 0.65
70
Mean accuracy: 0.85
71
Mean accuracy: 0.8
72
Mean accuracy: 0.7166666666666666
73
Mean accuracy: 0.7833333333333333
74
Mean accuracy: 0.7333333333333334
75
Mean accuracy: 0.8833333333333334
76
Mean accuracy: 0.8
77
Mean accuracy: 0.7166666666666666
78
Mean accuracy: 0.7000000000000001
79
Mean accuracy: 0.8
80
Mean accuracy: 0.7833333333333334
81
Mean accuracy: 0.8
82
Mean accuracy: 0.7666666666666667
83
Mean accuracy: 0.6500000000000001
84
Mean accuracy: 0.75
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.7333333333333334
87
Mean accuracy: 0.7666666666666668
88
Mean accuracy: 0.7666666666666667
89
Mean accuracy: 0.75
90
Mean accuracy: 0.7833333333333334
91
Mean accuracy: 0.8666666666666666
92
Mean accuracy: 0.7666666666666666
93
Mean accuracy: 0.7333333333333333
94
Mean accuracy: 0.8
95
Mean accuracy: 0.75
96
Mean accuracy: 0.8333333333333334
97
Mean accuracy: 0.6833333333333333
98
Mean accuracy: 0.7333333333333334
99
Mean accuracy: 0.6833333333333333
100
Mean accuracy: 0.7166666666666667

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_Boruta50CpG_Female_100RF.csv", index = False)

0.7553333333333331

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('NMI_Top50_Gastro_Methylome_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg20699097,cg12162792,cg14268784,cg10615711,cg18248290,cg21028211,cg22136726,cg19138499,...,cg13337307,cg04162413,cg17255878,cg14319793,cg16694455,cg25503540,cg00877661,cg27493785,cg02665154,cg02450124
0,3000,2,0.561816,0.855302,0.703388,0.673214,0.898221,0.038356,0.736337,0.920851,...,0.901061,0.852051,0.019036,0.882989,0.927031,0.785661,0.886459,0.446027,0.038008,0.929601
1,3002,1,0.522515,0.887998,0.752473,0.820693,0.913113,0.025499,0.699776,0.928081,...,0.876021,0.886179,0.034370,0.903554,0.907496,0.801061,0.861123,0.716900,0.035614,0.940119

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20699097,cg12162792,cg14268784,cg10615711,cg18248290,cg21028211,cg22136726,cg19138499,cg00332249,...,cg13337307,cg04162413,cg17255878,cg14319793,cg16694455,cg25503540,cg00877661,cg27493785,cg02665154,cg02450124
0,2,0.561816,0.855302,0.703388,0.673214,0.898221,0.038356,0.736337,0.920851,0.070986,...,0.901061,0.852051,0.019036,0.882989,0.927031,0.785661,0.886459,0.446027,0.038008,0.929601
1,1,0.522515,0.887998,0.752473,0.820693,0.913113,0.025499,0.699776,0.928081,0.082550,...,0.876021,0.886179,0.034370,0.903554,0.907496,0.801061,0.861123,0.716900,0.035614,0.940119

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7833333333333333
2
Mean accuracy: 0.75
3
Mean accuracy: 0.7833333333333334
4
Mean accuracy: 0.7000000000000001
5
Mean accuracy: 0.6833333333333333
6
Mean accuracy: 0.6
7
Mean accuracy: 0.6833333333333333
8
Mean accuracy: 0.8333333333333333
9
Mean accuracy: 0.8
10
Mean accuracy: 0.6333333333333333
11
Mean accuracy: 0.75
12
Mean accuracy: 0.6333333333333333
13
Mean accuracy: 0.7666666666666667
14
Mean accuracy: 0.7333333333333333
15
Mean accuracy: 0.8333333333333334
16
Mean accuracy: 0.8
17
Mean accuracy: 0.7333333333333333
18
Mean accuracy: 0.7166666666666667
19
Mean accuracy: 0.7166666666666666
20
Mean accuracy: 0.75
21
Mean accuracy: 0.7833333333333334
22
Mean accuracy: 0.7000000000000001
23
Mean accuracy: 0.7666666666666667
24
Mean accuracy: 0.7
25
Mean accuracy: 0.6666666666666667
26
Mean accuracy: 0.7000000000000001
27
Mean accuracy: 0.7166666666666666
28
Mean accuracy: 0.6833333333333333
29
Mean accuracy: 0.7999999999999999
30
Mean accuracy: 0.65
31
Mean accuracy: 0.7666666666666668
32
Mean accuracy: 0.7
33
Mean accuracy: 0.7166666666666667
34
Mean accuracy: 0.7333333333333333
35
Mean accuracy: 0.8
36
Mean accuracy: 0.7333333333333334
37
Mean accuracy: 0.6333333333333333
38
Mean accuracy: 0.7833333333333334
39
Mean accuracy: 0.6833333333333332
40
Mean accuracy: 0.7166666666666667
41
Mean accuracy: 0.6666666666666667
42
Mean accuracy: 0.65
43
Mean accuracy: 0.7833333333333333
44
Mean accuracy: 0.6833333333333333
45
Mean accuracy: 0.7666666666666666
46
Mean accuracy: 0.7999999999999999
47
Mean accuracy: 0.7166666666666667
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.6333333333333334
50
Mean accuracy: 0.75
51
Mean accuracy: 0.7999999999999999
52
Mean accuracy: 0.7166666666666666
53
Mean accuracy: 0.6833333333333333
54
Mean accuracy: 0.65
55
Mean accuracy: 0.7333333333333333
56
Mean accuracy: 0.6833333333333333
57
Mean accuracy: 0.6500000000000001
58
Mean accuracy: 0.7
59
Mean accuracy: 0.8166666666666668
60
Mean accuracy: 0.6666666666666666
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6499999999999999
63
Mean accuracy: 0.7166666666666667
64
Mean accuracy: 0.7166666666666666
65
Mean accuracy: 0.7666666666666667
66
Mean accuracy: 0.7500000000000001
67
Mean accuracy: 0.75
68
Mean accuracy: 0.7166666666666666
69
Mean accuracy: 0.6666666666666666
70
Mean accuracy: 0.7333333333333334
71
Mean accuracy: 0.7166666666666666
72
Mean accuracy: 0.7333333333333333
73
Mean accuracy: 0.7666666666666667
74
Mean accuracy: 0.7833333333333333
75
Mean accuracy: 0.7166666666666667
76
Mean accuracy: 0.7833333333333333
77
Mean accuracy: 0.7000000000000001
78
Mean accuracy: 0.7333333333333334
79
Mean accuracy: 0.7166666666666667
80
Mean accuracy: 0.7
81
Mean accuracy: 0.7
82
Mean accuracy: 0.75
83
Mean accuracy: 0.7166666666666667
84
Mean accuracy: 0.7666666666666666
85
Mean accuracy: 0.6666666666666666
86
Mean accuracy: 0.6333333333333333
87
Mean accuracy: 0.6666666666666667
88
Mean accuracy: 0.7
89
Mean accuracy: 0.6500000000000001
90
Mean accuracy: 0.7833333333333333
91
Mean accuracy: 0.6666666666666666
92
Mean accuracy: 0.7
93
Mean accuracy: 0.8
94
Mean accuracy: 0.7166666666666667
95
Mean accuracy: 0.7
96
Mean accuracy: 0.7833333333333334
97
Mean accuracy: 0.7
98
Mean accuracy: 0.6833333333333332
99
Mean accuracy: 0.5833333333333333
100
Mean accuracy: 0.75

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_NMI50CpG_Female_100RF.csv", index = False)

0.7196666666666667

## RanFor Top 50 Boruta + NMI 100 times. Samples = 97

In [19]:
df = pd.read_csv('Gastro_Top50sMerge_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 99)

,PATNO,APPRDX,cg20699097,cg12162792,cg14268784,cg10615711,cg18248290,cg21028211,cg22136726,cg19138499,...,cg02386354,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665
0,3000,2,0.561816,0.855302,0.703388,0.673214,0.898221,0.038356,0.736337,0.920851,...,0.925231,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968
1,3002,1,0.522515,0.887998,0.752473,0.820693,0.913113,0.025499,0.699776,0.928081,...,0.927492,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20699097,cg12162792,cg14268784,cg10615711,cg18248290,cg21028211,cg22136726,cg19138499,cg00332249,...,cg02386354,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665
0,2,0.561816,0.855302,0.703388,0.673214,0.898221,0.038356,0.736337,0.920851,0.070986,...,0.925231,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968
1,1,0.522515,0.887998,0.752473,0.820693,0.913113,0.025499,0.699776,0.928081,0.082550,...,0.927492,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333334
2
Mean accuracy: 0.75
3
Mean accuracy: 0.7833333333333333
4
Mean accuracy: 0.7333333333333333
5
Mean accuracy: 0.75
6
Mean accuracy: 0.6833333333333333
7
Mean accuracy: 0.6833333333333333
8
Mean accuracy: 0.85
9
Mean accuracy: 0.8
10
Mean accuracy: 0.7666666666666667
11
Mean accuracy: 0.75
12
Mean accuracy: 0.6833333333333332
13
Mean accuracy: 0.75
14
Mean accuracy: 0.6666666666666666
15
Mean accuracy: 0.8
16
Mean accuracy: 0.75
17
Mean accuracy: 0.8
18
Mean accuracy: 0.8166666666666668
19
Mean accuracy: 0.7500000000000001
20
Mean accuracy: 0.7333333333333333
21
Mean accuracy: 0.8333333333333334
22
Mean accuracy: 0.7833333333333334
23
Mean accuracy: 0.8666666666666666
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7333333333333333
26
Mean accuracy: 0.7666666666666667
27
Mean accuracy: 0.7
28
Mean accuracy: 0.8333333333333334
29
Mean accuracy: 0.7166666666666667
30
Mean accuracy: 0.6333333333333333
31
Mean accuracy: 0.7833333333333334
32
Mean accuracy: 0.7999999999999999
33
Mean accuracy: 0.8166666666666668
34
Mean accuracy: 0.7333333333333333
35
Mean accuracy: 0.8166666666666668
36
Mean accuracy: 0.75
37
Mean accuracy: 0.85
38
Mean accuracy: 0.7
39
Mean accuracy: 0.85
40
Mean accuracy: 0.7333333333333334
41
Mean accuracy: 0.7
42
Mean accuracy: 0.65
43
Mean accuracy: 0.7666666666666667
44
Mean accuracy: 0.7833333333333334
45
Mean accuracy: 0.75
46
Mean accuracy: 0.7666666666666667
47
Mean accuracy: 0.7499999999999999
48
Mean accuracy: 0.7
49
Mean accuracy: 0.6333333333333333
50
Mean accuracy: 0.7666666666666666
51
Mean accuracy: 0.8
52
Mean accuracy: 0.6666666666666667
53
Mean accuracy: 0.7166666666666666
54
Mean accuracy: 0.7333333333333334
55
Mean accuracy: 0.7166666666666666
56
Mean accuracy: 0.7500000000000001
57
Mean accuracy: 0.7833333333333333
58
Mean accuracy: 0.7
59
Mean accuracy: 0.85
60
Mean accuracy: 0.7666666666666667
61
Mean accuracy: 0.7166666666666666
62
Mean accuracy: 0.75
63
Mean accuracy: 0.7500000000000001
64
Mean accuracy: 0.7666666666666667
65
Mean accuracy: 0.7333333333333334
66
Mean accuracy: 0.7666666666666667
67
Mean accuracy: 0.7999999999999999
68
Mean accuracy: 0.7333333333333333
69
Mean accuracy: 0.6666666666666667
70
Mean accuracy: 0.7666666666666666
71
Mean accuracy: 0.7833333333333333
72
Mean accuracy: 0.7666666666666666
73
Mean accuracy: 0.85
74
Mean accuracy: 0.8333333333333333
75
Mean accuracy: 0.85
76
Mean accuracy: 0.7833333333333334
77
Mean accuracy: 0.6833333333333333
78
Mean accuracy: 0.7666666666666666
79
Mean accuracy: 0.7833333333333334
80
Mean accuracy: 0.8166666666666667
81
Mean accuracy: 0.7333333333333333
82
Mean accuracy: 0.7666666666666666
83
Mean accuracy: 0.7000000000000001
84
Mean accuracy: 0.7666666666666666
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.7666666666666667
87
Mean accuracy: 0.6666666666666666
88
Mean accuracy: 0.6499999999999999
89
Mean accuracy: 0.7333333333333334
90
Mean accuracy: 0.7999999999999999
91
Mean accuracy: 0.7833333333333333
92
Mean accuracy: 0.7333333333333334
93
Mean accuracy: 0.7833333333333334
94
Mean accuracy: 0.7666666666666666
95
Mean accuracy: 0.6833333333333333
96
Mean accuracy: 0.7666666666666667
97
Mean accuracy: 0.7166666666666666
98
Mean accuracy: 0.7666666666666666
99
Mean accuracy: 0.5999999999999999
100
Mean accuracy: 0.6500000000000001

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Gastro_Top50sCpG97_Female_100RF.csv", index = False)

0.7506666666666668