# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## NMI

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
df = pd.read_csv('Top50NMI_Gastro_Data.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
(458, 52)

,PATNO,APPRDX,cg10783204,cg14547519,cg09879107,cg23584714,cg18764107,cg11670533,cg09347135,cg02449892,...,cg12036621,cg01575096,cg08522144,cg14719352,cg12520249,cg13196143,cg23777848,cg12979803,cg16964348,cg20516176
0,3000,2,0.709340,0.918605,0.621822,0.837783,0.042191,0.849763,0.502712,0.879576,...,0.042321,0.045783,0.930074,0.789685,0.916357,0.596177,0.015398,0.825014,0.021578,0.945058
1,3001,1,0.585492,0.900845,0.727246,0.776498,0.024068,0.790524,0.403945,0.807121,...,0.030171,0.056810,0.893691,0.744240,0.914708,0.521505,0.020775,0.693402,0.021671,0.910851
2,3002,1,0.634452,0.928623,0.789017,0.883978,0.039690,0.863616,0.429614,0.816680,...,0.030208,0.069176,0.916326,0.762025,0.911989,0.577875,0.015632,0.854017,0.029541,0.937305

In [3]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg10783204,cg14547519,cg09879107,cg23584714,cg18764107,cg11670533,cg09347135,cg02449892,cg21040417,...,cg12036621,cg01575096,cg08522144,cg14719352,cg12520249,cg13196143,cg23777848,cg12979803,cg16964348,cg20516176
0,2,0.709340,0.918605,0.621822,0.837783,0.042191,0.849763,0.502712,0.879576,0.896629,...,0.042321,0.045783,0.930074,0.789685,0.916357,0.596177,0.015398,0.825014,0.021578,0.945058
1,1,0.585492,0.900845,0.727246,0.776498,0.024068,0.790524,0.403945,0.807121,0.902297,...,0.030171,0.056810,0.893691,0.744240,0.914708,0.521505,0.020775,0.693402,0.021671,0.910851

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
print(dframe1.head(2))
dframe1.to_csv ("Gastro_NMICpG_100RF.csv")

   Accuracy   Std_Dev
0     0.669  0.100444
1     0.684  0.086856

## Boruta

In [6]:
df = pd.read_csv('Top50Boruta_Gastro_Data.csv')
print(df.shape)
df.head(3)

(458, 52)

,PATNO,APPRDX,cg16199144,cg21921473,cg25774148,cg04926619,cg26574240,cg12510028,cg17528967,cg07333862,...,cg00875272,ch.22.78028F,cg20433531,cg06734098,cg18768299,cg17610751,cg08629043,cg13843366,cg20439252,cg15422644
0,3000,2,0.033485,0.807672,0.940005,0.627342,0.922368,0.037114,0.869009,0.237619,...,0.032753,0.031958,0.063412,0.340984,0.912360,0.176539,0.673258,0.803483,0.118892,0.939521
1,3001,1,0.027345,0.832439,0.915349,0.632705,0.931428,0.029810,0.808116,0.258808,...,0.026473,0.032447,0.044361,0.050031,0.901572,0.186005,0.616947,0.727028,0.190696,0.912127
2,3002,1,0.033471,0.906036,0.873491,0.655657,0.914059,0.025101,0.854703,0.036358,...,0.019888,0.026469,0.047992,0.182685,0.922993,0.147002,0.630068,0.744083,0.146932,0.936499

In [7]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16199144,cg21921473,cg25774148,cg04926619,cg26574240,cg12510028,cg17528967,cg07333862,cg14841337,...,cg00875272,ch.22.78028F,cg20433531,cg06734098,cg18768299,cg17610751,cg08629043,cg13843366,cg20439252,cg15422644
0,2,0.033485,0.807672,0.940005,0.627342,0.922368,0.037114,0.869009,0.237619,0.027298,...,0.032753,0.031958,0.063412,0.340984,0.912360,0.176539,0.673258,0.803483,0.118892,0.939521
1,1,0.027345,0.832439,0.915349,0.632705,0.931428,0.029810,0.808116,0.258808,0.021279,...,0.026473,0.032447,0.044361,0.050031,0.901572,0.186005,0.616947,0.727028,0.190696,0.912127

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
print(dframe1.head(2))
dframe1.to_csv ("Gastro_BorutaCpG_100RF.csv")

   Accuracy   Std_Dev
0     0.662  0.098265
1     0.661  0.101139

## BorutaR

In [10]:
df = pd.read_csv('BorutaR_Gastro_CpG.csv')
print(df.shape)
df.head(3)

(458, 3)

   PATNO  APPRDX  cg06308537
0   3000       2    0.037431
1   3001       1    0.052550
2   3002       1    0.025931

In [11]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

   APPRDX  cg06308537
0       2    0.037431
1       1    0.052550

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
print(dframe1.head(2))
dframe1.to_csv ("Gastro_BorutaRCpG_100RF.csv")

   Accuracy   Std_Dev
0     0.488  0.116859
1     0.568  0.121145

## Common

In [15]:
df = pd.read_csv('Common1_Gastro_Data.csv')
print(df.shape)
df.head(3)

(458, 3)

   PATNO  APPRDX  cg21921473
0   3000       2    0.807672
1   3001       1    0.832439
2   3002       1    0.906036

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

   APPRDX  cg21921473
0       2    0.807672
1       1    0.832439

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
print(dframe1.head(2))
dframe1.to_csv ("Gastro_Common10CpG_100RF.csv")

   Accuracy   Std_Dev
0     0.573  0.114547
1     0.524  0.095520