# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## NMI

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
df = pd.read_csv('Top50NMI_Hopkins_Data.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
(110, 52)

,PATNO,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,...,cg03719978,cg26942930,cg22877851,cg02853115,cg15617032,cg04891959,cg14165900,cg10146744,cg01331540,cg16537245
0,3010,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,...,0.906544,0.868391,0.839169,0.747346,0.532319,0.022596,0.941737,0.844034,0.875255,0.036801
1,3024,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,...,0.931591,0.848535,0.845497,0.955143,0.734806,0.033186,0.901938,0.881333,0.921641,0.020410
2,3029,2,0.919624,0.045212,0.640599,0.036747,0.816968,0.024122,0.635525,0.015887,...,0.885020,0.860161,0.828395,0.885222,0.680317,0.021231,0.922412,0.902007,0.897698,0.030477

In [3]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,cg23751761,...,cg03719978,cg26942930,cg22877851,cg02853115,cg15617032,cg04891959,cg14165900,cg10146744,cg01331540,cg16537245
0,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,0.782428,...,0.906544,0.868391,0.839169,0.747346,0.532319,0.022596,0.941737,0.844034,0.875255,0.036801
1,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,0.770864,...,0.931591,0.848535,0.845497,0.955143,0.734806,0.033186,0.901938,0.881333,0.921641,0.020410

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
print(dframe1.head(2))
dframe1.to_csv ("Hopkins_NMICpG_100RF.csv")

   Accuracy   Std_Dev
0  0.733333  0.141421
1  0.730000  0.162925

## Boruta

In [6]:
df = pd.read_csv('Top50Boruta_Hopkins_Data.csv')
print(df.shape)
df.head(3)

(110, 52)

,PATNO,APPRDX,cg03616148,cg00314622,cg04922955,cg21620535,cg18546840,cg27098574,cg00292662,cg18338293,...,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg07804122,cg09445727
0,3010,1,0.485398,0.732007,0.927871,0.038450,0.878826,0.717206,0.037142,0.838745,...,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.033899,0.032773
1,3024,1,0.795923,0.703085,0.925763,0.033025,0.873100,0.021367,0.051989,0.835744,...,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.041293,0.020563
2,3029,2,0.669980,0.696370,0.929261,0.045212,0.808641,0.797809,0.056523,0.831346,...,0.020411,0.852104,0.826679,0.010944,0.835237,0.033223,0.031806,0.090989,0.047708,0.022299

In [7]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg03616148,cg00314622,cg04922955,cg21620535,cg18546840,cg27098574,cg00292662,cg18338293,cg06584619,...,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg07804122,cg09445727
0,1,0.485398,0.732007,0.927871,0.038450,0.878826,0.717206,0.037142,0.838745,0.011745,...,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.033899,0.032773
1,1,0.795923,0.703085,0.925763,0.033025,0.873100,0.021367,0.051989,0.835744,0.011330,...,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.041293,0.020563

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
print(dframe1.head(2))
dframe1.to_csv ("Hopkins_BorutaCpG_100RF.csv")

   Accuracy   Std_Dev
0  0.706667  0.154776
1  0.640000  0.200998

## BorutaR

In [10]:
df = pd.read_csv('BorutaR_Hopkins_Male.csv')
print(df.shape)
df.head(3)

(110, 8)

,PATNO,APPRDX,cg14123992,cg21228068,cg23867254,cg11489262,cg06947206,cg00314622
0,3010,1,0.814368,0.549556,0.650420,0.083984,0.011422,0.732007
1,3024,1,0.810330,0.903135,0.664160,0.090219,0.007042,0.703085
2,3054,1,0.824314,0.909872,0.602515,0.089156,0.008952,0.799739

In [11]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg14123992,cg21228068,cg23867254,cg11489262,cg06947206,cg00314622
0,1,0.814368,0.549556,0.65042,0.083984,0.011422,0.732007
1,1,0.810330,0.903135,0.66416,0.090219,0.007042,0.703085

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
print(dframe1.head(2))
dframe1.to_csv ("Hopkins_BorutaRCpG_100RF.csv")

   Accuracy   Std_Dev
0  0.753333  0.160693
1  0.596667  0.223830

## Common

In [15]:
df = pd.read_csv('Common10_Hopkins_Data_Male.csv')
print(df.shape)
df.head(3)

(110, 12)

,PATNO,APPRDX,cg03616148,cg00314622,cg21620535,cg03567838,cg04891959,cg07804122,cg21228068,cg23867254,cg11489262,cg06947206
0,3010,1,0.485398,0.732007,0.038450,0.866703,0.022596,0.033899,0.549556,0.650420,0.083984,0.011422
1,3024,1,0.795923,0.703085,0.033025,0.841374,0.033186,0.041293,0.903135,0.664160,0.090219,0.007042
2,3029,2,0.669980,0.696370,0.045212,0.854349,0.021231,0.047708,0.905122,0.553096,0.090989,0.010944

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg03616148,cg00314622,cg21620535,cg03567838,cg04891959,cg07804122,cg21228068,cg23867254,cg11489262,cg06947206
0,1,0.485398,0.732007,0.038450,0.866703,0.022596,0.033899,0.549556,0.65042,0.083984,0.011422
1,1,0.795923,0.703085,0.033025,0.841374,0.033186,0.041293,0.903135,0.66416,0.090219,0.007042

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        dataset = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 1)
        cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=5, random_state=1)
        n_scores = cross_val_score(classifier, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
        dframe1 = dframe1.append({'Accuracy': mean(n_scores), 'Std_Dev': std(n_scores)}, ignore_index=True)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
print(dframe1.head(2))
dframe1.to_csv ("Hopkins_Male_Common10CpG_100RF.csv")

   Accuracy   Std_Dev
0  0.806667  0.142829
1  0.760000  0.203197