# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
df = pd.read_csv('Hopkins_with_MethylomeDetails_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
(110, 4351)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,Category,cg02440279,cg02131967,...,cg08990112,cg24987754,cg01108057,cg11424763,cg08584264,cg02750308,cg00382771,cg13510423,cg22194345,cg13669748
0,200973410167_R05C01,3010,1,1,2,47.0,2,0,0.012232,0.015209,...,0.038912,0.856477,0.036409,0.907263,0.108370,0.546931,0.845835,0.307199,0.008555,0.060829
1,200989060143_R08C01,3024,1,1,2,52.7,2,0,0.009682,0.009379,...,0.046467,0.905048,0.022939,0.873880,0.213721,0.900037,0.916755,0.255893,0.040234,0.041951
2,201004820067_R08C01,3029,1,2,0,66.3,4,1,0.008821,0.012951,...,0.026191,0.904390,0.029344,0.899219,0.068807,0.849621,0.902485,0.473775,0.035318,0.038785

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg02440279,cg02131967,cg09920557,cg05952120,cg21796427,cg10468385,cg19354750,cg21657705,cg02040921,...,cg08990112,cg24987754,cg01108057,cg11424763,cg08584264,cg02750308,cg00382771,cg13510423,cg22194345,cg13669748
0,1,0.012232,0.015209,0.013469,0.023272,0.947367,0.963202,0.03578,0.943351,0.011917,...,0.038912,0.856477,0.036409,0.907263,0.108370,0.546931,0.845835,0.307199,0.008555,0.060829
1,1,0.009682,0.009379,0.008381,0.016337,0.953605,0.975389,0.01686,0.974653,0.007736,...,0.046467,0.905048,0.022939,0.873880,0.213721,0.900037,0.916755,0.255893,0.040234,0.041951

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.24999999999999994
3
Mean accuracy: 0.4
4
Mean accuracy: 0.4333333333333333
5
Mean accuracy: 0.4
6
Mean accuracy: 0.3333333333333333
7
Mean accuracy: 0.4
8
Mean accuracy: 0.24999999999999994
9
Mean accuracy: 0.55
10
Mean accuracy: 0.4833333333333333
11
Mean accuracy: 0.41666666666666663
12
Mean accuracy: 0.3833333333333333
13
Mean accuracy: 0.4666666666666666
14
Mean accuracy: 0.4
15
Mean accuracy: 0.4333333333333333
16
Mean accuracy: 0.38333333333333336
17
Mean accuracy: 0.5666666666666667
18
Mean accuracy: 0.4333333333333333
19
Mean accuracy: 0.4
20
Mean accuracy: 0.35
21
Mean accuracy: 0.45
22
Mean accuracy: 0.41666666666666663
23
Mean accuracy: 0.4166666666666667
24
Mean accuracy: 0.41666666666666663
25
Mean accuracy: 0.41666666666666663
26
Mean accuracy: 0.45
27
Mean accuracy: 0.4333333333333333
28
Mean accuracy: 0.39999999999999997
29
Mean accuracy: 0.38333333333333336
30
Mean accuracy: 0.45
31
Mean accuracy: 0.4999999999999999
32
Mean accuracy: 0.4
33
Mean accuracy: 0.2666666666666666
34
Mean accuracy: 0.45
35
Mean accuracy: 0.3833333333333333
36
Mean accuracy: 0.39999999999999997
37
Mean accuracy: 0.3999999999999999
38
Mean accuracy: 0.33333333333333337
39
Mean accuracy: 0.4666666666666666
40
Mean accuracy: 0.45
41
Mean accuracy: 0.4666666666666666
42
Mean accuracy: 0.45
43
Mean accuracy: 0.4666666666666667
44
Mean accuracy: 0.33333333333333337
45
Mean accuracy: 0.4833333333333333
46
Mean accuracy: 0.3333333333333333
47
Mean accuracy: 0.5
48
Mean accuracy: 0.5666666666666667
49
Mean accuracy: 0.5499999999999999
50
Mean accuracy: 0.4999999999999999
51
Mean accuracy: 0.5333333333333333
52
Mean accuracy: 0.4999999999999999
53
Mean accuracy: 0.33333333333333337
54
Mean accuracy: 0.45
55
Mean accuracy: 0.41666666666666663
56
Mean accuracy: 0.45
57
Mean accuracy: 0.4333333333333333
58
Mean accuracy: 0.3166666666666666
59
Mean accuracy: 0.3833333333333333
60
Mean accuracy: 0.4
61
Mean accuracy: 0.4666666666666667
62
Mean accuracy: 0.35
63
Mean accuracy: 0.4
64
Mean accuracy: 0.36666666666666664
65
Mean accuracy: 0.5166666666666666
66
Mean accuracy: 0.41666666666666663
67
Mean accuracy: 0.38333333333333336
68
Mean accuracy: 0.39999999999999997
69
Mean accuracy: 0.4
70
Mean accuracy: 0.4
71
Mean accuracy: 0.4333333333333333
72
Mean accuracy: 0.5
73
Mean accuracy: 0.38333333333333336
74
Mean accuracy: 0.41666666666666663
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.38333333333333336
77
Mean accuracy: 0.4833333333333333
78
Mean accuracy: 0.26666666666666666
79
Mean accuracy: 0.4333333333333333
80
Mean accuracy: 0.39999999999999997
81
Mean accuracy: 0.6166666666666666
82
Mean accuracy: 0.4333333333333333
83
Mean accuracy: 0.41666666666666663
84
Mean accuracy: 0.33333333333333337
85
Mean accuracy: 0.4833333333333333
86
Mean accuracy: 0.35
87
Mean accuracy: 0.39999999999999997
88
Mean accuracy: 0.4833333333333333
89
Mean accuracy: 0.41666666666666663
90
Mean accuracy: 0.5666666666666667
91
Mean accuracy: 0.41666666666666663
92
Mean accuracy: 0.5
93
Mean accuracy: 0.2833333333333333
94
Mean accuracy: 0.4166666666666667
95
Mean accuracy: 0.5666666666666667
96
Mean accuracy: 0.5333333333333332
97
Mean accuracy: 0.4666666666666666
98
Mean accuracy: 0.33333333333333337
99
Mean accuracy: 0.35
100
Mean accuracy: 0.4333333333333334

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_AllCpG_Male_100RF.csv", index = False)

0.42399999999999977

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5166666666666667
2
Mean accuracy: 0.55
3
Mean accuracy: 0.4
4
Mean accuracy: 0.4999999999999999
5
Mean accuracy: 0.4833333333333333
6
Mean accuracy: 0.5333333333333334
7
Mean accuracy: 0.55
8
Mean accuracy: 0.5666666666666667
9
Mean accuracy: 0.31666666666666665
10
Mean accuracy: 0.3
11
Mean accuracy: 0.5
12
Mean accuracy: 0.5333333333333333
13
Mean accuracy: 0.4833333333333333
14
Mean accuracy: 0.3833333333333333
15
Mean accuracy: 0.3
16
Mean accuracy: 0.6166666666666666
17
Mean accuracy: 0.4166666666666667
18
Mean accuracy: 0.5166666666666666
19
Mean accuracy: 0.3166666666666667
20
Mean accuracy: 0.41666666666666663
21
Mean accuracy: 0.3666666666666667
22
Mean accuracy: 0.55
23
Mean accuracy: 0.41666666666666663
24
Mean accuracy: 0.3833333333333333
25
Mean accuracy: 0.5166666666666667
26
Mean accuracy: 0.39999999999999997
27
Mean accuracy: 0.5
28
Mean accuracy: 0.4333333333333333
29
Mean accuracy: 0.41666666666666663
30
Mean accuracy: 0.3
31
Mean accuracy: 0.4833333333333333
32
Mean accuracy: 0.4666666666666667
33
Mean accuracy: 0.5166666666666667
34
Mean accuracy: 0.4666666666666667
35
Mean accuracy: 0.4499999999999999
36
Mean accuracy: 0.5333333333333333
37
Mean accuracy: 0.3833333333333333
38
Mean accuracy: 0.4833333333333333
39
Mean accuracy: 0.6166666666666668
40
Mean accuracy: 0.5333333333333333
41
Mean accuracy: 0.45
42
Mean accuracy: 0.4333333333333334
43
Mean accuracy: 0.4333333333333334
44
Mean accuracy: 0.36666666666666664
45
Mean accuracy: 0.36666666666666664
46
Mean accuracy: 0.36666666666666664
47
Mean accuracy: 0.3166666666666666
48
Mean accuracy: 0.38333333333333336
49
Mean accuracy: 0.39999999999999997
50
Mean accuracy: 0.45
51
Mean accuracy: 0.4666666666666666
52
Mean accuracy: 0.6166666666666666
53
Mean accuracy: 0.4
54
Mean accuracy: 0.5999999999999999
55
Mean accuracy: 0.55
56
Mean accuracy: 0.4666666666666666
57
Mean accuracy: 0.41666666666666663
58
Mean accuracy: 0.31666666666666665
59
Mean accuracy: 0.4666666666666666
60
Mean accuracy: 0.6
61
Mean accuracy: 0.4333333333333333
62
Mean accuracy: 0.4666666666666666
63
Mean accuracy: 0.33333333333333337
64
Mean accuracy: 0.4333333333333333
65
Mean accuracy: 0.5
66
Mean accuracy: 0.45
67
Mean accuracy: 0.5666666666666667
68
Mean accuracy: 0.39999999999999997
69
Mean accuracy: 0.3833333333333333
70
Mean accuracy: 0.4333333333333333
71
Mean accuracy: 0.4
72
Mean accuracy: 0.41666666666666663
73
Mean accuracy: 0.4666666666666667
74
Mean accuracy: 0.5
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.3833333333333333
77
Mean accuracy: 0.4833333333333333
78
Mean accuracy: 0.4333333333333334
79
Mean accuracy: 0.55
80
Mean accuracy: 0.35
81
Mean accuracy: 0.45
82
Mean accuracy: 0.55
83
Mean accuracy: 0.6
84
Mean accuracy: 0.4333333333333333
85
Mean accuracy: 0.4833333333333333
86
Mean accuracy: 0.29999999999999993
87
Mean accuracy: 0.29999999999999993
88
Mean accuracy: 0.4666666666666666
89
Mean accuracy: 0.41666666666666663
90
Mean accuracy: 0.39999999999999997
91
Mean accuracy: 0.4666666666666666
92
Mean accuracy: 0.4666666666666667
93
Mean accuracy: 0.4333333333333334
94
Mean accuracy: 0.4
95
Mean accuracy: 0.3833333333333333
96
Mean accuracy: 0.4333333333333333
97
Mean accuracy: 0.4
98
Mean accuracy: 0.55
99
Mean accuracy: 0.3333333333333333
100
Mean accuracy: 0.6500000000000001

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_Rand50CpG_Male_100RF.csv", index = False)

0.45049999999999973

## RanFor 100 times. Samples = 94

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(94, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5166666666666667
2
Mean accuracy: 0.4166666666666667
3
Mean accuracy: 0.38333333333333336
4
Mean accuracy: 0.3833333333333333
5
Mean accuracy: 0.5166666666666666
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.4333333333333334
8
Mean accuracy: 0.5333333333333333
9
Mean accuracy: 0.45
10
Mean accuracy: 0.3
11
Mean accuracy: 0.5166666666666666
12
Mean accuracy: 0.4333333333333333
13
Mean accuracy: 0.45
14
Mean accuracy: 0.35
15
Mean accuracy: 0.2666666666666667
16
Mean accuracy: 0.55
17
Mean accuracy: 0.3333333333333333
18
Mean accuracy: 0.6166666666666667
19
Mean accuracy: 0.3333333333333333
20
Mean accuracy: 0.3833333333333333
21
Mean accuracy: 0.41666666666666663
22
Mean accuracy: 0.45
23
Mean accuracy: 0.5166666666666667
24
Mean accuracy: 0.4833333333333333
25
Mean accuracy: 0.4666666666666666
26
Mean accuracy: 0.5499999999999999
27
Mean accuracy: 0.3833333333333333
28
Mean accuracy: 0.4333333333333333
29
Mean accuracy: 0.2833333333333333
30
Mean accuracy: 0.4
31
Mean accuracy: 0.3333333333333333
32
Mean accuracy: 0.45
33
Mean accuracy: 0.4999999999999999
34
Mean accuracy: 0.4833333333333333
35
Mean accuracy: 0.4833333333333333
36
Mean accuracy: 0.5166666666666667
37
Mean accuracy: 0.4833333333333334
38
Mean accuracy: 0.5
39
Mean accuracy: 0.5166666666666666
40
Mean accuracy: 0.5166666666666666
41
Mean accuracy: 0.5333333333333333
42
Mean accuracy: 0.4666666666666666
43
Mean accuracy: 0.4833333333333333
44
Mean accuracy: 0.35
45
Mean accuracy: 0.41666666666666663
46
Mean accuracy: 0.4
47
Mean accuracy: 0.5166666666666666
48
Mean accuracy: 0.41666666666666663
49
Mean accuracy: 0.4999999999999999
50
Mean accuracy: 0.41666666666666663
51
Mean accuracy: 0.4333333333333333
52
Mean accuracy: 0.5666666666666667
53
Mean accuracy: 0.2833333333333333
54
Mean accuracy: 0.5333333333333334
55
Mean accuracy: 0.7166666666666667
56
Mean accuracy: 0.55
57
Mean accuracy: 0.3833333333333333
58
Mean accuracy: 0.41666666666666663
59
Mean accuracy: 0.5333333333333333
60
Mean accuracy: 0.45
61
Mean accuracy: 0.4833333333333333
62
Mean accuracy: 0.6166666666666667
63
Mean accuracy: 0.3666666666666666
64
Mean accuracy: 0.5
65
Mean accuracy: 0.4666666666666666
66
Mean accuracy: 0.4333333333333333
67
Mean accuracy: 0.5000000000000001
68
Mean accuracy: 0.4666666666666666
69
Mean accuracy: 0.31666666666666665
70
Mean accuracy: 0.4333333333333333
71
Mean accuracy: 0.35
72
Mean accuracy: 0.3833333333333333
73
Mean accuracy: 0.5499999999999999
74
Mean accuracy: 0.38333333333333336
75
Mean accuracy: 0.33333333333333337
76
Mean accuracy: 0.3833333333333333
77
Mean accuracy: 0.4666666666666666
78
Mean accuracy: 0.3666666666666667
79
Mean accuracy: 0.5999999999999999
80
Mean accuracy: 0.3333333333333333
81
Mean accuracy: 0.31666666666666665
82
Mean accuracy: 0.5833333333333333
83
Mean accuracy: 0.5333333333333333
84
Mean accuracy: 0.35
85
Mean accuracy: 0.4666666666666667
86
Mean accuracy: 0.29999999999999993
87
Mean accuracy: 0.2833333333333333
88
Mean accuracy: 0.4333333333333333
89
Mean accuracy: 0.4833333333333333
90
Mean accuracy: 0.39999999999999997
91
Mean accuracy: 0.3666666666666667
92
Mean accuracy: 0.4666666666666666
93
Mean accuracy: 0.4333333333333333
94
Mean accuracy: 0.41666666666666663
95
Mean accuracy: 0.4333333333333333
96
Mean accuracy: 0.4666666666666666
97
Mean accuracy: 0.41666666666666663
98
Mean accuracy: 0.45
99
Mean accuracy: 0.3166666666666667
100
Mean accuracy: 0.55

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_Rand94CpG_Male_100RF.csv", index = False)

0.4438333333333333

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Top50Boruta_Hopkins_Data.csv')
print(df.shape)
df.head(2)

(110, 52)

,PATNO,APPRDX,cg03616148,cg00314622,cg04922955,cg21620535,cg18546840,cg27098574,cg00292662,cg18338293,...,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg07804122,cg09445727
0,3010,1,0.485398,0.732007,0.927871,0.038450,0.878826,0.717206,0.037142,0.838745,...,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.033899,0.032773
1,3024,1,0.795923,0.703085,0.925763,0.033025,0.873100,0.021367,0.051989,0.835744,...,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.041293,0.020563

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg03616148,cg00314622,cg04922955,cg21620535,cg18546840,cg27098574,cg00292662,cg18338293,cg06584619,...,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg07804122,cg09445727
0,1,0.485398,0.732007,0.927871,0.038450,0.878826,0.717206,0.037142,0.838745,0.011745,...,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.033899,0.032773
1,1,0.795923,0.703085,0.925763,0.033025,0.873100,0.021367,0.051989,0.835744,0.011330,...,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.041293,0.020563

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.7333333333333333
3
Mean accuracy: 0.7333333333333334
4
Mean accuracy: 0.7833333333333332
5
Mean accuracy: 0.7666666666666667
6
Mean accuracy: 0.6833333333333332
7
Mean accuracy: 0.7666666666666666
8
Mean accuracy: 0.6666666666666666
9
Mean accuracy: 0.8166666666666667
10
Mean accuracy: 0.6833333333333333
11
Mean accuracy: 0.6833333333333333
12
Mean accuracy: 0.8333333333333333
13
Mean accuracy: 0.6333333333333333
14
Mean accuracy: 0.7499999999999999
15
Mean accuracy: 0.6666666666666667
16
Mean accuracy: 0.6833333333333333
17
Mean accuracy: 0.7
18
Mean accuracy: 0.8
19
Mean accuracy: 0.6166666666666666
20
Mean accuracy: 0.6666666666666667
21
Mean accuracy: 0.8
22
Mean accuracy: 0.6666666666666667
23
Mean accuracy: 0.6833333333333333
24
Mean accuracy: 0.75
25
Mean accuracy: 0.7166666666666666
26
Mean accuracy: 0.7666666666666666
27
Mean accuracy: 0.75
28
Mean accuracy: 0.8166666666666667
29
Mean accuracy: 0.7666666666666666
30
Mean accuracy: 0.8666666666666666
31
Mean accuracy: 0.65
32
Mean accuracy: 0.6833333333333333
33
Mean accuracy: 0.6500000000000001
34
Mean accuracy: 0.7666666666666667
35
Mean accuracy: 0.7
36
Mean accuracy: 0.6666666666666667
37
Mean accuracy: 0.7166666666666666
38
Mean accuracy: 0.7999999999999999
39
Mean accuracy: 0.7166666666666668
40
Mean accuracy: 0.7166666666666666
41
Mean accuracy: 0.7166666666666666
42
Mean accuracy: 0.8
43
Mean accuracy: 0.7166666666666667
44
Mean accuracy: 0.6
45
Mean accuracy: 0.7833333333333332
46
Mean accuracy: 0.7
47
Mean accuracy: 0.7833333333333332
48
Mean accuracy: 0.7666666666666667
49
Mean accuracy: 0.8
50
Mean accuracy: 0.7833333333333333
51
Mean accuracy: 0.7
52
Mean accuracy: 0.65
53
Mean accuracy: 0.6666666666666667
54
Mean accuracy: 0.7500000000000001
55
Mean accuracy: 0.7333333333333333
56
Mean accuracy: 0.7166666666666667
57
Mean accuracy: 0.75
58
Mean accuracy: 0.7
59
Mean accuracy: 0.7666666666666668
60
Mean accuracy: 0.6333333333333333
61
Mean accuracy: 0.65
62
Mean accuracy: 0.6333333333333334
63
Mean accuracy: 0.7666666666666667
64
Mean accuracy: 0.7333333333333333
65
Mean accuracy: 0.7833333333333334
66
Mean accuracy: 0.6833333333333333
67
Mean accuracy: 0.7
68
Mean accuracy: 0.7666666666666667
69
Mean accuracy: 0.6833333333333333
70
Mean accuracy: 0.8
71
Mean accuracy: 0.7666666666666667
72
Mean accuracy: 0.7166666666666667
73
Mean accuracy: 0.7833333333333333
74
Mean accuracy: 0.7333333333333333
75
Mean accuracy: 0.85
76
Mean accuracy: 0.6833333333333333
77
Mean accuracy: 0.7833333333333334
78
Mean accuracy: 0.6833333333333333
79
Mean accuracy: 0.7166666666666666
80
Mean accuracy: 0.7333333333333333
81
Mean accuracy: 0.75
82
Mean accuracy: 0.7833333333333334
83
Mean accuracy: 0.7166666666666666
84
Mean accuracy: 0.6666666666666667
85
Mean accuracy: 0.8
86
Mean accuracy: 0.6833333333333333
87
Mean accuracy: 0.7166666666666666
88
Mean accuracy: 0.7333333333333333
89
Mean accuracy: 0.7
90
Mean accuracy: 0.7
91
Mean accuracy: 0.6833333333333333
92
Mean accuracy: 0.6166666666666667
93
Mean accuracy: 0.6499999999999999
94
Mean accuracy: 0.8
95
Mean accuracy: 0.8166666666666668
96
Mean accuracy: 0.8333333333333334
97
Mean accuracy: 0.8
98
Mean accuracy: 0.5833333333333333
99
Mean accuracy: 0.6833333333333333
100
Mean accuracy: 0.7333333333333333

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_Boruta50CpG_Male_100RF.csv", index = False)

0.7263333333333328

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_Hopkins_Data.csv')
print(df.shape)
df.head(2)

(110, 52)

,PATNO,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,...,cg03719978,cg26942930,cg22877851,cg02853115,cg15617032,cg04891959,cg14165900,cg10146744,cg01331540,cg16537245
0,3010,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,...,0.906544,0.868391,0.839169,0.747346,0.532319,0.022596,0.941737,0.844034,0.875255,0.036801
1,3024,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,...,0.931591,0.848535,0.845497,0.955143,0.734806,0.033186,0.901938,0.881333,0.921641,0.020410

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,cg23751761,...,cg03719978,cg26942930,cg22877851,cg02853115,cg15617032,cg04891959,cg14165900,cg10146744,cg01331540,cg16537245
0,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,0.782428,...,0.906544,0.868391,0.839169,0.747346,0.532319,0.022596,0.941737,0.844034,0.875255,0.036801
1,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,0.770864,...,0.931591,0.848535,0.845497,0.955143,0.734806,0.033186,0.901938,0.881333,0.921641,0.020410

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7833333333333332
2
Mean accuracy: 0.7166666666666666
3
Mean accuracy: 0.8333333333333334
4
Mean accuracy: 0.75
5
Mean accuracy: 0.7333333333333334
6
Mean accuracy: 0.8
7
Mean accuracy: 0.7666666666666668
8
Mean accuracy: 0.7666666666666666
9
Mean accuracy: 0.7666666666666667
10
Mean accuracy: 0.8166666666666668
11
Mean accuracy: 0.8333333333333333
12
Mean accuracy: 0.8666666666666668
13
Mean accuracy: 0.8
14
Mean accuracy: 0.8166666666666667
15
Mean accuracy: 0.7666666666666666
16
Mean accuracy: 0.7333333333333334
17
Mean accuracy: 0.7333333333333333
18
Mean accuracy: 0.7
19
Mean accuracy: 0.7166666666666667
20
Mean accuracy: 0.8166666666666668
21
Mean accuracy: 0.8
22
Mean accuracy: 0.8166666666666667
23
Mean accuracy: 0.8166666666666668
24
Mean accuracy: 0.8
25
Mean accuracy: 0.7166666666666667
26
Mean accuracy: 0.8666666666666666
27
Mean accuracy: 0.7666666666666667
28
Mean accuracy: 0.8166666666666668
29
Mean accuracy: 0.8166666666666667
30
Mean accuracy: 0.85
31
Mean accuracy: 0.7666666666666667
32
Mean accuracy: 0.7
33
Mean accuracy: 0.75
34
Mean accuracy: 0.75
35
Mean accuracy: 0.7333333333333334
36
Mean accuracy: 0.7833333333333333
37
Mean accuracy: 0.7333333333333333
38
Mean accuracy: 0.7666666666666667
39
Mean accuracy: 0.7166666666666666
40
Mean accuracy: 0.8166666666666667
41
Mean accuracy: 0.7666666666666667
42
Mean accuracy: 0.8
43
Mean accuracy: 0.8166666666666667
44
Mean accuracy: 0.8
45
Mean accuracy: 0.8166666666666667
46
Mean accuracy: 0.7666666666666666
47
Mean accuracy: 0.8
48
Mean accuracy: 0.85
49
Mean accuracy: 0.7
50
Mean accuracy: 0.8833333333333334
51
Mean accuracy: 0.7666666666666667
52
Mean accuracy: 0.8
53
Mean accuracy: 0.7833333333333334
54
Mean accuracy: 0.7666666666666667
55
Mean accuracy: 0.7666666666666667
56
Mean accuracy: 0.85
57
Mean accuracy: 0.8
58
Mean accuracy: 0.6333333333333333
59
Mean accuracy: 0.7833333333333334
60
Mean accuracy: 0.6833333333333332
61
Mean accuracy: 0.7833333333333333
62
Mean accuracy: 0.75
63
Mean accuracy: 0.8166666666666667
64
Mean accuracy: 0.8166666666666667
65
Mean accuracy: 0.8166666666666668
66
Mean accuracy: 0.7333333333333332
67
Mean accuracy: 0.7166666666666666
68
Mean accuracy: 0.8
69
Mean accuracy: 0.7833333333333334
70
Mean accuracy: 0.7833333333333334
71
Mean accuracy: 0.8
72
Mean accuracy: 0.8
73
Mean accuracy: 0.8166666666666668
74
Mean accuracy: 0.7833333333333334
75
Mean accuracy: 0.8166666666666667
76
Mean accuracy: 0.7166666666666667
77
Mean accuracy: 0.7833333333333334
78
Mean accuracy: 0.8333333333333333
79
Mean accuracy: 0.75
80
Mean accuracy: 0.8
81
Mean accuracy: 0.8
82
Mean accuracy: 0.75
83
Mean accuracy: 0.7833333333333333
84
Mean accuracy: 0.8833333333333334
85
Mean accuracy: 0.7833333333333333
86
Mean accuracy: 0.8
87
Mean accuracy: 0.8333333333333333
88
Mean accuracy: 0.7333333333333333
89
Mean accuracy: 0.7999999999999999
90
Mean accuracy: 0.7999999999999999
91
Mean accuracy: 0.9
92
Mean accuracy: 0.7666666666666667
93
Mean accuracy: 0.7833333333333333
94
Mean accuracy: 0.7833333333333334
95
Mean accuracy: 0.8333333333333333
96
Mean accuracy: 0.85
97
Mean accuracy: 0.85
98
Mean accuracy: 0.8833333333333334
99
Mean accuracy: 0.7666666666666668
100
Mean accuracy: 0.9

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_NMI50CpG_Male_100RF.csv", index = False)

0.7871666666666663

## RanFor Top 50 Boruta + NMI 100 times. Samples = 94

In [19]:
df = pd.read_csv('Hopkins_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(110, 96)

,PATNO,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,...,cg25332095,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg09445727
0,3010,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,...,0.883962,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.032773
1,3024,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,...,0.858942,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.020563

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,cg23751761,...,cg25332095,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg09445727
0,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,0.782428,...,0.883962,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.032773
1,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,0.770864,...,0.858942,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.020563

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7666666666666666
2
Mean accuracy: 0.7500000000000001
3
Mean accuracy: 0.7333333333333333
4
Mean accuracy: 0.8666666666666668
5
Mean accuracy: 0.8166666666666667
6
Mean accuracy: 0.75
7
Mean accuracy: 0.75
8
Mean accuracy: 0.7166666666666667
9
Mean accuracy: 0.7666666666666666
10
Mean accuracy: 0.8
11
Mean accuracy: 0.85
12
Mean accuracy: 0.8166666666666667
13
Mean accuracy: 0.7166666666666666
14
Mean accuracy: 0.7666666666666666
15
Mean accuracy: 0.7500000000000001
16
Mean accuracy: 0.6833333333333333
17
Mean accuracy: 0.7999999999999999
18
Mean accuracy: 0.7333333333333333
19
Mean accuracy: 0.7
20
Mean accuracy: 0.7166666666666667
21
Mean accuracy: 0.7666666666666667
22
Mean accuracy: 0.7499999999999999
23
Mean accuracy: 0.7333333333333333
24
Mean accuracy: 0.7833333333333333
25
Mean accuracy: 0.7333333333333333
26
Mean accuracy: 0.9166666666666667
27
Mean accuracy: 0.75
28
Mean accuracy: 0.7833333333333334
29
Mean accuracy: 0.7666666666666667
30
Mean accuracy: 0.8
31
Mean accuracy: 0.7166666666666667
32
Mean accuracy: 0.7166666666666667
33
Mean accuracy: 0.7166666666666666
34
Mean accuracy: 0.8
35
Mean accuracy: 0.7999999999999999
36
Mean accuracy: 0.7666666666666667
37
Mean accuracy: 0.7000000000000001
38
Mean accuracy: 0.7166666666666666
39
Mean accuracy: 0.7833333333333332
40
Mean accuracy: 0.8166666666666667
41
Mean accuracy: 0.7333333333333334
42
Mean accuracy: 0.7666666666666667
43
Mean accuracy: 0.7500000000000001
44
Mean accuracy: 0.7166666666666667
45
Mean accuracy: 0.7166666666666667
46
Mean accuracy: 0.8166666666666667
47
Mean accuracy: 0.7666666666666667
48
Mean accuracy: 0.7999999999999999
49
Mean accuracy: 0.7666666666666667
50
Mean accuracy: 0.8666666666666668
51
Mean accuracy: 0.7833333333333334
52
Mean accuracy: 0.7
53
Mean accuracy: 0.75
54
Mean accuracy: 0.7333333333333333
55
Mean accuracy: 0.6833333333333333
56
Mean accuracy: 0.7833333333333333
57
Mean accuracy: 0.75
58
Mean accuracy: 0.6333333333333334
59
Mean accuracy: 0.7166666666666668
60
Mean accuracy: 0.7166666666666668
61
Mean accuracy: 0.7666666666666667
62
Mean accuracy: 0.75
63
Mean accuracy: 0.8166666666666667
64
Mean accuracy: 0.8333333333333334
65
Mean accuracy: 0.7666666666666666
66
Mean accuracy: 0.7166666666666667
67
Mean accuracy: 0.6166666666666667
68
Mean accuracy: 0.7833333333333332
69
Mean accuracy: 0.7333333333333333
70
Mean accuracy: 0.7666666666666667
71
Mean accuracy: 0.7666666666666667
72
Mean accuracy: 0.8
73
Mean accuracy: 0.8333333333333334
74
Mean accuracy: 0.7333333333333333
75
Mean accuracy: 0.7833333333333333
76
Mean accuracy: 0.6833333333333333
77
Mean accuracy: 0.7333333333333334
78
Mean accuracy: 0.7333333333333334
79
Mean accuracy: 0.7333333333333333
80
Mean accuracy: 0.7166666666666666
81
Mean accuracy: 0.7666666666666666
82
Mean accuracy: 0.7833333333333332
83
Mean accuracy: 0.7333333333333333
84
Mean accuracy: 0.8166666666666668
85
Mean accuracy: 0.8333333333333333
86
Mean accuracy: 0.8
87
Mean accuracy: 0.8
88
Mean accuracy: 0.7666666666666666
89
Mean accuracy: 0.7833333333333333
90
Mean accuracy: 0.8
91
Mean accuracy: 0.7666666666666667
92
Mean accuracy: 0.6833333333333332
93
Mean accuracy: 0.7499999999999999
94
Mean accuracy: 0.8
95
Mean accuracy: 0.8166666666666667
96
Mean accuracy: 0.8166666666666667
97
Mean accuracy: 0.7833333333333333
98
Mean accuracy: 0.8
99
Mean accuracy: 0.7166666666666666
100
Mean accuracy: 0.85

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Hopkins_Top50sCpG94_Male_100RF.csv", index = False)

0.7624999999999998