# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
df = pd.read_csv('LexicalFluency_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
(233, 85923)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,Lexical_Fluency_Category,cg02315971,cg24133836,...,cg12092065,cg10388349,cg11918957,cg26583598,cg11023075,cg02097667,cg21616723,cg27335855,cg18259253,cg15404040
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.030109,0.016106,...,0.953091,0.392056,0.913402,0.913637,0.897198,0.871237,0.913624,0.651860,0.852542,0.909412
1,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.028697,0.017000,...,0.924513,0.370289,0.902610,0.914253,0.881206,0.834363,0.912120,0.692530,0.839574,0.867794
2,200991620021_R03C01,3002,2,1,2,67.6,4,1,0.025308,0.017806,...,0.921575,0.416247,0.864819,0.942005,0.907732,0.869391,0.907648,0.834695,0.842573,0.917446

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Lexical_Fluency_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg02315971,cg24133836,cg03286969,cg11738782,cg25741731,cg24629744,cg23836745,cg11685489,cg06081147,...,cg12092065,cg10388349,cg11918957,cg26583598,cg11023075,cg02097667,cg21616723,cg27335855,cg18259253,cg15404040
0,2,0.030109,0.016106,0.019371,0.884151,0.026326,0.868373,0.905809,0.825562,0.691096,...,0.953091,0.392056,0.913402,0.913637,0.897198,0.871237,0.913624,0.65186,0.852542,0.909412
1,1,0.028697,0.017000,0.018631,0.871526,0.026148,0.866396,0.922285,0.881489,0.647436,...,0.924513,0.370289,0.902610,0.914253,0.881206,0.834363,0.912120,0.69253,0.839574,0.867794

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(60))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5416666666666667
2
Mean accuracy: 0.525
3
Mean accuracy: 0.4833333333333333
4
Mean accuracy: 0.5166666666666666
5
Mean accuracy: 0.525
6
Mean accuracy: 0.5
7
Mean accuracy: 0.5750000000000001
8
Mean accuracy: 0.5583333333333333
9
Mean accuracy: 0.4916666666666667
10
Mean accuracy: 0.55
11
Mean accuracy: 0.475
12
Mean accuracy: 0.55
13
Mean accuracy: 0.42499999999999993
14
Mean accuracy: 0.475
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.5000000000000001
17
Mean accuracy: 0.4916666666666667
18
Mean accuracy: 0.4666666666666667
19
Mean accuracy: 0.5666666666666667
20
Mean accuracy: 0.5916666666666667
21
Mean accuracy: 0.5000000000000001
22
Mean accuracy: 0.45
23
Mean accuracy: 0.5833333333333333
24
Mean accuracy: 0.5083333333333334
25
Mean accuracy: 0.4416666666666667
26
Mean accuracy: 0.4333333333333334
27
Mean accuracy: 0.4666666666666668
28
Mean accuracy: 0.475
29
Mean accuracy: 0.475
30
Mean accuracy: 0.4999999999999999
31
Mean accuracy: 0.5666666666666667
32
Mean accuracy: 0.625
33
Mean accuracy: 0.4333333333333333
34
Mean accuracy: 0.4833333333333333
35
Mean accuracy: 0.5416666666666666
36
Mean accuracy: 0.4666666666666666
37
Mean accuracy: 0.475
38
Mean accuracy: 0.525
39
Mean accuracy: 0.55
40
Mean accuracy: 0.525
41
Mean accuracy: 0.55
42
Mean accuracy: 0.5416666666666667
43
Mean accuracy: 0.5083333333333333
44
Mean accuracy: 0.5
45
Mean accuracy: 0.425
46
Mean accuracy: 0.4833333333333333
47
Mean accuracy: 0.5
48
Mean accuracy: 0.55
49
Mean accuracy: 0.4416666666666666
50
Mean accuracy: 0.475
51
Mean accuracy: 0.4416666666666666
52
Mean accuracy: 0.5499999999999999
53
Mean accuracy: 0.4833333333333333
54
Mean accuracy: 0.4
55
Mean accuracy: 0.575
56
Mean accuracy: 0.5166666666666667
57
Mean accuracy: 0.4916666666666667
58
Mean accuracy: 0.5250000000000001
59
Mean accuracy: 0.525
60
Mean accuracy: 0.475
61
Mean accuracy: 0.5250000000000001
62
Mean accuracy: 0.5916666666666667
63
Mean accuracy: 0.4416666666666666
64
Mean accuracy: 0.475
65
Mean accuracy: 0.4916666666666666
66
Mean accuracy: 0.5083333333333333
67
Mean accuracy: 0.5166666666666666
68
Mean accuracy: 0.525
69
Mean accuracy: 0.5333333333333334
70
Mean accuracy: 0.45
71
Mean accuracy: 0.5083333333333333
72
Mean accuracy: 0.5583333333333333
73
Mean accuracy: 0.4833333333333333
74
Mean accuracy: 0.5166666666666667
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.5583333333333333
77
Mean accuracy: 0.475
78
Mean accuracy: 0.5416666666666667
79
Mean accuracy: 0.475
80
Mean accuracy: 0.5249999999999999
81
Mean accuracy: 0.4666666666666667
82
Mean accuracy: 0.475
83
Mean accuracy: 0.5666666666666667
84
Mean accuracy: 0.4416666666666667
85
Mean accuracy: 0.4750000000000001
86
Mean accuracy: 0.5083333333333333
87
Mean accuracy: 0.5333333333333333
88
Mean accuracy: 0.5416666666666667
89
Mean accuracy: 0.5583333333333333
90
Mean accuracy: 0.5583333333333333
91
Mean accuracy: 0.6166666666666667
92
Mean accuracy: 0.55
93
Mean accuracy: 0.5250000000000001
94
Mean accuracy: 0.6083333333333334
95
Mean accuracy: 0.4916666666666666
96
Mean accuracy: 0.55
97
Mean accuracy: 0.4833333333333334
98
Mean accuracy: 0.475
99
Mean accuracy: 0.4916666666666666
100
Mean accuracy: 0.4666666666666666

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_AllCpG_100RF.csv", index = False)

0.5090833333333332

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(60))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4666666666666667
2
Mean accuracy: 0.5916666666666668
3
Mean accuracy: 0.5666666666666667
4
Mean accuracy: 0.4833333333333333
5
Mean accuracy: 0.5000000000000001
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.5916666666666667
8
Mean accuracy: 0.5916666666666666
9
Mean accuracy: 0.5083333333333333
10
Mean accuracy: 0.6
11
Mean accuracy: 0.575
12
Mean accuracy: 0.45
13
Mean accuracy: 0.45
14
Mean accuracy: 0.5833333333333333
15
Mean accuracy: 0.475
16
Mean accuracy: 0.55
17
Mean accuracy: 0.4666666666666667
18
Mean accuracy: 0.4916666666666666
19
Mean accuracy: 0.5416666666666667
20
Mean accuracy: 0.45
21
Mean accuracy: 0.5583333333333332
22
Mean accuracy: 0.5
23
Mean accuracy: 0.525
24
Mean accuracy: 0.4833333333333334
25
Mean accuracy: 0.5166666666666667
26
Mean accuracy: 0.5249999999999999
27
Mean accuracy: 0.5083333333333333
28
Mean accuracy: 0.6000000000000001
29
Mean accuracy: 0.4583333333333333
30
Mean accuracy: 0.6
31
Mean accuracy: 0.5833333333333334
32
Mean accuracy: 0.6000000000000001
33
Mean accuracy: 0.4416666666666667
34
Mean accuracy: 0.5583333333333333
35
Mean accuracy: 0.5416666666666667
36
Mean accuracy: 0.5083333333333333
37
Mean accuracy: 0.4916666666666667
38
Mean accuracy: 0.45
39
Mean accuracy: 0.6083333333333334
40
Mean accuracy: 0.4749999999999999
41
Mean accuracy: 0.4916666666666666
42
Mean accuracy: 0.4916666666666666
43
Mean accuracy: 0.5333333333333333
44
Mean accuracy: 0.5750000000000001
45
Mean accuracy: 0.625
46
Mean accuracy: 0.4333333333333333
47
Mean accuracy: 0.5083333333333333
48
Mean accuracy: 0.5916666666666667
49
Mean accuracy: 0.5083333333333334
50
Mean accuracy: 0.4166666666666667
51
Mean accuracy: 0.4666666666666667
52
Mean accuracy: 0.5416666666666667
53
Mean accuracy: 0.4416666666666667
54
Mean accuracy: 0.575
55
Mean accuracy: 0.5
56
Mean accuracy: 0.5333333333333333
57
Mean accuracy: 0.5250000000000001
58
Mean accuracy: 0.5083333333333333
59
Mean accuracy: 0.6083333333333333
60
Mean accuracy: 0.5166666666666667
61
Mean accuracy: 0.525
62
Mean accuracy: 0.5166666666666667
63
Mean accuracy: 0.575
64
Mean accuracy: 0.45000000000000007
65
Mean accuracy: 0.4916666666666668
66
Mean accuracy: 0.4833333333333333
67
Mean accuracy: 0.5416666666666666
68
Mean accuracy: 0.5
69
Mean accuracy: 0.6333333333333334
70
Mean accuracy: 0.5
71
Mean accuracy: 0.5499999999999999
72
Mean accuracy: 0.4750000000000001
73
Mean accuracy: 0.5416666666666667
74
Mean accuracy: 0.6333333333333333
75
Mean accuracy: 0.5083333333333334
76
Mean accuracy: 0.4333333333333333
77
Mean accuracy: 0.5416666666666667
78
Mean accuracy: 0.4499999999999999
79
Mean accuracy: 0.5250000000000001
80
Mean accuracy: 0.5166666666666666
81
Mean accuracy: 0.5333333333333333
82
Mean accuracy: 0.4583333333333333
83
Mean accuracy: 0.4333333333333334
84
Mean accuracy: 0.4666666666666667
85
Mean accuracy: 0.55
86
Mean accuracy: 0.575
87
Mean accuracy: 0.4916666666666666
88
Mean accuracy: 0.525
89
Mean accuracy: 0.55
90
Mean accuracy: 0.575
91
Mean accuracy: 0.45
92
Mean accuracy: 0.5666666666666667
93
Mean accuracy: 0.475
94
Mean accuracy: 0.4916666666666667
95
Mean accuracy: 0.5333333333333333
96
Mean accuracy: 0.45
97
Mean accuracy: 0.4833333333333333
98
Mean accuracy: 0.5333333333333334
99
Mean accuracy: 0.55
100
Mean accuracy: 0.4166666666666667

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_Rand50CpG_100RF.csv", index = False)

0.5184166666666666

## RanFor 100 times. Samples = 98

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(98, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(60))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5166666666666667
2
Mean accuracy: 0.6333333333333333
3
Mean accuracy: 0.4999999999999999
4
Mean accuracy: 0.4666666666666667
5
Mean accuracy: 0.5833333333333333
6
Mean accuracy: 0.4416666666666667
7
Mean accuracy: 0.575
8
Mean accuracy: 0.4916666666666666
9
Mean accuracy: 0.5166666666666666
10
Mean accuracy: 0.5333333333333334
11
Mean accuracy: 0.4833333333333333
12
Mean accuracy: 0.4833333333333334
13
Mean accuracy: 0.5
14
Mean accuracy: 0.5333333333333333
15
Mean accuracy: 0.4833333333333334
16
Mean accuracy: 0.5083333333333333
17
Mean accuracy: 0.45833333333333337
18
Mean accuracy: 0.5916666666666666
19
Mean accuracy: 0.6166666666666667
20
Mean accuracy: 0.4916666666666666
21
Mean accuracy: 0.5333333333333333
22
Mean accuracy: 0.4666666666666667
23
Mean accuracy: 0.5166666666666666
24
Mean accuracy: 0.4666666666666666
25
Mean accuracy: 0.5250000000000001
26
Mean accuracy: 0.4416666666666667
27
Mean accuracy: 0.5
28
Mean accuracy: 0.55
29
Mean accuracy: 0.5083333333333333
30
Mean accuracy: 0.525
31
Mean accuracy: 0.5583333333333333
32
Mean accuracy: 0.5
33
Mean accuracy: 0.4166666666666667
34
Mean accuracy: 0.5833333333333333
35
Mean accuracy: 0.55
36
Mean accuracy: 0.5250000000000001
37
Mean accuracy: 0.5666666666666667
38
Mean accuracy: 0.4999999999999999
39
Mean accuracy: 0.575
40
Mean accuracy: 0.4583333333333333
41
Mean accuracy: 0.525
42
Mean accuracy: 0.5
43
Mean accuracy: 0.5583333333333333
44
Mean accuracy: 0.5083333333333333
45
Mean accuracy: 0.4916666666666667
46
Mean accuracy: 0.45000000000000007
47
Mean accuracy: 0.5666666666666667
48
Mean accuracy: 0.475
49
Mean accuracy: 0.5083333333333334
50
Mean accuracy: 0.41666666666666663
51
Mean accuracy: 0.475
52
Mean accuracy: 0.55
53
Mean accuracy: 0.45833333333333337
54
Mean accuracy: 0.4916666666666667
55
Mean accuracy: 0.5166666666666667
56
Mean accuracy: 0.5166666666666667
57
Mean accuracy: 0.5
58
Mean accuracy: 0.5083333333333333
59
Mean accuracy: 0.5416666666666667
60
Mean accuracy: 0.4916666666666666
61
Mean accuracy: 0.5083333333333333
62
Mean accuracy: 0.4833333333333334
63
Mean accuracy: 0.5916666666666667
64
Mean accuracy: 0.4083333333333333
65
Mean accuracy: 0.4666666666666667
66
Mean accuracy: 0.475
67
Mean accuracy: 0.6083333333333333
68
Mean accuracy: 0.5666666666666667
69
Mean accuracy: 0.6166666666666667
70
Mean accuracy: 0.5416666666666667
71
Mean accuracy: 0.4833333333333333
72
Mean accuracy: 0.5000000000000001
73
Mean accuracy: 0.5583333333333333
74
Mean accuracy: 0.6166666666666666
75
Mean accuracy: 0.45
76
Mean accuracy: 0.425
77
Mean accuracy: 0.5166666666666667
78
Mean accuracy: 0.4166666666666667
79
Mean accuracy: 0.5416666666666667
80
Mean accuracy: 0.5166666666666667
81
Mean accuracy: 0.5083333333333333
82
Mean accuracy: 0.5
83
Mean accuracy: 0.5666666666666667
84
Mean accuracy: 0.41666666666666663
85
Mean accuracy: 0.4666666666666667
86
Mean accuracy: 0.5416666666666666
87
Mean accuracy: 0.5083333333333333
88
Mean accuracy: 0.4583333333333333
89
Mean accuracy: 0.4916666666666666
90
Mean accuracy: 0.5083333333333334
91
Mean accuracy: 0.4583333333333333
92
Mean accuracy: 0.4666666666666667
93
Mean accuracy: 0.4916666666666667
94
Mean accuracy: 0.5083333333333334
95
Mean accuracy: 0.5583333333333333
96
Mean accuracy: 0.4666666666666666
97
Mean accuracy: 0.5000000000000001
98
Mean accuracy: 0.4666666666666667
99
Mean accuracy: 0.5666666666666667
100
Mean accuracy: 0.45

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_Rand98CpG_100RF.csv", index = False)

0.5091666666666668

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('LexicalFluency_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(233, 52)

,PATNO,APPRDX,cg26354221,cg14296039,cg10475683,cg23254463,cg06273051,cg18823302,cg15355235,cg07027506,...,cg13546658,cg15593930,cg13359134,cg07667731,cg09304381,cg23169811,cg26869617,cg21585627,cg02618319,cg09670616
0,3000,2,0.918085,0.873012,0.062533,0.919921,0.543591,0.944782,0.633212,0.645067,...,0.232474,0.019946,0.016097,0.016602,0.981877,0.933661,0.923248,0.042639,0.981089,0.017773
1,3001,1,0.924711,0.835527,0.044298,0.921331,0.492912,0.890833,0.027949,0.578137,...,0.164460,0.027932,0.014686,0.013778,0.960567,0.931264,0.906871,0.057217,0.977055,0.031018

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg26354221,cg14296039,cg10475683,cg23254463,cg06273051,cg18823302,cg15355235,cg07027506,cg02479278,...,cg13546658,cg15593930,cg13359134,cg07667731,cg09304381,cg23169811,cg26869617,cg21585627,cg02618319,cg09670616
0,2,0.918085,0.873012,0.062533,0.919921,0.543591,0.944782,0.633212,0.645067,0.677445,...,0.232474,0.019946,0.016097,0.016602,0.981877,0.933661,0.923248,0.042639,0.981089,0.017773
1,1,0.924711,0.835527,0.044298,0.921331,0.492912,0.890833,0.027949,0.578137,0.641669,...,0.164460,0.027932,0.014686,0.013778,0.960567,0.931264,0.906871,0.057217,0.977055,0.031018

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(60))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6833333333333333
2
Mean accuracy: 0.75
3
Mean accuracy: 0.65
4
Mean accuracy: 0.7333333333333333
5
Mean accuracy: 0.675
6
Mean accuracy: 0.6833333333333332
7
Mean accuracy: 0.7833333333333334
8
Mean accuracy: 0.75
9
Mean accuracy: 0.6333333333333334
10
Mean accuracy: 0.7333333333333334
11
Mean accuracy: 0.725
12
Mean accuracy: 0.7083333333333333
13
Mean accuracy: 0.6416666666666667
14
Mean accuracy: 0.6333333333333333
15
Mean accuracy: 0.7
16
Mean accuracy: 0.6500000000000001
17
Mean accuracy: 0.7166666666666667
18
Mean accuracy: 0.7666666666666666
19
Mean accuracy: 0.8166666666666667
20
Mean accuracy: 0.6499999999999999
21
Mean accuracy: 0.65
22
Mean accuracy: 0.7
23
Mean accuracy: 0.6666666666666666
24
Mean accuracy: 0.7583333333333334
25
Mean accuracy: 0.6500000000000001
26
Mean accuracy: 0.6833333333333333
27
Mean accuracy: 0.7583333333333334
28
Mean accuracy: 0.6666666666666666
29
Mean accuracy: 0.7416666666666667
30
Mean accuracy: 0.675
31
Mean accuracy: 0.6916666666666667
32
Mean accuracy: 0.75
33
Mean accuracy: 0.7416666666666667
34
Mean accuracy: 0.7666666666666667
35
Mean accuracy: 0.775
36
Mean accuracy: 0.7166666666666667
37
Mean accuracy: 0.7083333333333333
38
Mean accuracy: 0.6666666666666667
39
Mean accuracy: 0.7
40
Mean accuracy: 0.725
41
Mean accuracy: 0.6833333333333333
42
Mean accuracy: 0.75
43
Mean accuracy: 0.7083333333333334
44
Mean accuracy: 0.7166666666666667
45
Mean accuracy: 0.6833333333333333
46
Mean accuracy: 0.65
47
Mean accuracy: 0.675
48
Mean accuracy: 0.6583333333333334
49
Mean accuracy: 0.7000000000000001
50
Mean accuracy: 0.6666666666666666
51
Mean accuracy: 0.6833333333333333
52
Mean accuracy: 0.7583333333333332
53
Mean accuracy: 0.7083333333333333
54
Mean accuracy: 0.6333333333333334
55
Mean accuracy: 0.7166666666666666
56
Mean accuracy: 0.7
57
Mean accuracy: 0.7
58
Mean accuracy: 0.7333333333333333
59
Mean accuracy: 0.725
60
Mean accuracy: 0.6333333333333333
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6666666666666667
63
Mean accuracy: 0.6416666666666666
64
Mean accuracy: 0.825
65
Mean accuracy: 0.65
66
Mean accuracy: 0.7083333333333333
67
Mean accuracy: 0.7166666666666668
68
Mean accuracy: 0.7166666666666666
69
Mean accuracy: 0.7166666666666667
70
Mean accuracy: 0.725
71
Mean accuracy: 0.7166666666666666
72
Mean accuracy: 0.7083333333333333
73
Mean accuracy: 0.6833333333333333
74
Mean accuracy: 0.7583333333333333
75
Mean accuracy: 0.6833333333333333
76
Mean accuracy: 0.7000000000000001
77
Mean accuracy: 0.7333333333333334
78
Mean accuracy: 0.6333333333333333
79
Mean accuracy: 0.675
80
Mean accuracy: 0.7249999999999999
81
Mean accuracy: 0.7083333333333333
82
Mean accuracy: 0.6333333333333333
83
Mean accuracy: 0.7333333333333333
84
Mean accuracy: 0.75
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.6916666666666667
87
Mean accuracy: 0.7166666666666666
88
Mean accuracy: 0.6333333333333333
89
Mean accuracy: 0.7499999999999999
90
Mean accuracy: 0.7583333333333334
91
Mean accuracy: 0.725
92
Mean accuracy: 0.7250000000000001
93
Mean accuracy: 0.7583333333333334
94
Mean accuracy: 0.7166666666666667
95
Mean accuracy: 0.6916666666666667
96
Mean accuracy: 0.7333333333333334
97
Mean accuracy: 0.7083333333333333
98
Mean accuracy: 0.6583333333333333
99
Mean accuracy: 0.6833333333333333
100
Mean accuracy: 0.7

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_Boruta50CpG_100RF.csv", index = False)

0.7038333333333334

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_LexicalFluency_Data.csv')
print(df.shape)
df.head(2)

(233, 52)

,PATNO,APPRDX,cg18504826,cg24706032,cg04958915,cg23983141,cg04310833,cg12184854,cg08550831,cg08096908,...,cg25045630,cg07956247,cg17287767,cg13739582,cg06173919,cg00379002,cg25361663,cg01083159,cg01219549,cg14478495
0,3000,2,0.923461,0.013061,0.953291,0.873134,0.919058,0.935107,0.926300,0.937764,...,0.925686,0.950869,0.027357,0.661946,0.920101,0.070987,0.922851,0.285636,0.978548,0.079537
1,3001,1,0.912524,0.014550,0.912131,0.863465,0.914570,0.933108,0.907085,0.905542,...,0.896759,0.954344,0.030067,0.581498,0.906110,0.081577,0.911043,0.323545,0.975563,0.018922

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18504826,cg24706032,cg04958915,cg23983141,cg04310833,cg12184854,cg08550831,cg08096908,cg15355127,...,cg25045630,cg07956247,cg17287767,cg13739582,cg06173919,cg00379002,cg25361663,cg01083159,cg01219549,cg14478495
0,2,0.923461,0.013061,0.953291,0.873134,0.919058,0.935107,0.926300,0.937764,0.685666,...,0.925686,0.950869,0.027357,0.661946,0.920101,0.070987,0.922851,0.285636,0.978548,0.079537
1,1,0.912524,0.014550,0.912131,0.863465,0.914570,0.933108,0.907085,0.905542,0.676244,...,0.896759,0.954344,0.030067,0.581498,0.906110,0.081577,0.911043,0.323545,0.975563,0.018922

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(60))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.6666666666666666
3
Mean accuracy: 0.6249999999999999
4
Mean accuracy: 0.7083333333333334
5
Mean accuracy: 0.7083333333333334
6
Mean accuracy: 0.675
7
Mean accuracy: 0.725
8
Mean accuracy: 0.725
9
Mean accuracy: 0.7083333333333333
10
Mean accuracy: 0.75
11
Mean accuracy: 0.7
12
Mean accuracy: 0.7666666666666666
13
Mean accuracy: 0.6833333333333333
14
Mean accuracy: 0.725
15
Mean accuracy: 0.8
16
Mean accuracy: 0.6666666666666666
17
Mean accuracy: 0.6666666666666667
18
Mean accuracy: 0.6583333333333334
19
Mean accuracy: 0.7333333333333333
20
Mean accuracy: 0.6833333333333333
21
Mean accuracy: 0.6666666666666667
22
Mean accuracy: 0.6499999999999999
23
Mean accuracy: 0.6916666666666667
24
Mean accuracy: 0.7166666666666667
25
Mean accuracy: 0.7166666666666666
26
Mean accuracy: 0.675
27
Mean accuracy: 0.7166666666666667
28
Mean accuracy: 0.65
29
Mean accuracy: 0.6833333333333333
30
Mean accuracy: 0.6833333333333333
31
Mean accuracy: 0.6666666666666667
32
Mean accuracy: 0.7583333333333334
33
Mean accuracy: 0.7333333333333334
34
Mean accuracy: 0.675
35
Mean accuracy: 0.7666666666666666
36
Mean accuracy: 0.7166666666666667
37
Mean accuracy: 0.7000000000000001
38
Mean accuracy: 0.7166666666666667
39
Mean accuracy: 0.725
40
Mean accuracy: 0.7416666666666667
41
Mean accuracy: 0.6916666666666667
42
Mean accuracy: 0.725
43
Mean accuracy: 0.7249999999999999
44
Mean accuracy: 0.7250000000000001
45
Mean accuracy: 0.6666666666666667
46
Mean accuracy: 0.7166666666666666
47
Mean accuracy: 0.6833333333333332
48
Mean accuracy: 0.725
49
Mean accuracy: 0.7333333333333334
50
Mean accuracy: 0.7083333333333334
51
Mean accuracy: 0.675
52
Mean accuracy: 0.6833333333333333
53
Mean accuracy: 0.6916666666666667
54
Mean accuracy: 0.7
55
Mean accuracy: 0.7666666666666666
56
Mean accuracy: 0.7333333333333333
57
Mean accuracy: 0.7
58
Mean accuracy: 0.675
59
Mean accuracy: 0.7
60
Mean accuracy: 0.65
61
Mean accuracy: 0.7583333333333334
62
Mean accuracy: 0.6666666666666667
63
Mean accuracy: 0.7166666666666667
64
Mean accuracy: 0.7333333333333333
65
Mean accuracy: 0.6833333333333333
66
Mean accuracy: 0.6833333333333333
67
Mean accuracy: 0.6583333333333333
68
Mean accuracy: 0.675
69
Mean accuracy: 0.7333333333333334
70
Mean accuracy: 0.6166666666666667
71
Mean accuracy: 0.65
72
Mean accuracy: 0.7250000000000001
73
Mean accuracy: 0.6833333333333333
74
Mean accuracy: 0.7500000000000001
75
Mean accuracy: 0.7166666666666667
76
Mean accuracy: 0.7333333333333334
77
Mean accuracy: 0.7166666666666667
78
Mean accuracy: 0.7
79
Mean accuracy: 0.7166666666666666
80
Mean accuracy: 0.7166666666666668
81
Mean accuracy: 0.7166666666666667
82
Mean accuracy: 0.6666666666666667
83
Mean accuracy: 0.7083333333333333
84
Mean accuracy: 0.7
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.7
87
Mean accuracy: 0.6916666666666667
88
Mean accuracy: 0.6916666666666667
89
Mean accuracy: 0.7416666666666667
90
Mean accuracy: 0.7166666666666667
91
Mean accuracy: 0.6666666666666667
92
Mean accuracy: 0.7416666666666668
93
Mean accuracy: 0.7833333333333333
94
Mean accuracy: 0.725
95
Mean accuracy: 0.7166666666666667
96
Mean accuracy: 0.7250000000000001
97
Mean accuracy: 0.7583333333333334
98
Mean accuracy: 0.675
99
Mean accuracy: 0.6583333333333332
100
Mean accuracy: 0.6666666666666667

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_NMI50CpG_100RF.csv", index = False)

0.7036666666666668

## RanFor Top 50 Boruta + NMI 100 times. Samples = 98

In [19]:
df = pd.read_csv('LexicalFluency_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(233, 100)

,PATNO,APPRDX,cg18504826,cg24706032,cg04958915,cg23983141,cg04310833,cg12184854,cg08550831,cg08096908,...,cg13546658,cg15593930,cg13359134,cg07667731,cg09304381,cg23169811,cg26869617,cg21585627,cg02618319,cg09670616
0,3000,2,0.923461,0.013061,0.953291,0.873134,0.919058,0.935107,0.926300,0.937764,...,0.232474,0.019946,0.016097,0.016602,0.981877,0.933661,0.923248,0.042639,0.981089,0.017773
1,3001,1,0.912524,0.014550,0.912131,0.863465,0.914570,0.933108,0.907085,0.905542,...,0.164460,0.027932,0.014686,0.013778,0.960567,0.931264,0.906871,0.057217,0.977055,0.031018

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18504826,cg24706032,cg04958915,cg23983141,cg04310833,cg12184854,cg08550831,cg08096908,cg15355127,...,cg13546658,cg15593930,cg13359134,cg07667731,cg09304381,cg23169811,cg26869617,cg21585627,cg02618319,cg09670616
0,2,0.923461,0.013061,0.953291,0.873134,0.919058,0.935107,0.926300,0.937764,0.685666,...,0.232474,0.019946,0.016097,0.016602,0.981877,0.933661,0.923248,0.042639,0.981089,0.017773
1,1,0.912524,0.014550,0.912131,0.863465,0.914570,0.933108,0.907085,0.905542,0.676244,...,0.164460,0.027932,0.014686,0.013778,0.960567,0.931264,0.906871,0.057217,0.977055,0.031018

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(60))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7083333333333334
2
Mean accuracy: 0.725
3
Mean accuracy: 0.6333333333333333
4
Mean accuracy: 0.7583333333333333
5
Mean accuracy: 0.7166666666666667
6
Mean accuracy: 0.6666666666666666
7
Mean accuracy: 0.7666666666666666
8
Mean accuracy: 0.725
9
Mean accuracy: 0.725
10
Mean accuracy: 0.7416666666666667
11
Mean accuracy: 0.6500000000000001
12
Mean accuracy: 0.7583333333333334
13
Mean accuracy: 0.6416666666666667
14
Mean accuracy: 0.7
15
Mean accuracy: 0.7583333333333333
16
Mean accuracy: 0.6333333333333333
17
Mean accuracy: 0.7166666666666667
18
Mean accuracy: 0.6916666666666667
19
Mean accuracy: 0.7833333333333333
20
Mean accuracy: 0.6916666666666667
21
Mean accuracy: 0.675
22
Mean accuracy: 0.675
23
Mean accuracy: 0.7000000000000001
24
Mean accuracy: 0.7333333333333334
25
Mean accuracy: 0.7083333333333334
26
Mean accuracy: 0.7083333333333333
27
Mean accuracy: 0.7416666666666667
28
Mean accuracy: 0.675
29
Mean accuracy: 0.7166666666666666
30
Mean accuracy: 0.675
31
Mean accuracy: 0.7083333333333333
32
Mean accuracy: 0.7166666666666666
33
Mean accuracy: 0.6916666666666667
34
Mean accuracy: 0.7
35
Mean accuracy: 0.725
36
Mean accuracy: 0.7166666666666667
37
Mean accuracy: 0.7
38
Mean accuracy: 0.675
39
Mean accuracy: 0.7166666666666666
40
Mean accuracy: 0.7583333333333333
41
Mean accuracy: 0.675
42
Mean accuracy: 0.7
43
Mean accuracy: 0.7166666666666666
44
Mean accuracy: 0.6916666666666667
45
Mean accuracy: 0.6833333333333333
46
Mean accuracy: 0.725
47
Mean accuracy: 0.7083333333333334
48
Mean accuracy: 0.7416666666666667
49
Mean accuracy: 0.7
50
Mean accuracy: 0.6666666666666667
51
Mean accuracy: 0.6583333333333334
52
Mean accuracy: 0.7333333333333333
53
Mean accuracy: 0.6916666666666667
54
Mean accuracy: 0.7166666666666666
55
Mean accuracy: 0.7416666666666667
56
Mean accuracy: 0.7333333333333333
57
Mean accuracy: 0.725
58
Mean accuracy: 0.6916666666666667
59
Mean accuracy: 0.7666666666666668
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.725
62
Mean accuracy: 0.7083333333333334
63
Mean accuracy: 0.7083333333333333
64
Mean accuracy: 0.7333333333333332
65
Mean accuracy: 0.6666666666666667
66
Mean accuracy: 0.6916666666666667
67
Mean accuracy: 0.6833333333333333
68
Mean accuracy: 0.6916666666666667
69
Mean accuracy: 0.7583333333333334
70
Mean accuracy: 0.6583333333333333
71
Mean accuracy: 0.725
72
Mean accuracy: 0.7583333333333334
73
Mean accuracy: 0.6666666666666667
74
Mean accuracy: 0.725
75
Mean accuracy: 0.7
76
Mean accuracy: 0.6583333333333334
77
Mean accuracy: 0.7
78
Mean accuracy: 0.7083333333333334
79
Mean accuracy: 0.7
80
Mean accuracy: 0.725
81
Mean accuracy: 0.6916666666666667
82
Mean accuracy: 0.7333333333333333
83
Mean accuracy: 0.7333333333333334
84
Mean accuracy: 0.7333333333333332
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.7166666666666668
87
Mean accuracy: 0.6749999999999999
88
Mean accuracy: 0.6583333333333333
89
Mean accuracy: 0.7166666666666666
90
Mean accuracy: 0.7416666666666667
91
Mean accuracy: 0.7333333333333334
92
Mean accuracy: 0.7
93
Mean accuracy: 0.7416666666666667
94
Mean accuracy: 0.7166666666666667
95
Mean accuracy: 0.7333333333333334
96
Mean accuracy: 0.725
97
Mean accuracy: 0.7333333333333333
98
Mean accuracy: 0.6666666666666667
99
Mean accuracy: 0.675
100
Mean accuracy: 0.7

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("LexicalFluency_Top50sCpG98_100RF.csv", index = False)

0.7075833333333336