In [1]:
import pandas as pd
from functools import reduce

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats_45_Categorized
df_gen = pd.read_csv ('PATNO_Age_APPRDX_Raw.csv')
df1 = pd.read_csv ('PATNO_Gender_Full.csv')

df2 = pd.merge(df1, df_gen, on = 'PATNO', how = 'inner')
df2.to_csv('PATNO_Age_Gender.csv', index = False)
print(df2.shape)
df2.head(2)

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats_45_Categorized
(683, 4)

   PATNO  Gender  APPRDX        Age
0   3000       2       2  69.139726
1   3001       1       1  65.142466

In [3]:
files = ['Benton_Derived_Categorized.csv','Clock_Drawing-Categorised.csv','Cognitive_Categorization-Categorised.csv',
         'Epworth_Sleepiness_Scale-Categorised.csv','Geriatric_Depression_Scale-Categorised.csv',
         'Hopkins_Recall_Derived_Categorized.csv', 'Hopkins_Recognition_Derived_Categorized.csv',
         'Letter_-_Number_Sequencing__PD-Categorised.csv','Lexical_Fluency-Categorised.csv',
         'MDS_UPDRS_Part_I__Patient_Questionnaire-Categorised.csv', 'MDS_UPDRS_Part_I-Categorised.csv',
         'Modified_Boston_Naming_Test-Categorised.csv', 'Montreal_Cognitive_Assessment__MoCA-Categorised.csv',
         'QUIP_Current_Short-Categorised.csv','REM_Sleep_Disorder_Questionnaire-Categorised.csv',
         'SCOPA_AUT-Categorised.csv','Semantic_Fluency-Categorised.csv','Socio-Economics-Categorised.csv',
         'State-Trait_Anxiety_Inventory-Categorised.csv', 'Symbol_Digit_Modalities-Categorised.csv',
         'TrailMaking_Derived_Categorized.csv', 'University_of_Pennsylvania_Smell_ID_Test-Categorised.csv']
# Loading all the files at once

In [4]:
df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)
#The above code concatenates all the files vertically and ignores the original index, creating a new one.
print(df.shape)
df.head(2)

(30625, 46)

,PATNO,Benton,Clock_Category,COGSTATE,Epworth_Category,Geriatric_Depression_Category,Hopkins_Recall,Hopkins_Recog,LetterNumber_Category,Lexical_Fluency_Category,...,SCOPA_Sex_Category,Semantic_Category,Education_Category,Hand_Category,STAIS_Category,STAIA_Category,Symbol_Digit_Category,Trail_Making_A_Category,Trail_Making_B_Category,UPSIT_3_Category
0,3224,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,54937,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Read the first csv file
df = pd.read_csv(files[0])

# Merge the rest of the csv files with an outer join
for file in files[1:]:
    df = df.merge(pd.read_csv(file), on='PATNO', how='outer')

print(df.shape)
df.head(2)

(2186, 46)

,PATNO,Benton,Clock_Category,COGSTATE,Epworth_Category,Geriatric_Depression_Category,Hopkins_Recall,Hopkins_Recog,LetterNumber_Category,Lexical_Fluency_Category,...,SCOPA_Sex_Category,Semantic_Category,Education_Category,Hand_Category,STAIS_Category,STAIA_Category,Symbol_Digit_Category,Trail_Making_A_Category,Trail_Making_B_Category,UPSIT_3_Category
0,3224,0.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0,2.0,...,2.0,1.0,0.0,0.0,1.0,1.0,2.0,NaN,NaN,2.0
1,54937,0.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN

In [6]:
df.to_csv('Feats45_Categorised_Sparse.csv', index = False)

## Merging with APPRDX

In [7]:
df = pd.read_csv ('Feats45_Categorised_Sparse.csv')
df1 = pd.read_csv ('PATNO_Age_Gender.csv')

df2 = pd.merge(df1, df, on = 'PATNO', how = 'inner')
print(df2.shape)
df2.head(2)

(683, 49)

,PATNO,Gender,APPRDX,Age,Benton,Clock_Category,COGSTATE,Epworth_Category,Geriatric_Depression_Category,Hopkins_Recall,...,SCOPA_Sex_Category,Semantic_Category,Education_Category,Hand_Category,STAIS_Category,STAIA_Category,Symbol_Digit_Category,Trail_Making_A_Category,Trail_Making_B_Category,UPSIT_3_Category
0,3000,2,2,69.139726,0.0,NaN,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,3001,1,1,65.142466,0.0,NaN,0.0,0.0,1.0,0.0,...,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0

In [8]:
df2.to_csv('Feats45_CategSparse_APPRDX_Gender.csv', index = False)

In [9]:
df2 = pd.read_csv ('Feats45_CategSparse_APPRDX_Gender.csv')
df3 = df2.dropna()
print(df3.shape)
df3.head(2)

(254, 49)

,PATNO,Gender,APPRDX,Age,Benton,Clock_Category,COGSTATE,Epworth_Category,Geriatric_Depression_Category,Hopkins_Recall,...,SCOPA_Sex_Category,Semantic_Category,Education_Category,Hand_Category,STAIS_Category,STAIA_Category,Symbol_Digit_Category,Trail_Making_A_Category,Trail_Making_B_Category,UPSIT_3_Category
2,3002,2,1,67.578082,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,2.0,1.0,1.0,2.0,1.0,2.0
7,3008,2,2,81.890411,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0

In [10]:
df3.to_csv('Feats45_CategAge_APPRDX_Gender.csv', index = False)