In [1]:
import numpy as np
import pandas as pd

# Cognition

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Cognition
df1 = pd.read_csv('NMI_Top50_Cognition_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('Cognition_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Cognition
(150, 52)
(150, 52)

In [3]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Cognition_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 100)

,PATNO,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg14268784,cg10615711,cg20373081,cg06322035,...,cg05015348,cg18497960,cg18830699,cg18319799,cg04954056,cg09902448,cg00319242,cg05125128,cg26819590,cg06191029
0,3002,1,0.522515,0.887998,0.864310,0.024669,0.752473,0.820693,0.485638,0.922618,...,0.925712,0.031527,0.080178,0.020568,0.924756,0.952915,0.936700,0.894132,0.930234,0.622872
1,3003,1,0.504891,0.881857,0.906418,0.027039,0.742175,0.840767,0.514168,0.931757,...,0.929549,0.028693,0.125536,0.019818,0.906033,0.959074,0.935086,0.887206,0.923072,0.895365

# Constipation

In [4]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Constipation
df1 = pd.read_csv('NMI_Top50_Constipation_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('Constipation_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Constipation
(150, 52)
(150, 52)

In [5]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Constipation_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 100)

,PATNO,APPRDX,cg14268784,cg22136726,cg00335286,cg20080383,cg17594730,cg03166896,cg21409615,cg09351848,...,cg24632646,cg18258770,cg15454710,cg13365781,cg19878200,cg23814714,cg06173919,cg19458274,cg20641425,cg11712482
0,3002,1,0.752473,0.699776,0.650353,0.644179,0.905597,0.941780,0.882367,0.864516,...,0.925054,0.066482,0.831087,0.014288,0.123791,0.879547,0.938525,0.015144,0.611551,0.426216
1,3003,1,0.742175,0.667122,0.708811,0.461084,0.937221,0.937959,0.893561,0.855371,...,0.921383,0.073510,0.885725,0.014145,0.104146,0.900867,0.958519,0.015374,0.744868,0.431001

# Gastro

In [6]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro
df1 = pd.read_csv('NMI_Top50_Gastro_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('Gastro_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Gastro
(150, 52)
(150, 52)

In [7]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Gastro_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 99)

,PATNO,APPRDX,cg20699097,cg12162792,cg14268784,cg10615711,cg18248290,cg21028211,cg22136726,cg19138499,...,cg02386354,cg11667847,cg23446297,cg03157284,cg16281009,cg00882235,cg12103037,cg08455380,cg15995909,cg08658665
0,3000,2,0.561816,0.855302,0.703388,0.673214,0.898221,0.038356,0.736337,0.920851,...,0.925231,0.496920,0.052424,0.533353,0.892000,0.058645,0.076198,0.062389,0.924530,0.048968
1,3002,1,0.522515,0.887998,0.752473,0.820693,0.913113,0.025499,0.699776,0.928081,...,0.927492,0.451558,0.053269,0.493896,0.857446,0.070943,0.088004,0.049029,0.912166,0.045645

# LexicalFluency

In [8]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\LexicalFluency
df1 = pd.read_csv('Top50NMI_LexicalFluency_Female_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Top50Boruta_LexicalFluency_Female_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\LexicalFluency
(75, 52)
(75, 52)

In [9]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('LexicalFluency_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(75, 96)

,PATNO,APPRDX,cg26111030,cg17605629,cg06480636,cg13901712,cg22190754,cg20717075,cg15000071,cg22707381,...,cg10364513,cg14410319,cg25158734,cg00337440,cg11543740,cg20546928,cg25126016,cg18295068,cg12942009,cg02320740
0,3000,2,0.027015,0.726750,0.629698,0.891398,0.383983,0.424800,0.550229,0.611164,...,0.048438,0.087773,0.282774,0.609358,0.928531,0.053702,0.887791,0.077857,0.907575,0.019762
1,3002,1,0.017736,0.668591,0.677090,0.863390,0.765749,0.612856,0.570055,0.668208,...,0.032091,0.078954,0.286004,0.554657,0.905266,0.042847,0.940108,0.052616,0.919997,0.024096

# Pain

In [10]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain
df1 = pd.read_csv('NMI_Top50_Pain_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('Pain_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain
(150, 52)
(150, 52)

In [11]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Pain_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 101)

,PATNO,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg10615711,cg17754830,cg20742385,cg20064928,...,cg01158140,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482
0,3002,1,0.522515,0.887998,0.864310,0.024669,0.820693,0.234933,0.831509,0.018605,...,0.830883,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216
1,3003,1,0.504891,0.881857,0.906418,0.027039,0.840767,0.203623,0.804018,0.019957,...,0.887657,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001

# STAIS

In [12]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
df1 = pd.read_csv('Top50NMI_STAIS_Female_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Top50Boruta_STAIS_Female_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
(150, 52)
(150, 52)

In [13]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('STAIS_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 94)

,PATNO,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,...,cg23085154,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg17446654,cg13527921,cg15499799,cg13134297
0,3000,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,...,0.541307,0.731529,0.786456,0.099350,0.922703,0.272605,0.025802,0.106406,0.681785,0.154995
1,3002,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,...,0.638374,0.780602,0.798387,0.106778,0.913702,0.344200,0.013819,0.149376,0.762136,0.246300

# UPSIT

In [14]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT
df1 = pd.read_csv('NMI_Top50_UPSIT_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('UPSIT_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT
(150, 52)
(150, 52)

In [15]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('UPSIT_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 97)

,PATNO,APPRDX,cg02488409,cg23865342,cg12845419,cg23142730,cg02888917,cg27486833,cg26730369,cg11686092,...,cg18322516,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274
0,3002,1,0.921580,0.896196,0.518718,0.826768,0.061802,0.729550,0.064156,0.041555,...,0.922824,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144
1,3003,1,0.923798,0.876246,0.548928,0.807613,0.063124,0.745873,0.091314,0.091124,...,0.912891,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374

# Urine

In [16]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine
df1 = pd.read_csv('NMI_Top50_Urine_Methylome_Female.csv')
print(df1.shape)
df2 = pd.read_csv('Urine_Boruta_Top50_Data_Female.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Urine
(150, 52)
(150, 52)

In [17]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Urine_Top50sMerge_Data_Female.csv', index = False)
print(final_df.shape)
final_df.head(2)

(150, 93)

,PATNO,APPRDX,cg26889735,cg10695325,cg20080383,cg17594730,cg25696758,cg15109118,ch.12.2471797R,cg03802461,...,cg07110488,cg25793587,cg05438378,cg25186332,cg07924503,cg03913050,cg12372912,cg10029130,cg27193204,cg15567507
0,3002,1,0.893980,0.076813,0.644179,0.905597,0.877105,0.887928,0.024404,0.034039,...,0.910569,0.804496,0.325756,0.917926,0.289985,0.154252,0.919962,0.054931,0.878167,0.906558
1,3003,1,0.902188,0.076971,0.461084,0.937221,0.884699,0.876819,0.030409,0.043548,...,0.862993,0.671177,0.321502,0.887484,0.300905,0.182643,0.908645,0.067078,0.879973,0.891626