In [1]:
import numpy as np
import pandas as pd

In [2]:
%cd Z:\PPMI_Data\Excels\CollaborativeFiltering
df1 = pd.read_csv ("PATNO_Gender_Age.csv")
print(df1.shape)
df1.head(3)

Z:\PPMI_Data\Excels\CollaborativeFiltering
(458, 5)

   PATNO  Gender  HYS  AgeCate   Age
0   3000       2    0        4  69.1
1   3001       1    2        4  65.1
2   3002       2    2        4  67.6

In [3]:
df2 = pd.read_csv ("Feats45_unCateg_APPRDX.csv")
print(df2.shape)
df2.head(3)

(250, 48)

,PATNO,APPRDX,Patient_ID,Anxiety,Apathy,Benton,Clock,Cognition,COGSTATE,Constipate,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
0,3002,1,1,1,0,12.16,7,1,1,1,...,57,1,0,45,59,47.500000,110,204,17,1
1,3010,1,2,1,1,7.76,6,1,1,0,...,36,1,3,40,39,52.000000,27,52,9,0
2,3020,1,3,0,0,13.49,7,1,2,0,...,45,1,2,42,42,43.330002,90,252,26,0

In [4]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
df3.head(2)

(160, 52)

,PATNO,Gender,HYS,AgeCate,Age,APPRDX,Patient_ID,Anxiety,Apathy,Benton,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
0,3002,2,2,4,67.6,1,1,1,0,12.16,...,57,1,0,45,59,47.500000,110,204,17,1
1,3008,2,0,5,81.9,2,165,1,0,11.52,...,52,1,2,51,45,41.669998,43,105,37,2

In [12]:
df3.to_csv ("Common6_TrailMakeB_DataHYS.csv", index = False)

In [13]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
df2 = pd.read_csv ("Common5_Lexical_Data.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
(233, 7)

   PATNO  APPRDX  cg02471166  cg11492856  cg04001014  cg02618319  cg18504826
0   3000       2    0.601775    0.921944    0.036511    0.981089    0.923461
1   3001       1    0.804546    0.911869    0.038820    0.977055    0.912524
2   3002       1    0.734715    0.927646    0.042524    0.980235    0.924475

In [14]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common5_Lexical_DataHYS.csv", index = False)

(233, 8)
   PATNO  HYS  APPRDX  cg02471166  cg11492856  cg04001014  cg02618319  \
0   3000    0       2    0.601775    0.921944    0.036511    0.981089
1   3001    2       1    0.804546    0.911869    0.038820    0.977055

   cg18504826
0    0.923461
1    0.912524

In [15]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
df2 = pd.read_csv ("Common4_LetterNumber_Data.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
(458, 6)

   PATNO  APPRDX  cg03424478  cg06650206  cg12298429  cg12046288
0   3000       2    0.028517    0.920542    0.045533    0.017441
1   3001       1    0.030953    0.878158    0.032801    0.019627
2   3002       1    0.030566    0.903557    0.029017    0.018174

In [16]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common4_LetterNumber_DataHYS.csv", index = False)

(458, 7)
   PATNO  HYS  APPRDX  cg03424478  cg06650206  cg12298429  cg12046288
0   3000    0       2    0.028517    0.920542    0.045533    0.017441
1   3001    2       1    0.030953    0.878158    0.032801    0.019627

In [17]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
df2 = pd.read_csv ("Common1_Gastro_Data.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
(458, 3)

   PATNO  APPRDX  cg21921473
0   3000       2    0.807672
1   3001       1    0.832439
2   3002       1    0.906036

In [18]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common1_Gastro_DataHYS.csv", index = False)

(458, 4)
   PATNO  HYS  APPRDX  cg21921473
0   3000    0       2    0.807672
1   3001    2       1    0.832439

In [19]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
df2 = pd.read_csv ("Common10_Apathy_Data.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
(458, 12)

,PATNO,APPRDX,cg02157463,cg04333485,cg08187983,cg11486829,cg03605226,cg01366849,cg14498209,cg01081395,cg17741809,cg26200585
0,3000,2,0.677453,0.162589,0.976590,0.850409,0.030330,0.945979,0.066835,0.525126,0.581553,0.894961
1,3001,1,0.641978,0.184197,0.972912,0.813852,0.051677,0.922968,0.070633,0.826699,0.452972,0.740107
2,3002,1,0.637395,0.132808,0.975221,0.756494,0.111494,0.952598,0.055912,0.857042,0.442759,0.861804

In [20]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common10_Apathy_DataHYS.csv", index = False)

(458, 13)
   PATNO  HYS  APPRDX  cg02157463  cg04333485  cg08187983  cg11486829  \
0   3000    0       2    0.677453    0.162589    0.976590    0.850409
1   3001    2       1    0.641978    0.184197    0.972912    0.813852

   cg03605226  cg01366849  cg14498209  cg01081395  cg17741809  cg26200585
0    0.030330    0.945979    0.066835    0.525126    0.581553    0.894961
1    0.051677    0.922968    0.070633    0.826699    0.452972    0.740107

# Male

In [21]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
df2 = pd.read_csv ("Common10_Hopkins_Data_Male.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
(110, 12)

,PATNO,APPRDX,cg03616148,cg00314622,cg21620535,cg03567838,cg04891959,cg07804122,cg21228068,cg23867254,cg11489262,cg06947206
0,3010,1,0.485398,0.732007,0.038450,0.866703,0.022596,0.033899,0.549556,0.650420,0.083984,0.011422
1,3024,1,0.795923,0.703085,0.033025,0.841374,0.033186,0.041293,0.903135,0.664160,0.090219,0.007042
2,3029,2,0.669980,0.696370,0.045212,0.854349,0.021231,0.047708,0.905122,0.553096,0.090989,0.010944

In [22]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common10_Hopkins_Data_MaleHYS.csv", index = False)

(110, 13)
   PATNO  HYS  APPRDX  cg03616148  cg00314622  cg21620535  cg03567838  \
0   3010    2       1    0.485398    0.732007    0.038450    0.866703
1   3024    2       1    0.795923    0.703085    0.033025    0.841374

   cg04891959  cg07804122  cg21228068  cg23867254  cg11489262  cg06947206
0    0.022596    0.033899    0.549556     0.65042    0.083984    0.011422
1    0.033186    0.041293    0.903135     0.66416    0.090219    0.007042

In [23]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
df2 = pd.read_csv ("Common7_SleepDay_Data_Male.csv")
print(df2.shape)
df2.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
(308, 9)

,PATNO,APPRDX,cg22505241,cg16004767,cg05519181,cg12229394,cg12653876,cg10895922,cg21426547
0,3001,1,0.914495,0.882369,0.828366,0.025663,0.892774,0.063407,0.732635

In [24]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common7_SleepDay_Data_MaleHYS.csv", index = False)

(308, 10)
   PATNO  HYS  APPRDX  cg22505241  cg16004767  cg05519181  cg12229394  \
0   3001    2       1    0.914495    0.882369    0.828366    0.025663
1   3004    0       2    0.905095    0.892872    0.841617    0.025362

   cg12653876  cg10895922  cg21426547
0    0.892774    0.063407    0.732635
1    0.892106    0.026382    0.688197

# Female

In [25]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
df2 = pd.read_csv ("Common9_STAIS_Data_Female.csv")
print(df2.shape)
df2.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
(150, 11)

,PATNO,APPRDX,cg01600124,cg08271803,cg16516429,cg26955850,cg23881278,cg16234718,cg21105972,cg23974023,cg22930773
0,3000,2,0.937918,0.153215,0.845297,0.298055,0.033502,0.909822,0.79264,0.813086,0.874594

In [26]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common9_STAIS_Data_FemaleHYS.csv", index = False)

(150, 12)
   PATNO  HYS  APPRDX  cg01600124  cg08271803  cg16516429  cg26955850  \
0   3000    0       2    0.937918    0.153215    0.845297    0.298055
1   3002    2       1    0.930119    0.041552    0.865760    0.359086

   cg23881278  cg16234718  cg21105972  cg23974023  cg22930773
0    0.033502    0.909822    0.792640    0.813086    0.874594
1    0.043708    0.920270    0.840348    0.806178    0.867694

In [27]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\LexicalFluency
df2 = pd.read_csv ("Common15_LexicalFluency_Data_Female.csv")
print(df2.shape)
df2.head(1)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\LexicalFluency
(75, 17)

,PATNO,APPRDX,cg02933993,cg04294383,cg04451259,cg05302035,cg05382797,cg06480636,cg06632027,cg07433663,cg10253929,cg10769891,cg17990657,cg18795825,cg21088420,cg25158734,cg26632873
0,3000,2,0.723011,0.921624,0.83535,0.86667,0.023748,0.629698,0.043348,0.088087,0.027381,0.031391,0.572508,0.025923,0.159974,0.282774,0.011142

In [28]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
print(df3.head(2))
df3.to_csv ("Common15_LexicalFluency_Data_FemaleHYS.csv", index = False)

(75, 18)
   PATNO  HYS  APPRDX  cg02933993  cg04294383  cg04451259  cg05302035  \
0   3000    0       2    0.723011    0.921624    0.835350    0.866670
1   3002    2       1    0.583824    0.893732    0.764024    0.888044

   cg05382797  cg06480636  cg06632027  cg07433663  cg10253929  cg10769891  \
0    0.023748    0.629698    0.043348    0.088087    0.027381    0.031391
1    0.027251    0.677090    0.025609    0.064613    0.019520    0.015638

   cg17990657  cg18795825  cg21088420  cg25158734  cg26632873
0    0.572508    0.025923    0.159974    0.282774    0.011142
1    0.548622    0.026647    0.164491    0.286004    0.010213