In [1]:
import numpy as np
import pandas as pd

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250
df1 = pd.read_csv ("NonMotor_SocioBehavior_Categorized_Edit.csv")
print(df1.shape)
df1.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250
(250, 47)

,PATNO,APPRDX,Benton,COGSTATE,Clock,Epworth,Geriatric_Depression,Hopkins,Hopkins_Recog,LetterNumber,...,SCOPA_Sex,Semantic,Education,Hand,STAIS,STAIA,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT
0,3002,1,0,0,0,1,1,0,0,1,...,1,0,1,0,2,1,1,1,1,2
1,3008,2,0,1,0,0,1,0,0,1,...,0,1,0,0,1,2,2,1,1,0
2,3009,2,0,0,1,1,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0

In [7]:
%cd Z:\PPMI_Data\Excels\MultiClass
df2 = pd.read_csv ("HoehnYahrScale_With_Patient.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\MultiClass
(2134, 2)

   PATNO  HYS
0   3000    0
1   3001    2
2   3002    2

In [8]:
df3 = pd.merge (df2, df1, on = 'PATNO', how = 'inner')
print(df3.shape)
df3.head(2)

(250, 48)

,PATNO,HYS,APPRDX,Benton,COGSTATE,Clock,Epworth,Geriatric_Depression,Hopkins,Hopkins_Recog,...,SCOPA_Sex,Semantic,Education,Hand,STAIS,STAIA,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT
0,3002,2,1,0,0,0,1,1,0,0,...,1,0,1,0,2,1,1,1,1,2
1,3008,0,2,0,1,0,0,1,0,0,...,0,1,0,0,1,2,2,1,1,0

In [9]:
df3.to_csv ("NonMotor_Categorized_withHYS.csv", index = False)