In [2]:
import pandas as pd
from functools import reduce

Z:\PPMI_Data\Excels\NonMotors\Derived250\UnCategorized_45Feats

In [5]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files
df_gen = pd.read_csv ('Gender_PATNO.csv')
df1 = pd.read_csv ('PATNO_Age_APPRDX_Raw.csv')

df2 = pd.merge(df1, df_gen, on = 'PATNO', how = 'inner')
print(df2.shape)
df2.head(2)

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files
(683, 4)

   PATNO  APPRDX        Age  SEX
0   3000       2  69.139726    0
1   3001       1  65.142466    1

In [6]:
df2.to_csv('Age_Gender_PATNO.csv', index = False)

In [7]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\UnCategorized_45Feats

files = ['Benton.csv','Clock.csv','Cognitive_COGSTATE.csv','Epworth.csv','Geriatric.csv','Hopkins_Recall_Derived.csv',
         'Hopkins_Recognition_Derived.csv','Letter.csv','Lexical.csv','MDS_UPDRS_Part_I.csv',
         'MDS_UPDRS_Part_I_Pat.csv','Modified_Boston.csv', 'Montreal.csv','QUIP_Scores.csv','REM_Sleep_Scores.csv',
         'SCOPA_Scores.csv','Semantic.csv','Socio.csv','STAI.csv','Symbol.csv','Trail.csv','UPSIT.csv']
# Loading all the files at once

Z:\PPMI_Data\Excels\NonMotors\Derived250\UnCategorized_45Feats

In [8]:
df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)
#The above code concatenates all the files vertically and ignores the original index, creating a new one.
print(df.shape)
df.head(2)

(30610, 50)

,PATNO,DVS_JLO_MSSAE,CLCKTOT,PAG_NAME,COGSTATE,ESST,GDSSHORT_Score,DVT_DELAYED_RECALL,DVT_RECOG_DISC_INDEX,DVS_LNS,...,SCOPA_Sex_Total,DVT_SFTANIM,EDUCYRS,HANDED,STAIS,STAIA,DVT_SDM,TMTASEC,TMTBSEC,UPSIT
0,3000,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3001,15.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Read the first csv file
df = pd.read_csv(files[0])

# Merge the rest of the csv files with an outer join
for file in files[1:]:
    df = df.merge(pd.read_csv(file), on='PATNO', how='outer')

print(df.shape)
df.head(2)

(2185, 53)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3340\2768075079.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'PAG_NAME_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(pd.read_csv(file), on='PATNO', how='outer')

,PATNO,DVS_JLO_MSSAE,CLCKTOT,PAG_NAME_x,COGSTATE,ESST,GDSSHORT_Score,DVT_DELAYED_RECALL,DVT_RECOG_DISC_INDEX,DVS_LNS,...,SCOPA_Sex_Total,DVT_SFTANIM,EDUCYRS,HANDED,STAIS,STAIA,DVT_SDM,TMTASEC,TMTBSEC,UPSIT
0,3000,15.00,NaN,COGCATG,1.0,2.0,6.0,56.0,47.0,15.0,...,1.0,62.0,18.0,1.0,43.0,45.0,58.330002,24.0,61.0,35.0
1,3001,15.46,NaN,COGCATG,1.0,3.0,6.0,56.0,45.0,17.0,...,6.0,49.0,16.0,2.0,44.0,47.0,48.330002,53.0,90.0,25.0

In [10]:
df.to_csv('Feats45_unCategorised_Sparse.csv', index = False)

## Merging with APPRDX

In [16]:
df = pd.read_csv ('Feats45_unCategorised_Sparse.csv')
df1 = pd.read_csv ('Age_Gender_PATNO.csv')

df2 = pd.merge(df1, df, on = 'PATNO', how = 'inner')
print(df2.shape)
df2.head(2)

(683, 56)

,PATNO,APPRDX,Age,SEX,DVS_JLO_MSSAE,CLCKTOT,PAG_NAME_x,COGSTATE,ESST,GDSSHORT_Score,...,SCOPA_Sex_Total,DVT_SFTANIM,EDUCYRS,HANDED,STAIS,STAIA,DVT_SDM,TMTASEC,TMTBSEC,UPSIT
0,3000,2,69.139726,0,15.00,NaN,COGCATG,1.0,2.0,6.0,...,1.0,62.0,18.0,1.0,43.0,45.0,58.330002,24.0,61.0,35.0
1,3001,1,65.142466,1,15.46,NaN,COGCATG,1.0,3.0,6.0,...,6.0,49.0,16.0,2.0,44.0,47.0,48.330002,53.0,90.0,25.0

In [17]:
df2.to_csv('Feats45_unCategSparse_APPRDX_Gender.csv', index = False)

In [21]:
%cd Z:\PPMI_Data\Excels\CollaborativeFiltering
df2 = pd.read_csv ('Feats45_unCategSparse_APPRDX.csv')
df3 = df2.dropna()
print(df3.shape)
df3.head(2)

Z:\PPMI_Data\Excels\CollaborativeFiltering
(250, 50)

,PATNO,Patient_ID,APPRDX,Gender,Age,Anxiety,Apathy,Benton,Clock,Cognition,...,Semantic,SleepDay,SleepNight,STAIA,STAIS,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT,Urine
1,3002,2,1,0,67.578082,1,0,12.16,7.0,1,...,57,1,0,45,59,47.5,110.0,204.0,17,1.0
5,3010,6,1,1,46.965716,1,1,7.76,6.0,1,...,36,1,3,40,39,52.0,27.0,52.0,9,0.0

In [22]:
df3.to_csv('Feats45_unCategAge_APPRDX_Gender.csv', index = False)