In [1]:
import numpy as np
import pandas as pd

Z:\PPMI_Data\Excels\Only_Female\GeneCpG\Urine

In [2]:
%cd Z:\PPMI_Data\Excels\Only_Female\GeneCpG\Urine
gene = pd.read_csv ("SCOPA_Urine.csv")
print(gene.shape)
gene.head()

(1481, 2)

   PATNO  SCOPA_Urine_Category
0  10874                     0
1  12224                     0
2  12499                     1
3  12593                     1
4  13039                     0

In [3]:
feature1 = pd.read_csv ("Sentrix_PATNO_APPRDX_HYS_Gender_Age_of524Methyl_Female.csv")
print(feature1.shape)
feature1.head()

(150, 7)

               Sentrix  PATNO  Gender  APPRDX  HYS   Age  AgeCate
0  200973410159_R03C01   3000       2       2    0  69.1        4
1  200991620021_R03C01   3002       2       1    2  67.6        4
2  200989060105_R03C01   3003       2       1    2  56.7        3
3  200989060162_R04C01   3006       2       1    2  57.5        3
4  200973410143_R01C01   3008       2       2    0  81.9        5

In [4]:
df1 = pd.merge (feature1, gene, on = "PATNO", how ='inner')
df1.head(3)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Urine_Category
0,200973410159_R03C01,3000,2,2,0,69.1,4,1
1,200991620021_R03C01,3002,2,1,2,67.6,4,1
2,200989060105_R03C01,3003,2,1,2,56.7,3,2

In [5]:
df2 = df1[df1.Gender == 2]
print(df2.shape)
df2.head(2)

(150, 8)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,SCOPA_Urine_Category
0,200973410159_R03C01,3000,2,2,0,69.1,4,1
1,200991620021_R03C01,3002,2,1,2,67.6,4,1

In [6]:
df2.to_csv('Urine_Female.csv', index = False)