In [1]:
import numpy as np
import pandas as pd

# Apathy

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
df1 = pd.read_csv('Top50NMI_Apathy_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Top50Boruta_Apathy_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Apathy
(458, 52)
(458, 52)

In [3]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Apathy_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 95)

,PATNO,APPRDX,cg25361663,cg10948748,cg02157463,cg04333485,cg08187983,cg21769820,cg01478937,cg06128182,...,cg17741809,cg15705342,cg18888403,cg24284087,cg15567507,cg03104569,cg26501664,cg11986643,cg12148300,cg09926649
0,3000,2,0.922851,0.168687,0.677453,0.162589,0.976590,0.744137,0.747449,0.051194,...,0.581553,0.799648,0.842037,0.034545,0.906558,0.592606,0.871542,0.075037,0.770635,0.855460
1,3001,1,0.911043,0.183438,0.641978,0.184197,0.972912,0.672225,0.711039,0.033829,...,0.452972,0.740308,0.724402,0.025670,0.824857,0.577578,0.798379,0.064960,0.708033,0.832275

# Cognition

In [4]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Cognition

df2 = pd.read_csv('Cognition_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Cognition
(458, 52)

In [5]:
df = pd.read_csv('CognitionCateg_Methylome_APPRDXFilter.csv')
df1 = pd.read_csv('Cognition_NMI_Top50.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Cognition_NMI_Top50_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3588\1681750328.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg16702987,cg16916264,cg14547519,cg04721711,cg10948748,ch.9.1286602F,cg16448286,cg12298429,cg06538998,cg09879107,...,cg23022057,cg25361663,cg21899921,cg00377727,cg10474158,cg15469205,cg15736994,cg09826790,cg15942569,APPRDX
0,0.691866,0.870274,0.900845,0.831384,0.183438,0.041805,0.906014,0.032801,0.013463,0.727246,...,0.888828,0.911043,0.032846,0.923318,0.882391,0.865868,0.523965,0.869270,0.888852,1
1,0.713975,0.927010,0.902779,0.875973,0.114013,0.042104,0.890996,0.042715,0.010118,0.707857,...,0.858068,0.925910,0.046905,0.925809,0.897195,0.830760,0.562597,0.914964,0.884358,1

In [6]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Cognition_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 99)

,PATNO,APPRDX,cg16541194,cg16333036,cg10410319,cg12345955,cg21043558,cg07456278,cg19690051,cg26090534,...,cg24804436,cg01777678,cg23022057,cg25361663,cg21899921,cg10474158,cg15469205,cg15736994,cg09826790,cg15942569
0,3001,1,0.576279,0.496829,0.021390,0.015210,0.667449,0.582067,0.104141,0.962848,...,0.866382,0.797270,0.888828,0.911043,0.032846,0.882391,0.865868,0.523965,0.869270,0.888852
1,3007,1,0.471834,0.463492,0.020285,0.013241,0.659961,0.667340,0.045867,0.963592,...,0.890765,0.877015,0.858068,0.925910,0.046905,0.897195,0.830760,0.562597,0.914964,0.884358

# Constipation

In [7]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Constipation

df2 = pd.read_csv('Constipation_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Constipation
(458, 52)

In [8]:
df = pd.read_csv('ConstipationCateg_Methylome_APPRDXFilter.csv')
df1 = pd.read_csv('Constipation_NMI_Top50.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Constipation_NMI_Top50_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3588\3203131823.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg13605579,cg25410117,cg10688123,cg13332222,cg23786063,cg20349377,cg25210047,cg10044815,cg12298429,cg27281389,...,cg26801812,cg09068129,cg06425631,cg05142211,cg11549065,cg17458425,cg10783204,cg08096908,cg24224407,APPRDX
0,0.863394,0.133229,0.833705,0.902238,0.889644,0.876278,0.827441,0.894322,0.032801,0.026921,...,0.847042,0.852115,0.932296,0.035018,0.032903,0.856462,0.585492,0.905542,0.875350,1
1,0.893290,0.090223,0.861144,0.928699,0.893976,0.893810,0.804296,0.902732,0.042715,0.033420,...,0.817918,0.819744,0.930258,0.041906,0.043359,0.908599,0.654016,0.918975,0.867527,1

In [9]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Constipation_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 95)

,PATNO,APPRDX,cg22237213,cg13332222,cg14005240,cg14889643,cg17612987,cg21043558,cg12298429,cg27281389,...,cg07087293,cg12036621,cg26801812,cg09068129,cg06425631,cg11549065,cg17458425,cg10783204,cg08096908,cg24224407
0,3001,1,0.922623,0.902238,0.878486,0.017995,0.031849,0.667449,0.032801,0.026921,...,0.074554,0.030171,0.847042,0.852115,0.932296,0.032903,0.856462,0.585492,0.905542,0.875350
1,3007,1,0.918179,0.928699,0.887782,0.020710,0.031061,0.659961,0.042715,0.033420,...,0.067149,0.033681,0.817918,0.819744,0.930258,0.043359,0.908599,0.654016,0.918975,0.867527

# Depression

In [10]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Depression

df2 = pd.read_csv('Depression_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Depression
(458, 52)

In [11]:
df = pd.read_csv('DepressionCateg_Methylome_APPRDXFilter.csv')
df1 = pd.read_csv('Depression_NMI_Top50.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Depression_NMI_Top50_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3588\3183820693.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg16702987,cg26296001,cg20230572,cg24402323,cg10948748,cg14865303,cg00052836,cg16448286,cg12298429,cg09879107,...,cg26595623,cg00714632,cg21899921,cg10474158,cg12321073,cg23999973,cg15736994,cg10192047,cg25744181,APPRDX
0,0.691866,0.877350,0.687517,0.060656,0.183438,0.835223,0.872534,0.906014,0.032801,0.727246,...,0.723680,0.025829,0.032846,0.882391,0.013494,0.038562,0.523965,0.019083,0.026860,1
1,0.713975,0.875859,0.741894,0.024917,0.114013,0.867976,0.916062,0.890996,0.042715,0.707857,...,0.739204,0.023401,0.046905,0.897195,0.009607,0.014727,0.562597,0.022214,0.017928,1

In [12]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Depression_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 99)

,PATNO,APPRDX,cg18780217,cg21747188,cg04841205,cg00052836,cg07456278,cg12510028,cg19690051,cg21062891,...,cg10595406,cg26595623,cg00714632,cg21899921,cg10474158,cg12321073,cg23999973,cg15736994,cg10192047,cg25744181
0,3001,1,0.038530,0.064156,0.729990,0.872534,0.582067,0.029810,0.104141,0.887982,...,0.906883,0.723680,0.025829,0.032846,0.882391,0.013494,0.038562,0.523965,0.019083,0.026860
1,3007,1,0.022502,0.056883,0.790912,0.916062,0.667340,0.035511,0.045867,0.923072,...,0.925698,0.739204,0.023401,0.046905,0.897195,0.009607,0.014727,0.562597,0.022214,0.017928

# Fatigue

In [13]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Fatigue

df2 = pd.read_csv('Fatigue_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Fatigue
(458, 52)

In [14]:
df = pd.read_csv('FatigueCateg_Methylome_APPRDXFilter.csv')
df1 = pd.read_csv('Fatigue_NMI_Top50.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Fatigue_NMI_Top50_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3588\4194288258.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg08178124,cg04721711,cg19460902,cg10044815,cg07940547,cg18473117,cg16448286,cg11224251,cg09377020,cg23584714,...,cg18838701,cg17458425,cg10783204,cg23290969,cg09826790,cg24224407,cg21049840,cg15942569,cg12526471,APPRDX
0,0.016319,0.831384,0.792809,0.894322,0.652888,0.938774,0.906014,0.661786,0.817618,0.776498,...,0.381468,0.856462,0.585492,0.035612,0.869270,0.875350,0.475823,0.888852,0.416863,1
1,0.023260,0.875973,0.621401,0.902732,0.615474,0.928175,0.890996,0.632961,0.800563,0.704093,...,0.289962,0.908599,0.654016,0.018923,0.914964,0.867527,0.405952,0.884358,0.449186,1

In [15]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Fatigue_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 99)

,PATNO,APPRDX,cg06751221,cg03476938,cg23655939,cg21043558,cg19226007,cg18473117,cg12510028,cg27133496,...,cg09652933,cg18838701,cg17458425,cg10783204,cg23290969,cg09826790,cg24224407,cg21049840,cg15942569,cg12526471
0,3001,1,0.057391,0.549004,0.515701,0.667449,0.040020,0.938774,0.029810,0.510178,...,0.014026,0.381468,0.856462,0.585492,0.035612,0.869270,0.875350,0.475823,0.888852,0.416863
1,3007,1,0.083624,0.561954,0.523438,0.659961,0.017811,0.928175,0.035511,0.653650,...,0.012004,0.289962,0.908599,0.654016,0.018923,0.914964,0.867527,0.405952,0.884358,0.449186

# Gastro

In [16]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
df1 = pd.read_csv('Top50NMI_Gastro_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Gastro_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\Gastro
(458, 52)
(458, 52)

In [17]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Gastro_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 100)

,PATNO,APPRDX,cg10783204,cg14547519,cg09879107,cg23584714,cg18764107,cg11670533,cg09347135,cg02449892,...,cg26668679,cg22152677,cg06734098,cg12220605,cg00875272,cg13468400,cg08096908,cg17223615,cg16199144,cg19371224
0,3000,2,0.709340,0.918605,0.621822,0.837783,0.042191,0.849763,0.502712,0.879576,...,0.194786,0.932195,0.340984,0.117280,0.032753,0.895386,0.937764,0.822963,0.033485,0.895183
1,3001,1,0.585492,0.900845,0.727246,0.776498,0.024068,0.790524,0.403945,0.807121,...,0.247316,0.927876,0.050031,0.082447,0.026473,0.812987,0.905542,0.814484,0.027345,0.751572

# LetterNumber

In [18]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
df1 = pd.read_csv('Top50NMI_LetterNumber_Data.csv')
print(df1.shape)
df2 = pd.read_csv('LetterNumber_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LetterNumber
(458, 52)
(458, 52)

In [19]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('LetterNumber_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 98)

,PATNO,APPRDX,cg17937070,cg06796611,cg17712928,cg26408382,cg03424478,cg00052836,cg00593243,cg06061283,...,cg07193024,cg07612271,cg14565835,cg27542525,cg10322510,cg18967713,cg11802732,cg12220605,cg12015492,cg00811166
0,3000,2,0.955360,0.782549,0.910165,0.903011,0.028517,0.931199,0.948020,0.870155,...,0.104884,0.918277,0.776492,0.329920,0.967393,0.015011,0.039124,0.117280,0.033413,0.887979
1,3001,1,0.902738,0.728984,0.950909,0.922423,0.030953,0.872534,0.917518,0.732005,...,0.136834,0.896129,0.856185,0.347469,0.967266,0.019488,0.038867,0.082447,0.039214,0.840791

# LexicalFluency

In [20]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
df1 = pd.read_csv('Top50NMI_LexicalFluency_Data.csv')
print(df1.shape)
df2 = pd.read_csv('LexicalFluency_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\LexicalFluency
(233, 52)
(233, 52)

In [21]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('LexicalFluency_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(233, 100)

,PATNO,APPRDX,cg18504826,cg24706032,cg04958915,cg23983141,cg04310833,cg12184854,cg08550831,cg08096908,...,cg13546658,cg15593930,cg13359134,cg07667731,cg09304381,cg23169811,cg26869617,cg21585627,cg02618319,cg09670616
0,3000,2,0.923461,0.013061,0.953291,0.873134,0.919058,0.935107,0.926300,0.937764,...,0.232474,0.019946,0.016097,0.016602,0.981877,0.933661,0.923248,0.042639,0.981089,0.017773
1,3001,1,0.912524,0.014550,0.912131,0.863465,0.914570,0.933108,0.907085,0.905542,...,0.164460,0.027932,0.014686,0.013778,0.960567,0.931264,0.906871,0.057217,0.977055,0.031018

# SymbolDigit

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\SymbolDigit
df1 = pd.read_csv('SymbDigi_NMI_Top50_Data.csv')
print(df1.shape)
df2 = pd.read_csv('SymbDigi_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\SymbolDigit
(458, 52)
(458, 52)

In [3]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('SymbDigi_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(458, 101)

,PATNO,APPRDX,cg16702987,cg16916264,cg14547519,cg00508856,cg20230572,cg11169227,cg24402323,cg16448286,...,cg04061361,cg22534925,cg12179916,cg12044671,cg19555872,cg25273343,cg04286615,cg07931157,cg01120173,cg12600134
0,3001,1,0.691866,0.870274,0.900845,0.903805,0.687517,0.887289,0.060656,0.906014,...,0.568646,0.914514,0.638415,0.869433,0.879701,0.736708,0.034118,0.066176,0.10021,0.025254
1,3007,1,0.713975,0.927010,0.902779,0.908528,0.741894,0.894105,0.024917,0.890996,...,0.719066,0.930051,0.679014,0.755008,0.894245,0.876514,0.020293,0.069590,0.16000,0.017894

# TrailMakingB

In [25]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\TrailMakeB
df1 = pd.read_csv('Top50NMI_TrailMakeB_Data.csv')
print(df1.shape)
df2 = pd.read_csv('TrailMakeB_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\TrailMakeB
(216, 52)
(216, 52)

In [26]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('TrailMakeB_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(216, 99)

,PATNO,APPRDX,cg04958915,cg03953298,cg23983141,cg18050804,cg05356336,cg16850288,cg19245310,cg11212801,...,cg16476940,cg24421842,cg15469205,cg09495953,cg16620860,cg19810426,cg10425946,cg12417702,cg27497687,cg16356224
0,3000,2,0.953291,0.835808,0.873134,0.903780,0.730565,0.861231,0.838944,0.940099,...,0.804358,0.790974,0.656929,0.812500,0.624056,0.337330,0.017390,0.069469,0.037778,0.148380
1,3001,1,0.912131,0.854043,0.863465,0.862122,0.794499,0.830251,0.827915,0.920422,...,0.801166,0.821622,0.865868,0.907085,0.582799,0.293279,0.051054,0.030323,0.033875,0.179434

# UPSIT

In [27]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\UPSIT

df2 = pd.read_csv('UPSIT_Boruta_Top50_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\UPSIT
(457, 52)

In [28]:
df = pd.read_csv('UPSIT3Categ_Methylome_APPRDXFilter.csv')
df1 = pd.read_csv('UPSIT_NMI_Top50.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('UPSIT_NMI_Top50_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_3588\2840426946.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg08744312,cg22295787,cg19997384,cg02295000,cg19400616,cg27344018,cg12038759,cg01232534,cg20118247,cg03682895,...,cg11485247,cg04581024,cg03191458,cg20003494,cg05142211,cg19731340,cg06794504,cg13959611,cg14149699,APPRDX
0,0.902975,0.016057,0.284672,0.826318,0.909653,0.845686,0.739036,0.275509,0.937667,0.902725,...,0.024186,0.884052,0.921355,0.025708,0.035018,0.018411,0.752823,0.044262,0.030215,1
1,0.904315,0.021968,0.329010,0.805755,0.942176,0.810976,0.578553,0.225155,0.927726,0.915318,...,0.031999,0.915653,0.911271,0.045513,0.041906,0.017375,0.843436,0.033433,0.083898,1

In [29]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('UPSIT_Top50sMerge_Data.csv', index = False)
print(final_df.shape)
final_df.head(2)

(457, 94)

,PATNO,APPRDX,cg14719675,cg00260798,cg10244356,cg00877792,cg03476938,cg10061292,cg23205529,cg23074747,...,cg25314532,cg25557973,cg05516535,cg11485247,cg04581024,cg03191458,cg20003494,cg19731340,cg06794504,cg14149699
0,3001,1,0.043587,0.885679,0.592379,0.497734,0.549004,0.013281,0.054117,0.011630,...,0.013287,0.840012,0.930609,0.024186,0.884052,0.921355,0.025708,0.018411,0.752823,0.030215
1,3007,1,0.080217,0.916535,0.609867,0.453499,0.561954,0.012520,0.048337,0.011863,...,0.010308,0.786598,0.925093,0.031999,0.915653,0.911271,0.045513,0.017375,0.843436,0.083898