In [1]:
import numpy as np
import pandas as pd

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Xtras

df1 = pd.read_csv ("Cpg_GeneLongColumn_OnlyAnnotated.csv")
print(df1.shape)
df1.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Xtras
(897065, 2)

   Gene         CpG
0  A1BG  cg27629882
1  A1BG  cg25623524
2  A1BG  cg03630821

In [3]:
df2 = pd.read_csv ("All11_Top50sCpG_Male_List.csv")
print(df2.shape)
df2.head(3)

(338, 1)

          CpG
0  cg16004767
1  cg02959759
2  cg26485878

In [4]:
df3 = pd.merge (df2, df1, on = 'CpG', how = 'inner')
print(df3.shape)
df3.head(2)

(444, 2)

          CpG     Gene
0  cg16004767   SORBS1
1  cg02959759  CACNA1C

In [5]:
df3.to_csv ("All11_Top50sCpG_Male_GeneList.csv", index = False)

In [4]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Female\GeneCpG\Xtras
df2 = pd.read_csv ("All5_Top50sCpG_Female_List.csv")
print(df2.shape)
df3 = pd.merge (df2, df1, on = 'CpG', how = 'inner')
print(df3.shape)
df3.to_csv ("All5_Top50sCpG_Female_GeneList.csv", index = False)
df3.head(2)

Z:\PPMI_Data\Excels\NonMotors\The251\Female\GeneCpG\Xtras
(228, 1)
(287, 2)

          CpG   Gene
0  cg11668199  AP3S1
1  cg11668199  ATG12