In [1]:
import pandas as pd
import numpy as np

In [3]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250
df1 = pd.read_csv("Sentrix_PATNO_APPRDX_HYS_Gender_Age_of524Methyl_APP1_2.csv")
print(df1.shape)
df1.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250
(458, 7)

               Sentrix  PATNO  Gender  APPRDX  HYS   Age  AgeCate
0  200973410159_R03C01   3000       2       2    0  69.1        4
1  200991620021_R01C01   3001       1       1    2  65.1        4

In [4]:
df2 = pd.read_csv ("NonMotor_SocioBehavior_Categorized_Edit.csv")
print(df2.shape)
df2.head(2)

(250, 47)

,PATNO,APPRDX,Benton,COGSTATE,Clock,Epworth,Geriatric_Depression,Hopkins,Hopkins_Recog,LetterNumber,...,SCOPA_Sex,Semantic,Education,Hand,STAIS,STAIA,Symbol_Digit,Trail_Making_A,Trail_Making_B,UPSIT
0,3002,1,0,0,0,1,1,0,0,1,...,1,0,1,0,2,1,1,1,1,2
1,3008,2,0,1,0,0,1,0,0,1,...,0,1,0,0,1,2,2,1,1,0

In [5]:
df = pd.merge(df1, df2, on = "PATNO", how = "inner")
print(df.shape)
print(df.head(2))
df.to_csv('NonMotor_45Feats_HavingMethyl_in250APPRDX.csv', index = False)

(160, 53)
               Sentrix  PATNO  Gender  APPRDX_x  HYS   Age  AgeCate  APPRDX_y  \
0  200991620021_R03C01   3002       2         1    2  67.6        4         1
1  200973410143_R01C01   3008       2         2    0  81.9        5         2

   Benton  COGSTATE  ...  SCOPA_Sex  Semantic  Education  Hand  STAIS  STAIA  \
0       0         0  ...          1         0          1     0      2      1
1       0         1  ...          0         1          0     0      1      2

   Symbol_Digit  Trail_Making_A  Trail_Making_B  UPSIT
0             1               1               1      2
1             2               1               1      0

[2 rows x 53 columns]