In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
df1 = pd.read_csv ("Sentrix_PATNO_APPRDX_HYS_Age_of524Methyl_APP1_2_Male.csv")
df2 = pd.read_csv ("Hopkins_Recognition_Derived_Categorized_APPRDX.csv")
print(df2.shape)
df2.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
(250, 2)

   PATNO  Category
0   3002         0
1   3008         0
2   3009         0

In [4]:
df3 = pd.merge (df1, df2, on = 'PATNO', how = 'inner')
print(df3.shape)
df3.head()

(110, 8)

               Sentrix  PATNO  Gender  APPRDX  HYS   Age  AgeCate  Category
0  200973410167_R05C01   3010       1       1    2  47.0        2         0
1  200989060143_R08C01   3024       1       1    2  52.7        2         0
2  201004820067_R08C01   3029       1       2    0  66.3        4         1
3  200989060162_R01C01   3054       1       1    2  74.2        4         0
4  200989060152_R03C01   3068       1       1    4  70.7        4         0

In [5]:
df3.to_csv ("Hopkinswith_PATNO_APPRDX_Age_in524Methyl_Male.csv", index = False)

In [5]:
df4 = pd.read_csv ("LetterNumber_Sequencing_Categorised.csv")
print(df4.shape)
df4.head(3)

(1476, 2)

   PATNO  LetterNumber_Category
0   3000                      1
1   3001                      0
2   3002                      1

In [6]:
df3 = pd.merge (df1, df4, on = 'PATNO', how = 'inner')
print(df3.shape)
df3.head()

(308, 8)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,LetterNumber_Category
0,200991620021_R01C01,3001,1,1,2,65.1,4,0
1,200989060135_R07C01,3004,1,2,0,59.4,3,1
2,200973410167_R04C01,3007,1,1,2,64.5,3,1
3,200973410167_R05C01,3010,1,1,2,47.0,2,1
4,200973410167_R08C01,3011,1,2,0,31.9,1,1

In [7]:
df3.to_csv ("LetterNumwith_PATNO_APPRDX_Age_in524Methyl_Male.csv", index = False)

In [8]:
df5 = pd.read_csv ("Apathy_Categorised.csv")
print(df5.shape)
df5.head(3)

(2135, 2)

   PATNO  MDS_Apathy_Category
0   3000                    0
1   3001                    0
2   3002                    0

In [9]:
df3 = pd.merge (df1, df5, on = 'PATNO', how = 'inner')
print(df3.shape)
df3.head()

(308, 8)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,MDS_Apathy_Category
0,200991620021_R01C01,3001,1,1,2,65.1,4,0
1,200989060135_R07C01,3004,1,2,0,59.4,3,0
2,200973410167_R04C01,3007,1,1,2,64.5,3,0
3,200973410167_R05C01,3010,1,1,2,47.0,2,1
4,200973410167_R08C01,3011,1,2,0,31.9,1,0

In [10]:
df3.to_csv ("Apathywith_PATNO_APPRDX_Age_in524Methyl_Male.csv", index = False)