In [1]:
import pandas as pd
from functools import reduce
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Xtras\Top50_eachFeats

Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\Xtras\Top50_eachFeats

In [2]:
files = ['Top50NMI_SleepDay_Data.csv','Top50NMI_Apathy_Data_Male.csv','Top50NMI_TrailMakeA_Data_Male.csv',
         'Top50NMI_Dream_Data_Male.csv','UPSIT_NMI_Top50_Male_Data.csv','TrlMakB_NMI_Top50_Male_Data.csv',
        'SymbDigi_NMI_Top50_Male_Data.csv','Fatigue_NMI_Top50_Male_Data.csv','Depression_NMI_Top50_Male_Data.csv',
        'Top50NMI_ScopaSex_Data_Male.csv','Cognition_NMI_Top50_Male_Data.csv']
# Loading all the files at once

In [3]:
df = reduce(lambda l,r: l.merge(r, on='PATNO'), [pd.read_csv(f) for f in files])
# The above command merge all the files having one common column
df = df.loc[:,~df.columns.duplicated()].copy()
print(df.shape)
df.head(2)

(110, 542)

C:\Users\system 4\AppData\Local\Temp\ipykernel_820\415733947.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'cg20003494_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = reduce(lambda l,r: l.merge(r, on='PATNO'), [pd.read_csv(f) for f in files])
C:\Users\system 4\AppData\Local\Temp\ipykernel_820\415733947.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'cg26358225_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = reduce(lambda l,r: l.merge(r, on='PATNO'), [pd.read_csv(f) for f in files])
C:\Users\system 4\AppData\Local\Temp\ipykernel_820\415733947.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'cg00558297_x', 'cg12653876_x', 'cg20003494_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = reduce(lambda l,r: l.merge(r, on='PATNO'), [pd.read_csv(f) for f in files])

,PATNO,APPRDX,cg20003494_x,cg12653876_x,cg19559114_x,cg13795060_x,cg10131227_x,cg15272034_x,cg16004767,cg01408558_x,...,cg15340886_y,cg14654324_y,cg19711613,cg10131227_y,cg15469205_y,cg12613770,cg15736994,cg16840743_y,cg03909844_y,cg17668069_y
0,3010,1,0.044374,0.852632,0.848369,0.062519,0.745797,0.841361,0.911231,0.758337,...,0.869738,0.022115,0.855062,0.745797,0.855777,0.820682,0.633122,0.080530,0.803857,0.046626
1,3024,1,0.024791,0.921059,0.875931,0.139074,0.916196,0.846269,0.906352,0.777207,...,0.917395,0.013890,0.899674,0.916196,0.883551,0.856734,0.674511,0.083895,0.758551,0.049131

In [4]:
df = df[df.columns.drop(list(df.filter(regex='_x')))]
df = df[df.columns.drop(list(df.filter(regex='_y')))]
print(df.shape)
df.head(2)

(110, 340)

,PATNO,APPRDX,cg16004767,cg02959759,cg26485878,cg12229394,cg20157753,cg18113151,cg03132598,cg13848568,...,cg14207794,cg13632581,cg13675469,cg01408558,cg12869499,cg16117273,cg00035237,cg19711613,cg12613770,cg15736994
0,3010,1,0.911231,0.099368,0.432436,0.039719,0.044258,0.899038,0.764265,0.019498,...,0.040470,0.340808,0.012562,0.758337,0.625208,0.162057,0.017622,0.855062,0.820682,0.633122
1,3024,1,0.906352,0.223760,0.446546,0.024525,0.047050,0.927527,0.834810,0.009789,...,0.022824,0.275967,0.007567,0.777207,0.649874,0.242877,0.008082,0.899674,0.856734,0.674511

In [5]:
df.to_csv('All11_Top50sCpG_Male.csv', index = False)