In [1]:
import numpy as np
import pandas as pd

# Cognition

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Cognition

df2 = pd.read_csv('Cognition_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Cognition
(307, 52)

In [3]:
df = pd.read_csv('CognitionCateg_Methylome_Male.csv')
df1 = pd.read_csv('Cognition_NMI_Top50_Male.csv')
print(df1.shape)

(50, 1)

NameError: name 'data' is not defined

In [4]:
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Cognition_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\2893584996.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg03787486,cg01360545,cg12573516,cg18859045,cg11450827,cg20981182,cg19505862,cg26941073,cg22917487,cg17545723,...,cg10131227,cg15469205,cg12613770,cg20003494,cg15736994,cg16840743,cg03909844,cg00558297,cg17668069,APPRDX
0,0.035693,0.605723,0.026891,0.233609,0.797882,0.070829,0.040946,0.925943,0.875027,0.843961,...,0.929469,0.865868,0.838669,0.025708,0.523965,0.072730,0.675087,0.776180,0.044870,1
1,0.034595,0.633931,0.050838,0.335034,0.805798,0.079024,0.040822,0.915694,0.851476,0.877484,...,0.719363,0.830760,0.848701,0.045513,0.562597,0.072311,0.769234,0.366488,0.045872,1

In [5]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Cognition_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(307, 101)

,PATNO,APPRDX,cg27171575,cg10693616,cg06098693,cg16444863,cg18174834,cg06129513,cg13312668,cg07456278,...,cg19711613,cg10131227,cg15469205,cg12613770,cg20003494,cg15736994,cg16840743,cg03909844,cg00558297,cg17668069
0,3001,1,0.853809,0.012194,0.910787,0.931500,0.040499,0.843875,0.858468,0.582067,...,0.841310,0.929469,0.865868,0.838669,0.025708,0.523965,0.072730,0.675087,0.776180,0.044870
1,3007,1,0.895204,0.012696,0.924330,0.937715,0.034218,0.920245,0.895692,0.667340,...,0.839718,0.719363,0.830760,0.848701,0.045513,0.562597,0.072311,0.769234,0.366488,0.045872

# Depression

In [8]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression

df2 = pd.read_csv('Depression_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Depression
(307, 52)

In [9]:
df = pd.read_csv('DepressionCateg_Methylome_Male.csv')
df1 = pd.read_csv('Depression_NMI_Top50_Male.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Depression_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\152000019.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg06724212,cg01070424,cg01360545,cg24860848,cg05826330,cg23149728,cg19559114,cg12573516,cg02050165,cg18859045,...,cg12613770,cg20003494,cg06470379,cg05467890,cg15736994,cg16840743,cg00558297,cg06435511,cg11485463,APPRDX
0,0.594896,0.450485,0.605723,0.783908,0.015721,0.708239,0.823933,0.026891,0.713721,0.233609,...,0.838669,0.025708,0.775220,0.870255,0.523965,0.072730,0.776180,0.960060,0.011261,1
1,0.577396,0.368044,0.633931,0.839703,0.018893,0.789988,0.882641,0.050838,0.840914,0.335034,...,0.848701,0.045513,0.840957,0.876092,0.562597,0.072311,0.366488,0.943276,0.013494,1

In [11]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Depression_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(307, 100)

,PATNO,APPRDX,cg03389720,cg02471954,cg23297661,cg15313666,cg22870386,cg18174834,cg06129513,cg23149728,...,cg19711613,cg23061549,cg12613770,cg20003494,cg06470379,cg05467890,cg15736994,cg16840743,cg00558297,cg06435511
0,3001,1,0.764712,0.853669,0.806845,0.907550,0.828698,0.040499,0.843875,0.708239,...,0.841310,0.914102,0.838669,0.025708,0.775220,0.870255,0.523965,0.072730,0.776180,0.960060
1,3007,1,0.820463,0.918805,0.903101,0.927117,0.888004,0.034218,0.920245,0.789988,...,0.839718,0.932469,0.848701,0.045513,0.840957,0.876092,0.562597,0.072311,0.366488,0.943276

# Fatigue

In [12]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue

df2 = pd.read_csv('Fatigue_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Fatigue
(307, 52)

In [13]:
df = pd.read_csv('FatigueCateg_Methylome_Male.csv')
df1 = pd.read_csv('Fatigue_NMI_Top50_Male.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('Fatigue_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\383895989.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg03787486,cg04721711,cg05826330,cg02295000,cg09537714,cg15272034,cg24810998,cg16448286,cg12350196,cg17240004,...,cg06470379,cg15228932,cg25330422,cg17136384,cg10538320,cg16195239,cg25772658,cg09826790,cg19095988,APPRDX
0,0.035693,0.831384,0.015721,0.826318,0.726330,0.850724,0.734430,0.906014,0.407146,0.922325,...,0.775220,0.922735,0.713645,0.901962,0.032919,0.946079,0.911458,0.869270,0.757170,1
1,0.034595,0.875973,0.018893,0.805755,0.742926,0.837866,0.907744,0.890996,0.345335,0.932065,...,0.840957,0.916820,0.655201,0.872775,0.025642,0.905118,0.903341,0.914964,0.849966,1

In [14]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Fatigue_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(307, 100)

,PATNO,APPRDX,cg14025220,cg06129513,cg03433260,cg19226007,cg18473117,cg23225637,cg14999396,cg17422176,...,cg16338844,cg06470379,cg15228932,cg25330422,cg17136384,cg10538320,cg16195239,cg25772658,cg09826790,cg19095988
0,3001,1,0.899514,0.843875,0.038531,0.040020,0.938774,0.874061,0.901298,0.117596,...,0.753305,0.775220,0.922735,0.713645,0.901962,0.032919,0.946079,0.911458,0.869270,0.757170
1,3007,1,0.911433,0.920245,0.020036,0.017811,0.928175,0.937422,0.854497,0.147173,...,0.769894,0.840957,0.916820,0.655201,0.872775,0.025642,0.905118,0.903341,0.914964,0.849966

# Hopkins

In [15]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
df1 = pd.read_csv('Top50NMI_Hopkins_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Top50Boruta_Hopkins_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\Hopkins
(110, 52)
(110, 52)

In [16]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Hopkins_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(110, 96)

,PATNO,APPRDX,cg16606032,cg21620535,cg04154142,cg11733478,cg19041419,cg09625173,cg03596479,cg13444528,...,cg25332095,cg09149648,cg08426369,cg18477429,cg06947206,cg07033239,cg04030905,cg06347150,cg11489262,cg09445727
0,3010,1,0.886049,0.038450,0.549569,0.054790,0.807488,0.037946,0.489814,0.020101,...,0.883962,0.016367,0.871505,0.865235,0.011422,0.861033,0.025250,0.079547,0.083984,0.032773
1,3024,1,0.910212,0.033025,0.711563,0.023197,0.804178,0.028863,0.614094,0.009059,...,0.858942,0.012130,0.870550,0.865201,0.007042,0.842768,0.028493,0.041906,0.090219,0.020563

# SleepDay

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
df1 = pd.read_csv('Top50NMI_SleepDay_Data.csv')
print(df1.shape)
df2 = pd.read_csv('Top50Boruta_SleepDay_Data.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
(308, 52)
(308, 52)

In [3]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df1, df2], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('Hopkins_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(308, 97)

,PATNO,APPRDX,cg20003494,cg12653876,cg19559114,cg13795060,cg10131227,cg15272034,cg16004767,cg01408558,...,cg17184604,cg02152968,cg11865360,cg14311020,cg06301399,cg27427921,cg16636935,cg12282552,cg02847244,cg03552709
0,3001,1,0.025708,0.892774,0.823933,0.187463,0.929469,0.850724,0.882369,0.770711,...,0.009053,0.263403,0.279839,0.016512,0.799493,0.140804,0.431007,0.440017,0.926509,0.884891
1,3007,1,0.045513,0.859283,0.882641,0.095824,0.719363,0.837866,0.906843,0.796137,...,0.008577,0.231128,0.137535,0.024924,0.736076,0.121699,0.429671,0.492883,0.916526,0.913208

# Symbol Digit

In [19]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi

df2 = pd.read_csv('SymbDigi_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi
(307, 52)

In [20]:
df = pd.read_csv('SymbDigiCateg_Methylome_Male.csv')
df1 = pd.read_csv('SymbDigi_NMI_Top50_Male.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('SymbDigi_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\2136549653.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg14523394,cg09372808,cg01070424,cg16402452,cg01360545,cg14947609,cg22126136,cg15272034,cg19559114,cg18859045,...,cg15469205,cg12613770,cg19166896,cg17364323,cg20003494,cg15736994,cg03909844,cg00558297,cg17668069,APPRDX
0,0.943573,0.859071,0.450485,0.949497,0.605723,0.797382,0.824268,0.850724,0.823933,0.233609,...,0.865868,0.838669,0.928030,0.240152,0.025708,0.523965,0.675087,0.776180,0.044870,1
1,0.900230,0.870130,0.368044,0.925802,0.633931,0.867282,0.837835,0.837866,0.882641,0.335034,...,0.830760,0.848701,0.936842,0.179619,0.045513,0.562597,0.769234,0.366488,0.045872,1

In [21]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('SymbDigi_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(307, 101)

,PATNO,APPRDX,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,...,cg19557537,cg15469205,cg12613770,cg19166896,cg17364323,cg20003494,cg15736994,cg03909844,cg00558297,cg17668069
0,3001,1,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,...,0.034398,0.865868,0.838669,0.928030,0.240152,0.025708,0.523965,0.675087,0.776180,0.044870
1,3007,1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,...,0.040056,0.830760,0.848701,0.936842,0.179619,0.045513,0.562597,0.769234,0.366488,0.045872

# TrailMakingB

In [22]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB

df2 = pd.read_csv('TrlMakB_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB
(149, 52)

In [23]:
df = pd.read_csv('TrailMakingBCateg_Methylome_Male.csv')
df1 = pd.read_csv('TrlMakB_NMI_Top50_Male.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('TrlMakB_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\1367291246.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg26358225,cg21125969,cg21365903,cg09292077,cg02062003,cg00156001,cg12308865,cg22193013,cg15972191,cg27559224,...,cg21217911,cg04398603,cg01819787,cg23983141,cg10744426,cg15598946,cg20547759,cg12510530,cg12876349,APPRDX
0,0.151532,0.800085,0.039909,0.903905,0.022970,0.883715,0.042668,0.816653,0.793503,0.752564,...,0.888126,0.018454,0.596337,0.863465,0.798091,0.867094,0.662837,0.459716,0.026228,1
1,0.133372,0.853735,0.029918,0.908555,0.035312,0.880948,0.120141,0.900043,0.576380,0.798434,...,0.878809,0.027430,0.555448,0.865416,0.888148,0.883124,0.705238,0.331128,0.091576,1

In [24]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('TrlMakB_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(149, 99)

,PATNO,APPRDX,cg17456612,cg14123992,cg22906524,cg22184944,cg14999396,cg16766139,cg02109003,cg24257038,...,cg16518986,cg21217911,cg04398603,cg01819787,cg23983141,cg10744426,cg15598946,cg20547759,cg12510530,cg12876349
0,3001,1,0.129620,0.706168,0.569369,0.783626,0.901298,0.182831,0.639496,0.016959,...,0.743797,0.888126,0.018454,0.596337,0.863465,0.798091,0.867094,0.662837,0.459716,0.026228
1,3010,1,0.192883,0.814368,0.553591,0.801868,0.892316,0.112209,0.565529,0.015629,...,0.839926,0.878809,0.027430,0.555448,0.865416,0.888148,0.883124,0.705238,0.331128,0.091576

# UPSIT

In [25]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT

df2 = pd.read_csv('UPSIT_Boruta_Top50_Data_Male.csv')
print(df2.shape)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT
(307, 52)

In [26]:
df = pd.read_csv('UPSIT3Categ_Methylome_Male.csv')
df1 = pd.read_csv('UPSIT_NMI_Top50_Male.csv')
print(df1.shape)
# create a list of column names to subset from data
col_names = df1.iloc[:, 0].tolist()

# subset df based on the column names
df_subset = df.loc[:, df.columns.isin(col_names)]
df_subset['APPRDX'] = df['APPRDX']
df_subset.to_csv ('UPSIT_NMI_Top50_Male_Data.csv', index = False)
df_subset.head(2)

(50, 1)

C:\Users\system 4\AppData\Local\Temp\ipykernel_2668\1973208743.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['APPRDX'] = df['APPRDX']

,cg26358225,cg01605403,cg22295787,cg02295000,cg00360077,cg02176314,cg14746118,cg23074747,cg12501949,cg00241302,...,cg27315341,cg06263834,cg02944903,cg16628215,cg20003494,cg05142211,cg19646414,cg07466585,cg23127998,APPRDX
0,0.151532,0.879499,0.016057,0.826318,0.912095,0.916863,0.778754,0.011630,0.747517,0.794822,...,0.855311,0.049564,0.779978,0.053833,0.025708,0.035018,0.888881,0.082290,0.216844,1
1,0.198886,0.935782,0.021968,0.805755,0.916703,0.920714,0.798111,0.011863,0.757032,0.827757,...,0.769311,0.030237,0.653859,0.022553,0.045513,0.041906,0.885429,0.025043,0.166560,1

In [27]:
# concatenate the two dataframes along the columns axis
concatenated_df = pd.concat([df2, df_subset], axis=1)

# drop the duplicate columns
final_df = concatenated_df.loc[:,~concatenated_df.columns.duplicated()]
final_df.to_csv ('UPSIT_Top50sMerge_Data_Male.csv', index = False)
print(final_df.shape)
final_df.head(2)

(307, 98)

,PATNO,APPRDX,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,...,cg24260971,cg27315341,cg06263834,cg02944903,cg16628215,cg20003494,cg05142211,cg19646414,cg07466585,cg23127998
0,3001,1,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,...,0.101776,0.855311,0.049564,0.779978,0.053833,0.025708,0.035018,0.888881,0.082290,0.216844
1,3007,1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,...,0.060896,0.769311,0.030237,0.653859,0.022553,0.045513,0.041906,0.885429,0.025043,0.166560