In [1]:
import numpy as np
import pandas as pd

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\TrailMakeA
gene = pd.read_csv ("Cpg_GeneLongColumn_OnlyAnnotated.csv")
print(gene.shape)
gene.head(2)

Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\TrailMakeA
(897065, 2)

   Gene         CpG
0  A1BG  cg27629882
1  A1BG  cg25623524

## Trail Making A

In [3]:
feature1 = pd.read_csv ("TrailMakeA_Gene.csv")
print(feature1.shape)
feature1.head(2)
df1 = pd.merge (feature1, gene, on = "Gene", how ='inner')
print(df1.shape)
df1.to_csv('CpG_TrailMakeA_Gene.csv', index = False)
df1.head(3)

(2161, 1)
(87976, 2)

  Gene         CpG
0  A2M  cg08012045
1  A2M  cg08300930
2  A2M  cg00134295

In [4]:
PATNO = pd.read_csv('Sentrix_PATNO_APPRDX_HYS_Gender_Age_of524Methyl_APP1_2.csv')
Trail = pd.read_csv('TrailMaking_Derived_Categorized.csv')
df3 = pd.merge (PATNO, Trail, on = "PATNO", how ='inner')
print(df3.shape)
df3.to_csv('TrailMakeA_PATNO_APPRDX_Age_in524Methyl.csv', index = False)
df3.head(3)

(231, 9)

,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,Trail_Making_A_Category,Trail_Making_B_Category
0,200973410159_R03C01,3000,2,69.1,4,0,2,0.0,0.0
1,200991620021_R01C01,3001,1,65.1,4,2,1,1.0,0.0
2,200991620021_R03C01,3002,2,67.6,4,2,1,2.0,1.0

In [5]:
df4 = df3.loc[df3['Gender'] == 1]
print(df4.shape)
df4.to_csv('TrailMakeA_PATNO_APPRDX_Age_in524Methyl_Male.csv')
df4.head(2)

(158, 9)

,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,Trail_Making_A_Category,Trail_Making_B_Category
1,200991620021_R01C01,3001,1,65.1,4,2,1,1.0,0.0
4,200989060135_R07C01,3004,1,59.4,3,0,2,1.0,1.0

## Dream

In [6]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\Dream
feature2 = pd.read_csv ("Dream_Gene.csv")
df2 = pd.merge (feature2, gene, on = "Gene", how ='inner')
print(df2.shape)
df2.to_csv('CpG_Dream_Gene.csv', index = False)
df2.head(2)

Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\Dream
(665, 2)

    Gene         CpG
0  ABCB6  cg07920064
1  ABCB6  cg27486695

In [7]:
PATNO = pd.read_csv('Sentrix_PATNO_APPRDX_HYS_Gender_Age_of524Methyl_APP1_2.csv')
Trail = pd.read_csv('REM_Dream_Categorized.csv')
df3 = pd.merge (PATNO, Trail, on = "PATNO", how ='inner')
print(df3.shape)
df3.to_csv('Dream_PATNO_APPRDX_Age_in524Methyl.csv', index = False)
df3.head(3)

(160, 8)

               Sentrix  PATNO  Gender   Age  AgeCate  HYS  APPRDX  REM_Dream
0  200991620021_R03C01   3002       2  67.6        4    2       1          2
1  200973410143_R01C01   3008       2  81.9        5    0       2          2
2  200973410143_R06C01   3009       2  83.7        5    0       2          1

In [8]:
df4 = df3.loc[df3['Gender'] == 1]
print(df4.shape)
df4.to_csv('Dream_PATNO_APPRDX_Age_in524Methyl_Male.csv')
df4.head(2)

(110, 8)

               Sentrix  PATNO  Gender   Age  AgeCate  HYS  APPRDX  REM_Dream
3  200973410167_R05C01   3010       1  47.0        2    2       1          2
8  200989060143_R08C01   3024       1  52.7        2    2       1          0