In [1]:
import numpy as np
import pandas as pd

# Benton

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats21_UnCategorized
df = pd.read_csv("NonMotor_SocioBehavior_Categorized_250APPRDX.csv")
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats21_UnCategorized
(250, 2)

   PATNO  APPRDX
0   3002       1
1   3010       1

In [4]:
Benton = pd.read_csv ("Benton_Derived_Categorized.csv")
print(Benton.shape)
Benton.head(2)

(1474, 3)

   PATNO  Category  DVS_JLO_MSSAE
0   3224         0          17.48
1  54937         0          17.48

In [5]:
df1 = pd.merge(df, Benton, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('Benton_Derived_Categorized_APPRDX.csv')

   PATNO  APPRDX  Category  DVS_JLO_MSSAE
0   3002       1         0          12.16
1   3010       1         0           7.76

# Hopkins

In [6]:
Recall = pd.read_csv ("Hopkins_Recall_Derived_Categorized.csv")
print(Recall.shape)
Recall.head(2)

(1477, 3)

   PATNO  DVT_DELAYED_RECALL  Category
0   3023                  64         0
1   3219                  64         0

In [7]:
df1 = pd.merge(df, Recall, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('Hopkins_Recall_Derived_Categorized_APPRDX.csv', index = False)

   PATNO  APPRDX  DVT_DELAYED_RECALL  Category
0   3002       1                  63         0
1   3010       1                  49         0

In [8]:
Recognition = pd.read_csv ("Hopkins_Recognition_Derived_Categorized.csv")
print(Recognition.shape)
Recognition.head(2)

(1473, 3)

   PATNO  Category  DVT_RECOG_DISC_INDEX
0   3653         0                    63
1   3965         0                    63

In [9]:
df1 = pd.merge(df, Recognition, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('Hopkins_Recognition_Derived_Categorized_APPRDX.csv', index = False)

   PATNO  APPRDX  Category  DVT_RECOG_DISC_INDEX
0   3002       1         0                    38
1   3010       1         0                    55

# Trail Making

In [3]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess
Trail_Making = pd.read_csv("Trail_Making_A_and_B_trim1.csv")
Trail_Making.columns

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess

Index(['Unnamed: 0', 'PATNO', 'PAG_NAME33', 'TMTASEC', 'TMTBSEC'], dtype='object')

In [5]:
Trail_Making.drop_duplicates(subset = ['PATNO'], keep = 'first', inplace = True)
Trail_Making.head(2)

   Unnamed: 0  PATNO PAG_NAME33  TMTASEC  TMTBSEC
0           0   4101        TMT     32.0     71.0
1           1   3522        TMT     80.0    160.0

In [7]:
col         = 'TMTASEC'
conditions  = [ Trail_Making[col] < 50 , (Trail_Making[col] >= 50) & (Trail_Making[col] <= 80), 
              Trail_Making[col] > 80]
choices     = [ 0, 1, 2]
    
Trail_Making["Trail_Making_A_Category"] = np.select(conditions, choices, default=np.nan)
Trail_Making.head(2)

   Unnamed: 0  PATNO PAG_NAME33  TMTASEC  TMTBSEC  Trail_Making_A_Category
0           0   4101        TMT     32.0     71.0                      0.0
1           1   3522        TMT     80.0    160.0                      1.0

In [8]:
col         = 'TMTBSEC'
conditions  = [ Trail_Making[col] < 120 , (Trail_Making[col] >= 120) & (Trail_Making[col] <= 270), 
              Trail_Making[col] > 270]
choices     = [ 0, 1, 2]
    
Trail_Making["Trail_Making_B_Category"] = np.select(conditions, choices, default=np.nan)
Trail_Making.head(2)

,Unnamed: 0,PATNO,PAG_NAME33,TMTASEC,TMTBSEC,Trail_Making_A_Category,Trail_Making_B_Category
0,0,4101,TMT,32.0,71.0,0.0,0.0
1,1,3522,TMT,80.0,160.0,1.0,1.0

In [9]:
Trail_Making_cut = Trail_Making.drop(['Unnamed: 0','TMTASEC', 'TMTBSEC'], axis = 1)
Trail_Making_cut.head(2)

   PATNO PAG_NAME33  Trail_Making_A_Category  Trail_Making_B_Category
0   4101        TMT                      0.0                      0.0
1   3522        TMT                      1.0                      1.0

In [12]:
Trail_Making_cut.to_csv('TrailMaking_Derived_Categorized.csv', index = False)

In [17]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats21_UnCategorized
df = pd.read_csv("NonMotor_SocioBehavior_Categorized_250APPRDX.csv")
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess\Feats21_UnCategorized
(250, 2)

   PATNO  APPRDX
0   3002       1
1   3010       1

In [14]:
df1 = pd.merge(df, Trail_Making_cut, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('TrailMaking_Derived_Categorized_APPRDX.csv', index = False)

   PATNO  APPRDX PAG_NAME33  Trail_Making_A_Category  Trail_Making_B_Category
0   3002       1        TMT                      2.0                      1.0
1   3010       1        TMT                      0.0                      0.0

# QUIP Impulsive

In [21]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_All_21Feats_Categorized
impulse = pd.read_csv("QUIP_Current_Short-Categorised.csv")
df1 = pd.merge(df, impulse, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('QUIP_Current_Categorized_APPRDX.csv', index = False)

Z:\PPMI_Data\Excels\NonMotors\NonMot_All_21Feats_Categorized
   PATNO  APPRDX PAG_NAME  Impulsive_ICD_Category  \
0   3002       1   QUIPCS                     0.0
1   3010       1   QUIPCS                     0.0

   Impulsive_CompulsiveBehavior_Category
0                                    0.0
1                                    0.0

# REM Sleep

In [22]:
impulse = pd.read_csv("REM_Sleep_Disorder_Questionnaire-Categorised.csv")
df1 = pd.merge(df, impulse, on = "PATNO", how = "inner")
print(df1.head(2))
df1.to_csv('REM_Sleep_Categorised_APPRDX.csv', index = False)

Z:\PPMI_Data\Excels\NonMotors\NonMot_All_21Feats_Categorized
   PATNO  APPRDX  PAG_NAME  REM_Dream_Category  REM_Movement_Category  \
0   3002       1  REMSLEEP                 2.0                    1.0
1   3010       1  REMSLEEP                 2.0                    1.0

   REM_AwakeProblem_Category  REM_AwakeDream_Category  REM_Neuro_Category
0                        1.0                      2.0                 1.0
1                        2.0                      2.0                 1.0