In [1]:
import pandas as pd
import numpy as np

In [4]:
%cd Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess

Z:\PPMI_Data\Excels\NonMotors\NonMot_Files_RAW_PreProcess

## QUIP_Impulsive

In [5]:
QUIP_Impulsive = pd.read_csv("QUIP_Current_Short-Archived.csv")
QUIP_Impulsive.columns

Index(['REC_ID', 'F_STATUS', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT',
       'PTINBOTH', 'TMGAMBLE', 'CNTRLGMB', 'TMSEX', 'CNTRLSEX', 'TMBUY',
       'CNTRLBUY', 'TMEAT', 'CNTRLEAT', 'TMTORACT', 'TMTMTACT', 'TMTRWD',
       'TMDISMED', 'CNTRLDSM', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY',
       'SITE_APRV'],
      dtype='object')

In [7]:
QUIP_Impulsive.drop_duplicates(subset = ['PATNO'], keep = 'first', inplace = True)
QUIP_Impulsive.head(2)

,REC_ID,F_STATUS,PATNO,EVENT_ID,PAG_NAME,INFODT,PTINBOTH,TMGAMBLE,CNTRLGMB,TMSEX,...,CNTRLEAT,TMTORACT,TMTMTACT,TMTRWD,TMDISMED,CNTRLDSM,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV
0,232537101,S,3401,BL,QUIPCS,Jul-10,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,Jul-10,40:25.0,NaN,Jul-10
1,233826501,S,3400,BL,QUIPCS,Jul-10,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,Jul-10,40:01.0,NaN,Jul-10

In [8]:
QUIP_Impulsive_cut1 = QUIP_Impulsive.drop(['REC_ID', 'F_STATUS', 'EVENT_ID', 'INFODT',
                                                  'PTINBOTH', 'ORIG_ENTRY', 'LAST_UPDATE',
       'QUERY', 'SITE_APRV'], axis = 1)
QUIP_Impulsive_cut1.head(2)

,PATNO,PAG_NAME,TMGAMBLE,CNTRLGMB,TMSEX,CNTRLSEX,TMBUY,CNTRLBUY,TMEAT,CNTRLEAT,TMTORACT,TMTMTACT,TMTRWD,TMDISMED,CNTRLDSM
0,3401,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,3400,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0

In [9]:
QUIP_Impulsive_cut1 ['Impulsive_ICD_Score']= QUIP_Impulsive_cut1.iloc[:,2:10].sum(axis=1)
QUIP_Impulsive_cut1.head(2)

,PATNO,PAG_NAME,TMGAMBLE,CNTRLGMB,TMSEX,CNTRLSEX,TMBUY,CNTRLBUY,TMEAT,CNTRLEAT,TMTORACT,TMTMTACT,TMTRWD,TMDISMED,CNTRLDSM,Impulsive_ICD_Score
0,3401,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0
1,3400,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1.0

In [10]:
QUIP_Impulsive_cut1 ['Impulsive_CompulsiveBehavior_Score']= QUIP_Impulsive_cut1.iloc[:,10:13].sum(axis=1)
QUIP_Impulsive_cut1.head(2)

,PATNO,PAG_NAME,TMGAMBLE,CNTRLGMB,TMSEX,CNTRLSEX,TMBUY,CNTRLBUY,TMEAT,CNTRLEAT,TMTORACT,TMTMTACT,TMTRWD,TMDISMED,CNTRLDSM,Impulsive_ICD_Score,Impulsive_CompulsiveBehavior_Score
0,3401,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
1,3400,QUIPCS,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0

QUIP_Impulsive_cut1 ['Impulsive_CompulsiveMedication_Score']= QUIP_Impulsive_cut1.iloc[:,13:15].sum(axis=1)
QUIP_Impulsive_cut1.head()

In [11]:
QUIP_Impulsive_cut2 = QUIP_Impulsive_cut1.drop(['TMGAMBLE', 'CNTRLGMB', 'TMSEX', 'CNTRLSEX', 'TMBUY',
       'CNTRLBUY', 'TMEAT', 'CNTRLEAT', 'TMTORACT', 'TMTMTACT', 'TMTRWD',
       'TMDISMED', 'CNTRLDSM'], axis = 1)
QUIP_Impulsive_cut2.head(2)

   PATNO PAG_NAME  Impulsive_ICD_Score  Impulsive_CompulsiveBehavior_Score
0   3401   QUIPCS                  0.0                                 0.0
1   3400   QUIPCS                  1.0                                 0.0

In [19]:
highest_value = QUIP_Impulsive_cut2['Impulsive_ICD_Score'].max()
highest_value

8.0

In [16]:
highest_value = QUIP_Impulsive_cut2['Impulsive_CompulsiveBehavior_Score'].max()
highest_value

3.0

In [21]:
col         = 'Impulsive_ICD_Score'
conditions  = [ QUIP_Impulsive_cut2[col] <2 , (QUIP_Impulsive_cut2[col] >= 2) & (QUIP_Impulsive_cut2[col] < 5),
              (QUIP_Impulsive_cut2[col] >= 5)]
choices     = [ 0, 1, 2]
    
QUIP_Impulsive_cut2["Impulsive_ICD_Category"] = np.select(conditions, choices, default=np.nan)
QUIP_Impulsive_cut2.head(2)

,PATNO,PAG_NAME,Impulsive_ICD_Score,Impulsive_CompulsiveBehavior_Score,Impulsive_ICD_Category
0,3401,QUIPCS,0.0,0.0,0.0
1,3400,QUIPCS,1.0,0.0,0.0

In [24]:
col         = 'Impulsive_CompulsiveBehavior_Score'
conditions  = [ QUIP_Impulsive_cut2[col] == 0 , (QUIP_Impulsive_cut2[col] == 1), (QUIP_Impulsive_cut2[col] > 1)]
choices     = [ 0, 1, 2]
    
QUIP_Impulsive_cut2["Impulsive_CompulsiveBehavior_Category"] = np.select(conditions, choices, default=np.nan)
QUIP_Impulsive_cut2.head(2)

,PATNO,PAG_NAME,Impulsive_ICD_Score,Impulsive_CompulsiveBehavior_Score,Impulsive_ICD_Category,Impulsive_CompulsiveBehavior_Category
0,3401,QUIPCS,0.0,0.0,0.0,0.0
1,3400,QUIPCS,1.0,0.0,0.0,0.0

In [25]:
QUIP_Impulsive_cut2 = QUIP_Impulsive_cut2.dropna(how='any',axis=0) 
QUIP_Impulsive_cut3 = QUIP_Impulsive_cut2.drop(["Impulsive_ICD_Score", "Impulsive_CompulsiveBehavior_Score", 
                                        ], axis = 1)
QUIP_Impulsive_cut3.head(2)

,PATNO,PAG_NAME,Impulsive_ICD_Category,Impulsive_CompulsiveBehavior_Category
0,3401,QUIPCS,0.0,0.0
1,3400,QUIPCS,0.0,0.0

In [27]:
QUIP_Impulsive_cut3.to_csv("QUIP_Current_Short-Categorised.csv", index=False)

## REM_Sleep_Disorder_Questionnaire

In [28]:
REM_Sleep = pd.read_csv("REM_Sleep_Disorder_Questionnaire-Archived.csv")
REM_Sleep.columns

Index(['REC_ID', 'F_STATUS', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT',
       'PTCGBOTH', 'DRMVIVID', 'DRMAGRAC', 'DRMNOCTB', 'SLPLMBMV', 'SLPINJUR',
       'DRMVERBL', 'DRMFIGHT', 'DRMUMV', 'DRMOBJFL', 'MVAWAKEN', 'DRMREMEM',
       'SLPDSTRB', 'STROKE', 'HETRA', 'PARKISM', 'RLS', 'NARCLPSY', 'DEPRS',
       'EPILEPSY', 'BRNINFM', 'CNSOTH', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY',
       'SITE_APRV'],
      dtype='object')

In [29]:
REM_Sleep.drop_duplicates(subset = ['PATNO'], keep = 'first', inplace = True)
REM_Sleep.head(2)

,REC_ID,F_STATUS,PATNO,EVENT_ID,PAG_NAME,INFODT,PTCGBOTH,DRMVIVID,DRMAGRAC,DRMNOCTB,...,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM,CNSOTH,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV
0,456173201,S,10874,BL,REMSLEEP,09/2014,1.0,1,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,09/2014,2020-06-26 19:13:07.0,NaN,09/2014
7,416214101,S,12224,BL,REMSLEEP,10/2013,1.0,1,1,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,10/2013,2020-06-26 19:12:48.0,NaN,10/2013

In [30]:
REM_Sleep_cut = REM_Sleep.drop(['REC_ID', 'F_STATUS', 'EVENT_ID', 'INFODT','PTCGBOTH','CNSOTH', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY',
       'SITE_APRV' ], axis = 1)
REM_Sleep_cut.head(2)

,PATNO,PAG_NAME,DRMVIVID,DRMAGRAC,DRMNOCTB,SLPLMBMV,SLPINJUR,DRMVERBL,DRMFIGHT,DRMUMV,...,DRMREMEM,SLPDSTRB,STROKE,HETRA,PARKISM,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM
0,10874,REMSLEEP,1,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
7,12224,REMSLEEP,1,1,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0,1.0,0,0.0,0.0,1.0,0.0,0.0

Cateorizing as per their criteria

In [31]:
REM_Sleep_cut ['REM_Dream_Score']= REM_Sleep_cut.iloc[:,2:5].sum(axis=1)
REM_Sleep_cut.head(2)

,PATNO,PAG_NAME,DRMVIVID,DRMAGRAC,DRMNOCTB,SLPLMBMV,SLPINJUR,DRMVERBL,DRMFIGHT,DRMUMV,...,SLPDSTRB,STROKE,HETRA,PARKISM,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM,REM_Dream_Score
0,10874,REMSLEEP,1,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0
7,12224,REMSLEEP,1,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0,1.0,0,0.0,0.0,1.0,0.0,0.0,2.0

In [32]:
REM_Sleep_cut ['REM_Movement_Score']= REM_Sleep_cut.iloc[:,5:11].sum(axis=1)
REM_Sleep_cut.head(2)

,PATNO,PAG_NAME,DRMVIVID,DRMAGRAC,DRMNOCTB,SLPLMBMV,SLPINJUR,DRMVERBL,DRMFIGHT,DRMUMV,...,STROKE,HETRA,PARKISM,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM,REM_Dream_Score,REM_Movement_Score
0,10874,REMSLEEP,1,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
7,12224,REMSLEEP,1,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0,1.0,0,0.0,0.0,1.0,0.0,0.0,2.0,1.0

In [33]:
REM_Sleep_cut1 = REM_Sleep_cut.drop(['DRMVIVID', 'DRMAGRAC', 'DRMNOCTB', 'SLPLMBMV', 'SLPINJUR',
       'DRMVERBL', 'DRMFIGHT', 'DRMUMV', 'DRMOBJFL'], axis = 1)
REM_Sleep_cut1.head(2)

,PATNO,PAG_NAME,MVAWAKEN,DRMREMEM,SLPDSTRB,STROKE,HETRA,PARKISM,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM,REM_Dream_Score,REM_Movement_Score
0,10874,REMSLEEP,0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
7,12224,REMSLEEP,0,1.0,0.0,0,1.0,0,0.0,0.0,1.0,0.0,0.0,2.0,1.0

In [34]:
REM_Sleep_cut1 ['REM_Neuro_Score']= REM_Sleep_cut1.iloc[:,5:13].sum(axis=1)
REM_Sleep_cut1.head(2)

,PATNO,PAG_NAME,MVAWAKEN,DRMREMEM,SLPDSTRB,STROKE,HETRA,PARKISM,RLS,NARCLPSY,DEPRS,EPILEPSY,BRNINFM,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score
0,10874,REMSLEEP,0,0.0,0.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7,12224,REMSLEEP,0,1.0,0.0,0,1.0,0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,2.0

In [35]:
REM_Sleep_cut2 = REM_Sleep_cut1.drop(['STROKE', 'HETRA', 'PARKISM', 'RLS', 'NARCLPSY', 'DEPRS',
       'EPILEPSY', 'BRNINFM'], axis = 1)
REM_Sleep_cut2.head(2)

,PATNO,PAG_NAME,MVAWAKEN,DRMREMEM,SLPDSTRB,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score
0,10874,REMSLEEP,0,0.0,0.0,1.0,1.0,0.0
7,12224,REMSLEEP,0,1.0,0.0,2.0,1.0,2.0

In [37]:
REM_Sleep_cut2 ['REM_AwakeDream_Score']= REM_Sleep_cut2.iloc[:,3:4].sum(axis=1)
REM_Sleep_cut2.head(2)

,PATNO,PAG_NAME,MVAWAKEN,DRMREMEM,SLPDSTRB,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score
0,10874,REMSLEEP,0,0.0,0.0,1.0,1.0,0.0,0.0
7,12224,REMSLEEP,0,1.0,0.0,2.0,1.0,2.0,1.0

In [38]:
REM_Sleep_cut3 = REM_Sleep_cut2.drop(['DRMREMEM'], axis = 1)
REM_Sleep_cut3.head(2)

,PATNO,PAG_NAME,MVAWAKEN,SLPDSTRB,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score
0,10874,REMSLEEP,0,0.0,1.0,1.0,0.0,0.0
7,12224,REMSLEEP,0,0.0,2.0,1.0,2.0,1.0

In [39]:
REM_Sleep_cut3 ['REM_AwakeProblem_Score']= REM_Sleep_cut3.iloc[:,2:4].sum(axis=1)
REM_Sleep_cut3.head(2)

,PATNO,PAG_NAME,MVAWAKEN,SLPDSTRB,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score
0,10874,REMSLEEP,0,0.0,1.0,1.0,0.0,0.0,0.0
7,12224,REMSLEEP,0,0.0,2.0,1.0,2.0,1.0,0.0

In [40]:
REM_Sleep_cut4 = REM_Sleep_cut3.drop([ 'MVAWAKEN', 'SLPDSTRB'], axis = 1)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0

In [41]:
highest_values = REM_Sleep_cut4.max()

print('Highest values of all columns:')
print(highest_values)

Highest values of all columns:
PATNO                        92834
PAG_NAME                  REMSLEEP
REM_Dream_Score                3.0
REM_Movement_Score             6.0
REM_Neuro_Score                6.0
REM_AwakeDream_Score           1.0
REM_AwakeProblem_Score         2.0
dtype: object

In [42]:
col         = 'REM_Dream_Score'
conditions  = [ REM_Sleep_cut4[col] <1 , (REM_Sleep_cut4[col] == 1), (REM_Sleep_cut4[col] > 1)]
choices     = [ 0, 1, 2]
    
REM_Sleep_cut4["REM_Dream_Category"] = np.select(conditions, choices, default=np.nan)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score,REM_Dream_Category
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0,1.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0,2.0

In [44]:
col         = 'REM_Movement_Score'
conditions  = [REM_Sleep_cut4[col] <2 , (REM_Sleep_cut4[col] > 1) & (REM_Sleep_cut4[col] < 4),
              (REM_Sleep_cut4[col] >= 4)]
choices     = [ 0, 1, 2]
    
REM_Sleep_cut4["REM_Movement_Category"] = np.select(conditions, choices, default=np.nan)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score,REM_Dream_Category,REM_Movement_Category
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0,1.0,0.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0,2.0,0.0

In [46]:
col         = 'REM_AwakeProblem_Score'
conditions  = [ REM_Sleep_cut4[col] == 0 , (REM_Sleep_cut4[col] == 1), (REM_Sleep_cut4[col] == 2)]
choices     = [ 0, 1, 2]
    
REM_Sleep_cut4["REM_AwakeProblem_Category"] = np.select(conditions, choices, default=np.nan)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score,REM_Dream_Category,REM_Movement_Category,REM_AwakeProblem_Category
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0

In [48]:
col         = 'REM_AwakeDream_Score'
conditions  = [ REM_Sleep_cut4[col] <1 , (REM_Sleep_cut4[col] >= 1)]
choices     = [ 0, 2]
    
REM_Sleep_cut4["REM_AwakeDream_Category"] = np.select(conditions, choices, default=np.nan)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score,REM_Dream_Category,REM_Movement_Category,REM_AwakeProblem_Category,REM_AwakeDream_Category
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0

In [49]:
col         = 'REM_Neuro_Score'
conditions  = [ REM_Sleep_cut4[col] <2 , (REM_Sleep_cut4[col] > 1) & (REM_Sleep_cut4[col] < 4),
              (REM_Sleep_cut4[col] >= 4)]
choices     = [ 0, 1, 2]
    
REM_Sleep_cut4["REM_Neuro_Category"] = np.select(conditions, choices, default=np.nan)
REM_Sleep_cut4.head(2)

,PATNO,PAG_NAME,REM_Dream_Score,REM_Movement_Score,REM_Neuro_Score,REM_AwakeDream_Score,REM_AwakeProblem_Score,REM_Dream_Category,REM_Movement_Category,REM_AwakeProblem_Category,REM_AwakeDream_Category,REM_Neuro_Category
0,10874,REMSLEEP,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,12224,REMSLEEP,2.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,1.0

In [52]:
REM_Sleep_cut4.to_csv("REM_Sleep_Disorder_Questionnaire-Categorised1.csv", index=False)