# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain
df = pd.read_csv('PainCateg_Methylome_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\Pain
(150, 108280)

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,MDSP_Pain,cg08012045,cg08300930,cg00134295,...,cg12385643,cg14543119,cg11523984,cg04449108,cg14323797,cg02234120,cg23874600,cg27361577,cg00831331,ch.14.849914F
0,213,200991620021_R03C01,3002,2,2,1,1,0.952757,0.970714,0.227504,...,0.803776,0.793736,0.737096,0.931740,0.882883,0.864305,0.933641,0.728115,0.923617,0.049931
1,214,200989060105_R03C01,3003,2,2,1,1,0.948345,0.966610,0.209896,...,0.878934,0.799641,0.780678,0.937121,0.797353,0.802888,0.933380,0.669195,0.916997,0.056143

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','MDSP_Pain'], axis=1)
df1.head(2)

,APPRDX,cg08012045,cg08300930,cg00134295,cg10537824,cg04990650,cg03379001,cg02215627,cg06699201,cg18100935,...,cg12385643,cg14543119,cg11523984,cg04449108,cg14323797,cg02234120,cg23874600,cg27361577,cg00831331,ch.14.849914F
0,1,0.952757,0.970714,0.227504,0.860591,0.836116,0.863656,0.885796,0.741853,0.879686,...,0.803776,0.793736,0.737096,0.931740,0.882883,0.864305,0.933641,0.728115,0.923617,0.049931
1,1,0.948345,0.966610,0.209896,0.826954,0.798853,0.877657,0.846453,0.778225,0.902908,...,0.878934,0.799641,0.780678,0.937121,0.797353,0.802888,0.933380,0.669195,0.916997,0.056143

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5833333333333334
2
Mean accuracy: 0.5333333333333333
3
Mean accuracy: 0.36666666666666664
4
Mean accuracy: 0.5666666666666667
5
Mean accuracy: 0.4666666666666667
6
Mean accuracy: 0.39999999999999997
7
Mean accuracy: 0.4666666666666666
8
Mean accuracy: 0.6499999999999999
9
Mean accuracy: 0.65
10
Mean accuracy: 0.5
11
Mean accuracy: 0.4666666666666667
12
Mean accuracy: 0.4666666666666667
13
Mean accuracy: 0.4833333333333333
14
Mean accuracy: 0.45
15
Mean accuracy: 0.6166666666666667
16
Mean accuracy: 0.4666666666666666
17
Mean accuracy: 0.5166666666666666
18
Mean accuracy: 0.6
19
Mean accuracy: 0.6
20
Mean accuracy: 0.5333333333333333
21
Mean accuracy: 0.4999999999999999
22
Mean accuracy: 0.5333333333333333
23
Mean accuracy: 0.5833333333333333
24
Mean accuracy: 0.4833333333333333
25
Mean accuracy: 0.5666666666666667
26
Mean accuracy: 0.4833333333333333
27
Mean accuracy: 0.6000000000000001
28
Mean accuracy: 0.4333333333333333
29
Mean accuracy: 0.5333333333333333
30
Mean accuracy: 0.4666666666666666
31
Mean accuracy: 0.55
32
Mean accuracy: 0.5666666666666668
33
Mean accuracy: 0.5999999999999999
34
Mean accuracy: 0.29999999999999993
35
Mean accuracy: 0.55
36
Mean accuracy: 0.4833333333333334
37
Mean accuracy: 0.45
38
Mean accuracy: 0.3833333333333333
39
Mean accuracy: 0.5333333333333334
40
Mean accuracy: 0.6
41
Mean accuracy: 0.4666666666666666
42
Mean accuracy: 0.45
43
Mean accuracy: 0.5
44
Mean accuracy: 0.4166666666666667
45
Mean accuracy: 0.6
46
Mean accuracy: 0.5333333333333334
47
Mean accuracy: 0.55
48
Mean accuracy: 0.4833333333333333
49
Mean accuracy: 0.4833333333333333
50
Mean accuracy: 0.5666666666666667
51
Mean accuracy: 0.6333333333333333
52
Mean accuracy: 0.5166666666666666
53
Mean accuracy: 0.36666666666666664
54
Mean accuracy: 0.5499999999999999
55
Mean accuracy: 0.55
56
Mean accuracy: 0.55
57
Mean accuracy: 0.4666666666666666
58
Mean accuracy: 0.4666666666666667
59
Mean accuracy: 0.65
60
Mean accuracy: 0.4666666666666667
61
Mean accuracy: 0.4333333333333333
62
Mean accuracy: 0.4666666666666666
63
Mean accuracy: 0.7000000000000001
64
Mean accuracy: 0.5666666666666667
65
Mean accuracy: 0.5666666666666667
66
Mean accuracy: 0.5166666666666667
67
Mean accuracy: 0.5666666666666667
68
Mean accuracy: 0.36666666666666664
69
Mean accuracy: 0.4833333333333333
70
Mean accuracy: 0.5499999999999999
71
Mean accuracy: 0.41666666666666663
72
Mean accuracy: 0.5166666666666667
73
Mean accuracy: 0.4333333333333333
74
Mean accuracy: 0.41666666666666663
75
Mean accuracy: 0.5
76
Mean accuracy: 0.6
77
Mean accuracy: 0.55
78
Mean accuracy: 0.5666666666666667
79
Mean accuracy: 0.45
80
Mean accuracy: 0.4999999999999999
81
Mean accuracy: 0.5999999999999999
82
Mean accuracy: 0.4333333333333333
83
Mean accuracy: 0.38333333333333336
84
Mean accuracy: 0.55
85
Mean accuracy: 0.5833333333333334
86
Mean accuracy: 0.39999999999999997
87
Mean accuracy: 0.5166666666666666
88
Mean accuracy: 0.41666666666666663
89
Mean accuracy: 0.6166666666666667
90
Mean accuracy: 0.4833333333333333
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.5166666666666667
93
Mean accuracy: 0.5833333333333333
94
Mean accuracy: 0.55
95
Mean accuracy: 0.5
96
Mean accuracy: 0.6
97
Mean accuracy: 0.4333333333333333
98
Mean accuracy: 0.5333333333333333
99
Mean accuracy: 0.33333333333333337
100
Mean accuracy: 0.5666666666666667

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_AllCpG_Female_100RF.csv", index = False)

0.5115

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4666666666666666
2
Mean accuracy: 0.5
3
Mean accuracy: 0.5333333333333333
4
Mean accuracy: 0.4666666666666666
5
Mean accuracy: 0.5666666666666667
6
Mean accuracy: 0.4499999999999999
7
Mean accuracy: 0.5333333333333333
8
Mean accuracy: 0.4833333333333333
9
Mean accuracy: 0.45
10
Mean accuracy: 0.5666666666666667
11
Mean accuracy: 0.5499999999999999
12
Mean accuracy: 0.6333333333333333
13
Mean accuracy: 0.55
14
Mean accuracy: 0.5666666666666667
15
Mean accuracy: 0.5499999999999999
16
Mean accuracy: 0.4666666666666667
17
Mean accuracy: 0.45
18
Mean accuracy: 0.4333333333333333
19
Mean accuracy: 0.5000000000000001
20
Mean accuracy: 0.5
21
Mean accuracy: 0.4833333333333333
22
Mean accuracy: 0.4333333333333334
23
Mean accuracy: 0.55
24
Mean accuracy: 0.4666666666666667
25
Mean accuracy: 0.5499999999999999
26
Mean accuracy: 0.5166666666666666
27
Mean accuracy: 0.7
28
Mean accuracy: 0.4333333333333333
29
Mean accuracy: 0.4666666666666666
30
Mean accuracy: 0.5333333333333333
31
Mean accuracy: 0.41666666666666663
32
Mean accuracy: 0.5333333333333334
33
Mean accuracy: 0.4833333333333333
34
Mean accuracy: 0.33333333333333337
35
Mean accuracy: 0.55
36
Mean accuracy: 0.55
37
Mean accuracy: 0.5166666666666666
38
Mean accuracy: 0.4
39
Mean accuracy: 0.5499999999999999
40
Mean accuracy: 0.6333333333333333
41
Mean accuracy: 0.4499999999999999
42
Mean accuracy: 0.6
43
Mean accuracy: 0.5166666666666667
44
Mean accuracy: 0.5166666666666666
45
Mean accuracy: 0.5666666666666667
46
Mean accuracy: 0.5666666666666668
47
Mean accuracy: 0.4833333333333332
48
Mean accuracy: 0.4666666666666666
49
Mean accuracy: 0.5166666666666667
50
Mean accuracy: 0.3833333333333333
51
Mean accuracy: 0.4833333333333333
52
Mean accuracy: 0.55
53
Mean accuracy: 0.5833333333333333
54
Mean accuracy: 0.5333333333333334
55
Mean accuracy: 0.6166666666666666
56
Mean accuracy: 0.5666666666666667
57
Mean accuracy: 0.4833333333333333
58
Mean accuracy: 0.5333333333333333
59
Mean accuracy: 0.4333333333333333
60
Mean accuracy: 0.45
61
Mean accuracy: 0.35
62
Mean accuracy: 0.5666666666666667
63
Mean accuracy: 0.55
64
Mean accuracy: 0.4833333333333333
65
Mean accuracy: 0.6166666666666666
66
Mean accuracy: 0.5499999999999999
67
Mean accuracy: 0.55
68
Mean accuracy: 0.5666666666666667
69
Mean accuracy: 0.5166666666666667
70
Mean accuracy: 0.5
71
Mean accuracy: 0.5666666666666667
72
Mean accuracy: 0.65
73
Mean accuracy: 0.38333333333333336
74
Mean accuracy: 0.3833333333333333
75
Mean accuracy: 0.4833333333333334
76
Mean accuracy: 0.45
77
Mean accuracy: 0.4666666666666666
78
Mean accuracy: 0.5833333333333333
79
Mean accuracy: 0.4166666666666667
80
Mean accuracy: 0.6333333333333333
81
Mean accuracy: 0.5
82
Mean accuracy: 0.4999999999999999
83
Mean accuracy: 0.5166666666666666
84
Mean accuracy: 0.5499999999999999
85
Mean accuracy: 0.3666666666666666
86
Mean accuracy: 0.4166666666666667
87
Mean accuracy: 0.5333333333333333
88
Mean accuracy: 0.4333333333333333
89
Mean accuracy: 0.45
90
Mean accuracy: 0.4666666666666666
91
Mean accuracy: 0.5166666666666666
92
Mean accuracy: 0.4333333333333333
93
Mean accuracy: 0.5499999999999999
94
Mean accuracy: 0.5333333333333333
95
Mean accuracy: 0.5
96
Mean accuracy: 0.4666666666666667
97
Mean accuracy: 0.38333333333333336
98
Mean accuracy: 0.5333333333333333
99
Mean accuracy: 0.6000000000000001
100
Mean accuracy: 0.5

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_Rand50CpG_Female_100RF.csv", index = False)

0.5063333333333332

## RanFor 100 times. Samples = 99

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(99, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.5666666666666667
3
Mean accuracy: 0.6333333333333334
4
Mean accuracy: 0.3833333333333333
5
Mean accuracy: 0.55
6
Mean accuracy: 0.3
7
Mean accuracy: 0.5833333333333333
8
Mean accuracy: 0.4833333333333333
9
Mean accuracy: 0.4333333333333333
10
Mean accuracy: 0.55
11
Mean accuracy: 0.5166666666666666
12
Mean accuracy: 0.6499999999999999
13
Mean accuracy: 0.55
14
Mean accuracy: 0.4999999999999999
15
Mean accuracy: 0.5666666666666667
16
Mean accuracy: 0.5333333333333333
17
Mean accuracy: 0.4833333333333333
18
Mean accuracy: 0.4833333333333334
19
Mean accuracy: 0.5166666666666667
20
Mean accuracy: 0.5333333333333334
21
Mean accuracy: 0.5166666666666667
22
Mean accuracy: 0.4333333333333333
23
Mean accuracy: 0.65
24
Mean accuracy: 0.41666666666666663
25
Mean accuracy: 0.4999999999999999
26
Mean accuracy: 0.5
27
Mean accuracy: 0.5333333333333333
28
Mean accuracy: 0.41666666666666663
29
Mean accuracy: 0.4833333333333333
30
Mean accuracy: 0.5166666666666667
31
Mean accuracy: 0.5333333333333334
32
Mean accuracy: 0.5333333333333333
33
Mean accuracy: 0.5333333333333332
34
Mean accuracy: 0.4333333333333333
35
Mean accuracy: 0.4666666666666666
36
Mean accuracy: 0.41666666666666663
37
Mean accuracy: 0.4999999999999999
38
Mean accuracy: 0.3333333333333333
39
Mean accuracy: 0.5833333333333333
40
Mean accuracy: 0.65
41
Mean accuracy: 0.35
42
Mean accuracy: 0.5333333333333333
43
Mean accuracy: 0.5333333333333333
44
Mean accuracy: 0.4666666666666666
45
Mean accuracy: 0.55
46
Mean accuracy: 0.45
47
Mean accuracy: 0.55
48
Mean accuracy: 0.5333333333333332
49
Mean accuracy: 0.5333333333333333
50
Mean accuracy: 0.5166666666666667
51
Mean accuracy: 0.4333333333333333
52
Mean accuracy: 0.5833333333333333
53
Mean accuracy: 0.5833333333333333
54
Mean accuracy: 0.4333333333333333
55
Mean accuracy: 0.5333333333333332
56
Mean accuracy: 0.5333333333333333
57
Mean accuracy: 0.45
58
Mean accuracy: 0.5166666666666666
59
Mean accuracy: 0.4333333333333333
60
Mean accuracy: 0.45
61
Mean accuracy: 0.4833333333333333
62
Mean accuracy: 0.5666666666666667
63
Mean accuracy: 0.5666666666666667
64
Mean accuracy: 0.4333333333333333
65
Mean accuracy: 0.6833333333333333
66
Mean accuracy: 0.5833333333333334
67
Mean accuracy: 0.5666666666666667
68
Mean accuracy: 0.6166666666666667
69
Mean accuracy: 0.4666666666666666
70
Mean accuracy: 0.5166666666666667
71
Mean accuracy: 0.55
72
Mean accuracy: 0.6
73
Mean accuracy: 0.5333333333333333
74
Mean accuracy: 0.45
75
Mean accuracy: 0.41666666666666663
76
Mean accuracy: 0.4499999999999999
77
Mean accuracy: 0.6333333333333334
78
Mean accuracy: 0.5666666666666667
79
Mean accuracy: 0.38333333333333336
80
Mean accuracy: 0.5833333333333333
81
Mean accuracy: 0.5333333333333333
82
Mean accuracy: 0.3833333333333333
83
Mean accuracy: 0.5333333333333333
84
Mean accuracy: 0.45
85
Mean accuracy: 0.38333333333333336
86
Mean accuracy: 0.45
87
Mean accuracy: 0.5499999999999999
88
Mean accuracy: 0.4
89
Mean accuracy: 0.5
90
Mean accuracy: 0.5
91
Mean accuracy: 0.55
92
Mean accuracy: 0.4833333333333333
93
Mean accuracy: 0.6333333333333333
94
Mean accuracy: 0.5166666666666666
95
Mean accuracy: 0.4833333333333333
96
Mean accuracy: 0.5
97
Mean accuracy: 0.4499999999999999
98
Mean accuracy: 0.4666666666666667
99
Mean accuracy: 0.5166666666666666
100
Mean accuracy: 0.5666666666666667

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_Rand99CpG_Female_100RF.csv", index = False)

0.5083333333333334

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Pain_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg06263630,cg01806972,cg13107682,cg13332222,cg12845419,cg16646261,cg24752563,cg15859602,...,cg01158140,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482
0,3002,1,0.847555,0.192149,0.061848,0.885483,0.518718,0.903759,0.631837,0.833900,...,0.830883,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216
1,3003,1,0.838412,0.181933,0.089608,0.945536,0.548928,0.907222,0.516742,0.827027,...,0.887657,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg06263630,cg01806972,cg13107682,cg13332222,cg12845419,cg16646261,cg24752563,cg15859602,cg19511263,...,cg01158140,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482
0,1,0.847555,0.192149,0.061848,0.885483,0.518718,0.903759,0.631837,0.833900,0.900896,...,0.830883,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216
1,1,0.838412,0.181933,0.089608,0.945536,0.548928,0.907222,0.516742,0.827027,0.854604,...,0.887657,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7833333333333333
2
Mean accuracy: 0.7666666666666666
3
Mean accuracy: 0.6166666666666668
4
Mean accuracy: 0.8
5
Mean accuracy: 0.7333333333333333
6
Mean accuracy: 0.6333333333333333
7
Mean accuracy: 0.8
8
Mean accuracy: 0.75
9
Mean accuracy: 0.85
10
Mean accuracy: 0.7833333333333334
11
Mean accuracy: 0.7333333333333333
12
Mean accuracy: 0.7333333333333333
13
Mean accuracy: 0.7333333333333334
14
Mean accuracy: 0.7666666666666666
15
Mean accuracy: 0.7666666666666666
16
Mean accuracy: 0.7499999999999999
17
Mean accuracy: 0.8333333333333334
18
Mean accuracy: 0.7666666666666667
19
Mean accuracy: 0.8
20
Mean accuracy: 0.7833333333333334
21
Mean accuracy: 0.7166666666666667
22
Mean accuracy: 0.8166666666666668
23
Mean accuracy: 0.7833333333333334
24
Mean accuracy: 0.7833333333333334
25
Mean accuracy: 0.8
26
Mean accuracy: 0.8666666666666668
27
Mean accuracy: 0.7666666666666666
28
Mean accuracy: 0.7666666666666666
29
Mean accuracy: 0.7833333333333333
30
Mean accuracy: 0.7333333333333334
31
Mean accuracy: 0.85
32
Mean accuracy: 0.7500000000000001
33
Mean accuracy: 0.8166666666666667
34
Mean accuracy: 0.7
35
Mean accuracy: 0.7666666666666667
36
Mean accuracy: 0.7833333333333334
37
Mean accuracy: 0.7833333333333334
38
Mean accuracy: 0.6333333333333333
39
Mean accuracy: 0.7333333333333333
40
Mean accuracy: 0.7666666666666666
41
Mean accuracy: 0.7166666666666666
42
Mean accuracy: 0.7833333333333333
43
Mean accuracy: 0.8
44
Mean accuracy: 0.6666666666666667
45
Mean accuracy: 0.7499999999999999
46
Mean accuracy: 0.7333333333333333
47
Mean accuracy: 0.6333333333333333
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.8333333333333333
50
Mean accuracy: 0.6833333333333333
51
Mean accuracy: 0.8
52
Mean accuracy: 0.6666666666666667
53
Mean accuracy: 0.65
54
Mean accuracy: 0.8
55
Mean accuracy: 0.75
56
Mean accuracy: 0.6499999999999999
57
Mean accuracy: 0.7833333333333334
58
Mean accuracy: 0.7666666666666667
59
Mean accuracy: 0.7333333333333333
60
Mean accuracy: 0.8
61
Mean accuracy: 0.8
62
Mean accuracy: 0.75
63
Mean accuracy: 0.8166666666666668
64
Mean accuracy: 0.7666666666666667
65
Mean accuracy: 0.8166666666666667
66
Mean accuracy: 0.7833333333333334
67
Mean accuracy: 0.7666666666666667
68
Mean accuracy: 0.7333333333333333
69
Mean accuracy: 0.8
70
Mean accuracy: 0.7333333333333333
71
Mean accuracy: 0.6166666666666667
72
Mean accuracy: 0.7499999999999999
73
Mean accuracy: 0.7333333333333334
74
Mean accuracy: 0.8
75
Mean accuracy: 0.75
76
Mean accuracy: 0.8166666666666668
77
Mean accuracy: 0.7166666666666666
78
Mean accuracy: 0.7666666666666666
79
Mean accuracy: 0.7666666666666668
80
Mean accuracy: 0.7666666666666666
81
Mean accuracy: 0.7333333333333334
82
Mean accuracy: 0.8333333333333333
83
Mean accuracy: 0.7166666666666667
84
Mean accuracy: 0.8166666666666668
85
Mean accuracy: 0.7333333333333333
86
Mean accuracy: 0.6833333333333333
87
Mean accuracy: 0.7500000000000001
88
Mean accuracy: 0.7333333333333333
89
Mean accuracy: 0.75
90
Mean accuracy: 0.7
91
Mean accuracy: 0.7833333333333333
92
Mean accuracy: 0.7
93
Mean accuracy: 0.7500000000000001
94
Mean accuracy: 0.7666666666666667
95
Mean accuracy: 0.7833333333333334
96
Mean accuracy: 0.8
97
Mean accuracy: 0.6833333333333333
98
Mean accuracy: 0.7166666666666667
99
Mean accuracy: 0.5833333333333334
100
Mean accuracy: 0.7666666666666666

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_Boruta50CpG_Female_100RF.csv", index = False)

0.7529999999999998

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('NMI_Top50_Pain_Methylome_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg10615711,cg17754830,cg20742385,cg20064928,...,cg10644659,cg06512164,cg10387956,cg25696758,cg08592683,cg08596655,cg05226711,cg24282845,cg27262702,cg16919248
0,3002,1,0.522515,0.887998,0.864310,0.024669,0.820693,0.234933,0.831509,0.018605,...,0.913197,0.854714,0.857429,0.877105,0.041617,0.01747,0.534997,0.874573,0.023407,0.854249
1,3003,1,0.504891,0.881857,0.906418,0.027039,0.840767,0.203623,0.804018,0.019957,...,0.896184,0.825011,0.771684,0.884699,0.054625,0.03991,0.606924,0.880717,0.037039,0.840525

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg10615711,cg17754830,cg20742385,cg20064928,cg03266046,...,cg10644659,cg06512164,cg10387956,cg25696758,cg08592683,cg08596655,cg05226711,cg24282845,cg27262702,cg16919248
0,1,0.522515,0.887998,0.864310,0.024669,0.820693,0.234933,0.831509,0.018605,0.806077,...,0.913197,0.854714,0.857429,0.877105,0.041617,0.01747,0.534997,0.874573,0.023407,0.854249
1,1,0.504891,0.881857,0.906418,0.027039,0.840767,0.203623,0.804018,0.019957,0.817520,...,0.896184,0.825011,0.771684,0.884699,0.054625,0.03991,0.606924,0.880717,0.037039,0.840525

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.8333333333333334
2
Mean accuracy: 0.7666666666666668
3
Mean accuracy: 0.85
4
Mean accuracy: 0.7833333333333333
5
Mean accuracy: 0.7
6
Mean accuracy: 0.7666666666666667
7
Mean accuracy: 0.7999999999999999
8
Mean accuracy: 0.7333333333333334
9
Mean accuracy: 0.8666666666666668
10
Mean accuracy: 0.7833333333333333
11
Mean accuracy: 0.6499999999999999
12
Mean accuracy: 0.6666666666666667
13
Mean accuracy: 0.8166666666666668
14
Mean accuracy: 0.7499999999999999
15
Mean accuracy: 0.85
16
Mean accuracy: 0.7999999999999999
17
Mean accuracy: 0.7833333333333332
18
Mean accuracy: 0.8
19
Mean accuracy: 0.7833333333333334
20
Mean accuracy: 0.8166666666666667
21
Mean accuracy: 0.85
22
Mean accuracy: 0.75
23
Mean accuracy: 0.8166666666666668
24
Mean accuracy: 0.7333333333333334
25
Mean accuracy: 0.6833333333333333
26
Mean accuracy: 0.8
27
Mean accuracy: 0.8333333333333334
28
Mean accuracy: 0.7833333333333333
29
Mean accuracy: 0.7
30
Mean accuracy: 0.7333333333333334
31
Mean accuracy: 0.7666666666666667
32
Mean accuracy: 0.7833333333333334
33
Mean accuracy: 0.75
34
Mean accuracy: 0.8166666666666668
35
Mean accuracy: 0.7833333333333333
36
Mean accuracy: 0.7333333333333334
37
Mean accuracy: 0.7833333333333334
38
Mean accuracy: 0.7666666666666666
39
Mean accuracy: 0.7666666666666667
40
Mean accuracy: 0.7833333333333334
41
Mean accuracy: 0.7166666666666666
42
Mean accuracy: 0.7333333333333334
43
Mean accuracy: 0.8
44
Mean accuracy: 0.7666666666666666
45
Mean accuracy: 0.8
46
Mean accuracy: 0.7666666666666667
47
Mean accuracy: 0.7
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.75
50
Mean accuracy: 0.7666666666666667
51
Mean accuracy: 0.7666666666666666
52
Mean accuracy: 0.8166666666666668
53
Mean accuracy: 0.7333333333333333
54
Mean accuracy: 0.7166666666666668
55
Mean accuracy: 0.85
56
Mean accuracy: 0.7166666666666666
57
Mean accuracy: 0.7333333333333333
58
Mean accuracy: 0.75
59
Mean accuracy: 0.7500000000000001
60
Mean accuracy: 0.8166666666666667
61
Mean accuracy: 0.7333333333333333
62
Mean accuracy: 0.6833333333333333
63
Mean accuracy: 0.8
64
Mean accuracy: 0.7666666666666667
65
Mean accuracy: 0.8
66
Mean accuracy: 0.7833333333333334
67
Mean accuracy: 0.7666666666666666
68
Mean accuracy: 0.8666666666666668
69
Mean accuracy: 0.8166666666666667
70
Mean accuracy: 0.75
71
Mean accuracy: 0.75
72
Mean accuracy: 0.8
73
Mean accuracy: 0.7500000000000001
74
Mean accuracy: 0.8
75
Mean accuracy: 0.7833333333333333
76
Mean accuracy: 0.75
77
Mean accuracy: 0.7999999999999999
78
Mean accuracy: 0.7666666666666667
79
Mean accuracy: 0.7833333333333334
80
Mean accuracy: 0.8166666666666667
81
Mean accuracy: 0.8333333333333334
82
Mean accuracy: 0.6833333333333333
83
Mean accuracy: 0.7333333333333334
84
Mean accuracy: 0.7333333333333333
85
Mean accuracy: 0.7
86
Mean accuracy: 0.7333333333333333
87
Mean accuracy: 0.75
88
Mean accuracy: 0.7166666666666667
89
Mean accuracy: 0.7500000000000001
90
Mean accuracy: 0.8
91
Mean accuracy: 0.75
92
Mean accuracy: 0.8666666666666668
93
Mean accuracy: 0.8166666666666668
94
Mean accuracy: 0.7833333333333333
95
Mean accuracy: 0.7166666666666666
96
Mean accuracy: 0.7666666666666666
97
Mean accuracy: 0.85
98
Mean accuracy: 0.8166666666666667
99
Mean accuracy: 0.6333333333333334
100
Mean accuracy: 0.8

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_NMI50CpG_Female_100RF.csv", index = False)

0.7694999999999997

## RanFor Top 50 Boruta + NMI 100 times. Samples = 99

In [19]:
df = pd.read_csv('Pain_Top50sMerge_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 101)

,PATNO,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg10615711,cg17754830,cg20742385,cg20064928,...,cg01158140,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482
0,3002,1,0.522515,0.887998,0.864310,0.024669,0.820693,0.234933,0.831509,0.018605,...,0.830883,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216
1,3003,1,0.504891,0.881857,0.906418,0.027039,0.840767,0.203623,0.804018,0.019957,...,0.887657,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20699097,cg12162792,cg25537999,cg03239914,cg10615711,cg17754830,cg20742385,cg20064928,cg03266046,...,cg01158140,cg01248375,cg01947036,cg10586471,cg19878200,cg26819590,cg01378481,cg25911279,cg25547939,cg11712482
0,1,0.522515,0.887998,0.864310,0.024669,0.820693,0.234933,0.831509,0.018605,0.806077,...,0.830883,0.031342,0.017338,0.796200,0.123791,0.930234,0.897877,0.024504,0.915858,0.426216
1,1,0.504891,0.881857,0.906418,0.027039,0.840767,0.203623,0.804018,0.019957,0.817520,...,0.887657,0.039883,0.012522,0.820927,0.104146,0.923072,0.913737,0.026267,0.910504,0.431001

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.8333333333333334
2
Mean accuracy: 0.85
3
Mean accuracy: 0.8333333333333333
4
Mean accuracy: 0.7666666666666668
5
Mean accuracy: 0.7166666666666666
6
Mean accuracy: 0.75
7
Mean accuracy: 0.7666666666666667
8
Mean accuracy: 0.8333333333333333
9
Mean accuracy: 0.9
10
Mean accuracy: 0.8333333333333333
11
Mean accuracy: 0.8
12
Mean accuracy: 0.6833333333333333
13
Mean accuracy: 0.8333333333333334
14
Mean accuracy: 0.7666666666666667
15
Mean accuracy: 0.85
16
Mean accuracy: 0.75
17
Mean accuracy: 0.85
18
Mean accuracy: 0.7833333333333334
19
Mean accuracy: 0.7833333333333334
20
Mean accuracy: 0.7833333333333334
21
Mean accuracy: 0.7833333333333333
22
Mean accuracy: 0.85
23
Mean accuracy: 0.8333333333333334
24
Mean accuracy: 0.7833333333333334
25
Mean accuracy: 0.8166666666666667
26
Mean accuracy: 0.8
27
Mean accuracy: 0.8833333333333334
28
Mean accuracy: 0.8333333333333333
29
Mean accuracy: 0.7999999999999999
30
Mean accuracy: 0.7833333333333333
31
Mean accuracy: 0.8
32
Mean accuracy: 0.7833333333333334
33
Mean accuracy: 0.7833333333333333
34
Mean accuracy: 0.7833333333333333
35
Mean accuracy: 0.7500000000000001
36
Mean accuracy: 0.8333333333333334
37
Mean accuracy: 0.7666666666666666
38
Mean accuracy: 0.7166666666666666
39
Mean accuracy: 0.7333333333333334
40
Mean accuracy: 0.7833333333333334
41
Mean accuracy: 0.8166666666666667
42
Mean accuracy: 0.7666666666666667
43
Mean accuracy: 0.8166666666666667
44
Mean accuracy: 0.7166666666666666
45
Mean accuracy: 0.8166666666666667
46
Mean accuracy: 0.8
47
Mean accuracy: 0.7333333333333333
48
Mean accuracy: 0.75
49
Mean accuracy: 0.85
50
Mean accuracy: 0.7499999999999999
51
Mean accuracy: 0.8166666666666667
52
Mean accuracy: 0.7833333333333333
53
Mean accuracy: 0.7833333333333334
54
Mean accuracy: 0.8
55
Mean accuracy: 0.8166666666666667
56
Mean accuracy: 0.7666666666666667
57
Mean accuracy: 0.7666666666666667
58
Mean accuracy: 0.75
59
Mean accuracy: 0.7666666666666666
60
Mean accuracy: 0.85
61
Mean accuracy: 0.8333333333333334
62
Mean accuracy: 0.7166666666666666
63
Mean accuracy: 0.7833333333333332
64
Mean accuracy: 0.7666666666666667
65
Mean accuracy: 0.8166666666666667
66
Mean accuracy: 0.8
67
Mean accuracy: 0.8166666666666668
68
Mean accuracy: 0.85
69
Mean accuracy: 0.75
70
Mean accuracy: 0.8
71
Mean accuracy: 0.7666666666666667
72
Mean accuracy: 0.7833333333333334
73
Mean accuracy: 0.7833333333333333
74
Mean accuracy: 0.8333333333333333
75
Mean accuracy: 0.7666666666666666
76
Mean accuracy: 0.8166666666666668
77
Mean accuracy: 0.75
78
Mean accuracy: 0.7333333333333333
79
Mean accuracy: 0.85
80
Mean accuracy: 0.7833333333333333
81
Mean accuracy: 0.8166666666666668
82
Mean accuracy: 0.8333333333333334
83
Mean accuracy: 0.8166666666666668
84
Mean accuracy: 0.7833333333333333
85
Mean accuracy: 0.8
86
Mean accuracy: 0.7166666666666667
87
Mean accuracy: 0.8
88
Mean accuracy: 0.7499999999999999
89
Mean accuracy: 0.7666666666666666
90
Mean accuracy: 0.8333333333333333
91
Mean accuracy: 0.85
92
Mean accuracy: 0.75
93
Mean accuracy: 0.8333333333333334
94
Mean accuracy: 0.8333333333333334
95
Mean accuracy: 0.7666666666666668
96
Mean accuracy: 0.7833333333333333
97
Mean accuracy: 0.8333333333333333
98
Mean accuracy: 0.8166666666666667
99
Mean accuracy: 0.6000000000000001
100
Mean accuracy: 0.8

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("Pain_Top50sCpG99_Female_100RF.csv", index = False)

0.7916666666666663