# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\ScopaSex
df = pd.read_csv('SexMaleCateg_Methylome_APPRDX.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\ScopaSex
(308, 10540)

,Sentrix,PATNO,HYS,Gender,SCOPA_Sex,APPRDX,cg17370322,cg15396799,cg15388598,cg14189621,...,cg00600684,cg13207036,cg05750276,cg02312170,cg17391830,cg13151449,cg13596132,cg26538046,cg18607338,cg14149699
0,200991620021_R01C01,3001,2,1,2,1,0.013535,0.242275,0.012080,0.024553,...,0.927369,0.030600,0.052903,0.053346,0.041092,0.902988,0.911403,0.033966,0.827098,0.030215
1,200973410167_R04C01,3007,2,1,0,1,0.012805,0.109881,0.018853,0.052400,...,0.920645,0.023915,0.023711,0.035630,0.027145,0.896837,0.889727,0.038348,0.836846,0.083898
2,200973410167_R05C01,3010,2,1,0,1,0.012898,0.113455,0.014117,0.046599,...,0.917370,0.020184,0.031970,0.039161,0.027965,0.923971,0.877362,0.037637,0.808158,0.042991

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','SCOPA_Sex'], axis=1)
df1.head(2)

,APPRDX,cg17370322,cg15396799,cg15388598,cg14189621,cg15158045,cg09770095,cg05412028,cg26685941,cg25868675,...,cg00600684,cg13207036,cg05750276,cg02312170,cg17391830,cg13151449,cg13596132,cg26538046,cg18607338,cg14149699
0,1,0.013535,0.242275,0.012080,0.024553,0.929080,0.953919,0.091946,0.082563,0.015361,...,0.927369,0.030600,0.052903,0.053346,0.041092,0.902988,0.911403,0.033966,0.827098,0.030215
1,1,0.012805,0.109881,0.018853,0.052400,0.945216,0.927368,0.117943,0.098877,0.019414,...,0.920645,0.023915,0.023711,0.035630,0.027145,0.896837,0.889727,0.038348,0.836846,0.083898

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.425
2
Mean accuracy: 0.39375
3
Mean accuracy: 0.525
4
Mean accuracy: 0.5
5
Mean accuracy: 0.4875
6
Mean accuracy: 0.45625
7
Mean accuracy: 0.45
8
Mean accuracy: 0.4875
9
Mean accuracy: 0.56875
10
Mean accuracy: 0.53125
11
Mean accuracy: 0.48125
12
Mean accuracy: 0.51875
13
Mean accuracy: 0.56875
14
Mean accuracy: 0.5375
15
Mean accuracy: 0.45
16
Mean accuracy: 0.49375
17
Mean accuracy: 0.48125
18
Mean accuracy: 0.475
19
Mean accuracy: 0.425
20
Mean accuracy: 0.51875
21
Mean accuracy: 0.53125
22
Mean accuracy: 0.45625
23
Mean accuracy: 0.55
24
Mean accuracy: 0.5625
25
Mean accuracy: 0.575
26
Mean accuracy: 0.48125
27
Mean accuracy: 0.53125
28
Mean accuracy: 0.50625
29
Mean accuracy: 0.46875
30
Mean accuracy: 0.50625
31
Mean accuracy: 0.48125
32
Mean accuracy: 0.48125
33
Mean accuracy: 0.55625
34
Mean accuracy: 0.53125
35
Mean accuracy: 0.5125
36
Mean accuracy: 0.46875
37
Mean accuracy: 0.49375
38
Mean accuracy: 0.4625
39
Mean accuracy: 0.55
40
Mean accuracy: 0.44375
41
Mean accuracy: 0.4375
42
Mean accuracy: 0.575
43
Mean accuracy: 0.48125
44
Mean accuracy: 0.49375
45
Mean accuracy: 0.53125
46
Mean accuracy: 0.54375
47
Mean accuracy: 0.475
48
Mean accuracy: 0.4875
49
Mean accuracy: 0.48125
50
Mean accuracy: 0.59375
51
Mean accuracy: 0.49375
52
Mean accuracy: 0.4625
53
Mean accuracy: 0.49375
54
Mean accuracy: 0.45625
55
Mean accuracy: 0.5625
56
Mean accuracy: 0.475
57
Mean accuracy: 0.48125
58
Mean accuracy: 0.475
59
Mean accuracy: 0.5125
60
Mean accuracy: 0.50625
61
Mean accuracy: 0.54375
62
Mean accuracy: 0.5375
63
Mean accuracy: 0.55625
64
Mean accuracy: 0.525
65
Mean accuracy: 0.59375
66
Mean accuracy: 0.54375
67
Mean accuracy: 0.58125
68
Mean accuracy: 0.51875
69
Mean accuracy: 0.46875
70
Mean accuracy: 0.4875
71
Mean accuracy: 0.45625
72
Mean accuracy: 0.51875
73
Mean accuracy: 0.5375
74
Mean accuracy: 0.56875
75
Mean accuracy: 0.4125
76
Mean accuracy: 0.5625
77
Mean accuracy: 0.51875
78
Mean accuracy: 0.55
79
Mean accuracy: 0.46875
80
Mean accuracy: 0.4375
81
Mean accuracy: 0.44375
82
Mean accuracy: 0.525
83
Mean accuracy: 0.48125
84
Mean accuracy: 0.4875
85
Mean accuracy: 0.4625
86
Mean accuracy: 0.5125
87
Mean accuracy: 0.50625
88
Mean accuracy: 0.525
89
Mean accuracy: 0.49375
90
Mean accuracy: 0.5
91
Mean accuracy: 0.5
92
Mean accuracy: 0.5
93
Mean accuracy: 0.54375
94
Mean accuracy: 0.44375
95
Mean accuracy: 0.4875
96
Mean accuracy: 0.45625
97
Mean accuracy: 0.525
98
Mean accuracy: 0.49375
99
Mean accuracy: 0.45625
100
Mean accuracy: 0.49375

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_AllCpG_Male_100RF.csv", index = False)

0.5016874999999997

## RanFor 100 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(80))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.5
3
Mean accuracy: 0.475
4
Mean accuracy: 0.50625
5
Mean accuracy: 0.6125
6
Mean accuracy: 0.53125
7
Mean accuracy: 0.49375
8
Mean accuracy: 0.5625
9
Mean accuracy: 0.54375
10
Mean accuracy: 0.49375
11
Mean accuracy: 0.53125
12
Mean accuracy: 0.525
13
Mean accuracy: 0.58125
14
Mean accuracy: 0.35
15
Mean accuracy: 0.5125
16
Mean accuracy: 0.59375
17
Mean accuracy: 0.46875
18
Mean accuracy: 0.56875
19
Mean accuracy: 0.54375
20
Mean accuracy: 0.4875
21
Mean accuracy: 0.50625
22
Mean accuracy: 0.49375
23
Mean accuracy: 0.50625
24
Mean accuracy: 0.48125
25
Mean accuracy: 0.56875
26
Mean accuracy: 0.5625
27
Mean accuracy: 0.5625
28
Mean accuracy: 0.45625
29
Mean accuracy: 0.475
30
Mean accuracy: 0.45625
31
Mean accuracy: 0.50625
32
Mean accuracy: 0.50625
33
Mean accuracy: 0.63125
34
Mean accuracy: 0.5
35
Mean accuracy: 0.54375
36
Mean accuracy: 0.5
37
Mean accuracy: 0.53125
38
Mean accuracy: 0.5875
39
Mean accuracy: 0.49375
40
Mean accuracy: 0.4625
41
Mean accuracy: 0.53125
42
Mean accuracy: 0.50625
43
Mean accuracy: 0.575
44
Mean accuracy: 0.43125
45
Mean accuracy: 0.50625
46
Mean accuracy: 0.4875
47
Mean accuracy: 0.48125
48
Mean accuracy: 0.49375
49
Mean accuracy: 0.55
50
Mean accuracy: 0.46875
51
Mean accuracy: 0.51875
52
Mean accuracy: 0.5
53
Mean accuracy: 0.45625
54
Mean accuracy: 0.5625
55
Mean accuracy: 0.56875
56
Mean accuracy: 0.41875
57
Mean accuracy: 0.43125
58
Mean accuracy: 0.525
59
Mean accuracy: 0.475
60
Mean accuracy: 0.44375
61
Mean accuracy: 0.54375
62
Mean accuracy: 0.49375
63
Mean accuracy: 0.5375
64
Mean accuracy: 0.54375
65
Mean accuracy: 0.45625
66
Mean accuracy: 0.4875
67
Mean accuracy: 0.4
68
Mean accuracy: 0.4875
69
Mean accuracy: 0.4625
70
Mean accuracy: 0.51875
71
Mean accuracy: 0.4625
72
Mean accuracy: 0.44375
73
Mean accuracy: 0.58125
74
Mean accuracy: 0.48125
75
Mean accuracy: 0.53125
76
Mean accuracy: 0.53125
77
Mean accuracy: 0.49375
78
Mean accuracy: 0.41875
79
Mean accuracy: 0.48125
80
Mean accuracy: 0.49375
81
Mean accuracy: 0.40625
82
Mean accuracy: 0.46875
83
Mean accuracy: 0.43125
84
Mean accuracy: 0.50625
85
Mean accuracy: 0.5625
86
Mean accuracy: 0.5375
87
Mean accuracy: 0.50625
88
Mean accuracy: 0.45625
89
Mean accuracy: 0.5375
90
Mean accuracy: 0.48125
91
Mean accuracy: 0.39375
92
Mean accuracy: 0.5
93
Mean accuracy: 0.425
94
Mean accuracy: 0.5625
95
Mean accuracy: 0.4875
96
Mean accuracy: 0.4625
97
Mean accuracy: 0.4625
98
Mean accuracy: 0.55
99
Mean accuracy: 0.5125
100
Mean accuracy: 0.40625

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_Rand50CpG_Male_100RF.csv", index = False)

0.5009999999999998

## RanFor 100 times. Samples = 96

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(96, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(80))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48125
2
Mean accuracy: 0.54375
3
Mean accuracy: 0.4375
4
Mean accuracy: 0.50625
5
Mean accuracy: 0.55625
6
Mean accuracy: 0.5375
7
Mean accuracy: 0.525
8
Mean accuracy: 0.5125
9
Mean accuracy: 0.51875
10
Mean accuracy: 0.5
11
Mean accuracy: 0.50625
12
Mean accuracy: 0.4375
13
Mean accuracy: 0.575
14
Mean accuracy: 0.40625
15
Mean accuracy: 0.5625
16
Mean accuracy: 0.58125
17
Mean accuracy: 0.50625
18
Mean accuracy: 0.5125
19
Mean accuracy: 0.45
20
Mean accuracy: 0.5
21
Mean accuracy: 0.475
22
Mean accuracy: 0.50625
23
Mean accuracy: 0.5
24
Mean accuracy: 0.51875
25
Mean accuracy: 0.55625
26
Mean accuracy: 0.525
27
Mean accuracy: 0.5375
28
Mean accuracy: 0.49375
29
Mean accuracy: 0.525
30
Mean accuracy: 0.4375
31
Mean accuracy: 0.4875
32
Mean accuracy: 0.4375
33
Mean accuracy: 0.56875
34
Mean accuracy: 0.525
35
Mean accuracy: 0.46875
36
Mean accuracy: 0.44375
37
Mean accuracy: 0.51875
38
Mean accuracy: 0.575
39
Mean accuracy: 0.50625
40
Mean accuracy: 0.48125
41
Mean accuracy: 0.51875
42
Mean accuracy: 0.4875
43
Mean accuracy: 0.55
44
Mean accuracy: 0.45
45
Mean accuracy: 0.5
46
Mean accuracy: 0.425
47
Mean accuracy: 0.5125
48
Mean accuracy: 0.44375
49
Mean accuracy: 0.50625
50
Mean accuracy: 0.48125
51
Mean accuracy: 0.53125
52
Mean accuracy: 0.53125
53
Mean accuracy: 0.475
54
Mean accuracy: 0.6
55
Mean accuracy: 0.55625
56
Mean accuracy: 0.40625
57
Mean accuracy: 0.4375
58
Mean accuracy: 0.525
59
Mean accuracy: 0.5
60
Mean accuracy: 0.4625
61
Mean accuracy: 0.4875
62
Mean accuracy: 0.46875
63
Mean accuracy: 0.51875
64
Mean accuracy: 0.53125
65
Mean accuracy: 0.4625
66
Mean accuracy: 0.46875
67
Mean accuracy: 0.46875
68
Mean accuracy: 0.5625
69
Mean accuracy: 0.46875
70
Mean accuracy: 0.51875
71
Mean accuracy: 0.4875
72
Mean accuracy: 0.4
73
Mean accuracy: 0.53125
74
Mean accuracy: 0.40625
75
Mean accuracy: 0.48125
76
Mean accuracy: 0.5125
77
Mean accuracy: 0.54375
78
Mean accuracy: 0.50625
79
Mean accuracy: 0.45
80
Mean accuracy: 0.46875
81
Mean accuracy: 0.46875
82
Mean accuracy: 0.425
83
Mean accuracy: 0.4375
84
Mean accuracy: 0.5125
85
Mean accuracy: 0.5375
86
Mean accuracy: 0.56875
87
Mean accuracy: 0.575
88
Mean accuracy: 0.5125
89
Mean accuracy: 0.46875
90
Mean accuracy: 0.55625
91
Mean accuracy: 0.45625
92
Mean accuracy: 0.45625
93
Mean accuracy: 0.53125
94
Mean accuracy: 0.55
95
Mean accuracy: 0.55
96
Mean accuracy: 0.5625
97
Mean accuracy: 0.5375
98
Mean accuracy: 0.49375
99
Mean accuracy: 0.5375
100
Mean accuracy: 0.5125

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_Rand96CpG_Male_100RF.csv", index = False)

0.5013750000000001

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df1 = pd.read_csv('ScopaSex_Boruta_Top50_Data_Male.csv')
print(df1.shape)
df1.head(2)

(308, 52)

,PATNO,APPRDX,cg06751221,cg22870386,cg07588779,cg20095680,cg22807314,cg11865360,cg05817202,cg19612504,...,cg23093116,cg18462755,cg02477305,cg07659840,cg14595995,cg24272338,cg09119776,cg02153334,cg03303515,cg24120153
0,3001,1,0.057391,0.828698,0.082613,0.035714,0.920441,0.279839,0.823899,0.954524,...,0.384906,0.348754,0.916772,0.833857,0.888622,0.912405,0.524141,0.942443,0.245769,0.713483
1,3007,1,0.083624,0.888004,0.095515,0.046304,0.926729,0.137535,0.849287,0.965545,...,0.384591,0.207564,0.923712,0.880487,0.915410,0.891393,0.551746,0.898963,0.211177,0.783492

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.61875
2
Mean accuracy: 0.6375
3
Mean accuracy: 0.65625
4
Mean accuracy: 0.675
5
Mean accuracy: 0.61875
6
Mean accuracy: 0.65
7
Mean accuracy: 0.6875
8
Mean accuracy: 0.7125
9
Mean accuracy: 0.69375
10
Mean accuracy: 0.64375
11
Mean accuracy: 0.65
12
Mean accuracy: 0.68125
13
Mean accuracy: 0.56875
14
Mean accuracy: 0.70625
15
Mean accuracy: 0.6625
16
Mean accuracy: 0.6375
17
Mean accuracy: 0.63125
18
Mean accuracy: 0.6125
19
Mean accuracy: 0.625
20
Mean accuracy: 0.64375
21
Mean accuracy: 0.675
22
Mean accuracy: 0.63125
23
Mean accuracy: 0.7625
24
Mean accuracy: 0.7375
25
Mean accuracy: 0.70625
26
Mean accuracy: 0.69375
27
Mean accuracy: 0.75625
28
Mean accuracy: 0.7
29
Mean accuracy: 0.66875
30
Mean accuracy: 0.69375
31
Mean accuracy: 0.675
32
Mean accuracy: 0.69375
33
Mean accuracy: 0.625
34
Mean accuracy: 0.71875
35
Mean accuracy: 0.66875
36
Mean accuracy: 0.6875
37
Mean accuracy: 0.6875
38
Mean accuracy: 0.63125
39
Mean accuracy: 0.70625
40
Mean accuracy: 0.70625
41
Mean accuracy: 0.725
42
Mean accuracy: 0.68125
43
Mean accuracy: 0.6625
44
Mean accuracy: 0.7
45
Mean accuracy: 0.65
46
Mean accuracy: 0.69375
47
Mean accuracy: 0.68125
48
Mean accuracy: 0.65
49
Mean accuracy: 0.68125
50
Mean accuracy: 0.7
51
Mean accuracy: 0.7125
52
Mean accuracy: 0.65
53
Mean accuracy: 0.6375
54
Mean accuracy: 0.70625
55
Mean accuracy: 0.69375
56
Mean accuracy: 0.6625
57
Mean accuracy: 0.69375
58
Mean accuracy: 0.7
59
Mean accuracy: 0.6875
60
Mean accuracy: 0.7
61
Mean accuracy: 0.7375
62
Mean accuracy: 0.725
63
Mean accuracy: 0.6875
64
Mean accuracy: 0.6375
65
Mean accuracy: 0.64375
66
Mean accuracy: 0.7125
67
Mean accuracy: 0.66875
68
Mean accuracy: 0.7
69
Mean accuracy: 0.66875
70
Mean accuracy: 0.60625
71
Mean accuracy: 0.7125
72
Mean accuracy: 0.64375
73
Mean accuracy: 0.66875
74
Mean accuracy: 0.7125
75
Mean accuracy: 0.6625
76
Mean accuracy: 0.70625
77
Mean accuracy: 0.74375
78
Mean accuracy: 0.73125
79
Mean accuracy: 0.6625
80
Mean accuracy: 0.69375
81
Mean accuracy: 0.64375
82
Mean accuracy: 0.74375
83
Mean accuracy: 0.68125
84
Mean accuracy: 0.70625
85
Mean accuracy: 0.6875
86
Mean accuracy: 0.71875
87
Mean accuracy: 0.7
88
Mean accuracy: 0.7125
89
Mean accuracy: 0.65
90
Mean accuracy: 0.65
91
Mean accuracy: 0.675
92
Mean accuracy: 0.66875
93
Mean accuracy: 0.66875
94
Mean accuracy: 0.625
95
Mean accuracy: 0.725
96
Mean accuracy: 0.64375
97
Mean accuracy: 0.6125
98
Mean accuracy: 0.63125
99
Mean accuracy: 0.6875
100
Mean accuracy: 0.675

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_Boruta50CpG_Male_100RF.csv", index = False)

0.677375

## RanFor Top 50 NMI 100 times. Samples = 50

In [14]:
df = pd.read_csv('Top50NMI_ScopaSex_Data_Male.csv')
print(df.shape)
df.head(2)

(308, 52)

,PATNO,APPRDX,cg10986946,cg12573516,cg11206312,cg26358225,cg25454116,cg22295787,cg11993720,cg09879107,...,cg18216674,cg24232378,cg27521571,cg15991553,cg22359606,cg11171527,cg09519327,cg13051728,cg19035151,cg17973694
0,3001,1,0.737079,0.026891,0.021457,0.151532,0.022111,0.016057,0.018121,0.727246,...,0.027350,0.84279,0.39915,0.518347,0.081872,0.145402,0.109565,0.017465,0.871410,0.900908
1,3007,1,0.762979,0.050838,0.027026,0.198886,0.030494,0.021968,0.026845,0.707857,...,0.029493,0.86946,0.72086,0.459722,0.071882,0.076202,0.023741,0.018672,0.860632,0.922617

In [15]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg10986946,cg12573516,cg11206312,cg26358225,cg25454116,cg22295787,cg11993720,cg09879107,cg03570976,...,cg18216674,cg24232378,cg27521571,cg15991553,cg22359606,cg11171527,cg09519327,cg13051728,cg19035151,cg17973694
0,1,0.737079,0.026891,0.021457,0.151532,0.022111,0.016057,0.018121,0.727246,0.031113,...,0.027350,0.84279,0.39915,0.518347,0.081872,0.145402,0.109565,0.017465,0.871410,0.900908
1,1,0.762979,0.050838,0.027026,0.198886,0.030494,0.021968,0.026845,0.707857,0.023928,...,0.029493,0.86946,0.72086,0.459722,0.071882,0.076202,0.023741,0.018672,0.860632,0.922617

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.6875
3
Mean accuracy: 0.68125
4
Mean accuracy: 0.6375
5
Mean accuracy: 0.65
6
Mean accuracy: 0.6375
7
Mean accuracy: 0.71875
8
Mean accuracy: 0.69375
9
Mean accuracy: 0.69375
10
Mean accuracy: 0.75
11
Mean accuracy: 0.69375
12
Mean accuracy: 0.6875
13
Mean accuracy: 0.7
14
Mean accuracy: 0.725
15
Mean accuracy: 0.65625
16
Mean accuracy: 0.69375
17
Mean accuracy: 0.7125
18
Mean accuracy: 0.65
19
Mean accuracy: 0.70625
20
Mean accuracy: 0.68125
21
Mean accuracy: 0.73125
22
Mean accuracy: 0.6625
23
Mean accuracy: 0.7
24
Mean accuracy: 0.725
25
Mean accuracy: 0.675
26
Mean accuracy: 0.6875
27
Mean accuracy: 0.7125
28
Mean accuracy: 0.675
29
Mean accuracy: 0.675
30
Mean accuracy: 0.68125
31
Mean accuracy: 0.69375
32
Mean accuracy: 0.6875
33
Mean accuracy: 0.70625
34
Mean accuracy: 0.66875
35
Mean accuracy: 0.63125
36
Mean accuracy: 0.70625
37
Mean accuracy: 0.69375
38
Mean accuracy: 0.66875
39
Mean accuracy: 0.65
40
Mean accuracy: 0.68125
41
Mean accuracy: 0.675
42
Mean accuracy: 0.75
43
Mean accuracy: 0.7375
44
Mean accuracy: 0.71875
45
Mean accuracy: 0.7125
46
Mean accuracy: 0.6625
47
Mean accuracy: 0.68125
48
Mean accuracy: 0.69375
49
Mean accuracy: 0.7
50
Mean accuracy: 0.66875
51
Mean accuracy: 0.75
52
Mean accuracy: 0.675
53
Mean accuracy: 0.6375
54
Mean accuracy: 0.65625
55
Mean accuracy: 0.69375
56
Mean accuracy: 0.66875
57
Mean accuracy: 0.7
58
Mean accuracy: 0.675
59
Mean accuracy: 0.7375
60
Mean accuracy: 0.675
61
Mean accuracy: 0.7
62
Mean accuracy: 0.7
63
Mean accuracy: 0.68125
64
Mean accuracy: 0.66875
65
Mean accuracy: 0.675
66
Mean accuracy: 0.7
67
Mean accuracy: 0.73125
68
Mean accuracy: 0.75
69
Mean accuracy: 0.68125
70
Mean accuracy: 0.7125
71
Mean accuracy: 0.69375
72
Mean accuracy: 0.69375
73
Mean accuracy: 0.69375
74
Mean accuracy: 0.6875
75
Mean accuracy: 0.675
76
Mean accuracy: 0.75625
77
Mean accuracy: 0.69375
78
Mean accuracy: 0.65625
79
Mean accuracy: 0.7
80
Mean accuracy: 0.66875
81
Mean accuracy: 0.6625
82
Mean accuracy: 0.6875
83
Mean accuracy: 0.70625
84
Mean accuracy: 0.6125
85
Mean accuracy: 0.66875
86
Mean accuracy: 0.69375
87
Mean accuracy: 0.73125
88
Mean accuracy: 0.68125
89
Mean accuracy: 0.65625
90
Mean accuracy: 0.66875
91
Mean accuracy: 0.7375
92
Mean accuracy: 0.6625
93
Mean accuracy: 0.675
94
Mean accuracy: 0.63125
95
Mean accuracy: 0.6875
96
Mean accuracy: 0.66875
97
Mean accuracy: 0.6375
98
Mean accuracy: 0.725
99
Mean accuracy: 0.6375
100
Mean accuracy: 0.7375

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_NMI50CpG_Male_100RF.csv", index = False)

0.6882500000000001

## RanFor Top 50 Boruta + NMI 100 times. Samples = 96

In [18]:
df = pd.read_csv('ScopaSex_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(308, 98)

,PATNO,APPRDX,cg06751221,cg22870386,cg07588779,cg20095680,cg22807314,cg11865360,cg05817202,cg19612504,...,cg18216674,cg24232378,cg27521571,cg15991553,cg22359606,cg11171527,cg09519327,cg13051728,cg19035151,cg17973694
0,3001,1,0.057391,0.828698,0.082613,0.035714,0.920441,0.279839,0.823899,0.954524,...,0.027350,0.84279,0.39915,0.518347,0.081872,0.145402,0.109565,0.017465,0.871410,0.900908
1,3007,1,0.083624,0.888004,0.095515,0.046304,0.926729,0.137535,0.849287,0.965545,...,0.029493,0.86946,0.72086,0.459722,0.071882,0.076202,0.023741,0.018672,0.860632,0.922617

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg06751221,cg22870386,cg07588779,cg20095680,cg22807314,cg11865360,cg05817202,cg19612504,cg26243905,...,cg18216674,cg24232378,cg27521571,cg15991553,cg22359606,cg11171527,cg09519327,cg13051728,cg19035151,cg17973694
0,1,0.057391,0.828698,0.082613,0.035714,0.920441,0.279839,0.823899,0.954524,0.837745,...,0.027350,0.84279,0.39915,0.518347,0.081872,0.145402,0.109565,0.017465,0.871410,0.900908
1,1,0.083624,0.888004,0.095515,0.046304,0.926729,0.137535,0.849287,0.965545,0.900153,...,0.029493,0.86946,0.72086,0.459722,0.071882,0.076202,0.023741,0.018672,0.860632,0.922617

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(80))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.64375
2
Mean accuracy: 0.6875
3
Mean accuracy: 0.68125
4
Mean accuracy: 0.69375
5
Mean accuracy: 0.61875
6
Mean accuracy: 0.65
7
Mean accuracy: 0.65
8
Mean accuracy: 0.65625
9
Mean accuracy: 0.6875
10
Mean accuracy: 0.7
11
Mean accuracy: 0.70625
12
Mean accuracy: 0.7
13
Mean accuracy: 0.65625
14
Mean accuracy: 0.675
15
Mean accuracy: 0.66875
16
Mean accuracy: 0.68125
17
Mean accuracy: 0.6875
18
Mean accuracy: 0.65625
19
Mean accuracy: 0.71875
20
Mean accuracy: 0.6875
21
Mean accuracy: 0.74375
22
Mean accuracy: 0.65
23
Mean accuracy: 0.73125
24
Mean accuracy: 0.7125
25
Mean accuracy: 0.74375
26
Mean accuracy: 0.7
27
Mean accuracy: 0.7375
28
Mean accuracy: 0.7375
29
Mean accuracy: 0.65625
30
Mean accuracy: 0.7
31
Mean accuracy: 0.71875
32
Mean accuracy: 0.69375
33
Mean accuracy: 0.69375
34
Mean accuracy: 0.68125
35
Mean accuracy: 0.675
36
Mean accuracy: 0.675
37
Mean accuracy: 0.6875
38
Mean accuracy: 0.69375
39
Mean accuracy: 0.70625
40
Mean accuracy: 0.71875
41
Mean accuracy: 0.74375
42
Mean accuracy: 0.7
43
Mean accuracy: 0.725
44
Mean accuracy: 0.74375
45
Mean accuracy: 0.6875
46
Mean accuracy: 0.7125
47
Mean accuracy: 0.68125
48
Mean accuracy: 0.68125
49
Mean accuracy: 0.7125
50
Mean accuracy: 0.7125
51
Mean accuracy: 0.73125
52
Mean accuracy: 0.675
53
Mean accuracy: 0.675
54
Mean accuracy: 0.7
55
Mean accuracy: 0.7
56
Mean accuracy: 0.6875
57
Mean accuracy: 0.7
58
Mean accuracy: 0.71875
59
Mean accuracy: 0.70625
60
Mean accuracy: 0.7
61
Mean accuracy: 0.68125
62
Mean accuracy: 0.73125
63
Mean accuracy: 0.7125
64
Mean accuracy: 0.66875
65
Mean accuracy: 0.71875
66
Mean accuracy: 0.70625
67
Mean accuracy: 0.7125
68
Mean accuracy: 0.75625
69
Mean accuracy: 0.64375
70
Mean accuracy: 0.6875
71
Mean accuracy: 0.675
72
Mean accuracy: 0.73125
73
Mean accuracy: 0.6625
74
Mean accuracy: 0.70625
75
Mean accuracy: 0.6625
76
Mean accuracy: 0.73125
77
Mean accuracy: 0.71875
78
Mean accuracy: 0.7
79
Mean accuracy: 0.65
80
Mean accuracy: 0.675
81
Mean accuracy: 0.625
82
Mean accuracy: 0.80625
83
Mean accuracy: 0.70625
84
Mean accuracy: 0.7125
85
Mean accuracy: 0.6625
86
Mean accuracy: 0.66875
87
Mean accuracy: 0.7625
88
Mean accuracy: 0.63125
89
Mean accuracy: 0.63125
90
Mean accuracy: 0.675
91
Mean accuracy: 0.7125
92
Mean accuracy: 0.73125
93
Mean accuracy: 0.6875
94
Mean accuracy: 0.6
95
Mean accuracy: 0.69375
96
Mean accuracy: 0.7
97
Mean accuracy: 0.675
98
Mean accuracy: 0.675
99
Mean accuracy: 0.675
100
Mean accuracy: 0.66875

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("ScopaSex_Top50sCpG96_100RF.csv", index = False)

0.6928749999999998