# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
df = pd.read_csv('SleepDayCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SleepDay
(308, 10420)

,Sentrix,PATNO,HYS,APPRDX,MDSP_SleepDay,cg03441945,cg21094410,cg22926093,cg25025609,cg16704802,...,cg00877887,cg10042437,cg11708297,cg11562513,cg02337566,cg02550961,cg04001842,cg02454595,cg07821960,cg21267231
0,200991620021_R01C01,3001,2,1,1,0.908813,0.011350,0.012197,0.022372,0.018128,...,0.057492,0.172612,0.036982,0.032567,0.175452,0.036156,0.115088,0.058504,0.128815,0.197503
1,200973410167_R04C01,3007,2,1,1,0.866976,0.022294,0.017479,0.028596,0.031988,...,0.061353,0.099857,0.021763,0.024687,0.131826,0.045940,0.050066,0.042324,0.052716,0.134819
2,200973410167_R05C01,3010,2,1,1,0.887028,0.018926,0.014000,0.030146,0.027846,...,0.049380,0.144351,0.015313,0.054307,0.142940,0.035736,0.089561,0.028921,0.039875,0.148052

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','MDSP_SleepDay'], axis=1)
df1.head(2)

,APPRDX,cg03441945,cg21094410,cg22926093,cg25025609,cg16704802,cg06228737,cg00220102,cg19016494,cg12247200,...,cg00877887,cg10042437,cg11708297,cg11562513,cg02337566,cg02550961,cg04001842,cg02454595,cg07821960,cg21267231
0,1,0.908813,0.011350,0.012197,0.022372,0.018128,0.945195,0.730494,0.017911,0.921435,...,0.057492,0.172612,0.036982,0.032567,0.175452,0.036156,0.115088,0.058504,0.128815,0.197503
1,1,0.866976,0.022294,0.017479,0.028596,0.031988,0.937886,0.646004,0.075093,0.930482,...,0.061353,0.099857,0.021763,0.024687,0.131826,0.045940,0.050066,0.042324,0.052716,0.134819

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48
2
Mean accuracy: 0.5399999999999999
3
Mean accuracy: 0.58
4
Mean accuracy: 0.54
5
Mean accuracy: 0.45
6
Mean accuracy: 0.5799999999999998
7
Mean accuracy: 0.49000000000000005
8
Mean accuracy: 0.48
9
Mean accuracy: 0.5200000000000001
10
Mean accuracy: 0.51
11
Mean accuracy: 0.39
12
Mean accuracy: 0.5399999999999999
13
Mean accuracy: 0.41
14
Mean accuracy: 0.48
15
Mean accuracy: 0.49000000000000005
16
Mean accuracy: 0.4699999999999999
17
Mean accuracy: 0.5000000000000001
18
Mean accuracy: 0.47000000000000003
19
Mean accuracy: 0.51
20
Mean accuracy: 0.39
21
Mean accuracy: 0.57
22
Mean accuracy: 0.47000000000000003
23
Mean accuracy: 0.5599999999999999
24
Mean accuracy: 0.56
25
Mean accuracy: 0.47000000000000003
26
Mean accuracy: 0.45000000000000007
27
Mean accuracy: 0.5399999999999999
28
Mean accuracy: 0.53
29
Mean accuracy: 0.39999999999999997
30
Mean accuracy: 0.55
31
Mean accuracy: 0.54
32
Mean accuracy: 0.57
33
Mean accuracy: 0.48999999999999994
34
Mean accuracy: 0.6399999999999999
35
Mean accuracy: 0.4600000000000001
36
Mean accuracy: 0.5499999999999999
37
Mean accuracy: 0.39
38
Mean accuracy: 0.39
39
Mean accuracy: 0.48
40
Mean accuracy: 0.4499999999999999
41
Mean accuracy: 0.52
42
Mean accuracy: 0.5
43
Mean accuracy: 0.57
44
Mean accuracy: 0.47999999999999987
45
Mean accuracy: 0.55
46
Mean accuracy: 0.56
47
Mean accuracy: 0.43000000000000005
48
Mean accuracy: 0.48
49
Mean accuracy: 0.49000000000000005
50
Mean accuracy: 0.48
51
Mean accuracy: 0.48
52
Mean accuracy: 0.41
53
Mean accuracy: 0.55
54
Mean accuracy: 0.41000000000000003
55
Mean accuracy: 0.4600000000000001
56
Mean accuracy: 0.55
57
Mean accuracy: 0.51
58
Mean accuracy: 0.55
59
Mean accuracy: 0.54
60
Mean accuracy: 0.49000000000000005
61
Mean accuracy: 0.6100000000000001
62
Mean accuracy: 0.4800000000000001
63
Mean accuracy: 0.51
64
Mean accuracy: 0.53
65
Mean accuracy: 0.45
66
Mean accuracy: 0.57
67
Mean accuracy: 0.49000000000000005
68
Mean accuracy: 0.4800000000000001
69
Mean accuracy: 0.47000000000000003
70
Mean accuracy: 0.45000000000000007
71
Mean accuracy: 0.48999999999999994
72
Mean accuracy: 0.5999999999999999
73
Mean accuracy: 0.5399999999999999
74
Mean accuracy: 0.53
75
Mean accuracy: 0.48
76
Mean accuracy: 0.51
77
Mean accuracy: 0.52
78
Mean accuracy: 0.54
79
Mean accuracy: 0.53
80
Mean accuracy: 0.47000000000000003
81
Mean accuracy: 0.5399999999999999
82
Mean accuracy: 0.58
83
Mean accuracy: 0.51
84
Mean accuracy: 0.37
85
Mean accuracy: 0.39999999999999997
86
Mean accuracy: 0.49000000000000005
87
Mean accuracy: 0.54
88
Mean accuracy: 0.48999999999999994
89
Mean accuracy: 0.56
90
Mean accuracy: 0.5
91
Mean accuracy: 0.51
92
Mean accuracy: 0.48999999999999994
93
Mean accuracy: 0.5199999999999999
94
Mean accuracy: 0.51
95
Mean accuracy: 0.5
96
Mean accuracy: 0.5599999999999999
97
Mean accuracy: 0.52
98
Mean accuracy: 0.53
99
Mean accuracy: 0.45
100
Mean accuracy: 0.5399999999999999

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_AllCpG_Male_100RF.csv", index = False)

0.5025000000000002

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.55
2
Mean accuracy: 0.4
3
Mean accuracy: 0.51
4
Mean accuracy: 0.5700000000000001
5
Mean accuracy: 0.5599999999999999
6
Mean accuracy: 0.38
7
Mean accuracy: 0.51
8
Mean accuracy: 0.54
9
Mean accuracy: 0.52
10
Mean accuracy: 0.48
11
Mean accuracy: 0.38
12
Mean accuracy: 0.56
13
Mean accuracy: 0.45000000000000007
14
Mean accuracy: 0.5
15
Mean accuracy: 0.54
16
Mean accuracy: 0.5900000000000001
17
Mean accuracy: 0.5000000000000001
18
Mean accuracy: 0.5
19
Mean accuracy: 0.4600000000000001
20
Mean accuracy: 0.4800000000000001
21
Mean accuracy: 0.49000000000000005
22
Mean accuracy: 0.47000000000000003
23
Mean accuracy: 0.5599999999999999
24
Mean accuracy: 0.51
25
Mean accuracy: 0.5200000000000001
26
Mean accuracy: 0.55
27
Mean accuracy: 0.45999999999999996
28
Mean accuracy: 0.42000000000000004
29
Mean accuracy: 0.4999999999999999
30
Mean accuracy: 0.45
31
Mean accuracy: 0.53
32
Mean accuracy: 0.5599999999999999
33
Mean accuracy: 0.45999999999999996
34
Mean accuracy: 0.44000000000000006
35
Mean accuracy: 0.4
36
Mean accuracy: 0.59
37
Mean accuracy: 0.41
38
Mean accuracy: 0.33999999999999997
39
Mean accuracy: 0.4699999999999999
40
Mean accuracy: 0.4800000000000001
41
Mean accuracy: 0.45
42
Mean accuracy: 0.47000000000000003
43
Mean accuracy: 0.43
44
Mean accuracy: 0.5
45
Mean accuracy: 0.39999999999999997
46
Mean accuracy: 0.5200000000000001
47
Mean accuracy: 0.43000000000000005
48
Mean accuracy: 0.5700000000000001
49
Mean accuracy: 0.57
50
Mean accuracy: 0.5199999999999999
51
Mean accuracy: 0.4
52
Mean accuracy: 0.47000000000000003
53
Mean accuracy: 0.52
54
Mean accuracy: 0.43999999999999995
55
Mean accuracy: 0.45000000000000007
56
Mean accuracy: 0.52
57
Mean accuracy: 0.61
58
Mean accuracy: 0.57
59
Mean accuracy: 0.58
60
Mean accuracy: 0.43
61
Mean accuracy: 0.5
62
Mean accuracy: 0.45
63
Mean accuracy: 0.44000000000000006
64
Mean accuracy: 0.61
65
Mean accuracy: 0.4600000000000001
66
Mean accuracy: 0.51
67
Mean accuracy: 0.5700000000000001
68
Mean accuracy: 0.5399999999999999
69
Mean accuracy: 0.47000000000000003
70
Mean accuracy: 0.48
71
Mean accuracy: 0.49000000000000005
72
Mean accuracy: 0.55
73
Mean accuracy: 0.47999999999999987
74
Mean accuracy: 0.56
75
Mean accuracy: 0.5700000000000001
76
Mean accuracy: 0.45
77
Mean accuracy: 0.53
78
Mean accuracy: 0.61
79
Mean accuracy: 0.51
80
Mean accuracy: 0.4600000000000001
81
Mean accuracy: 0.45
82
Mean accuracy: 0.48999999999999994
83
Mean accuracy: 0.5299999999999999
84
Mean accuracy: 0.5700000000000001
85
Mean accuracy: 0.45000000000000007
86
Mean accuracy: 0.45
87
Mean accuracy: 0.48999999999999994
88
Mean accuracy: 0.53
89
Mean accuracy: 0.44000000000000006
90
Mean accuracy: 0.48999999999999994
91
Mean accuracy: 0.5800000000000001
92
Mean accuracy: 0.65
93
Mean accuracy: 0.41000000000000003
94
Mean accuracy: 0.54
95
Mean accuracy: 0.5700000000000001
96
Mean accuracy: 0.5
97
Mean accuracy: 0.5
98
Mean accuracy: 0.51
99
Mean accuracy: 0.55
100
Mean accuracy: 0.39

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_Rand50CpG_Male_100RF.csv", index = False)

0.49769999999999986

## RanFor 100 times. Samples = 95

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(95, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.55
2
Mean accuracy: 0.39999999999999997
3
Mean accuracy: 0.49000000000000005
4
Mean accuracy: 0.51
5
Mean accuracy: 0.51
6
Mean accuracy: 0.47000000000000003
7
Mean accuracy: 0.4800000000000001
8
Mean accuracy: 0.45999999999999996
9
Mean accuracy: 0.4999999999999999
10
Mean accuracy: 0.51
11
Mean accuracy: 0.4
12
Mean accuracy: 0.5599999999999999
13
Mean accuracy: 0.47000000000000003
14
Mean accuracy: 0.47000000000000003
15
Mean accuracy: 0.5599999999999999
16
Mean accuracy: 0.5600000000000002
17
Mean accuracy: 0.39999999999999997
18
Mean accuracy: 0.41999999999999993
19
Mean accuracy: 0.4
20
Mean accuracy: 0.42000000000000004
21
Mean accuracy: 0.43
22
Mean accuracy: 0.4800000000000001
23
Mean accuracy: 0.5
24
Mean accuracy: 0.53
25
Mean accuracy: 0.51
26
Mean accuracy: 0.5900000000000001
27
Mean accuracy: 0.42000000000000004
28
Mean accuracy: 0.4800000000000001
29
Mean accuracy: 0.5
30
Mean accuracy: 0.41000000000000003
31
Mean accuracy: 0.39
32
Mean accuracy: 0.5599999999999999
33
Mean accuracy: 0.48999999999999994
34
Mean accuracy: 0.51
35
Mean accuracy: 0.43
36
Mean accuracy: 0.57
37
Mean accuracy: 0.38
38
Mean accuracy: 0.37
39
Mean accuracy: 0.51
40
Mean accuracy: 0.45999999999999996
41
Mean accuracy: 0.4999999999999999
42
Mean accuracy: 0.43
43
Mean accuracy: 0.45
44
Mean accuracy: 0.51
45
Mean accuracy: 0.38999999999999996
46
Mean accuracy: 0.48
47
Mean accuracy: 0.35000000000000003
48
Mean accuracy: 0.56
49
Mean accuracy: 0.4999999999999999
50
Mean accuracy: 0.47000000000000003
51
Mean accuracy: 0.4600000000000001
52
Mean accuracy: 0.5199999999999999
53
Mean accuracy: 0.43
54
Mean accuracy: 0.5299999999999999
55
Mean accuracy: 0.4600000000000001
56
Mean accuracy: 0.55
57
Mean accuracy: 0.5700000000000001
58
Mean accuracy: 0.55
59
Mean accuracy: 0.53
60
Mean accuracy: 0.44000000000000006
61
Mean accuracy: 0.48
62
Mean accuracy: 0.47000000000000003
63
Mean accuracy: 0.38
64
Mean accuracy: 0.6100000000000001
65
Mean accuracy: 0.4499999999999999
66
Mean accuracy: 0.4800000000000001
67
Mean accuracy: 0.5700000000000001
68
Mean accuracy: 0.5800000000000001
69
Mean accuracy: 0.45999999999999996
70
Mean accuracy: 0.43999999999999995
71
Mean accuracy: 0.53
72
Mean accuracy: 0.48
73
Mean accuracy: 0.45999999999999996
74
Mean accuracy: 0.53
75
Mean accuracy: 0.57
76
Mean accuracy: 0.39999999999999997
77
Mean accuracy: 0.53
78
Mean accuracy: 0.5199999999999999
79
Mean accuracy: 0.41999999999999993
80
Mean accuracy: 0.52
81
Mean accuracy: 0.47000000000000003
82
Mean accuracy: 0.52
83
Mean accuracy: 0.54
84
Mean accuracy: 0.5599999999999999
85
Mean accuracy: 0.45999999999999996
86
Mean accuracy: 0.47000000000000003
87
Mean accuracy: 0.56
88
Mean accuracy: 0.4999999999999999
89
Mean accuracy: 0.5
90
Mean accuracy: 0.51
91
Mean accuracy: 0.61
92
Mean accuracy: 0.5199999999999999
93
Mean accuracy: 0.4600000000000001
94
Mean accuracy: 0.49000000000000005
95
Mean accuracy: 0.58
96
Mean accuracy: 0.48
97
Mean accuracy: 0.42000000000000004
98
Mean accuracy: 0.58
99
Mean accuracy: 0.51
100
Mean accuracy: 0.43

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_Rand95CpG_Male_100RF.csv", index = False)

0.4879000000000001

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Top50Boruta_SleepDay_Data.csv')
print(df.shape)
df.head(2)

(308, 52)

,PATNO,APPRDX,cg22505241,cg03389720,cg01480447,cg21426547,cg12004671,cg09582880,cg16004767,cg26250461,...,cg17184604,cg02152968,cg11865360,cg14311020,cg06301399,cg27427921,cg16636935,cg12282552,cg02847244,cg03552709
0,3001,1,0.914495,0.764712,0.899355,0.732635,0.906671,0.925190,0.882369,0.865737,...,0.009053,0.263403,0.279839,0.016512,0.799493,0.140804,0.431007,0.440017,0.926509,0.884891
1,3007,1,0.874121,0.820463,0.886978,0.802686,0.932671,0.919332,0.906843,0.856892,...,0.008577,0.231128,0.137535,0.024924,0.736076,0.121699,0.429671,0.492883,0.916526,0.913208

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg22505241,cg03389720,cg01480447,cg21426547,cg12004671,cg09582880,cg16004767,cg26250461,cg07537147,...,cg17184604,cg02152968,cg11865360,cg14311020,cg06301399,cg27427921,cg16636935,cg12282552,cg02847244,cg03552709
0,1,0.914495,0.764712,0.899355,0.732635,0.906671,0.925190,0.882369,0.865737,0.185815,...,0.009053,0.263403,0.279839,0.016512,0.799493,0.140804,0.431007,0.440017,0.926509,0.884891
1,1,0.874121,0.820463,0.886978,0.802686,0.932671,0.919332,0.906843,0.856892,0.164272,...,0.008577,0.231128,0.137535,0.024924,0.736076,0.121699,0.429671,0.492883,0.916526,0.913208

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6900000000000002
2
Mean accuracy: 0.51
3
Mean accuracy: 0.7000000000000001
4
Mean accuracy: 0.6599999999999999
5
Mean accuracy: 0.58
6
Mean accuracy: 0.68
7
Mean accuracy: 0.7200000000000001
8
Mean accuracy: 0.6399999999999999
9
Mean accuracy: 0.65
10
Mean accuracy: 0.6099999999999999
11
Mean accuracy: 0.6500000000000001
12
Mean accuracy: 0.67
13
Mean accuracy: 0.5900000000000001
14
Mean accuracy: 0.7
15
Mean accuracy: 0.63
16
Mean accuracy: 0.6500000000000001
17
Mean accuracy: 0.66
18
Mean accuracy: 0.5700000000000001
19
Mean accuracy: 0.5700000000000001
20
Mean accuracy: 0.5700000000000001
21
Mean accuracy: 0.6900000000000001
22
Mean accuracy: 0.6099999999999999
23
Mean accuracy: 0.7
24
Mean accuracy: 0.6699999999999998
25
Mean accuracy: 0.6099999999999999
26
Mean accuracy: 0.55
27
Mean accuracy: 0.6900000000000001
28
Mean accuracy: 0.7
29
Mean accuracy: 0.66
30
Mean accuracy: 0.66
31
Mean accuracy: 0.5999999999999999
32
Mean accuracy: 0.7
33
Mean accuracy: 0.6399999999999999
34
Mean accuracy: 0.63
35
Mean accuracy: 0.69
36
Mean accuracy: 0.66
37
Mean accuracy: 0.6399999999999999
38
Mean accuracy: 0.58
39
Mean accuracy: 0.67
40
Mean accuracy: 0.61
41
Mean accuracy: 0.6199999999999999
42
Mean accuracy: 0.63
43
Mean accuracy: 0.6699999999999999
44
Mean accuracy: 0.6699999999999999
45
Mean accuracy: 0.6900000000000002
46
Mean accuracy: 0.63
47
Mean accuracy: 0.64
48
Mean accuracy: 0.68
49
Mean accuracy: 0.69
50
Mean accuracy: 0.7
51
Mean accuracy: 0.65
52
Mean accuracy: 0.59
53
Mean accuracy: 0.62
54
Mean accuracy: 0.5799999999999998
55
Mean accuracy: 0.6100000000000001
56
Mean accuracy: 0.6900000000000001
57
Mean accuracy: 0.6500000000000001
58
Mean accuracy: 0.6799999999999999
59
Mean accuracy: 0.75
60
Mean accuracy: 0.65
61
Mean accuracy: 0.68
62
Mean accuracy: 0.6399999999999999
63
Mean accuracy: 0.64
64
Mean accuracy: 0.6799999999999999
65
Mean accuracy: 0.6300000000000001
66
Mean accuracy: 0.7
67
Mean accuracy: 0.6299999999999999
68
Mean accuracy: 0.62
69
Mean accuracy: 0.5900000000000001
70
Mean accuracy: 0.48999999999999994
71
Mean accuracy: 0.6200000000000001
72
Mean accuracy: 0.62
73
Mean accuracy: 0.6599999999999999
74
Mean accuracy: 0.6599999999999999
75
Mean accuracy: 0.58
76
Mean accuracy: 0.62
77
Mean accuracy: 0.6900000000000001
78
Mean accuracy: 0.67
79
Mean accuracy: 0.6300000000000001
80
Mean accuracy: 0.6499999999999999
81
Mean accuracy: 0.6199999999999999
82
Mean accuracy: 0.72
83
Mean accuracy: 0.6499999999999999
84
Mean accuracy: 0.61
85
Mean accuracy: 0.61
86
Mean accuracy: 0.68
87
Mean accuracy: 0.64
88
Mean accuracy: 0.63
89
Mean accuracy: 0.6199999999999999
90
Mean accuracy: 0.6199999999999999
91
Mean accuracy: 0.6399999999999999
92
Mean accuracy: 0.6100000000000001
93
Mean accuracy: 0.67
94
Mean accuracy: 0.63
95
Mean accuracy: 0.7
96
Mean accuracy: 0.6900000000000001
97
Mean accuracy: 0.6399999999999999
98
Mean accuracy: 0.67
99
Mean accuracy: 0.62
100
Mean accuracy: 0.7099999999999999

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_Boruta50CpG_Male_100RF.csv", index = False)

0.6442999999999999

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_SleepDay_Data.csv')
print(df.shape)
df.head(2)

(308, 52)

,PATNO,APPRDX,cg20003494,cg12653876,cg19559114,cg13795060,cg10131227,cg15272034,cg16004767,cg01408558,...,cg22241593,cg03508526,cg10714075,cg15218327,cg20411801,cg17228497,cg16517394,cg19811651,cg05519181,cg23140159
0,3001,1,0.025708,0.892774,0.823933,0.187463,0.929469,0.850724,0.882369,0.770711,...,0.017264,0.095867,0.897690,0.837743,0.895766,0.611259,0.092042,0.062875,0.828366,0.696181
1,3007,1,0.045513,0.859283,0.882641,0.095824,0.719363,0.837866,0.906843,0.796137,...,0.021060,0.141188,0.895978,0.916967,0.922310,0.609222,0.065297,0.094841,0.857273,0.708511

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20003494,cg12653876,cg19559114,cg13795060,cg10131227,cg15272034,cg16004767,cg01408558,cg12869499,...,cg22241593,cg03508526,cg10714075,cg15218327,cg20411801,cg17228497,cg16517394,cg19811651,cg05519181,cg23140159
0,1,0.025708,0.892774,0.823933,0.187463,0.929469,0.850724,0.882369,0.770711,0.575865,...,0.017264,0.095867,0.897690,0.837743,0.895766,0.611259,0.092042,0.062875,0.828366,0.696181
1,1,0.045513,0.859283,0.882641,0.095824,0.719363,0.837866,0.906843,0.796137,0.628405,...,0.021060,0.141188,0.895978,0.916967,0.922310,0.609222,0.065297,0.094841,0.857273,0.708511

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.6300000000000001
4
Mean accuracy: 0.66
5
Mean accuracy: 0.7
6
Mean accuracy: 0.6900000000000001
7
Mean accuracy: 0.7
8
Mean accuracy: 0.6499999999999999
9
Mean accuracy: 0.63
10
Mean accuracy: 0.6199999999999999
11
Mean accuracy: 0.7
12
Mean accuracy: 0.7300000000000001
13
Mean accuracy: 0.6700000000000002
14
Mean accuracy: 0.72
15
Mean accuracy: 0.5399999999999999
16
Mean accuracy: 0.6199999999999999
17
Mean accuracy: 0.6499999999999999
18
Mean accuracy: 0.62
19
Mean accuracy: 0.6699999999999999
20
Mean accuracy: 0.5700000000000001
21
Mean accuracy: 0.7
22
Mean accuracy: 0.65
23
Mean accuracy: 0.7000000000000001
24
Mean accuracy: 0.6399999999999999
25
Mean accuracy: 0.6499999999999999
26
Mean accuracy: 0.6399999999999999
27
Mean accuracy: 0.6499999999999999
28
Mean accuracy: 0.72
29
Mean accuracy: 0.5900000000000001
30
Mean accuracy: 0.72
31
Mean accuracy: 0.7400000000000001
32
Mean accuracy: 0.7099999999999999
33
Mean accuracy: 0.71
34
Mean accuracy: 0.6799999999999999
35
Mean accuracy: 0.6799999999999999
36
Mean accuracy: 0.6499999999999999
37
Mean accuracy: 0.6399999999999999
38
Mean accuracy: 0.65
39
Mean accuracy: 0.6900000000000001
40
Mean accuracy: 0.6799999999999999
41
Mean accuracy: 0.76
42
Mean accuracy: 0.7300000000000001
43
Mean accuracy: 0.72
44
Mean accuracy: 0.6900000000000001
45
Mean accuracy: 0.7
46
Mean accuracy: 0.73
47
Mean accuracy: 0.6100000000000001
48
Mean accuracy: 0.58
49
Mean accuracy: 0.61
50
Mean accuracy: 0.7
51
Mean accuracy: 0.69
52
Mean accuracy: 0.72
53
Mean accuracy: 0.73
54
Mean accuracy: 0.5999999999999999
55
Mean accuracy: 0.6599999999999999
56
Mean accuracy: 0.6900000000000001
57
Mean accuracy: 0.6599999999999999
58
Mean accuracy: 0.68
59
Mean accuracy: 0.77
60
Mean accuracy: 0.67
61
Mean accuracy: 0.72
62
Mean accuracy: 0.7300000000000001
63
Mean accuracy: 0.72
64
Mean accuracy: 0.78
65
Mean accuracy: 0.6799999999999999
66
Mean accuracy: 0.79
67
Mean accuracy: 0.6799999999999999
68
Mean accuracy: 0.74
69
Mean accuracy: 0.63
70
Mean accuracy: 0.55
71
Mean accuracy: 0.6599999999999999
72
Mean accuracy: 0.57
73
Mean accuracy: 0.72
74
Mean accuracy: 0.74
75
Mean accuracy: 0.66
76
Mean accuracy: 0.6499999999999999
77
Mean accuracy: 0.65
78
Mean accuracy: 0.73
79
Mean accuracy: 0.6499999999999999
80
Mean accuracy: 0.59
81
Mean accuracy: 0.72
82
Mean accuracy: 0.6799999999999999
83
Mean accuracy: 0.5999999999999999
84
Mean accuracy: 0.6399999999999999
85
Mean accuracy: 0.6499999999999999
86
Mean accuracy: 0.6100000000000001
87
Mean accuracy: 0.7
88
Mean accuracy: 0.71
89
Mean accuracy: 0.71
90
Mean accuracy: 0.67
91
Mean accuracy: 0.6499999999999999
92
Mean accuracy: 0.67
93
Mean accuracy: 0.72
94
Mean accuracy: 0.65
95
Mean accuracy: 0.7100000000000001
96
Mean accuracy: 0.7100000000000001
97
Mean accuracy: 0.62
98
Mean accuracy: 0.6500000000000001
99
Mean accuracy: 0.67
100
Mean accuracy: 0.72

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_NMI50CpG_Male_100RF.csv", index = False)

0.6743999999999999

## RanFor Top 50 Boruta + NMI 100 times. Samples = 95

In [19]:
df = pd.read_csv('SleepDay_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(308, 97)

,PATNO,APPRDX,cg20003494,cg12653876,cg19559114,cg13795060,cg10131227,cg15272034,cg16004767,cg01408558,...,cg17184604,cg02152968,cg11865360,cg14311020,cg06301399,cg27427921,cg16636935,cg12282552,cg02847244,cg03552709
0,3001,1,0.025708,0.892774,0.823933,0.187463,0.929469,0.850724,0.882369,0.770711,...,0.009053,0.263403,0.279839,0.016512,0.799493,0.140804,0.431007,0.440017,0.926509,0.884891
1,3007,1,0.045513,0.859283,0.882641,0.095824,0.719363,0.837866,0.906843,0.796137,...,0.008577,0.231128,0.137535,0.024924,0.736076,0.121699,0.429671,0.492883,0.916526,0.913208

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20003494,cg12653876,cg19559114,cg13795060,cg10131227,cg15272034,cg16004767,cg01408558,cg12869499,...,cg17184604,cg02152968,cg11865360,cg14311020,cg06301399,cg27427921,cg16636935,cg12282552,cg02847244,cg03552709
0,1,0.025708,0.892774,0.823933,0.187463,0.929469,0.850724,0.882369,0.770711,0.575865,...,0.009053,0.263403,0.279839,0.016512,0.799493,0.140804,0.431007,0.440017,0.926509,0.884891
1,1,0.045513,0.859283,0.882641,0.095824,0.719363,0.837866,0.906843,0.796137,0.628405,...,0.008577,0.231128,0.137535,0.024924,0.736076,0.121699,0.429671,0.492883,0.916526,0.913208

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6499999999999999
2
Mean accuracy: 0.7
3
Mean accuracy: 0.61
4
Mean accuracy: 0.68
5
Mean accuracy: 0.6900000000000001
6
Mean accuracy: 0.69
7
Mean accuracy: 0.7
8
Mean accuracy: 0.6499999999999999
9
Mean accuracy: 0.69
10
Mean accuracy: 0.64
11
Mean accuracy: 0.6
12
Mean accuracy: 0.77
13
Mean accuracy: 0.7100000000000001
14
Mean accuracy: 0.76
15
Mean accuracy: 0.68
16
Mean accuracy: 0.5800000000000001
17
Mean accuracy: 0.6500000000000001
18
Mean accuracy: 0.58
19
Mean accuracy: 0.63
20
Mean accuracy: 0.59
21
Mean accuracy: 0.65
22
Mean accuracy: 0.6499999999999999
23
Mean accuracy: 0.7100000000000001
24
Mean accuracy: 0.6900000000000001
25
Mean accuracy: 0.6
26
Mean accuracy: 0.65
27
Mean accuracy: 0.6699999999999999
28
Mean accuracy: 0.6900000000000002
29
Mean accuracy: 0.63
30
Mean accuracy: 0.72
31
Mean accuracy: 0.67
32
Mean accuracy: 0.74
33
Mean accuracy: 0.63
34
Mean accuracy: 0.72
35
Mean accuracy: 0.69
36
Mean accuracy: 0.7
37
Mean accuracy: 0.61
38
Mean accuracy: 0.6399999999999999
39
Mean accuracy: 0.76
40
Mean accuracy: 0.6500000000000001
41
Mean accuracy: 0.7
42
Mean accuracy: 0.6600000000000001
43
Mean accuracy: 0.73
44
Mean accuracy: 0.6799999999999999
45
Mean accuracy: 0.74
46
Mean accuracy: 0.6799999999999999
47
Mean accuracy: 0.67
48
Mean accuracy: 0.7
49
Mean accuracy: 0.65
50
Mean accuracy: 0.76
51
Mean accuracy: 0.74
52
Mean accuracy: 0.63
53
Mean accuracy: 0.75
54
Mean accuracy: 0.6100000000000001
55
Mean accuracy: 0.6499999999999999
56
Mean accuracy: 0.64
57
Mean accuracy: 0.6699999999999999
58
Mean accuracy: 0.64
59
Mean accuracy: 0.71
60
Mean accuracy: 0.61
61
Mean accuracy: 0.7100000000000001
62
Mean accuracy: 0.6699999999999999
63
Mean accuracy: 0.7
64
Mean accuracy: 0.7
65
Mean accuracy: 0.71
66
Mean accuracy: 0.79
67
Mean accuracy: 0.62
68
Mean accuracy: 0.6399999999999999
69
Mean accuracy: 0.68
70
Mean accuracy: 0.58
71
Mean accuracy: 0.61
72
Mean accuracy: 0.6399999999999999
73
Mean accuracy: 0.74
74
Mean accuracy: 0.74
75
Mean accuracy: 0.6900000000000001
76
Mean accuracy: 0.6699999999999999
77
Mean accuracy: 0.6299999999999999
78
Mean accuracy: 0.74
79
Mean accuracy: 0.67
80
Mean accuracy: 0.6799999999999999
81
Mean accuracy: 0.6799999999999999
82
Mean accuracy: 0.73
83
Mean accuracy: 0.6799999999999999
84
Mean accuracy: 0.5900000000000001
85
Mean accuracy: 0.6799999999999999
86
Mean accuracy: 0.6199999999999999
87
Mean accuracy: 0.72
88
Mean accuracy: 0.69
89
Mean accuracy: 0.6699999999999999
90
Mean accuracy: 0.7500000000000001
91
Mean accuracy: 0.6499999999999999
92
Mean accuracy: 0.66
93
Mean accuracy: 0.72
94
Mean accuracy: 0.6900000000000001
95
Mean accuracy: 0.71
96
Mean accuracy: 0.6599999999999999
97
Mean accuracy: 0.62
98
Mean accuracy: 0.66
99
Mean accuracy: 0.63
100
Mean accuracy: 0.63

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SleepDay_Top50sCpG95_Male_100RF.csv", index = False)

0.6738999999999998