# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
df = pd.read_csv('STAIS_with_MethylomeDetails_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\STAIS
(150, 3050)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,STAIS_Category,cg26354221,cg02237342,...,cg12383788,cg09938164,cg16043968,cg06398244,cg26924480,cg06985259,cg09180977,cg05600023,cg01781529,cg02839875
0,200973410159_R03C01,3000,2,2,0,69.1,4,1,0.918085,0.016498,...,0.920545,0.820139,0.943315,0.920632,0.876711,0.929227,0.946104,0.848444,0.605773,0.629179
1,200991620021_R03C01,3002,2,1,2,67.6,4,2,0.931688,0.025810,...,0.927666,0.774644,0.944821,0.885769,0.870694,0.933138,0.916203,0.797292,0.631043,0.648518

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','STAIS_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg26354221,cg02237342,cg06516974,cg20660269,cg12793123,cg08025954,cg21584430,cg26001125,cg10766357,...,cg12383788,cg09938164,cg16043968,cg06398244,cg26924480,cg06985259,cg09180977,cg05600023,cg01781529,cg02839875
0,2,0.918085,0.016498,0.016215,0.014990,0.011442,0.054316,0.864747,0.679647,0.869149,...,0.920545,0.820139,0.943315,0.920632,0.876711,0.929227,0.946104,0.848444,0.605773,0.629179
1,1,0.931688,0.025810,0.022368,0.016941,0.011760,0.064698,0.795468,0.643644,0.833223,...,0.927666,0.774644,0.944821,0.885769,0.870694,0.933138,0.916203,0.797292,0.631043,0.648518

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6
2
Mean accuracy: 0.4666666666666667
3
Mean accuracy: 0.55
4
Mean accuracy: 0.4833333333333333
5
Mean accuracy: 0.5
6
Mean accuracy: 0.45
7
Mean accuracy: 0.55
8
Mean accuracy: 0.6333333333333332
9
Mean accuracy: 0.5666666666666667
10
Mean accuracy: 0.4999999999999999
11
Mean accuracy: 0.5333333333333333
12
Mean accuracy: 0.5
13
Mean accuracy: 0.5
14
Mean accuracy: 0.5333333333333334
15
Mean accuracy: 0.6166666666666667
16
Mean accuracy: 0.4833333333333333
17
Mean accuracy: 0.5666666666666667
18
Mean accuracy: 0.6166666666666667
19
Mean accuracy: 0.6
20
Mean accuracy: 0.6
21
Mean accuracy: 0.5666666666666667
22
Mean accuracy: 0.45
23
Mean accuracy: 0.5666666666666667
24
Mean accuracy: 0.4499999999999999
25
Mean accuracy: 0.55
26
Mean accuracy: 0.55
27
Mean accuracy: 0.5833333333333333
28
Mean accuracy: 0.4833333333333333
29
Mean accuracy: 0.5666666666666667
30
Mean accuracy: 0.4999999999999999
31
Mean accuracy: 0.5833333333333334
32
Mean accuracy: 0.5833333333333334
33
Mean accuracy: 0.5666666666666667
34
Mean accuracy: 0.3833333333333333
35
Mean accuracy: 0.4833333333333333
36
Mean accuracy: 0.4833333333333333
37
Mean accuracy: 0.5333333333333332
38
Mean accuracy: 0.5
39
Mean accuracy: 0.45
40
Mean accuracy: 0.55
41
Mean accuracy: 0.5000000000000001
42
Mean accuracy: 0.5666666666666667
43
Mean accuracy: 0.6333333333333334
44
Mean accuracy: 0.4333333333333333
45
Mean accuracy: 0.5833333333333333
46
Mean accuracy: 0.5666666666666667
47
Mean accuracy: 0.5166666666666667
48
Mean accuracy: 0.5833333333333333
49
Mean accuracy: 0.4666666666666666
50
Mean accuracy: 0.4833333333333333
51
Mean accuracy: 0.6333333333333333
52
Mean accuracy: 0.38333333333333336
53
Mean accuracy: 0.38333333333333325
54
Mean accuracy: 0.4999999999999999
55
Mean accuracy: 0.4999999999999999
56
Mean accuracy: 0.4999999999999999
57
Mean accuracy: 0.41666666666666663
58
Mean accuracy: 0.5166666666666667
59
Mean accuracy: 0.6333333333333334
60
Mean accuracy: 0.45
61
Mean accuracy: 0.5499999999999999
62
Mean accuracy: 0.4833333333333333
63
Mean accuracy: 0.55
64
Mean accuracy: 0.5666666666666667
65
Mean accuracy: 0.4833333333333333
66
Mean accuracy: 0.5333333333333333
67
Mean accuracy: 0.5833333333333333
68
Mean accuracy: 0.38333333333333336
69
Mean accuracy: 0.45
70
Mean accuracy: 0.6333333333333333
71
Mean accuracy: 0.4833333333333333
72
Mean accuracy: 0.5833333333333333
73
Mean accuracy: 0.4333333333333333
74
Mean accuracy: 0.41666666666666663
75
Mean accuracy: 0.4666666666666666
76
Mean accuracy: 0.65
77
Mean accuracy: 0.5
78
Mean accuracy: 0.5333333333333333
79
Mean accuracy: 0.4833333333333333
80
Mean accuracy: 0.5666666666666667
81
Mean accuracy: 0.6499999999999999
82
Mean accuracy: 0.5333333333333334
83
Mean accuracy: 0.4166666666666667
84
Mean accuracy: 0.6
85
Mean accuracy: 0.6166666666666667
86
Mean accuracy: 0.3833333333333333
87
Mean accuracy: 0.55
88
Mean accuracy: 0.45
89
Mean accuracy: 0.5166666666666666
90
Mean accuracy: 0.45
91
Mean accuracy: 0.5833333333333334
92
Mean accuracy: 0.4333333333333333
93
Mean accuracy: 0.6
94
Mean accuracy: 0.5666666666666667
95
Mean accuracy: 0.41666666666666663
96
Mean accuracy: 0.55
97
Mean accuracy: 0.5333333333333333
98
Mean accuracy: 0.4499999999999999
99
Mean accuracy: 0.45
100
Mean accuracy: 0.5666666666666667

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_AllCpG_Female_100RF.csv", index = False)

0.5213333333333332

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6166666666666666
2
Mean accuracy: 0.5333333333333333
3
Mean accuracy: 0.5999999999999999
4
Mean accuracy: 0.6
5
Mean accuracy: 0.4166666666666667
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.5
8
Mean accuracy: 0.4666666666666666
9
Mean accuracy: 0.38333333333333336
10
Mean accuracy: 0.6166666666666667
11
Mean accuracy: 0.6166666666666667
12
Mean accuracy: 0.5333333333333333
13
Mean accuracy: 0.6166666666666667
14
Mean accuracy: 0.4333333333333333
15
Mean accuracy: 0.5166666666666667
16
Mean accuracy: 0.5333333333333333
17
Mean accuracy: 0.5166666666666666
18
Mean accuracy: 0.5
19
Mean accuracy: 0.3333333333333333
20
Mean accuracy: 0.5833333333333333
21
Mean accuracy: 0.6833333333333333
22
Mean accuracy: 0.4666666666666666
23
Mean accuracy: 0.4499999999999999
24
Mean accuracy: 0.41666666666666663
25
Mean accuracy: 0.4833333333333333
26
Mean accuracy: 0.5166666666666666
27
Mean accuracy: 0.4833333333333334
28
Mean accuracy: 0.6166666666666667
29
Mean accuracy: 0.4833333333333333
30
Mean accuracy: 0.5333333333333333
31
Mean accuracy: 0.4333333333333333
32
Mean accuracy: 0.5333333333333333
33
Mean accuracy: 0.7
34
Mean accuracy: 0.4333333333333333
35
Mean accuracy: 0.5666666666666667
36
Mean accuracy: 0.38333333333333336
37
Mean accuracy: 0.6166666666666667
38
Mean accuracy: 0.55
39
Mean accuracy: 0.7
40
Mean accuracy: 0.5833333333333333
41
Mean accuracy: 0.4999999999999999
42
Mean accuracy: 0.36666666666666664
43
Mean accuracy: 0.4833333333333333
44
Mean accuracy: 0.5333333333333333
45
Mean accuracy: 0.5
46
Mean accuracy: 0.4999999999999999
47
Mean accuracy: 0.5333333333333334
48
Mean accuracy: 0.4833333333333332
49
Mean accuracy: 0.6166666666666667
50
Mean accuracy: 0.4833333333333333
51
Mean accuracy: 0.5833333333333333
52
Mean accuracy: 0.55
53
Mean accuracy: 0.5333333333333334
54
Mean accuracy: 0.5166666666666667
55
Mean accuracy: 0.6333333333333333
56
Mean accuracy: 0.5
57
Mean accuracy: 0.6333333333333334
58
Mean accuracy: 0.4166666666666667
59
Mean accuracy: 0.6500000000000001
60
Mean accuracy: 0.4499999999999999
61
Mean accuracy: 0.5666666666666667
62
Mean accuracy: 0.4833333333333332
63
Mean accuracy: 0.5833333333333334
64
Mean accuracy: 0.6666666666666667
65
Mean accuracy: 0.3833333333333333
66
Mean accuracy: 0.5833333333333333
67
Mean accuracy: 0.5333333333333333
68
Mean accuracy: 0.45
69
Mean accuracy: 0.6166666666666667
70
Mean accuracy: 0.5333333333333333
71
Mean accuracy: 0.5166666666666666
72
Mean accuracy: 0.45
73
Mean accuracy: 0.5333333333333333
74
Mean accuracy: 0.5666666666666667
75
Mean accuracy: 0.5833333333333334
76
Mean accuracy: 0.4833333333333333
77
Mean accuracy: 0.4833333333333334
78
Mean accuracy: 0.6666666666666667
79
Mean accuracy: 0.3666666666666666
80
Mean accuracy: 0.5
81
Mean accuracy: 0.55
82
Mean accuracy: 0.4333333333333333
83
Mean accuracy: 0.4833333333333333
84
Mean accuracy: 0.5166666666666667
85
Mean accuracy: 0.3333333333333333
86
Mean accuracy: 0.45
87
Mean accuracy: 0.5666666666666667
88
Mean accuracy: 0.5166666666666666
89
Mean accuracy: 0.5666666666666667
90
Mean accuracy: 0.6333333333333333
91
Mean accuracy: 0.4833333333333333
92
Mean accuracy: 0.4833333333333334
93
Mean accuracy: 0.4833333333333333
94
Mean accuracy: 0.5333333333333334
95
Mean accuracy: 0.4166666666666667
96
Mean accuracy: 0.55
97
Mean accuracy: 0.4999999999999999
98
Mean accuracy: 0.5833333333333333
99
Mean accuracy: 0.36666666666666664
100
Mean accuracy: 0.5833333333333333

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_Rand50CpG_Female_100RF.csv", index = False)

0.5208333333333336

## RanFor 100 times. Samples = 92

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(92, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5666666666666667
2
Mean accuracy: 0.5333333333333333
3
Mean accuracy: 0.5166666666666666
4
Mean accuracy: 0.5833333333333334
5
Mean accuracy: 0.5166666666666666
6
Mean accuracy: 0.5666666666666667
7
Mean accuracy: 0.45
8
Mean accuracy: 0.41666666666666663
9
Mean accuracy: 0.4666666666666666
10
Mean accuracy: 0.6333333333333333
11
Mean accuracy: 0.5666666666666667
12
Mean accuracy: 0.6
13
Mean accuracy: 0.6
14
Mean accuracy: 0.6333333333333333
15
Mean accuracy: 0.5
16
Mean accuracy: 0.5166666666666667
17
Mean accuracy: 0.6333333333333334
18
Mean accuracy: 0.4833333333333333
19
Mean accuracy: 0.36666666666666664
20
Mean accuracy: 0.5499999999999999
21
Mean accuracy: 0.6
22
Mean accuracy: 0.4833333333333333
23
Mean accuracy: 0.4333333333333333
24
Mean accuracy: 0.5333333333333334
25
Mean accuracy: 0.4999999999999999
26
Mean accuracy: 0.5
27
Mean accuracy: 0.55
28
Mean accuracy: 0.6166666666666667
29
Mean accuracy: 0.6166666666666666
30
Mean accuracy: 0.5
31
Mean accuracy: 0.35
32
Mean accuracy: 0.5833333333333334
33
Mean accuracy: 0.6499999999999999
34
Mean accuracy: 0.41666666666666663
35
Mean accuracy: 0.5333333333333333
36
Mean accuracy: 0.4666666666666667
37
Mean accuracy: 0.65
38
Mean accuracy: 0.5666666666666668
39
Mean accuracy: 0.6166666666666668
40
Mean accuracy: 0.6166666666666666
41
Mean accuracy: 0.5166666666666667
42
Mean accuracy: 0.4833333333333333
43
Mean accuracy: 0.4333333333333333
44
Mean accuracy: 0.5333333333333333
45
Mean accuracy: 0.5333333333333333
46
Mean accuracy: 0.5666666666666667
47
Mean accuracy: 0.55
48
Mean accuracy: 0.36666666666666664
49
Mean accuracy: 0.55
50
Mean accuracy: 0.4166666666666667
51
Mean accuracy: 0.4666666666666667
52
Mean accuracy: 0.5499999999999999
53
Mean accuracy: 0.5
54
Mean accuracy: 0.45
55
Mean accuracy: 0.5833333333333333
56
Mean accuracy: 0.4333333333333333
57
Mean accuracy: 0.5833333333333333
58
Mean accuracy: 0.5333333333333333
59
Mean accuracy: 0.6
60
Mean accuracy: 0.5499999999999999
61
Mean accuracy: 0.6333333333333333
62
Mean accuracy: 0.4499999999999999
63
Mean accuracy: 0.5166666666666666
64
Mean accuracy: 0.55
65
Mean accuracy: 0.5333333333333332
66
Mean accuracy: 0.5499999999999999
67
Mean accuracy: 0.4833333333333333
68
Mean accuracy: 0.5333333333333333
69
Mean accuracy: 0.5666666666666667
70
Mean accuracy: 0.5499999999999999
71
Mean accuracy: 0.5999999999999999
72
Mean accuracy: 0.4
73
Mean accuracy: 0.45
74
Mean accuracy: 0.5499999999999999
75
Mean accuracy: 0.5
76
Mean accuracy: 0.4166666666666667
77
Mean accuracy: 0.5666666666666667
78
Mean accuracy: 0.6166666666666667
79
Mean accuracy: 0.33333333333333326
80
Mean accuracy: 0.4833333333333333
81
Mean accuracy: 0.6666666666666666
82
Mean accuracy: 0.4333333333333333
83
Mean accuracy: 0.6333333333333332
84
Mean accuracy: 0.5000000000000001
85
Mean accuracy: 0.5666666666666667
86
Mean accuracy: 0.55
87
Mean accuracy: 0.55
88
Mean accuracy: 0.4666666666666666
89
Mean accuracy: 0.5333333333333333
90
Mean accuracy: 0.5833333333333333
91
Mean accuracy: 0.41666666666666663
92
Mean accuracy: 0.41666666666666663
93
Mean accuracy: 0.41666666666666663
94
Mean accuracy: 0.5666666666666667
95
Mean accuracy: 0.5666666666666667
96
Mean accuracy: 0.5833333333333333
97
Mean accuracy: 0.6166666666666666
98
Mean accuracy: 0.5166666666666666
99
Mean accuracy: 0.41666666666666663
100
Mean accuracy: 0.5666666666666667

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_Rand92CpG_Female_100RF.csv", index = False)

0.5253333333333333

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('Top50Boruta_STAIS_Female_Data.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg01600124,cg08271803,cg26413900,cg04009197,cg03799192,cg24498305,cg08878967,cg13773723,...,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg22930773,cg17446654,cg13527921,cg15499799,cg13134297
0,3000,2,0.937918,0.153215,0.632231,0.898288,0.579937,0.313034,0.013979,0.045716,...,0.731529,0.786456,0.099350,0.922703,0.272605,0.874594,0.025802,0.106406,0.681785,0.154995
1,3002,1,0.930119,0.041552,0.678841,0.907338,0.614432,0.305964,0.013024,0.020802,...,0.780602,0.798387,0.106778,0.913702,0.344200,0.867694,0.013819,0.149376,0.762136,0.246300

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg01600124,cg08271803,cg26413900,cg04009197,cg03799192,cg24498305,cg08878967,cg13773723,cg01606800,...,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg22930773,cg17446654,cg13527921,cg15499799,cg13134297
0,2,0.937918,0.153215,0.632231,0.898288,0.579937,0.313034,0.013979,0.045716,0.838064,...,0.731529,0.786456,0.099350,0.922703,0.272605,0.874594,0.025802,0.106406,0.681785,0.154995
1,1,0.930119,0.041552,0.678841,0.907338,0.614432,0.305964,0.013024,0.020802,0.800311,...,0.780602,0.798387,0.106778,0.913702,0.344200,0.867694,0.013819,0.149376,0.762136,0.246300

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333334
2
Mean accuracy: 0.6666666666666667
3
Mean accuracy: 0.75
4
Mean accuracy: 0.7
5
Mean accuracy: 0.7
6
Mean accuracy: 0.6333333333333333
7
Mean accuracy: 0.7
8
Mean accuracy: 0.7666666666666666
9
Mean accuracy: 0.75
10
Mean accuracy: 0.7166666666666667
11
Mean accuracy: 0.6666666666666667
12
Mean accuracy: 0.6833333333333333
13
Mean accuracy: 0.6500000000000001
14
Mean accuracy: 0.5833333333333334
15
Mean accuracy: 0.7833333333333333
16
Mean accuracy: 0.5999999999999999
17
Mean accuracy: 0.7166666666666666
18
Mean accuracy: 0.7833333333333334
19
Mean accuracy: 0.7333333333333334
20
Mean accuracy: 0.7333333333333333
21
Mean accuracy: 0.7666666666666667
22
Mean accuracy: 0.6
23
Mean accuracy: 0.6499999999999999
24
Mean accuracy: 0.7333333333333334
25
Mean accuracy: 0.6833333333333333
26
Mean accuracy: 0.7166666666666667
27
Mean accuracy: 0.6666666666666667
28
Mean accuracy: 0.6666666666666667
29
Mean accuracy: 0.6833333333333332
30
Mean accuracy: 0.6
31
Mean accuracy: 0.7500000000000001
32
Mean accuracy: 0.8
33
Mean accuracy: 0.65
34
Mean accuracy: 0.6166666666666666
35
Mean accuracy: 0.65
36
Mean accuracy: 0.7333333333333333
37
Mean accuracy: 0.6166666666666666
38
Mean accuracy: 0.65
39
Mean accuracy: 0.7333333333333334
40
Mean accuracy: 0.5999999999999999
41
Mean accuracy: 0.7166666666666668
42
Mean accuracy: 0.75
43
Mean accuracy: 0.6499999999999999
44
Mean accuracy: 0.7000000000000001
45
Mean accuracy: 0.6666666666666667
46
Mean accuracy: 0.65
47
Mean accuracy: 0.75
48
Mean accuracy: 0.7
49
Mean accuracy: 0.6666666666666666
50
Mean accuracy: 0.7666666666666667
51
Mean accuracy: 0.65
52
Mean accuracy: 0.7666666666666667
53
Mean accuracy: 0.6833333333333333
54
Mean accuracy: 0.6833333333333333
55
Mean accuracy: 0.75
56
Mean accuracy: 0.75
57
Mean accuracy: 0.5999999999999999
58
Mean accuracy: 0.7166666666666667
59
Mean accuracy: 0.7
60
Mean accuracy: 0.65
61
Mean accuracy: 0.6833333333333333
62
Mean accuracy: 0.6833333333333333
63
Mean accuracy: 0.7166666666666667
64
Mean accuracy: 0.8
65
Mean accuracy: 0.6166666666666667
66
Mean accuracy: 0.6833333333333333
67
Mean accuracy: 0.75
68
Mean accuracy: 0.6666666666666666
69
Mean accuracy: 0.6666666666666667
70
Mean accuracy: 0.7166666666666667
71
Mean accuracy: 0.6666666666666666
72
Mean accuracy: 0.7
73
Mean accuracy: 0.7
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.6833333333333333
76
Mean accuracy: 0.7333333333333333
77
Mean accuracy: 0.65
78
Mean accuracy: 0.7666666666666666
79
Mean accuracy: 0.7500000000000001
80
Mean accuracy: 0.7499999999999999
81
Mean accuracy: 0.7333333333333334
82
Mean accuracy: 0.7166666666666667
83
Mean accuracy: 0.6
84
Mean accuracy: 0.8
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.6500000000000001
87
Mean accuracy: 0.7166666666666667
88
Mean accuracy: 0.6166666666666667
89
Mean accuracy: 0.6833333333333333
90
Mean accuracy: 0.6666666666666667
91
Mean accuracy: 0.7333333333333334
92
Mean accuracy: 0.5833333333333333
93
Mean accuracy: 0.7166666666666666
94
Mean accuracy: 0.7499999999999999
95
Mean accuracy: 0.75
96
Mean accuracy: 0.7500000000000001
97
Mean accuracy: 0.6833333333333333
98
Mean accuracy: 0.75
99
Mean accuracy: 0.6666666666666666
100
Mean accuracy: 0.7

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_Boruta50CpG_Female_100RF.csv", index = False)

0.6959999999999998

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('Top50NMI_STAIS_Female_Data.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,...,cg07526227,cg25370012,cg03704523,cg26955850,cg17222941,cg26130656,cg06948658,cg27495572,cg18354203,cg11667265
0,3000,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,...,0.902108,0.925132,0.701170,0.298055,0.045871,0.680599,0.909668,0.859955,0.863360,0.891962
1,3002,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,...,0.889724,0.922413,0.666048,0.359086,0.036868,0.662209,0.912932,0.791456,0.899153,0.872275

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,cg12511160,...,cg07526227,cg25370012,cg03704523,cg26955850,cg17222941,cg26130656,cg06948658,cg27495572,cg18354203,cg11667265
0,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,0.132587,...,0.902108,0.925132,0.701170,0.298055,0.045871,0.680599,0.909668,0.859955,0.863360,0.891962
1,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,0.117669,...,0.889724,0.922413,0.666048,0.359086,0.036868,0.662209,0.912932,0.791456,0.899153,0.872275

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333332
2
Mean accuracy: 0.7
3
Mean accuracy: 0.7666666666666667
4
Mean accuracy: 0.6833333333333333
5
Mean accuracy: 0.6666666666666666
6
Mean accuracy: 0.7000000000000001
7
Mean accuracy: 0.8166666666666667
8
Mean accuracy: 0.85
9
Mean accuracy: 0.7833333333333333
10
Mean accuracy: 0.8166666666666667
11
Mean accuracy: 0.7
12
Mean accuracy: 0.7166666666666666
13
Mean accuracy: 0.75
14
Mean accuracy: 0.7166666666666666
15
Mean accuracy: 0.7333333333333333
16
Mean accuracy: 0.6500000000000001
17
Mean accuracy: 0.8
18
Mean accuracy: 0.7166666666666666
19
Mean accuracy: 0.7166666666666667
20
Mean accuracy: 0.6666666666666667
21
Mean accuracy: 0.6666666666666667
22
Mean accuracy: 0.6666666666666667
23
Mean accuracy: 0.8166666666666668
24
Mean accuracy: 0.65
25
Mean accuracy: 0.7333333333333334
26
Mean accuracy: 0.6833333333333333
27
Mean accuracy: 0.7166666666666666
28
Mean accuracy: 0.6333333333333333
29
Mean accuracy: 0.7333333333333333
30
Mean accuracy: 0.65
31
Mean accuracy: 0.7333333333333334
32
Mean accuracy: 0.7
33
Mean accuracy: 0.6666666666666667
34
Mean accuracy: 0.7166666666666667
35
Mean accuracy: 0.7
36
Mean accuracy: 0.6833333333333333
37
Mean accuracy: 0.6666666666666667
38
Mean accuracy: 0.7
39
Mean accuracy: 0.6666666666666666
40
Mean accuracy: 0.6666666666666666
41
Mean accuracy: 0.6666666666666666
42
Mean accuracy: 0.6666666666666666
43
Mean accuracy: 0.7666666666666666
44
Mean accuracy: 0.8
45
Mean accuracy: 0.65
46
Mean accuracy: 0.65
47
Mean accuracy: 0.7333333333333334
48
Mean accuracy: 0.7333333333333334
49
Mean accuracy: 0.75
50
Mean accuracy: 0.7166666666666666
51
Mean accuracy: 0.7333333333333334
52
Mean accuracy: 0.6333333333333333
53
Mean accuracy: 0.7
54
Mean accuracy: 0.65
55
Mean accuracy: 0.7666666666666666
56
Mean accuracy: 0.6666666666666666
57
Mean accuracy: 0.6833333333333333
58
Mean accuracy: 0.7166666666666667
59
Mean accuracy: 0.7333333333333333
60
Mean accuracy: 0.6166666666666667
61
Mean accuracy: 0.7833333333333332
62
Mean accuracy: 0.6666666666666666
63
Mean accuracy: 0.6666666666666666
64
Mean accuracy: 0.6833333333333333
65
Mean accuracy: 0.7166666666666666
66
Mean accuracy: 0.7166666666666667
67
Mean accuracy: 0.7499999999999999
68
Mean accuracy: 0.6666666666666666
69
Mean accuracy: 0.6666666666666666
70
Mean accuracy: 0.7333333333333333
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7
73
Mean accuracy: 0.65
74
Mean accuracy: 0.7833333333333333
75
Mean accuracy: 0.65
76
Mean accuracy: 0.7833333333333334
77
Mean accuracy: 0.7333333333333332
78
Mean accuracy: 0.6833333333333333
79
Mean accuracy: 0.7000000000000001
80
Mean accuracy: 0.6833333333333333
81
Mean accuracy: 0.7333333333333333
82
Mean accuracy: 0.6833333333333333
83
Mean accuracy: 0.7
84
Mean accuracy: 0.75
85
Mean accuracy: 0.5833333333333333
86
Mean accuracy: 0.6166666666666667
87
Mean accuracy: 0.7666666666666667
88
Mean accuracy: 0.6666666666666666
89
Mean accuracy: 0.7833333333333334
90
Mean accuracy: 0.7
91
Mean accuracy: 0.8
92
Mean accuracy: 0.6166666666666668
93
Mean accuracy: 0.7500000000000001
94
Mean accuracy: 0.7
95
Mean accuracy: 0.6833333333333333
96
Mean accuracy: 0.7666666666666666
97
Mean accuracy: 0.6333333333333333
98
Mean accuracy: 0.7333333333333333
99
Mean accuracy: 0.65
100
Mean accuracy: 0.7166666666666667

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_NMI50CpG_Female_100RF.csv", index = False)

0.7070000000000001

## RanFor Top 50 Boruta + NMI 100 times. Samples = 92

In [19]:
df = pd.read_csv('STAIS_Top50sMerge_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 94)

,PATNO,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,...,cg23085154,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg17446654,cg13527921,cg15499799,cg13134297
0,3000,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,...,0.541307,0.731529,0.786456,0.099350,0.922703,0.272605,0.025802,0.106406,0.681785,0.154995
1,3002,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,...,0.638374,0.780602,0.798387,0.106778,0.913702,0.344200,0.013819,0.149376,0.762136,0.246300

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18117347,cg23865342,cg02699069,cg25150162,cg22930773,cg16516429,cg11436767,cg16234718,cg12511160,...,cg23085154,cg18640030,cg14195166,cg08351336,cg00824260,cg25020550,cg17446654,cg13527921,cg15499799,cg13134297
0,2,0.123347,0.902565,0.048809,0.766530,0.874594,0.845297,0.457878,0.909822,0.132587,...,0.541307,0.731529,0.786456,0.099350,0.922703,0.272605,0.025802,0.106406,0.681785,0.154995
1,1,0.156355,0.896196,0.043996,0.650854,0.867694,0.865760,0.466237,0.920270,0.117669,...,0.638374,0.780602,0.798387,0.106778,0.913702,0.344200,0.013819,0.149376,0.762136,0.246300

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7166666666666667
2
Mean accuracy: 0.7833333333333334
3
Mean accuracy: 0.7499999999999999
4
Mean accuracy: 0.6833333333333333
5
Mean accuracy: 0.7333333333333333
6
Mean accuracy: 0.6333333333333334
7
Mean accuracy: 0.7666666666666666
8
Mean accuracy: 0.8166666666666667
9
Mean accuracy: 0.7333333333333333
10
Mean accuracy: 0.7333333333333333
11
Mean accuracy: 0.75
12
Mean accuracy: 0.7
13
Mean accuracy: 0.65
14
Mean accuracy: 0.6833333333333333
15
Mean accuracy: 0.7833333333333333
16
Mean accuracy: 0.7333333333333334
17
Mean accuracy: 0.6833333333333333
18
Mean accuracy: 0.7333333333333333
19
Mean accuracy: 0.7333333333333333
20
Mean accuracy: 0.7166666666666666
21
Mean accuracy: 0.7833333333333334
22
Mean accuracy: 0.6333333333333334
23
Mean accuracy: 0.7166666666666668
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7166666666666667
26
Mean accuracy: 0.7166666666666667
27
Mean accuracy: 0.6833333333333333
28
Mean accuracy: 0.65
29
Mean accuracy: 0.7333333333333334
30
Mean accuracy: 0.6000000000000001
31
Mean accuracy: 0.75
32
Mean accuracy: 0.7333333333333333
33
Mean accuracy: 0.7
34
Mean accuracy: 0.7333333333333334
35
Mean accuracy: 0.6666666666666666
36
Mean accuracy: 0.6500000000000001
37
Mean accuracy: 0.6833333333333333
38
Mean accuracy: 0.6333333333333333
39
Mean accuracy: 0.7666666666666666
40
Mean accuracy: 0.7166666666666667
41
Mean accuracy: 0.6166666666666667
42
Mean accuracy: 0.6833333333333333
43
Mean accuracy: 0.7333333333333333
44
Mean accuracy: 0.7833333333333333
45
Mean accuracy: 0.65
46
Mean accuracy: 0.6166666666666667
47
Mean accuracy: 0.6833333333333333
48
Mean accuracy: 0.7
49
Mean accuracy: 0.6833333333333333
50
Mean accuracy: 0.7000000000000001
51
Mean accuracy: 0.7833333333333334
52
Mean accuracy: 0.7333333333333333
53
Mean accuracy: 0.7
54
Mean accuracy: 0.7
55
Mean accuracy: 0.85
56
Mean accuracy: 0.75
57
Mean accuracy: 0.7
58
Mean accuracy: 0.6833333333333333
59
Mean accuracy: 0.7
60
Mean accuracy: 0.6166666666666667
61
Mean accuracy: 0.7833333333333333
62
Mean accuracy: 0.7333333333333334
63
Mean accuracy: 0.7166666666666666
64
Mean accuracy: 0.7
65
Mean accuracy: 0.75
66
Mean accuracy: 0.65
67
Mean accuracy: 0.7666666666666667
68
Mean accuracy: 0.65
69
Mean accuracy: 0.65
70
Mean accuracy: 0.7166666666666666
71
Mean accuracy: 0.7333333333333333
72
Mean accuracy: 0.75
73
Mean accuracy: 0.6666666666666667
74
Mean accuracy: 0.7
75
Mean accuracy: 0.7
76
Mean accuracy: 0.7166666666666666
77
Mean accuracy: 0.7333333333333333
78
Mean accuracy: 0.7166666666666667
79
Mean accuracy: 0.7166666666666667
80
Mean accuracy: 0.6333333333333332
81
Mean accuracy: 0.7666666666666666
82
Mean accuracy: 0.7166666666666667
83
Mean accuracy: 0.6333333333333333
84
Mean accuracy: 0.7666666666666666
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.65
87
Mean accuracy: 0.7333333333333332
88
Mean accuracy: 0.6333333333333334
89
Mean accuracy: 0.7333333333333334
90
Mean accuracy: 0.8
91
Mean accuracy: 0.7166666666666667
92
Mean accuracy: 0.6333333333333333
93
Mean accuracy: 0.6666666666666666
94
Mean accuracy: 0.7
95
Mean accuracy: 0.7
96
Mean accuracy: 0.75
97
Mean accuracy: 0.6666666666666667
98
Mean accuracy: 0.75
99
Mean accuracy: 0.6333333333333333
100
Mean accuracy: 0.6833333333333333

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("STAIS_Top50sCpG92_Female_100RF.csv", index = False)

0.7075000000000005