# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi
df = pd.read_csv('SymbDigiCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\SymbDigi
(307, 192589)

,Unnamed: 0,Sentrix,PATNO,HYS,Gender,APPRDX,Symbol_Digit,cg20815302,cg25795414,cg00959375,...,cg03814399,cg14792798,cg16910097,cg08750857,cg17933893,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,0,200991620021_R01C01,3001,2,1,1,1,0.907957,0.868910,0.752844,...,0.880496,0.928546,0.900567,0.877800,0.836823,0.216268,0.234350,0.681550,0.103758,0.837890
1,1,200973410167_R04C01,3007,2,1,1,2,0.918626,0.865257,0.798170,...,0.877306,0.912956,0.935591,0.942104,0.750613,0.254265,0.290337,0.760554,0.075480,0.833824
2,2,200973410167_R05C01,3010,2,1,1,1,0.905297,0.864778,0.769766,...,0.891733,0.902633,0.947783,0.942099,0.752775,0.229338,0.232169,0.775542,0.119109,0.846339

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','Symbol_Digit'], axis=1)
df1.head(2)

,APPRDX,cg20815302,cg25795414,cg00959375,cg07781847,cg05138383,cg27394794,cg12443990,cg19788329,cg22178513,...,cg03814399,cg14792798,cg16910097,cg08750857,cg17933893,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,1,0.907957,0.868910,0.752844,0.827413,0.771393,0.766283,0.791932,0.785104,0.723989,...,0.880496,0.928546,0.900567,0.877800,0.836823,0.216268,0.234350,0.681550,0.103758,0.837890
1,1,0.918626,0.865257,0.798170,0.823846,0.760193,0.801117,0.772456,0.742722,0.580721,...,0.877306,0.912956,0.935591,0.942104,0.750613,0.254265,0.290337,0.760554,0.075480,0.833824

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.44000000000000006
2
Mean accuracy: 0.5399999999999999
3
Mean accuracy: 0.49000000000000005
4
Mean accuracy: 0.51
5
Mean accuracy: 0.45999999999999996
6
Mean accuracy: 0.51
7
Mean accuracy: 0.51
8
Mean accuracy: 0.5800000000000001
9
Mean accuracy: 0.45
10
Mean accuracy: 0.6
11
Mean accuracy: 0.5
12
Mean accuracy: 0.51
13
Mean accuracy: 0.43999999999999995
14
Mean accuracy: 0.6199999999999999
15
Mean accuracy: 0.5199999999999999
16
Mean accuracy: 0.48
17
Mean accuracy: 0.39
18
Mean accuracy: 0.53
19
Mean accuracy: 0.4999999999999999
20
Mean accuracy: 0.4699999999999999
21
Mean accuracy: 0.57
22
Mean accuracy: 0.49000000000000005
23
Mean accuracy: 0.53
24
Mean accuracy: 0.6499999999999999
25
Mean accuracy: 0.51
26
Mean accuracy: 0.4699999999999999
27
Mean accuracy: 0.48
28
Mean accuracy: 0.5499999999999999
29
Mean accuracy: 0.41999999999999993
30
Mean accuracy: 0.4800000000000001
31
Mean accuracy: 0.43
32
Mean accuracy: 0.59
33
Mean accuracy: 0.42000000000000004
34
Mean accuracy: 0.51
35
Mean accuracy: 0.5399999999999999
36
Mean accuracy: 0.5399999999999999
37
Mean accuracy: 0.62
38
Mean accuracy: 0.45
39
Mean accuracy: 0.5599999999999999
40
Mean accuracy: 0.53
41
Mean accuracy: 0.48999999999999994
42
Mean accuracy: 0.47000000000000003
43
Mean accuracy: 0.52
44
Mean accuracy: 0.51
45
Mean accuracy: 0.5299999999999999
46
Mean accuracy: 0.54
47
Mean accuracy: 0.47000000000000003
48
Mean accuracy: 0.49000000000000005
49
Mean accuracy: 0.48
50
Mean accuracy: 0.54
51
Mean accuracy: 0.43
52
Mean accuracy: 0.45
53
Mean accuracy: 0.55
54
Mean accuracy: 0.43000000000000005
55
Mean accuracy: 0.59
56
Mean accuracy: 0.4
57
Mean accuracy: 0.44000000000000006
58
Mean accuracy: 0.5
59
Mean accuracy: 0.45000000000000007
60
Mean accuracy: 0.4999999999999999
61
Mean accuracy: 0.5000000000000001
62
Mean accuracy: 0.5
63
Mean accuracy: 0.43999999999999995
64
Mean accuracy: 0.51
65
Mean accuracy: 0.48
66
Mean accuracy: 0.43
67
Mean accuracy: 0.58
68
Mean accuracy: 0.43
69
Mean accuracy: 0.52
70
Mean accuracy: 0.52
71
Mean accuracy: 0.5399999999999999
72
Mean accuracy: 0.42000000000000004
73
Mean accuracy: 0.43
74
Mean accuracy: 0.47999999999999987
75
Mean accuracy: 0.45999999999999996
76
Mean accuracy: 0.54
77
Mean accuracy: 0.56
78
Mean accuracy: 0.51
79
Mean accuracy: 0.58
80
Mean accuracy: 0.5
81
Mean accuracy: 0.49000000000000005
82
Mean accuracy: 0.5
83
Mean accuracy: 0.55
84
Mean accuracy: 0.4600000000000001
85
Mean accuracy: 0.5
86
Mean accuracy: 0.55
87
Mean accuracy: 0.45
88
Mean accuracy: 0.55
89
Mean accuracy: 0.42000000000000004
90
Mean accuracy: 0.52
91
Mean accuracy: 0.53
92
Mean accuracy: 0.45
93
Mean accuracy: 0.55
94
Mean accuracy: 0.53
95
Mean accuracy: 0.55
96
Mean accuracy: 0.5800000000000001
97
Mean accuracy: 0.55
98
Mean accuracy: 0.56
99
Mean accuracy: 0.48999999999999994
100
Mean accuracy: 0.5

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_AllCpG_Male_100RF.csv", index = False)

0.5037999999999999

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.64
2
Mean accuracy: 0.51
3
Mean accuracy: 0.45
4
Mean accuracy: 0.44000000000000006
5
Mean accuracy: 0.38999999999999996
6
Mean accuracy: 0.43
7
Mean accuracy: 0.5199999999999999
8
Mean accuracy: 0.45000000000000007
9
Mean accuracy: 0.41999999999999993
10
Mean accuracy: 0.53
11
Mean accuracy: 0.4999999999999999
12
Mean accuracy: 0.51
13
Mean accuracy: 0.54
14
Mean accuracy: 0.5700000000000001
15
Mean accuracy: 0.5599999999999999
16
Mean accuracy: 0.45000000000000007
17
Mean accuracy: 0.5900000000000001
18
Mean accuracy: 0.6100000000000001
19
Mean accuracy: 0.5
20
Mean accuracy: 0.44000000000000006
21
Mean accuracy: 0.59
22
Mean accuracy: 0.5499999999999999
23
Mean accuracy: 0.4
24
Mean accuracy: 0.52
25
Mean accuracy: 0.53
26
Mean accuracy: 0.4999999999999999
27
Mean accuracy: 0.55
28
Mean accuracy: 0.43
29
Mean accuracy: 0.45
30
Mean accuracy: 0.41999999999999993
31
Mean accuracy: 0.44000000000000006
32
Mean accuracy: 0.4499999999999999
33
Mean accuracy: 0.44000000000000006
34
Mean accuracy: 0.37
35
Mean accuracy: 0.5599999999999999
36
Mean accuracy: 0.43000000000000005
37
Mean accuracy: 0.53
38
Mean accuracy: 0.56
39
Mean accuracy: 0.56
40
Mean accuracy: 0.51
41
Mean accuracy: 0.5399999999999999
42
Mean accuracy: 0.5
43
Mean accuracy: 0.5
44
Mean accuracy: 0.47000000000000003
45
Mean accuracy: 0.51
46
Mean accuracy: 0.56
47
Mean accuracy: 0.5299999999999999
48
Mean accuracy: 0.51
49
Mean accuracy: 0.5
50
Mean accuracy: 0.48999999999999994
51
Mean accuracy: 0.48999999999999994
52
Mean accuracy: 0.44000000000000006
53
Mean accuracy: 0.4600000000000001
54
Mean accuracy: 0.48999999999999994
55
Mean accuracy: 0.5299999999999999
56
Mean accuracy: 0.51
57
Mean accuracy: 0.53
58
Mean accuracy: 0.41000000000000003
59
Mean accuracy: 0.45999999999999996
60
Mean accuracy: 0.5000000000000001
61
Mean accuracy: 0.47999999999999987
62
Mean accuracy: 0.55
63
Mean accuracy: 0.51
64
Mean accuracy: 0.41000000000000003
65
Mean accuracy: 0.5199999999999999
66
Mean accuracy: 0.53
67
Mean accuracy: 0.5599999999999999
68
Mean accuracy: 0.4999999999999999
69
Mean accuracy: 0.61
70
Mean accuracy: 0.58
71
Mean accuracy: 0.48
72
Mean accuracy: 0.48999999999999994
73
Mean accuracy: 0.51
74
Mean accuracy: 0.53
75
Mean accuracy: 0.47000000000000003
76
Mean accuracy: 0.5700000000000001
77
Mean accuracy: 0.48
78
Mean accuracy: 0.38999999999999996
79
Mean accuracy: 0.58
80
Mean accuracy: 0.51
81
Mean accuracy: 0.54
82
Mean accuracy: 0.33999999999999997
83
Mean accuracy: 0.48
84
Mean accuracy: 0.43
85
Mean accuracy: 0.57
86
Mean accuracy: 0.5700000000000001
87
Mean accuracy: 0.5700000000000001
88
Mean accuracy: 0.49000000000000005
89
Mean accuracy: 0.52
90
Mean accuracy: 0.5
91
Mean accuracy: 0.6000000000000001
92
Mean accuracy: 0.41000000000000003
93
Mean accuracy: 0.54
94
Mean accuracy: 0.52
95
Mean accuracy: 0.51
96
Mean accuracy: 0.53
97
Mean accuracy: 0.5
98
Mean accuracy: 0.53
99
Mean accuracy: 0.41
100
Mean accuracy: 0.48

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Rand50CpG_Male_100RF.csv", index = False)

0.5006999999999999

## RanFor 100 times. Samples = 99

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(99, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6499999999999999
2
Mean accuracy: 0.54
3
Mean accuracy: 0.43
4
Mean accuracy: 0.39999999999999997
5
Mean accuracy: 0.43000000000000005
6
Mean accuracy: 0.43
7
Mean accuracy: 0.4600000000000001
8
Mean accuracy: 0.54
9
Mean accuracy: 0.39
10
Mean accuracy: 0.59
11
Mean accuracy: 0.44000000000000006
12
Mean accuracy: 0.54
13
Mean accuracy: 0.5399999999999999
14
Mean accuracy: 0.51
15
Mean accuracy: 0.5499999999999999
16
Mean accuracy: 0.53
17
Mean accuracy: 0.6399999999999999
18
Mean accuracy: 0.51
19
Mean accuracy: 0.4999999999999999
20
Mean accuracy: 0.39
21
Mean accuracy: 0.57
22
Mean accuracy: 0.59
23
Mean accuracy: 0.51
24
Mean accuracy: 0.55
25
Mean accuracy: 0.5
26
Mean accuracy: 0.58
27
Mean accuracy: 0.58
28
Mean accuracy: 0.52
29
Mean accuracy: 0.5000000000000001
30
Mean accuracy: 0.4999999999999999
31
Mean accuracy: 0.5000000000000001
32
Mean accuracy: 0.52
33
Mean accuracy: 0.45
34
Mean accuracy: 0.41000000000000003
35
Mean accuracy: 0.5599999999999999
36
Mean accuracy: 0.48999999999999994
37
Mean accuracy: 0.49000000000000005
38
Mean accuracy: 0.58
39
Mean accuracy: 0.44000000000000006
40
Mean accuracy: 0.5
41
Mean accuracy: 0.5399999999999999
42
Mean accuracy: 0.38
43
Mean accuracy: 0.45999999999999996
44
Mean accuracy: 0.41000000000000003
45
Mean accuracy: 0.5199999999999999
46
Mean accuracy: 0.56
47
Mean accuracy: 0.48
48
Mean accuracy: 0.48
49
Mean accuracy: 0.44000000000000006
50
Mean accuracy: 0.58
51
Mean accuracy: 0.43
52
Mean accuracy: 0.47999999999999987
53
Mean accuracy: 0.48999999999999994
54
Mean accuracy: 0.48
55
Mean accuracy: 0.41
56
Mean accuracy: 0.57
57
Mean accuracy: 0.51
58
Mean accuracy: 0.4
59
Mean accuracy: 0.52
60
Mean accuracy: 0.45999999999999996
61
Mean accuracy: 0.4800000000000001
62
Mean accuracy: 0.63
63
Mean accuracy: 0.5399999999999999
64
Mean accuracy: 0.53
65
Mean accuracy: 0.53
66
Mean accuracy: 0.59
67
Mean accuracy: 0.51
68
Mean accuracy: 0.52
69
Mean accuracy: 0.61
70
Mean accuracy: 0.56
71
Mean accuracy: 0.51
72
Mean accuracy: 0.5599999999999999
73
Mean accuracy: 0.41
74
Mean accuracy: 0.51
75
Mean accuracy: 0.52
76
Mean accuracy: 0.4800000000000001
77
Mean accuracy: 0.48999999999999994
78
Mean accuracy: 0.5199999999999999
79
Mean accuracy: 0.5399999999999998
80
Mean accuracy: 0.52
81
Mean accuracy: 0.43
82
Mean accuracy: 0.51
83
Mean accuracy: 0.6
84
Mean accuracy: 0.45
85
Mean accuracy: 0.55
86
Mean accuracy: 0.56
87
Mean accuracy: 0.5700000000000001
88
Mean accuracy: 0.4999999999999999
89
Mean accuracy: 0.53
90
Mean accuracy: 0.5700000000000001
91
Mean accuracy: 0.48
92
Mean accuracy: 0.51
93
Mean accuracy: 0.4800000000000001
94
Mean accuracy: 0.52
95
Mean accuracy: 0.5200000000000001
96
Mean accuracy: 0.61
97
Mean accuracy: 0.48
98
Mean accuracy: 0.6
99
Mean accuracy: 0.42000000000000004
100
Mean accuracy: 0.5700000000000001

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Rand99CpG_Male_100RF.csv", index = False)

0.5097

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('SymbDigi_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 52)

,PATNO,APPRDX,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,...,cg15171154,cg27150010,cg13468400,cg15912098,cg11820312,cg11755107,cg13590297,cg07880064,cg15419852,cg11374446
0,3001,1,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,...,0.906395,0.010640,0.812987,0.794243,0.924203,0.014287,0.103243,0.797291,0.025940,0.884892
1,3007,1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,...,0.902180,0.012205,0.897971,0.923425,0.928210,0.015179,0.315527,0.820042,0.037032,0.859572

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,cg17349352,...,cg15171154,cg27150010,cg13468400,cg15912098,cg11820312,cg11755107,cg13590297,cg07880064,cg15419852,cg11374446
0,1,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,0.045292,...,0.906395,0.010640,0.812987,0.794243,0.924203,0.014287,0.103243,0.797291,0.025940,0.884892
1,1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,0.028921,...,0.902180,0.012205,0.897971,0.923425,0.928210,0.015179,0.315527,0.820042,0.037032,0.859572

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6300000000000001
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.6799999999999999
4
Mean accuracy: 0.71
5
Mean accuracy: 0.7100000000000001
6
Mean accuracy: 0.67
7
Mean accuracy: 0.72
8
Mean accuracy: 0.72
9
Mean accuracy: 0.7
10
Mean accuracy: 0.74
11
Mean accuracy: 0.67
12
Mean accuracy: 0.78
13
Mean accuracy: 0.7100000000000001
14
Mean accuracy: 0.8099999999999999
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.6799999999999999
17
Mean accuracy: 0.6699999999999999
18
Mean accuracy: 0.7100000000000001
19
Mean accuracy: 0.6799999999999999
20
Mean accuracy: 0.79
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.72
23
Mean accuracy: 0.7500000000000001
24
Mean accuracy: 0.67
25
Mean accuracy: 0.62
26
Mean accuracy: 0.6499999999999999
27
Mean accuracy: 0.76
28
Mean accuracy: 0.67
29
Mean accuracy: 0.5700000000000001
30
Mean accuracy: 0.63
31
Mean accuracy: 0.6900000000000001
32
Mean accuracy: 0.7000000000000001
33
Mean accuracy: 0.69
34
Mean accuracy: 0.7
35
Mean accuracy: 0.7300000000000001
36
Mean accuracy: 0.62
37
Mean accuracy: 0.78
38
Mean accuracy: 0.6599999999999999
39
Mean accuracy: 0.74
40
Mean accuracy: 0.6599999999999999
41
Mean accuracy: 0.7300000000000001
42
Mean accuracy: 0.7
43
Mean accuracy: 0.73
44
Mean accuracy: 0.71
45
Mean accuracy: 0.63
46
Mean accuracy: 0.69
47
Mean accuracy: 0.69
48
Mean accuracy: 0.65
49
Mean accuracy: 0.6700000000000002
50
Mean accuracy: 0.71
51
Mean accuracy: 0.6100000000000001
52
Mean accuracy: 0.7
53
Mean accuracy: 0.7100000000000002
54
Mean accuracy: 0.6900000000000001
55
Mean accuracy: 0.72
56
Mean accuracy: 0.6900000000000001
57
Mean accuracy: 0.7
58
Mean accuracy: 0.6599999999999999
59
Mean accuracy: 0.6500000000000001
60
Mean accuracy: 0.74
61
Mean accuracy: 0.64
62
Mean accuracy: 0.74
63
Mean accuracy: 0.7
64
Mean accuracy: 0.74
65
Mean accuracy: 0.69
66
Mean accuracy: 0.5199999999999999
67
Mean accuracy: 0.7100000000000002
68
Mean accuracy: 0.75
69
Mean accuracy: 0.62
70
Mean accuracy: 0.7
71
Mean accuracy: 0.6399999999999999
72
Mean accuracy: 0.68
73
Mean accuracy: 0.63
74
Mean accuracy: 0.6699999999999999
75
Mean accuracy: 0.62
76
Mean accuracy: 0.73
77
Mean accuracy: 0.6599999999999999
78
Mean accuracy: 0.6499999999999999
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.67
81
Mean accuracy: 0.6799999999999999
82
Mean accuracy: 0.75
83
Mean accuracy: 0.72
84
Mean accuracy: 0.6699999999999999
85
Mean accuracy: 0.6100000000000001
86
Mean accuracy: 0.71
87
Mean accuracy: 0.69
88
Mean accuracy: 0.64
89
Mean accuracy: 0.6799999999999999
90
Mean accuracy: 0.71
91
Mean accuracy: 0.6699999999999999
92
Mean accuracy: 0.64
93
Mean accuracy: 0.6799999999999999
94
Mean accuracy: 0.64
95
Mean accuracy: 0.6900000000000001
96
Mean accuracy: 0.72
97
Mean accuracy: 0.6900000000000001
98
Mean accuracy: 0.6799999999999999
99
Mean accuracy: 0.66
100
Mean accuracy: 0.75

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Boruta50CpG_Male_100RF.csv", index = False)

0.6867000000000002

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('SymbDigi_NMI_Top50_Male_Data.csv')
print(df.shape)
df.head(2)

(307, 51)

,APPRDX,cg14523394,cg09372808,cg01070424,cg16402452,cg01360545,cg14947609,cg22126136,cg15272034,cg19559114,...,cg19557537,cg15469205,cg12613770,cg19166896,cg17364323,cg20003494,cg15736994,cg03909844,cg00558297,cg17668069
0,1,0.943573,0.859071,0.450485,0.949497,0.605723,0.797382,0.824268,0.850724,0.823933,...,0.034398,0.865868,0.838669,0.928030,0.240152,0.025708,0.523965,0.675087,0.776180,0.044870
1,1,0.900230,0.870130,0.368044,0.925802,0.633931,0.867282,0.837835,0.837866,0.882641,...,0.040056,0.830760,0.848701,0.936842,0.179619,0.045513,0.562597,0.769234,0.366488,0.045872

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7899999999999999
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.76
4
Mean accuracy: 0.5999999999999999
5
Mean accuracy: 0.7100000000000001
6
Mean accuracy: 0.74
7
Mean accuracy: 0.65
8
Mean accuracy: 0.69
9
Mean accuracy: 0.73
10
Mean accuracy: 0.7
11
Mean accuracy: 0.77
12
Mean accuracy: 0.6799999999999999
13
Mean accuracy: 0.78
14
Mean accuracy: 0.7099999999999999
15
Mean accuracy: 0.76
16
Mean accuracy: 0.62
17
Mean accuracy: 0.59
18
Mean accuracy: 0.65
19
Mean accuracy: 0.6799999999999999
20
Mean accuracy: 0.69
21
Mean accuracy: 0.74
22
Mean accuracy: 0.7300000000000001
23
Mean accuracy: 0.74
24
Mean accuracy: 0.76
25
Mean accuracy: 0.7100000000000001
26
Mean accuracy: 0.8
27
Mean accuracy: 0.72
28
Mean accuracy: 0.71
29
Mean accuracy: 0.7
30
Mean accuracy: 0.8
31
Mean accuracy: 0.8099999999999999
32
Mean accuracy: 0.76
33
Mean accuracy: 0.76
34
Mean accuracy: 0.7799999999999999
35
Mean accuracy: 0.6699999999999999
36
Mean accuracy: 0.73
37
Mean accuracy: 0.6799999999999999
38
Mean accuracy: 0.67
39
Mean accuracy: 0.7
40
Mean accuracy: 0.72
41
Mean accuracy: 0.6699999999999999
42
Mean accuracy: 0.77
43
Mean accuracy: 0.74
44
Mean accuracy: 0.75
45
Mean accuracy: 0.79
46
Mean accuracy: 0.75
47
Mean accuracy: 0.6699999999999999
48
Mean accuracy: 0.6699999999999999
49
Mean accuracy: 0.7300000000000001
50
Mean accuracy: 0.8
51
Mean accuracy: 0.6900000000000001
52
Mean accuracy: 0.76
53
Mean accuracy: 0.7
54
Mean accuracy: 0.7100000000000001
55
Mean accuracy: 0.79
56
Mean accuracy: 0.64
57
Mean accuracy: 0.7400000000000001
58
Mean accuracy: 0.5599999999999999
59
Mean accuracy: 0.7
60
Mean accuracy: 0.8
61
Mean accuracy: 0.75
62
Mean accuracy: 0.7
63
Mean accuracy: 0.66
64
Mean accuracy: 0.8
65
Mean accuracy: 0.71
66
Mean accuracy: 0.69
67
Mean accuracy: 0.78
68
Mean accuracy: 0.76
69
Mean accuracy: 0.6399999999999999
70
Mean accuracy: 0.73
71
Mean accuracy: 0.7300000000000001
72
Mean accuracy: 0.6900000000000001
73
Mean accuracy: 0.64
74
Mean accuracy: 0.71
75
Mean accuracy: 0.66
76
Mean accuracy: 0.73
77
Mean accuracy: 0.7499999999999999
78
Mean accuracy: 0.66
79
Mean accuracy: 0.7699999999999999
80
Mean accuracy: 0.7100000000000001
81
Mean accuracy: 0.69
82
Mean accuracy: 0.71
83
Mean accuracy: 0.7000000000000001
84
Mean accuracy: 0.65
85
Mean accuracy: 0.7100000000000001
86
Mean accuracy: 0.7299999999999999
87
Mean accuracy: 0.71
88
Mean accuracy: 0.6399999999999999
89
Mean accuracy: 0.6900000000000001
90
Mean accuracy: 0.72
91
Mean accuracy: 0.76
92
Mean accuracy: 0.7300000000000001
93
Mean accuracy: 0.74
94
Mean accuracy: 0.6799999999999999
95
Mean accuracy: 0.6799999999999999
96
Mean accuracy: 0.75
97
Mean accuracy: 0.72
98
Mean accuracy: 0.8000000000000002
99
Mean accuracy: 0.7
100
Mean accuracy: 0.71

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_NMI50CpG_Male_100RF.csv", index = False)

0.7158999999999999

## RanFor Top 50 Boruta + NMI 100 times. Samples = 99

In [18]:
df = pd.read_csv('SymbDigi_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 101)

,PATNO,APPRDX,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,...,cg19557537,cg15469205,cg12613770,cg19166896,cg17364323,cg20003494,cg15736994,cg03909844,cg00558297,cg17668069
0,3001,1,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,...,0.034398,0.865868,0.838669,0.928030,0.240152,0.025708,0.523965,0.675087,0.776180,0.044870
1,3007,1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,...,0.040056,0.830760,0.848701,0.936842,0.179619,0.045513,0.562597,0.769234,0.366488,0.045872

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02471954,cg15313666,cg27171575,cg10693616,cg18174834,cg02681134,cg26213368,cg05817202,cg17349352,...,cg19557537,cg15469205,cg12613770,cg19166896,cg17364323,cg20003494,cg15736994,cg03909844,cg00558297,cg17668069
0,1,0.853669,0.907550,0.853809,0.012194,0.040499,0.018356,0.845328,0.823899,0.045292,...,0.034398,0.865868,0.838669,0.928030,0.240152,0.025708,0.523965,0.675087,0.776180,0.044870
1,1,0.918805,0.927117,0.895204,0.012696,0.034218,0.021660,0.671661,0.849287,0.028921,...,0.040056,0.830760,0.848701,0.936842,0.179619,0.045513,0.562597,0.769234,0.366488,0.045872

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.68
2
Mean accuracy: 0.72
3
Mean accuracy: 0.7000000000000001
4
Mean accuracy: 0.71
5
Mean accuracy: 0.77
6
Mean accuracy: 0.72
7
Mean accuracy: 0.73
8
Mean accuracy: 0.74
9
Mean accuracy: 0.74
10
Mean accuracy: 0.72
11
Mean accuracy: 0.6699999999999999
12
Mean accuracy: 0.76
13
Mean accuracy: 0.74
14
Mean accuracy: 0.78
15
Mean accuracy: 0.72
16
Mean accuracy: 0.7000000000000001
17
Mean accuracy: 0.64
18
Mean accuracy: 0.73
19
Mean accuracy: 0.72
20
Mean accuracy: 0.73
21
Mean accuracy: 0.72
22
Mean accuracy: 0.7
23
Mean accuracy: 0.75
24
Mean accuracy: 0.74
25
Mean accuracy: 0.71
26
Mean accuracy: 0.76
27
Mean accuracy: 0.73
28
Mean accuracy: 0.69
29
Mean accuracy: 0.64
30
Mean accuracy: 0.7700000000000001
31
Mean accuracy: 0.73
32
Mean accuracy: 0.74
33
Mean accuracy: 0.74
34
Mean accuracy: 0.7400000000000001
35
Mean accuracy: 0.72
36
Mean accuracy: 0.6299999999999999
37
Mean accuracy: 0.73
38
Mean accuracy: 0.6900000000000001
39
Mean accuracy: 0.8300000000000001
40
Mean accuracy: 0.76
41
Mean accuracy: 0.74
42
Mean accuracy: 0.75
43
Mean accuracy: 0.74
44
Mean accuracy: 0.72
45
Mean accuracy: 0.77
46
Mean accuracy: 0.72
47
Mean accuracy: 0.7
48
Mean accuracy: 0.67
49
Mean accuracy: 0.71
50
Mean accuracy: 0.78
51
Mean accuracy: 0.64
52
Mean accuracy: 0.74
53
Mean accuracy: 0.6900000000000001
54
Mean accuracy: 0.63
55
Mean accuracy: 0.78
56
Mean accuracy: 0.7
57
Mean accuracy: 0.75
58
Mean accuracy: 0.6199999999999999
59
Mean accuracy: 0.7300000000000001
60
Mean accuracy: 0.72
61
Mean accuracy: 0.7
62
Mean accuracy: 0.78
63
Mean accuracy: 0.71
64
Mean accuracy: 0.7700000000000001
65
Mean accuracy: 0.6599999999999999
66
Mean accuracy: 0.59
67
Mean accuracy: 0.7
68
Mean accuracy: 0.74
69
Mean accuracy: 0.7000000000000001
70
Mean accuracy: 0.74
71
Mean accuracy: 0.67
72
Mean accuracy: 0.72
73
Mean accuracy: 0.65
74
Mean accuracy: 0.7100000000000001
75
Mean accuracy: 0.64
76
Mean accuracy: 0.69
77
Mean accuracy: 0.6599999999999999
78
Mean accuracy: 0.72
79
Mean accuracy: 0.74
80
Mean accuracy: 0.6499999999999999
81
Mean accuracy: 0.65
82
Mean accuracy: 0.74
83
Mean accuracy: 0.74
84
Mean accuracy: 0.6900000000000001
85
Mean accuracy: 0.65
86
Mean accuracy: 0.74
87
Mean accuracy: 0.7699999999999999
88
Mean accuracy: 0.74
89
Mean accuracy: 0.6699999999999999
90
Mean accuracy: 0.6799999999999999
91
Mean accuracy: 0.78
92
Mean accuracy: 0.77
93
Mean accuracy: 0.77
94
Mean accuracy: 0.72
95
Mean accuracy: 0.71
96
Mean accuracy: 0.77
97
Mean accuracy: 0.72
98
Mean accuracy: 0.74
99
Mean accuracy: 0.6599999999999999
100
Mean accuracy: 0.73

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Top50sCpG99_Male_100RF.csv", index = False)

0.7162000000000001