# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\SymbolDigit
df = pd.read_csv('SymbDigiCateg_Methylome_APPRDXFilter.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\GeneCpG\SymbolDigit
(458, 192588)

,Sentrix,PATNO,HYS,Gender,APPRDX,Symbol_Digit,cg20815302,cg25795414,cg00959375,cg07781847,...,cg03814399,cg14792798,cg16910097,cg08750857,cg17933893,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,200991620021_R01C01,3001,2,1,1,1,0.907957,0.868910,0.752844,0.827413,...,0.880496,0.928546,0.900567,0.877800,0.836823,0.216268,0.234350,0.681550,0.103758,0.837890
1,200973410167_R04C01,3007,2,1,1,2,0.918626,0.865257,0.798170,0.823846,...,0.877306,0.912956,0.935591,0.942104,0.750613,0.254265,0.290337,0.760554,0.075480,0.833824
2,200973410167_R05C01,3010,2,1,1,1,0.905297,0.864778,0.769766,0.803124,...,0.891733,0.902633,0.947783,0.942099,0.752775,0.229338,0.232169,0.775542,0.119109,0.846339

In [4]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Symbol_Digit'], axis=1)
df1.head(2)

,APPRDX,cg20815302,cg25795414,cg00959375,cg07781847,cg05138383,cg27394794,cg12443990,cg19788329,cg22178513,...,cg03814399,cg14792798,cg16910097,cg08750857,cg17933893,cg06917935,cg02794319,cg10702286,cg10353174,cg19590050
0,1,0.907957,0.868910,0.752844,0.827413,0.771393,0.766283,0.791932,0.785104,0.723989,...,0.880496,0.928546,0.900567,0.877800,0.836823,0.216268,0.234350,0.681550,0.103758,0.837890
1,1,0.918626,0.865257,0.798170,0.823846,0.760193,0.801117,0.772456,0.742722,0.580721,...,0.877306,0.912956,0.935591,0.942104,0.750613,0.254265,0.290337,0.760554,0.075480,0.833824

In [5]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.505
2
Mean accuracy: 0.45999999999999996
3
Mean accuracy: 0.5050000000000001
4
Mean accuracy: 0.5450000000000002
5
Mean accuracy: 0.45999999999999996
6
Mean accuracy: 0.495
7
Mean accuracy: 0.545
8
Mean accuracy: 0.505
9
Mean accuracy: 0.485
10
Mean accuracy: 0.495
11
Mean accuracy: 0.505
12
Mean accuracy: 0.44499999999999995
13
Mean accuracy: 0.575
14
Mean accuracy: 0.45499999999999996
15
Mean accuracy: 0.53
16
Mean accuracy: 0.5050000000000001
17
Mean accuracy: 0.5299999999999999
18
Mean accuracy: 0.53
19
Mean accuracy: 0.4699999999999999
20
Mean accuracy: 0.545
21
Mean accuracy: 0.49000000000000005
22
Mean accuracy: 0.505
23
Mean accuracy: 0.55
24
Mean accuracy: 0.485
25
Mean accuracy: 0.545
26
Mean accuracy: 0.475
27
Mean accuracy: 0.62
28
Mean accuracy: 0.48500000000000004
29
Mean accuracy: 0.5
30
Mean accuracy: 0.495
31
Mean accuracy: 0.56
32
Mean accuracy: 0.45
33
Mean accuracy: 0.5
34
Mean accuracy: 0.51
35
Mean accuracy: 0.55
36
Mean accuracy: 0.55
37
Mean accuracy: 0.54
38
Mean accuracy: 0.5599999999999999
39
Mean accuracy: 0.5549999999999999
40
Mean accuracy: 0.535
41
Mean accuracy: 0.48
42
Mean accuracy: 0.48999999999999994
43
Mean accuracy: 0.5
44
Mean accuracy: 0.48
45
Mean accuracy: 0.395
46
Mean accuracy: 0.5050000000000001
47
Mean accuracy: 0.5800000000000001
48
Mean accuracy: 0.52
49
Mean accuracy: 0.425
50
Mean accuracy: 0.575
51
Mean accuracy: 0.575
52
Mean accuracy: 0.5700000000000001
53
Mean accuracy: 0.5000000000000001
54
Mean accuracy: 0.5250000000000001
55
Mean accuracy: 0.485
56
Mean accuracy: 0.45500000000000007
57
Mean accuracy: 0.52
58
Mean accuracy: 0.585
59
Mean accuracy: 0.5399999999999999
60
Mean accuracy: 0.5800000000000001
61
Mean accuracy: 0.495
62
Mean accuracy: 0.55
63
Mean accuracy: 0.51
64
Mean accuracy: 0.55
65
Mean accuracy: 0.525
66
Mean accuracy: 0.5499999999999999
67
Mean accuracy: 0.5250000000000001
68
Mean accuracy: 0.43500000000000005
69
Mean accuracy: 0.5449999999999999
70
Mean accuracy: 0.5499999999999999
71
Mean accuracy: 0.4999999999999999
72
Mean accuracy: 0.505
73
Mean accuracy: 0.5350000000000001
74
Mean accuracy: 0.4950000000000001
75
Mean accuracy: 0.515
76
Mean accuracy: 0.47999999999999987
77
Mean accuracy: 0.515
78
Mean accuracy: 0.515
79
Mean accuracy: 0.475
80
Mean accuracy: 0.575
81
Mean accuracy: 0.49499999999999994
82
Mean accuracy: 0.53
83
Mean accuracy: 0.445
84
Mean accuracy: 0.53
85
Mean accuracy: 0.49499999999999994
86
Mean accuracy: 0.47000000000000003
87
Mean accuracy: 0.5700000000000001
88
Mean accuracy: 0.54
89
Mean accuracy: 0.48500000000000004
90
Mean accuracy: 0.48500000000000004
91
Mean accuracy: 0.475
92
Mean accuracy: 0.5700000000000001
93
Mean accuracy: 0.45499999999999996
94
Mean accuracy: 0.495
95
Mean accuracy: 0.5549999999999999
96
Mean accuracy: 0.5549999999999999
97
Mean accuracy: 0.5149999999999999
98
Mean accuracy: 0.49499999999999994
99
Mean accuracy: 0.47000000000000003
100
Mean accuracy: 0.44000000000000006

In [6]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_AllCpG_100RF.csv", index = False)

0.5124999999999997

## RanFor 1000 times. Samples = 50

In [7]:
df2 = df1.drop (['APPRDX'], axis=1)

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.48500000000000004
2
Mean accuracy: 0.525
3
Mean accuracy: 0.44000000000000006
4
Mean accuracy: 0.59
5
Mean accuracy: 0.495
6
Mean accuracy: 0.465
7
Mean accuracy: 0.465
8
Mean accuracy: 0.5000000000000001
9
Mean accuracy: 0.52
10
Mean accuracy: 0.5
11
Mean accuracy: 0.45
12
Mean accuracy: 0.51
13
Mean accuracy: 0.4250000000000001
14
Mean accuracy: 0.505
15
Mean accuracy: 0.43499999999999994
16
Mean accuracy: 0.505
17
Mean accuracy: 0.45
18
Mean accuracy: 0.51
19
Mean accuracy: 0.5199999999999999
20
Mean accuracy: 0.55
21
Mean accuracy: 0.4699999999999999
22
Mean accuracy: 0.5599999999999999
23
Mean accuracy: 0.5
24
Mean accuracy: 0.49000000000000005
25
Mean accuracy: 0.45
26
Mean accuracy: 0.5349999999999999
27
Mean accuracy: 0.5650000000000001
28
Mean accuracy: 0.525
29
Mean accuracy: 0.58
30
Mean accuracy: 0.48
31
Mean accuracy: 0.5
32
Mean accuracy: 0.47000000000000003
33
Mean accuracy: 0.5399999999999999
34
Mean accuracy: 0.48999999999999994
35
Mean accuracy: 0.48500000000000004
36
Mean accuracy: 0.5150000000000001
37
Mean accuracy: 0.5250000000000001
38
Mean accuracy: 0.5
39
Mean accuracy: 0.4849999999999999
40
Mean accuracy: 0.5599999999999999
41
Mean accuracy: 0.495
42
Mean accuracy: 0.505
43
Mean accuracy: 0.6149999999999999
44
Mean accuracy: 0.5
45
Mean accuracy: 0.5
46
Mean accuracy: 0.5450000000000002
47
Mean accuracy: 0.445
48
Mean accuracy: 0.4600000000000001
49
Mean accuracy: 0.5
50
Mean accuracy: 0.46499999999999997
51
Mean accuracy: 0.55
52
Mean accuracy: 0.5349999999999999
53
Mean accuracy: 0.5549999999999999
54
Mean accuracy: 0.5149999999999999
55
Mean accuracy: 0.43499999999999994
56
Mean accuracy: 0.49499999999999994
57
Mean accuracy: 0.51
58
Mean accuracy: 0.51
59
Mean accuracy: 0.51
60
Mean accuracy: 0.5
61
Mean accuracy: 0.5050000000000001
62
Mean accuracy: 0.59
63
Mean accuracy: 0.4999999999999999
64
Mean accuracy: 0.4999999999999999
65
Mean accuracy: 0.515
66
Mean accuracy: 0.49499999999999994
67
Mean accuracy: 0.53
68
Mean accuracy: 0.445
69
Mean accuracy: 0.5
70
Mean accuracy: 0.5050000000000001
71
Mean accuracy: 0.545
72
Mean accuracy: 0.43
73
Mean accuracy: 0.5549999999999999
74
Mean accuracy: 0.48500000000000004
75
Mean accuracy: 0.6
76
Mean accuracy: 0.5050000000000001
77
Mean accuracy: 0.47000000000000003
78
Mean accuracy: 0.525
79
Mean accuracy: 0.6100000000000001
80
Mean accuracy: 0.5199999999999999
81
Mean accuracy: 0.49000000000000005
82
Mean accuracy: 0.54
83
Mean accuracy: 0.475
84
Mean accuracy: 0.545
85
Mean accuracy: 0.5399999999999999
86
Mean accuracy: 0.4750000000000001
87
Mean accuracy: 0.525
88
Mean accuracy: 0.565
89
Mean accuracy: 0.5549999999999999
90
Mean accuracy: 0.5
91
Mean accuracy: 0.5449999999999999
92
Mean accuracy: 0.505
93
Mean accuracy: 0.48500000000000004
94
Mean accuracy: 0.5149999999999999
95
Mean accuracy: 0.51
96
Mean accuracy: 0.42000000000000004
97
Mean accuracy: 0.5700000000000001
98
Mean accuracy: 0.52
99
Mean accuracy: 0.5149999999999999
100
Mean accuracy: 0.51

In [9]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Rand50CpG_100RF.csv", index = False)

0.5085000000000002

## RanFor 100 times. Samples = 99

In [10]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(99, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(100))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4600000000000001
2
Mean accuracy: 0.55
3
Mean accuracy: 0.45999999999999996
4
Mean accuracy: 0.55
5
Mean accuracy: 0.495
6
Mean accuracy: 0.5700000000000001
7
Mean accuracy: 0.425
8
Mean accuracy: 0.5399999999999999
9
Mean accuracy: 0.505
10
Mean accuracy: 0.48
11
Mean accuracy: 0.465
12
Mean accuracy: 0.55
13
Mean accuracy: 0.48500000000000004
14
Mean accuracy: 0.4600000000000001
15
Mean accuracy: 0.5399999999999999
16
Mean accuracy: 0.49000000000000005
17
Mean accuracy: 0.48500000000000004
18
Mean accuracy: 0.425
19
Mean accuracy: 0.47000000000000003
20
Mean accuracy: 0.5700000000000001
21
Mean accuracy: 0.41500000000000004
22
Mean accuracy: 0.53
23
Mean accuracy: 0.51
24
Mean accuracy: 0.54
25
Mean accuracy: 0.44000000000000006
26
Mean accuracy: 0.535
27
Mean accuracy: 0.485
28
Mean accuracy: 0.53
29
Mean accuracy: 0.5700000000000001
30
Mean accuracy: 0.505
31
Mean accuracy: 0.4900000000000001
32
Mean accuracy: 0.45
33
Mean accuracy: 0.515
34
Mean accuracy: 0.51
35
Mean accuracy: 0.4600000000000001
36
Mean accuracy: 0.5549999999999999
37
Mean accuracy: 0.52
38
Mean accuracy: 0.5149999999999999
39
Mean accuracy: 0.475
40
Mean accuracy: 0.49000000000000005
41
Mean accuracy: 0.5150000000000001
42
Mean accuracy: 0.5000000000000001
43
Mean accuracy: 0.53
44
Mean accuracy: 0.495
45
Mean accuracy: 0.45
46
Mean accuracy: 0.5200000000000001
47
Mean accuracy: 0.45
48
Mean accuracy: 0.48500000000000004
49
Mean accuracy: 0.49000000000000005
50
Mean accuracy: 0.53
51
Mean accuracy: 0.52
52
Mean accuracy: 0.5
53
Mean accuracy: 0.53
54
Mean accuracy: 0.555
55
Mean accuracy: 0.49000000000000005
56
Mean accuracy: 0.58
57
Mean accuracy: 0.4800000000000001
58
Mean accuracy: 0.54
59
Mean accuracy: 0.475
60
Mean accuracy: 0.5900000000000001
61
Mean accuracy: 0.45999999999999996
62
Mean accuracy: 0.6049999999999999
63
Mean accuracy: 0.45499999999999996
64
Mean accuracy: 0.5599999999999999
65
Mean accuracy: 0.5199999999999999
66
Mean accuracy: 0.5449999999999999
67
Mean accuracy: 0.48
68
Mean accuracy: 0.38000000000000006
69
Mean accuracy: 0.465
70
Mean accuracy: 0.43499999999999994
71
Mean accuracy: 0.5700000000000001
72
Mean accuracy: 0.45
73
Mean accuracy: 0.545
74
Mean accuracy: 0.5250000000000001
75
Mean accuracy: 0.545
76
Mean accuracy: 0.5
77
Mean accuracy: 0.495
78
Mean accuracy: 0.525
79
Mean accuracy: 0.5850000000000001
80
Mean accuracy: 0.5549999999999999
81
Mean accuracy: 0.48999999999999994
82
Mean accuracy: 0.53
83
Mean accuracy: 0.535
84
Mean accuracy: 0.555
85
Mean accuracy: 0.5249999999999999
86
Mean accuracy: 0.5349999999999999
87
Mean accuracy: 0.5549999999999999
88
Mean accuracy: 0.505
89
Mean accuracy: 0.5049999999999999
90
Mean accuracy: 0.485
91
Mean accuracy: 0.575
92
Mean accuracy: 0.5399999999999999
93
Mean accuracy: 0.5650000000000001
94
Mean accuracy: 0.5149999999999999
95
Mean accuracy: 0.5
96
Mean accuracy: 0.5349999999999999
97
Mean accuracy: 0.52
98
Mean accuracy: 0.48
99
Mean accuracy: 0.485
100
Mean accuracy: 0.45499999999999996

In [11]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Rand99CpG_100RF.csv", index = False)

0.5083000000000001

## RanFor Top 50 Boruta 100 times. Samples = 50

In [12]:
df = pd.read_csv('SymbDigi_Boruta_Top50_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg20250922,cg16541194,cg21747188,cg10410319,cg12345955,cg19690051,cg21062891,cg00417288,...,cg04061361,cg22534925,cg12179916,cg12044671,cg19555872,cg25273343,cg04286615,cg07931157,cg01120173,cg12600134
0,3001,1,0.279845,0.576279,0.064156,0.021390,0.015210,0.104141,0.887982,0.892366,...,0.568646,0.914514,0.638415,0.869433,0.879701,0.736708,0.034118,0.066176,0.10021,0.025254
1,3007,1,0.241012,0.471834,0.056883,0.020285,0.013241,0.045867,0.923072,0.934470,...,0.719066,0.930051,0.679014,0.755008,0.894245,0.876514,0.020293,0.069590,0.16000,0.017894

In [13]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg20250922,cg16541194,cg21747188,cg10410319,cg12345955,cg19690051,cg21062891,cg00417288,cg12298429,...,cg04061361,cg22534925,cg12179916,cg12044671,cg19555872,cg25273343,cg04286615,cg07931157,cg01120173,cg12600134
0,1,0.279845,0.576279,0.064156,0.021390,0.015210,0.104141,0.887982,0.892366,0.032801,...,0.568646,0.914514,0.638415,0.869433,0.879701,0.736708,0.034118,0.066176,0.10021,0.025254
1,1,0.241012,0.471834,0.056883,0.020285,0.013241,0.045867,0.923072,0.934470,0.042715,...,0.719066,0.930051,0.679014,0.755008,0.894245,0.876514,0.020293,0.069590,0.16000,0.017894

In [14]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6399999999999999
2
Mean accuracy: 0.6699999999999999
3
Mean accuracy: 0.66
4
Mean accuracy: 0.72
5
Mean accuracy: 0.685
6
Mean accuracy: 0.6849999999999999
7
Mean accuracy: 0.6950000000000001
8
Mean accuracy: 0.635
9
Mean accuracy: 0.71
10
Mean accuracy: 0.68
11
Mean accuracy: 0.6799999999999999
12
Mean accuracy: 0.645
13
Mean accuracy: 0.705
14
Mean accuracy: 0.6799999999999999
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.6799999999999999
17
Mean accuracy: 0.71
18
Mean accuracy: 0.645
19
Mean accuracy: 0.705
20
Mean accuracy: 0.685
21
Mean accuracy: 0.6100000000000001
22
Mean accuracy: 0.65
23
Mean accuracy: 0.6700000000000002
24
Mean accuracy: 0.695
25
Mean accuracy: 0.655
26
Mean accuracy: 0.66
27
Mean accuracy: 0.6849999999999999
28
Mean accuracy: 0.65
29
Mean accuracy: 0.6849999999999999
30
Mean accuracy: 0.675
31
Mean accuracy: 0.7100000000000001
32
Mean accuracy: 0.635
33
Mean accuracy: 0.685
34
Mean accuracy: 0.665
35
Mean accuracy: 0.72
36
Mean accuracy: 0.6799999999999999
37
Mean accuracy: 0.69
38
Mean accuracy: 0.695
39
Mean accuracy: 0.6950000000000001
40
Mean accuracy: 0.6700000000000002
41
Mean accuracy: 0.6599999999999999
42
Mean accuracy: 0.705
43
Mean accuracy: 0.6850000000000002
44
Mean accuracy: 0.62
45
Mean accuracy: 0.655
46
Mean accuracy: 0.6950000000000001
47
Mean accuracy: 0.6650000000000001
48
Mean accuracy: 0.735
49
Mean accuracy: 0.635
50
Mean accuracy: 0.7250000000000001
51
Mean accuracy: 0.655
52
Mean accuracy: 0.6599999999999999
53
Mean accuracy: 0.64
54
Mean accuracy: 0.6599999999999999
55
Mean accuracy: 0.72
56
Mean accuracy: 0.6299999999999999
57
Mean accuracy: 0.6849999999999999
58
Mean accuracy: 0.6900000000000001
59
Mean accuracy: 0.7100000000000001
60
Mean accuracy: 0.64
61
Mean accuracy: 0.685
62
Mean accuracy: 0.6500000000000001
63
Mean accuracy: 0.63
64
Mean accuracy: 0.6549999999999999
65
Mean accuracy: 0.735
66
Mean accuracy: 0.7100000000000001
67
Mean accuracy: 0.72
68
Mean accuracy: 0.625
69
Mean accuracy: 0.71
70
Mean accuracy: 0.675
71
Mean accuracy: 0.655
72
Mean accuracy: 0.7
73
Mean accuracy: 0.6649999999999998
74
Mean accuracy: 0.705
75
Mean accuracy: 0.6900000000000001
76
Mean accuracy: 0.675
77
Mean accuracy: 0.6799999999999999
78
Mean accuracy: 0.69
79
Mean accuracy: 0.635
80
Mean accuracy: 0.67
81
Mean accuracy: 0.7
82
Mean accuracy: 0.685
83
Mean accuracy: 0.675
84
Mean accuracy: 0.6900000000000001
85
Mean accuracy: 0.635
86
Mean accuracy: 0.6900000000000001
87
Mean accuracy: 0.735
88
Mean accuracy: 0.6950000000000001
89
Mean accuracy: 0.645
90
Mean accuracy: 0.615
91
Mean accuracy: 0.6849999999999998
92
Mean accuracy: 0.6900000000000001
93
Mean accuracy: 0.65
94
Mean accuracy: 0.635
95
Mean accuracy: 0.745
96
Mean accuracy: 0.69
97
Mean accuracy: 0.6449999999999999
98
Mean accuracy: 0.615
99
Mean accuracy: 0.605
100
Mean accuracy: 0.6649999999999999

In [15]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Boruta50CpG_100RF.csv", index = False)

0.6745499999999999

## RanFor Top 50 NMI 100 times. Samples = 50

In [16]:
df = pd.read_csv('SymbDigi_NMI_Top50_Data.csv')
print(df.shape)
df.head(2)

(458, 52)

,PATNO,APPRDX,cg16702987,cg16916264,cg14547519,cg00508856,cg20230572,cg11169227,cg24402323,cg16448286,...,cg25361663,cg24323328,cg26022992,cg21899921,cg14547393,cg19056515,cg15469205,cg18813148,cg09826790,cg15942569
0,3001,1,0.691866,0.870274,0.900845,0.903805,0.687517,0.887289,0.060656,0.906014,...,0.911043,0.024051,0.061537,0.032846,0.141759,0.966428,0.865868,0.026800,0.869270,0.888852
1,3007,1,0.713975,0.927010,0.902779,0.908528,0.741894,0.894105,0.024917,0.890996,...,0.925910,0.025020,0.066522,0.046905,0.078780,0.976184,0.830760,0.020095,0.914964,0.884358

In [17]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16702987,cg16916264,cg14547519,cg00508856,cg20230572,cg11169227,cg24402323,cg16448286,cg06538998,...,cg25361663,cg24323328,cg26022992,cg21899921,cg14547393,cg19056515,cg15469205,cg18813148,cg09826790,cg15942569
0,1,0.691866,0.870274,0.900845,0.903805,0.687517,0.887289,0.060656,0.906014,0.013463,...,0.911043,0.024051,0.061537,0.032846,0.141759,0.966428,0.865868,0.026800,0.869270,0.888852
1,1,0.713975,0.927010,0.902779,0.908528,0.741894,0.894105,0.024917,0.890996,0.010118,...,0.925910,0.025020,0.066522,0.046905,0.078780,0.976184,0.830760,0.020095,0.914964,0.884358

In [18]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6850000000000002
2
Mean accuracy: 0.625
3
Mean accuracy: 0.675
4
Mean accuracy: 0.7000000000000001
5
Mean accuracy: 0.5700000000000001
6
Mean accuracy: 0.7150000000000001
7
Mean accuracy: 0.665
8
Mean accuracy: 0.685
9
Mean accuracy: 0.6799999999999999
10
Mean accuracy: 0.665
11
Mean accuracy: 0.6749999999999999
12
Mean accuracy: 0.67
13
Mean accuracy: 0.625
14
Mean accuracy: 0.7150000000000001
15
Mean accuracy: 0.6950000000000001
16
Mean accuracy: 0.705
17
Mean accuracy: 0.705
18
Mean accuracy: 0.6950000000000001
19
Mean accuracy: 0.76
20
Mean accuracy: 0.7
21
Mean accuracy: 0.645
22
Mean accuracy: 0.67
23
Mean accuracy: 0.6649999999999999
24
Mean accuracy: 0.69
25
Mean accuracy: 0.7
26
Mean accuracy: 0.685
27
Mean accuracy: 0.72
28
Mean accuracy: 0.6799999999999999
29
Mean accuracy: 0.685
30
Mean accuracy: 0.67
31
Mean accuracy: 0.725
32
Mean accuracy: 0.655
33
Mean accuracy: 0.69
34
Mean accuracy: 0.69
35
Mean accuracy: 0.6900000000000002
36
Mean accuracy: 0.6849999999999998
37
Mean accuracy: 0.67
38
Mean accuracy: 0.7
39
Mean accuracy: 0.725
40
Mean accuracy: 0.635
41
Mean accuracy: 0.63
42
Mean accuracy: 0.6649999999999999
43
Mean accuracy: 0.66
44
Mean accuracy: 0.71
45
Mean accuracy: 0.6249999999999999
46
Mean accuracy: 0.67
47
Mean accuracy: 0.76
48
Mean accuracy: 0.6450000000000001
49
Mean accuracy: 0.655
50
Mean accuracy: 0.6599999999999999
51
Mean accuracy: 0.7150000000000001
52
Mean accuracy: 0.685
53
Mean accuracy: 0.645
54
Mean accuracy: 0.635
55
Mean accuracy: 0.7
56
Mean accuracy: 0.63
57
Mean accuracy: 0.67
58
Mean accuracy: 0.705
59
Mean accuracy: 0.7300000000000001
60
Mean accuracy: 0.675
61
Mean accuracy: 0.6799999999999999
62
Mean accuracy: 0.645
63
Mean accuracy: 0.705
64
Mean accuracy: 0.69
65
Mean accuracy: 0.69
66
Mean accuracy: 0.6300000000000001
67
Mean accuracy: 0.6950000000000001
68
Mean accuracy: 0.6150000000000001
69
Mean accuracy: 0.67
70
Mean accuracy: 0.6
71
Mean accuracy: 0.685
72
Mean accuracy: 0.7049999999999998
73
Mean accuracy: 0.725
74
Mean accuracy: 0.655
75
Mean accuracy: 0.7
76
Mean accuracy: 0.7050000000000001
77
Mean accuracy: 0.595
78
Mean accuracy: 0.685
79
Mean accuracy: 0.7
80
Mean accuracy: 0.6900000000000001
81
Mean accuracy: 0.71
82
Mean accuracy: 0.67
83
Mean accuracy: 0.67
84
Mean accuracy: 0.5999999999999999
85
Mean accuracy: 0.655
86
Mean accuracy: 0.67
87
Mean accuracy: 0.715
88
Mean accuracy: 0.6900000000000001
89
Mean accuracy: 0.6399999999999999
90
Mean accuracy: 0.7
91
Mean accuracy: 0.6799999999999999
92
Mean accuracy: 0.66
93
Mean accuracy: 0.5900000000000001
94
Mean accuracy: 0.675
95
Mean accuracy: 0.7
96
Mean accuracy: 0.71
97
Mean accuracy: 0.67
98
Mean accuracy: 0.7100000000000001
99
Mean accuracy: 0.6649999999999999
100
Mean accuracy: 0.675

In [19]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_NMI50CpG_100RF.csv", index = False)

0.6767500000000003

## RanFor Top 50 Boruta + NMI 100 times. Samples = 99

In [20]:
df = pd.read_csv('SymbDigi_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(458, 101)

,PATNO,APPRDX,cg16702987,cg16916264,cg14547519,cg00508856,cg20230572,cg11169227,cg24402323,cg16448286,...,cg04061361,cg22534925,cg12179916,cg12044671,cg19555872,cg25273343,cg04286615,cg07931157,cg01120173,cg12600134
0,3001,1,0.691866,0.870274,0.900845,0.903805,0.687517,0.887289,0.060656,0.906014,...,0.568646,0.914514,0.638415,0.869433,0.879701,0.736708,0.034118,0.066176,0.10021,0.025254
1,3007,1,0.713975,0.927010,0.902779,0.908528,0.741894,0.894105,0.024917,0.890996,...,0.719066,0.930051,0.679014,0.755008,0.894245,0.876514,0.020293,0.069590,0.16000,0.017894

In [21]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg16702987,cg16916264,cg14547519,cg00508856,cg20230572,cg11169227,cg24402323,cg16448286,cg06538998,...,cg04061361,cg22534925,cg12179916,cg12044671,cg19555872,cg25273343,cg04286615,cg07931157,cg01120173,cg12600134
0,1,0.691866,0.870274,0.900845,0.903805,0.687517,0.887289,0.060656,0.906014,0.013463,...,0.568646,0.914514,0.638415,0.869433,0.879701,0.736708,0.034118,0.066176,0.10021,0.025254
1,1,0.713975,0.927010,0.902779,0.908528,0.741894,0.894105,0.024917,0.890996,0.010118,...,0.719066,0.930051,0.679014,0.755008,0.894245,0.876514,0.020293,0.069590,0.16000,0.017894

In [22]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(100))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6449999999999999
2
Mean accuracy: 0.67
3
Mean accuracy: 0.675
4
Mean accuracy: 0.645
5
Mean accuracy: 0.655
6
Mean accuracy: 0.75
7
Mean accuracy: 0.7100000000000001
8
Mean accuracy: 0.675
9
Mean accuracy: 0.7250000000000001
10
Mean accuracy: 0.69
11
Mean accuracy: 0.67
12
Mean accuracy: 0.675
13
Mean accuracy: 0.705
14
Mean accuracy: 0.695
15
Mean accuracy: 0.65
16
Mean accuracy: 0.665
17
Mean accuracy: 0.6799999999999999
18
Mean accuracy: 0.7
19
Mean accuracy: 0.72
20
Mean accuracy: 0.7050000000000001
21
Mean accuracy: 0.645
22
Mean accuracy: 0.7000000000000001
23
Mean accuracy: 0.6300000000000001
24
Mean accuracy: 0.665
25
Mean accuracy: 0.6399999999999999
26
Mean accuracy: 0.7
27
Mean accuracy: 0.74
28
Mean accuracy: 0.615
29
Mean accuracy: 0.6950000000000001
30
Mean accuracy: 0.6900000000000001
31
Mean accuracy: 0.745
32
Mean accuracy: 0.61
33
Mean accuracy: 0.6799999999999999
34
Mean accuracy: 0.665
35
Mean accuracy: 0.665
36
Mean accuracy: 0.745
37
Mean accuracy: 0.715
38
Mean accuracy: 0.6899999999999998
39
Mean accuracy: 0.7300000000000001
40
Mean accuracy: 0.7
41
Mean accuracy: 0.6799999999999999
42
Mean accuracy: 0.7
43
Mean accuracy: 0.6799999999999999
44
Mean accuracy: 0.6649999999999999
45
Mean accuracy: 0.6300000000000001
46
Mean accuracy: 0.675
47
Mean accuracy: 0.7350000000000001
48
Mean accuracy: 0.69
49
Mean accuracy: 0.625
50
Mean accuracy: 0.74
51
Mean accuracy: 0.685
52
Mean accuracy: 0.7050000000000001
53
Mean accuracy: 0.6799999999999999
54
Mean accuracy: 0.6799999999999999
55
Mean accuracy: 0.7150000000000001
56
Mean accuracy: 0.6449999999999999
57
Mean accuracy: 0.6900000000000001
58
Mean accuracy: 0.685
59
Mean accuracy: 0.6849999999999999
60
Mean accuracy: 0.6649999999999999
61
Mean accuracy: 0.6599999999999999
62
Mean accuracy: 0.6599999999999999
63
Mean accuracy: 0.7050000000000001
64
Mean accuracy: 0.6799999999999999
65
Mean accuracy: 0.68
66
Mean accuracy: 0.655
67
Mean accuracy: 0.715
68
Mean accuracy: 0.635
69
Mean accuracy: 0.745
70
Mean accuracy: 0.72
71
Mean accuracy: 0.665
72
Mean accuracy: 0.725
73
Mean accuracy: 0.6849999999999999
74
Mean accuracy: 0.7
75
Mean accuracy: 0.67
76
Mean accuracy: 0.675
77
Mean accuracy: 0.66
78
Mean accuracy: 0.6799999999999999
79
Mean accuracy: 0.67
80
Mean accuracy: 0.71
81
Mean accuracy: 0.655
82
Mean accuracy: 0.705
83
Mean accuracy: 0.685
84
Mean accuracy: 0.705
85
Mean accuracy: 0.665
86
Mean accuracy: 0.7000000000000001
87
Mean accuracy: 0.75
88
Mean accuracy: 0.6950000000000001
89
Mean accuracy: 0.635
90
Mean accuracy: 0.705
91
Mean accuracy: 0.705
92
Mean accuracy: 0.6950000000000001
93
Mean accuracy: 0.6000000000000001
94
Mean accuracy: 0.6900000000000001
95
Mean accuracy: 0.75
96
Mean accuracy: 0.7249999999999999
97
Mean accuracy: 0.68
98
Mean accuracy: 0.705
99
Mean accuracy: 0.6799999999999999
100
Mean accuracy: 0.6300000000000001

In [23]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("SymbDigi_Top50sCpG99_100RF.csv", index = False)

0.6848000000000001