# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB
df = pd.read_csv('TrailMakingBCateg_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\TrailMakingB
(149, 61926)

,Sentrix,PATNO,Gender,APPRDX,HYS,Age,AgeCate,Trail_Making_B_Category,cg02315971,cg24133836,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,200991620021_R01C01,3001,1,1,2,65.1,4,0,0.028697,0.017000,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,200973410167_R05C01,3010,1,1,2,47.0,2,0,0.032514,0.024376,...,0.135166,0.040369,0.040454,0.054845,0.029884,0.033953,0.035941,0.869649,0.022581,0.837364
2,200989060140_R08C01,3071,1,2,0,71.5,4,0,0.029306,0.016859,...,0.210696,0.034217,0.057532,0.050986,0.061246,0.069935,0.056667,0.864325,0.032721,0.866873

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Trail_Making_B_Category','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg02315971,cg24133836,cg03286969,cg11738782,cg25741731,cg24629744,cg23836745,cg11685489,cg06081147,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,1,0.028697,0.017000,0.018631,0.871526,0.026148,0.866396,0.922285,0.881489,0.647436,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,1,0.032514,0.024376,0.014555,0.830575,0.038973,0.840974,0.843498,0.843964,0.580843,...,0.135166,0.040369,0.040454,0.054845,0.029884,0.033953,0.035941,0.869649,0.022581,0.837364

In [5]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4833333333333333
2
Mean accuracy: 0.55
3
Mean accuracy: 0.5666666666666668
4
Mean accuracy: 0.4833333333333333
5
Mean accuracy: 0.4333333333333334
6
Mean accuracy: 0.45
7
Mean accuracy: 0.5333333333333333
8
Mean accuracy: 0.6333333333333333
9
Mean accuracy: 0.5333333333333334
10
Mean accuracy: 0.4333333333333333
11
Mean accuracy: 0.3333333333333333
12
Mean accuracy: 0.5166666666666667
13
Mean accuracy: 0.5666666666666667
14
Mean accuracy: 0.5166666666666667
15
Mean accuracy: 0.5333333333333334
16
Mean accuracy: 0.6166666666666667
17
Mean accuracy: 0.4666666666666666
18
Mean accuracy: 0.6
19
Mean accuracy: 0.5333333333333333
20
Mean accuracy: 0.45
21
Mean accuracy: 0.5
22
Mean accuracy: 0.4333333333333333
23
Mean accuracy: 0.3833333333333333
24
Mean accuracy: 0.4833333333333333
25
Mean accuracy: 0.4666666666666667
26
Mean accuracy: 0.5
27
Mean accuracy: 0.4833333333333333
28
Mean accuracy: 0.45
29
Mean accuracy: 0.4
30
Mean accuracy: 0.5499999999999999
31
Mean accuracy: 0.4166666666666667
32
Mean accuracy: 0.4499999999999999
33
Mean accuracy: 0.4166666666666667
34
Mean accuracy: 0.36666666666666664
35
Mean accuracy: 0.4999999999999999
36
Mean accuracy: 0.5166666666666667
37
Mean accuracy: 0.5
38
Mean accuracy: 0.5
39
Mean accuracy: 0.29999999999999993
40
Mean accuracy: 0.5
41
Mean accuracy: 0.5833333333333334
42
Mean accuracy: 0.5166666666666666
43
Mean accuracy: 0.5666666666666667
44
Mean accuracy: 0.5166666666666667
45
Mean accuracy: 0.4333333333333333
46
Mean accuracy: 0.38333333333333336
47
Mean accuracy: 0.5999999999999999
48
Mean accuracy: 0.4833333333333333
49
Mean accuracy: 0.4
50
Mean accuracy: 0.5666666666666667
51
Mean accuracy: 0.4666666666666667
52
Mean accuracy: 0.39999999999999997
53
Mean accuracy: 0.55
54
Mean accuracy: 0.5166666666666666
55
Mean accuracy: 0.4499999999999999
56
Mean accuracy: 0.5166666666666667
57
Mean accuracy: 0.5333333333333333
58
Mean accuracy: 0.5
59
Mean accuracy: 0.4666666666666666
60
Mean accuracy: 0.5833333333333334
61
Mean accuracy: 0.4666666666666666
62
Mean accuracy: 0.5833333333333334
63
Mean accuracy: 0.4333333333333333
64
Mean accuracy: 0.4999999999999999
65
Mean accuracy: 0.5666666666666667
66
Mean accuracy: 0.5666666666666667
67
Mean accuracy: 0.55
68
Mean accuracy: 0.5166666666666666
69
Mean accuracy: 0.5666666666666667
70
Mean accuracy: 0.4833333333333333
71
Mean accuracy: 0.55
72
Mean accuracy: 0.4833333333333332
73
Mean accuracy: 0.5
74
Mean accuracy: 0.4666666666666667
75
Mean accuracy: 0.4999999999999999
76
Mean accuracy: 0.6
77
Mean accuracy: 0.4666666666666667
78
Mean accuracy: 0.5
79
Mean accuracy: 0.5666666666666667
80
Mean accuracy: 0.6333333333333333
81
Mean accuracy: 0.5166666666666666
82
Mean accuracy: 0.5333333333333333
83
Mean accuracy: 0.2833333333333333
84
Mean accuracy: 0.4
85
Mean accuracy: 0.4999999999999999
86
Mean accuracy: 0.4
87
Mean accuracy: 0.4333333333333333
88
Mean accuracy: 0.55
89
Mean accuracy: 0.6166666666666666
90
Mean accuracy: 0.4
91
Mean accuracy: 0.4833333333333333
92
Mean accuracy: 0.5166666666666667
93
Mean accuracy: 0.6833333333333333
94
Mean accuracy: 0.4999999999999999
95
Mean accuracy: 0.5166666666666666
96
Mean accuracy: 0.4333333333333333
97
Mean accuracy: 0.41666666666666663
98
Mean accuracy: 0.5333333333333334
99
Mean accuracy: 0.45
100
Mean accuracy: 0.55

In [6]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_AllCpG_Male_100RF.csv", index = False)

0.49599999999999966

## RanFor 1000 times. Samples = 50

In [7]:
df2 = df1.drop (['APPRDX'], axis=1)

In [8]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.55
2
Mean accuracy: 0.3833333333333333
3
Mean accuracy: 0.4833333333333333
4
Mean accuracy: 0.4
5
Mean accuracy: 0.35
6
Mean accuracy: 0.4833333333333333
7
Mean accuracy: 0.5166666666666667
8
Mean accuracy: 0.5166666666666666
9
Mean accuracy: 0.5
10
Mean accuracy: 0.45
11
Mean accuracy: 0.45
12
Mean accuracy: 0.4166666666666667
13
Mean accuracy: 0.45
14
Mean accuracy: 0.31666666666666665
15
Mean accuracy: 0.4166666666666667
16
Mean accuracy: 0.55
17
Mean accuracy: 0.33333333333333326
18
Mean accuracy: 0.6333333333333334
19
Mean accuracy: 0.6666666666666667
20
Mean accuracy: 0.4833333333333333
21
Mean accuracy: 0.35
22
Mean accuracy: 0.5166666666666666
23
Mean accuracy: 0.4333333333333333
24
Mean accuracy: 0.55
25
Mean accuracy: 0.4166666666666667
26
Mean accuracy: 0.3333333333333333
27
Mean accuracy: 0.4833333333333333
28
Mean accuracy: 0.5000000000000001
29
Mean accuracy: 0.5166666666666667
30
Mean accuracy: 0.5
31
Mean accuracy: 0.4833333333333333
32
Mean accuracy: 0.4333333333333333
33
Mean accuracy: 0.4333333333333333
34
Mean accuracy: 0.3833333333333333
35
Mean accuracy: 0.6166666666666667
36
Mean accuracy: 0.4833333333333333
37
Mean accuracy: 0.4666666666666666
38
Mean accuracy: 0.4166666666666667
39
Mean accuracy: 0.5333333333333333
40
Mean accuracy: 0.45
41
Mean accuracy: 0.5666666666666667
42
Mean accuracy: 0.5833333333333333
43
Mean accuracy: 0.55
44
Mean accuracy: 0.6833333333333333
45
Mean accuracy: 0.45
46
Mean accuracy: 0.45
47
Mean accuracy: 0.3666666666666666
48
Mean accuracy: 0.4999999999999999
49
Mean accuracy: 0.5333333333333334
50
Mean accuracy: 0.5333333333333332
51
Mean accuracy: 0.39999999999999997
52
Mean accuracy: 0.4833333333333333
53
Mean accuracy: 0.35
54
Mean accuracy: 0.55
55
Mean accuracy: 0.4333333333333334
56
Mean accuracy: 0.41666666666666663
57
Mean accuracy: 0.5999999999999999
58
Mean accuracy: 0.5333333333333333
59
Mean accuracy: 0.4666666666666666
60
Mean accuracy: 0.4999999999999999
61
Mean accuracy: 0.5166666666666667
62
Mean accuracy: 0.55
63
Mean accuracy: 0.45
64
Mean accuracy: 0.41666666666666663
65
Mean accuracy: 0.4
66
Mean accuracy: 0.3999999999999999
67
Mean accuracy: 0.4833333333333334
68
Mean accuracy: 0.5333333333333334
69
Mean accuracy: 0.31666666666666665
70
Mean accuracy: 0.45
71
Mean accuracy: 0.5666666666666667
72
Mean accuracy: 0.45
73
Mean accuracy: 0.4333333333333333
74
Mean accuracy: 0.6
75
Mean accuracy: 0.55
76
Mean accuracy: 0.5499999999999999
77
Mean accuracy: 0.55
78
Mean accuracy: 0.6
79
Mean accuracy: 0.39999999999999997
80
Mean accuracy: 0.4833333333333334
81
Mean accuracy: 0.45
82
Mean accuracy: 0.5
83
Mean accuracy: 0.5
84
Mean accuracy: 0.45
85
Mean accuracy: 0.4333333333333333
86
Mean accuracy: 0.41666666666666663
87
Mean accuracy: 0.5666666666666667
88
Mean accuracy: 0.6
89
Mean accuracy: 0.45
90
Mean accuracy: 0.4333333333333333
91
Mean accuracy: 0.45
92
Mean accuracy: 0.45
93
Mean accuracy: 0.38333333333333336
94
Mean accuracy: 0.5333333333333333
95
Mean accuracy: 0.5333333333333334
96
Mean accuracy: 0.5
97
Mean accuracy: 0.38333333333333336
98
Mean accuracy: 0.5333333333333333
99
Mean accuracy: 0.5666666666666667
100
Mean accuracy: 0.5

In [9]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_Rand50CpG_Male_100RF.csv", index = False)

0.47933333333333344

## RanFor 100 times. Samples = 97

In [10]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(97, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4
2
Mean accuracy: 0.45
3
Mean accuracy: 0.45
4
Mean accuracy: 0.4833333333333333
5
Mean accuracy: 0.4999999999999999
6
Mean accuracy: 0.4499999999999999
7
Mean accuracy: 0.5833333333333333
8
Mean accuracy: 0.5833333333333333
9
Mean accuracy: 0.41666666666666663
10
Mean accuracy: 0.26666666666666666
11
Mean accuracy: 0.4333333333333333
12
Mean accuracy: 0.38333333333333336
13
Mean accuracy: 0.5166666666666666
14
Mean accuracy: 0.45
15
Mean accuracy: 0.5
16
Mean accuracy: 0.6
17
Mean accuracy: 0.3
18
Mean accuracy: 0.5666666666666667
19
Mean accuracy: 0.5000000000000001
20
Mean accuracy: 0.41666666666666663
21
Mean accuracy: 0.3333333333333333
22
Mean accuracy: 0.5
23
Mean accuracy: 0.36666666666666664
24
Mean accuracy: 0.5333333333333333
25
Mean accuracy: 0.41666666666666663
26
Mean accuracy: 0.4333333333333333
27
Mean accuracy: 0.5166666666666666
28
Mean accuracy: 0.5666666666666667
29
Mean accuracy: 0.6333333333333333
30
Mean accuracy: 0.4666666666666667
31
Mean accuracy: 0.6166666666666666
32
Mean accuracy: 0.38333333333333336
33
Mean accuracy: 0.4666666666666666
34
Mean accuracy: 0.41666666666666663
35
Mean accuracy: 0.65
36
Mean accuracy: 0.5166666666666666
37
Mean accuracy: 0.4666666666666667
38
Mean accuracy: 0.38333333333333336
39
Mean accuracy: 0.4833333333333334
40
Mean accuracy: 0.55
41
Mean accuracy: 0.55
42
Mean accuracy: 0.55
43
Mean accuracy: 0.6166666666666667
44
Mean accuracy: 0.6833333333333333
45
Mean accuracy: 0.4166666666666667
46
Mean accuracy: 0.45
47
Mean accuracy: 0.3
48
Mean accuracy: 0.4666666666666666
49
Mean accuracy: 0.5833333333333333
50
Mean accuracy: 0.5333333333333333
51
Mean accuracy: 0.4666666666666666
52
Mean accuracy: 0.4833333333333333
53
Mean accuracy: 0.4333333333333333
54
Mean accuracy: 0.6166666666666666
55
Mean accuracy: 0.39999999999999997
56
Mean accuracy: 0.3333333333333333
57
Mean accuracy: 0.6
58
Mean accuracy: 0.4666666666666666
59
Mean accuracy: 0.4333333333333333
60
Mean accuracy: 0.36666666666666664
61
Mean accuracy: 0.4666666666666666
62
Mean accuracy: 0.4333333333333334
63
Mean accuracy: 0.5833333333333333
64
Mean accuracy: 0.45
65
Mean accuracy: 0.4
66
Mean accuracy: 0.5166666666666666
67
Mean accuracy: 0.5
68
Mean accuracy: 0.4833333333333333
69
Mean accuracy: 0.38333333333333325
70
Mean accuracy: 0.35
71
Mean accuracy: 0.5166666666666666
72
Mean accuracy: 0.4666666666666666
73
Mean accuracy: 0.41666666666666663
74
Mean accuracy: 0.5166666666666666
75
Mean accuracy: 0.55
76
Mean accuracy: 0.4499999999999999
77
Mean accuracy: 0.6
78
Mean accuracy: 0.4999999999999999
79
Mean accuracy: 0.4666666666666666
80
Mean accuracy: 0.4666666666666666
81
Mean accuracy: 0.55
82
Mean accuracy: 0.5666666666666667
83
Mean accuracy: 0.45
84
Mean accuracy: 0.45
85
Mean accuracy: 0.4833333333333333
86
Mean accuracy: 0.35
87
Mean accuracy: 0.4999999999999999
88
Mean accuracy: 0.5833333333333334
89
Mean accuracy: 0.3166666666666666
90
Mean accuracy: 0.3833333333333333
91
Mean accuracy: 0.5333333333333333
92
Mean accuracy: 0.36666666666666664
93
Mean accuracy: 0.2833333333333333
94
Mean accuracy: 0.5
95
Mean accuracy: 0.4999999999999999
96
Mean accuracy: 0.45
97
Mean accuracy: 0.5166666666666666
98
Mean accuracy: 0.5666666666666667
99
Mean accuracy: 0.5333333333333332
100
Mean accuracy: 0.4833333333333333

In [11]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_Rand97CpG_Male_100RF.csv", index = False)

0.4758333333333335

## RanFor Top 50 Boruta 100 times. Samples = 50

In [12]:
df = pd.read_csv('TrlMakB_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(149, 52)

,PATNO,APPRDX,cg17456612,cg14123992,cg22906524,cg22184944,cg14999396,cg16766139,cg02109003,cg24257038,...,cg27369431,cg26248075,cg05124260,cg26939721,cg08560373,cg11519672,cg25591106,cg16101065,cg16933706,cg14494661
0,3001,1,0.129620,0.706168,0.569369,0.783626,0.901298,0.182831,0.639496,0.016959,...,0.569847,0.209960,0.533905,0.475531,0.406922,0.051778,0.886256,0.086928,0.077437,0.905255
1,3010,1,0.192883,0.814368,0.553591,0.801868,0.892316,0.112209,0.565529,0.015629,...,0.633681,0.160829,0.729819,0.441219,0.167838,0.027234,0.834180,0.075011,0.044632,0.870986

In [13]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg17456612,cg14123992,cg22906524,cg22184944,cg14999396,cg16766139,cg02109003,cg24257038,cg11492856,...,cg27369431,cg26248075,cg05124260,cg26939721,cg08560373,cg11519672,cg25591106,cg16101065,cg16933706,cg14494661
0,1,0.129620,0.706168,0.569369,0.783626,0.901298,0.182831,0.639496,0.016959,0.911869,...,0.569847,0.209960,0.533905,0.475531,0.406922,0.051778,0.886256,0.086928,0.077437,0.905255
1,1,0.192883,0.814368,0.553591,0.801868,0.892316,0.112209,0.565529,0.015629,0.897121,...,0.633681,0.160829,0.729819,0.441219,0.167838,0.027234,0.834180,0.075011,0.044632,0.870986

In [14]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7833333333333334
2
Mean accuracy: 0.7833333333333334
3
Mean accuracy: 0.7333333333333333
4
Mean accuracy: 0.7166666666666667
5
Mean accuracy: 0.7333333333333334
6
Mean accuracy: 0.7
7
Mean accuracy: 0.7666666666666666
8
Mean accuracy: 0.7833333333333333
9
Mean accuracy: 0.8
10
Mean accuracy: 0.6500000000000001
11
Mean accuracy: 0.7333333333333333
12
Mean accuracy: 0.7
13
Mean accuracy: 0.8833333333333334
14
Mean accuracy: 0.6666666666666667
15
Mean accuracy: 0.7666666666666667
16
Mean accuracy: 0.8166666666666667
17
Mean accuracy: 0.7833333333333333
18
Mean accuracy: 0.7833333333333333
19
Mean accuracy: 0.7666666666666666
20
Mean accuracy: 0.7666666666666667
21
Mean accuracy: 0.6833333333333332
22
Mean accuracy: 0.7
23
Mean accuracy: 0.7666666666666666
24
Mean accuracy: 0.7333333333333333
25
Mean accuracy: 0.8166666666666667
26
Mean accuracy: 0.7833333333333333
27
Mean accuracy: 0.75
28
Mean accuracy: 0.7166666666666668
29
Mean accuracy: 0.7333333333333334
30
Mean accuracy: 0.7500000000000001
31
Mean accuracy: 0.75
32
Mean accuracy: 0.75
33
Mean accuracy: 0.7500000000000001
34
Mean accuracy: 0.7666666666666667
35
Mean accuracy: 0.6833333333333333
36
Mean accuracy: 0.7333333333333334
37
Mean accuracy: 0.7499999999999999
38
Mean accuracy: 0.7500000000000001
39
Mean accuracy: 0.5833333333333333
40
Mean accuracy: 0.7666666666666666
41
Mean accuracy: 0.7833333333333334
42
Mean accuracy: 0.7
43
Mean accuracy: 0.7666666666666667
44
Mean accuracy: 0.7833333333333333
45
Mean accuracy: 0.7499999999999999
46
Mean accuracy: 0.8
47
Mean accuracy: 0.8
48
Mean accuracy: 0.7166666666666667
49
Mean accuracy: 0.75
50
Mean accuracy: 0.7
51
Mean accuracy: 0.7
52
Mean accuracy: 0.7666666666666666
53
Mean accuracy: 0.8166666666666668
54
Mean accuracy: 0.75
55
Mean accuracy: 0.75
56
Mean accuracy: 0.75
57
Mean accuracy: 0.7666666666666667
58
Mean accuracy: 0.7166666666666666
59
Mean accuracy: 0.7166666666666667
60
Mean accuracy: 0.75
61
Mean accuracy: 0.7333333333333332
62
Mean accuracy: 0.85
63
Mean accuracy: 0.8666666666666668
64
Mean accuracy: 0.8333333333333334
65
Mean accuracy: 0.8
66
Mean accuracy: 0.8333333333333334
67
Mean accuracy: 0.7499999999999999
68
Mean accuracy: 0.7166666666666666
69
Mean accuracy: 0.75
70
Mean accuracy: 0.7999999999999999
71
Mean accuracy: 0.7166666666666666
72
Mean accuracy: 0.7666666666666666
73
Mean accuracy: 0.7833333333333333
74
Mean accuracy: 0.8
75
Mean accuracy: 0.7500000000000001
76
Mean accuracy: 0.8
77
Mean accuracy: 0.7333333333333334
78
Mean accuracy: 0.8166666666666668
79
Mean accuracy: 0.8166666666666667
80
Mean accuracy: 0.7666666666666667
81
Mean accuracy: 0.75
82
Mean accuracy: 0.7666666666666666
83
Mean accuracy: 0.8
84
Mean accuracy: 0.7999999999999999
85
Mean accuracy: 0.85
86
Mean accuracy: 0.7333333333333333
87
Mean accuracy: 0.7666666666666666
88
Mean accuracy: 0.8166666666666667
89
Mean accuracy: 0.75
90
Mean accuracy: 0.7
91
Mean accuracy: 0.7666666666666667
92
Mean accuracy: 0.7499999999999999
93
Mean accuracy: 0.7833333333333334
94
Mean accuracy: 0.8
95
Mean accuracy: 0.7333333333333333
96
Mean accuracy: 0.7333333333333333
97
Mean accuracy: 0.7333333333333333
98
Mean accuracy: 0.75
99
Mean accuracy: 0.6833333333333333
100
Mean accuracy: 0.8166666666666668

In [15]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_Boruta50CpG_Male_100RF.csv", index = False)

0.7583333333333333

## RanFor Top 50 NMI 100 times. Samples = 50

In [16]:
df = pd.read_csv('TrlMakB_NMI_Top50_Male_Data.csv')
print(df.shape)
df.head(2)

(149, 51)

,APPRDX,cg26358225,cg21125969,cg21365903,cg09292077,cg02062003,cg00156001,cg12308865,cg22193013,cg15972191,...,cg16518986,cg21217911,cg04398603,cg01819787,cg23983141,cg10744426,cg15598946,cg20547759,cg12510530,cg12876349
0,1,0.151532,0.800085,0.039909,0.903905,0.022970,0.883715,0.042668,0.816653,0.793503,...,0.743797,0.888126,0.018454,0.596337,0.863465,0.798091,0.867094,0.662837,0.459716,0.026228
1,1,0.133372,0.853735,0.029918,0.908555,0.035312,0.880948,0.120141,0.900043,0.576380,...,0.839926,0.878809,0.027430,0.555448,0.865416,0.888148,0.883124,0.705238,0.331128,0.091576

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7666666666666667
2
Mean accuracy: 0.8833333333333334
3
Mean accuracy: 0.9166666666666667
4
Mean accuracy: 0.7833333333333333
5
Mean accuracy: 0.9166666666666666
6
Mean accuracy: 0.7666666666666667
7
Mean accuracy: 0.8666666666666666
8
Mean accuracy: 0.85
9
Mean accuracy: 0.8333333333333334
10
Mean accuracy: 0.7666666666666666
11
Mean accuracy: 0.8
12
Mean accuracy: 0.7666666666666666
13
Mean accuracy: 0.85
14
Mean accuracy: 0.8666666666666668
15
Mean accuracy: 0.8333333333333334
16
Mean accuracy: 0.8666666666666668
17
Mean accuracy: 0.8333333333333334
18
Mean accuracy: 0.8333333333333334
19
Mean accuracy: 0.7333333333333333
20
Mean accuracy: 0.8
21
Mean accuracy: 0.7666666666666667
22
Mean accuracy: 0.7166666666666667
23
Mean accuracy: 0.8
24
Mean accuracy: 0.8166666666666667
25
Mean accuracy: 0.85
26
Mean accuracy: 0.8333333333333334
27
Mean accuracy: 0.8666666666666668
28
Mean accuracy: 0.8333333333333333
29
Mean accuracy: 0.7999999999999999
30
Mean accuracy: 0.7666666666666667
31
Mean accuracy: 0.8333333333333334
32
Mean accuracy: 0.8333333333333333
33
Mean accuracy: 0.8166666666666667
34
Mean accuracy: 0.8333333333333333
35
Mean accuracy: 0.7666666666666667
36
Mean accuracy: 0.8166666666666667
37
Mean accuracy: 0.9
38
Mean accuracy: 0.9000000000000001
39
Mean accuracy: 0.7666666666666666
40
Mean accuracy: 0.8666666666666668
41
Mean accuracy: 0.7666666666666667
42
Mean accuracy: 0.7833333333333333
43
Mean accuracy: 0.8333333333333334
44
Mean accuracy: 0.7833333333333333
45
Mean accuracy: 0.85
46
Mean accuracy: 0.8333333333333334
47
Mean accuracy: 0.7666666666666666
48
Mean accuracy: 0.85
49
Mean accuracy: 0.7666666666666666
50
Mean accuracy: 0.85
51
Mean accuracy: 0.7499999999999999
52
Mean accuracy: 0.8333333333333334
53
Mean accuracy: 0.8333333333333333
54
Mean accuracy: 0.75
55
Mean accuracy: 0.7833333333333333
56
Mean accuracy: 0.75
57
Mean accuracy: 0.85
58
Mean accuracy: 0.7833333333333334
59
Mean accuracy: 0.85
60
Mean accuracy: 0.8166666666666667
61
Mean accuracy: 0.75
62
Mean accuracy: 0.85
63
Mean accuracy: 0.85
64
Mean accuracy: 0.85
65
Mean accuracy: 0.7333333333333334
66
Mean accuracy: 0.8
67
Mean accuracy: 0.8
68
Mean accuracy: 0.8333333333333333
69
Mean accuracy: 0.8166666666666668
70
Mean accuracy: 0.85
71
Mean accuracy: 0.7833333333333333
72
Mean accuracy: 0.9
73
Mean accuracy: 0.8
74
Mean accuracy: 0.7833333333333333
75
Mean accuracy: 0.8666666666666666
76
Mean accuracy: 0.7666666666666666
77
Mean accuracy: 0.75
78
Mean accuracy: 0.7999999999999999
79
Mean accuracy: 0.8333333333333334
80
Mean accuracy: 0.8
81
Mean accuracy: 0.7833333333333334
82
Mean accuracy: 0.8666666666666666
83
Mean accuracy: 0.8333333333333334
84
Mean accuracy: 0.85
85
Mean accuracy: 0.8166666666666668
86
Mean accuracy: 0.8166666666666667
87
Mean accuracy: 0.8
88
Mean accuracy: 0.85
89
Mean accuracy: 0.9
90
Mean accuracy: 0.7999999999999999
91
Mean accuracy: 0.7666666666666666
92
Mean accuracy: 0.7833333333333334
93
Mean accuracy: 0.8
94
Mean accuracy: 0.7666666666666667
95
Mean accuracy: 0.8
96
Mean accuracy: 0.8666666666666666
97
Mean accuracy: 0.8833333333333332
98
Mean accuracy: 0.7333333333333334
99
Mean accuracy: 0.8
100
Mean accuracy: 0.7833333333333334

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_NMI50CpG_Male_100RF.csv", index = False)

0.815166666666666

## RanFor Top 50 Boruta + NMI 100 times. Samples = 97

In [19]:
df = pd.read_csv('TrlMakB_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(149, 99)

,PATNO,APPRDX,cg17456612,cg14123992,cg22906524,cg22184944,cg14999396,cg16766139,cg02109003,cg24257038,...,cg16518986,cg21217911,cg04398603,cg01819787,cg23983141,cg10744426,cg15598946,cg20547759,cg12510530,cg12876349
0,3001,1,0.129620,0.706168,0.569369,0.783626,0.901298,0.182831,0.639496,0.016959,...,0.743797,0.888126,0.018454,0.596337,0.863465,0.798091,0.867094,0.662837,0.459716,0.026228
1,3010,1,0.192883,0.814368,0.553591,0.801868,0.892316,0.112209,0.565529,0.015629,...,0.839926,0.878809,0.027430,0.555448,0.865416,0.888148,0.883124,0.705238,0.331128,0.091576

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg17456612,cg14123992,cg22906524,cg22184944,cg14999396,cg16766139,cg02109003,cg24257038,cg11492856,...,cg16518986,cg21217911,cg04398603,cg01819787,cg23983141,cg10744426,cg15598946,cg20547759,cg12510530,cg12876349
0,1,0.129620,0.706168,0.569369,0.783626,0.901298,0.182831,0.639496,0.016959,0.911869,...,0.743797,0.888126,0.018454,0.596337,0.863465,0.798091,0.867094,0.662837,0.459716,0.026228
1,1,0.192883,0.814368,0.553591,0.801868,0.892316,0.112209,0.565529,0.015629,0.897121,...,0.839926,0.878809,0.027430,0.555448,0.865416,0.888148,0.883124,0.705238,0.331128,0.091576

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7666666666666667
2
Mean accuracy: 0.8333333333333333
3
Mean accuracy: 0.8666666666666666
4
Mean accuracy: 0.8166666666666668
5
Mean accuracy: 0.9333333333333333
6
Mean accuracy: 0.7833333333333333
7
Mean accuracy: 0.8
8
Mean accuracy: 0.8666666666666668
9
Mean accuracy: 0.8666666666666668
10
Mean accuracy: 0.6833333333333333
11
Mean accuracy: 0.75
12
Mean accuracy: 0.8166666666666667
13
Mean accuracy: 0.9166666666666667
14
Mean accuracy: 0.7999999999999999
15
Mean accuracy: 0.8
16
Mean accuracy: 0.8833333333333334
17
Mean accuracy: 0.7833333333333333
18
Mean accuracy: 0.9166666666666667
19
Mean accuracy: 0.7666666666666667
20
Mean accuracy: 0.8
21
Mean accuracy: 0.8166666666666667
22
Mean accuracy: 0.7833333333333332
23
Mean accuracy: 0.8333333333333333
24
Mean accuracy: 0.7499999999999999
25
Mean accuracy: 0.8833333333333334
26
Mean accuracy: 0.8166666666666667
27
Mean accuracy: 0.7833333333333334
28
Mean accuracy: 0.7833333333333334
29
Mean accuracy: 0.8166666666666667
30
Mean accuracy: 0.7833333333333334
31
Mean accuracy: 0.8333333333333334
32
Mean accuracy: 0.7833333333333333
33
Mean accuracy: 0.8
34
Mean accuracy: 0.7999999999999999
35
Mean accuracy: 0.7333333333333334
36
Mean accuracy: 0.7999999999999999
37
Mean accuracy: 0.9166666666666667
38
Mean accuracy: 0.8666666666666668
39
Mean accuracy: 0.7500000000000001
40
Mean accuracy: 0.8
41
Mean accuracy: 0.7333333333333334
42
Mean accuracy: 0.7166666666666666
43
Mean accuracy: 0.7666666666666666
44
Mean accuracy: 0.75
45
Mean accuracy: 0.8
46
Mean accuracy: 0.7666666666666667
47
Mean accuracy: 0.8
48
Mean accuracy: 0.85
49
Mean accuracy: 0.75
50
Mean accuracy: 0.8333333333333334
51
Mean accuracy: 0.7833333333333334
52
Mean accuracy: 0.8166666666666668
53
Mean accuracy: 0.7833333333333333
54
Mean accuracy: 0.8
55
Mean accuracy: 0.8
56
Mean accuracy: 0.8333333333333334
57
Mean accuracy: 0.8333333333333334
58
Mean accuracy: 0.8
59
Mean accuracy: 0.8
60
Mean accuracy: 0.85
61
Mean accuracy: 0.8333333333333334
62
Mean accuracy: 0.8833333333333332
63
Mean accuracy: 0.8666666666666668
64
Mean accuracy: 0.75
65
Mean accuracy: 0.8333333333333334
66
Mean accuracy: 0.85
67
Mean accuracy: 0.75
68
Mean accuracy: 0.8333333333333334
69
Mean accuracy: 0.8333333333333334
70
Mean accuracy: 0.9
71
Mean accuracy: 0.75
72
Mean accuracy: 0.8833333333333334
73
Mean accuracy: 0.7833333333333334
74
Mean accuracy: 0.9
75
Mean accuracy: 0.85
76
Mean accuracy: 0.7833333333333333
77
Mean accuracy: 0.85
78
Mean accuracy: 0.85
79
Mean accuracy: 0.85
80
Mean accuracy: 0.7833333333333334
81
Mean accuracy: 0.7666666666666666
82
Mean accuracy: 0.7999999999999999
83
Mean accuracy: 0.8
84
Mean accuracy: 0.8666666666666668
85
Mean accuracy: 0.8
86
Mean accuracy: 0.8166666666666667
87
Mean accuracy: 0.7833333333333333
88
Mean accuracy: 0.8166666666666667
89
Mean accuracy: 0.8666666666666666
90
Mean accuracy: 0.7833333333333333
91
Mean accuracy: 0.8166666666666668
92
Mean accuracy: 0.8166666666666668
93
Mean accuracy: 0.85
94
Mean accuracy: 0.8166666666666668
95
Mean accuracy: 0.85
96
Mean accuracy: 0.8166666666666668
97
Mean accuracy: 0.8166666666666667
98
Mean accuracy: 0.7166666666666666
99
Mean accuracy: 0.8
100
Mean accuracy: 0.8333333333333333

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakingB_Top50sCpG97_Male_100RF.csv", index = False)

0.8129999999999993