# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\TrailMakeA
df = pd.read_csv('TrailMakeA_with_MethylomeDetails_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\Male\GeneCpG\TrailMakeA
(158, 87727)

,Unnamed: 0,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,Trail_Making_A,cg08012045,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,1,200991620021_R01C01,3001,1,65.1,4,2,1,1.0,0.962437,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,4,200989060135_R07C01,3004,1,59.4,3,0,2,1.0,0.938567,...,0.136500,0.038891,0.039595,0.026053,0.051206,0.029660,0.027424,0.868682,0.020491,0.888800
2,7,200973410167_R05C01,3010,1,47.0,2,2,1,0.0,0.958309,...,0.135166,0.040369,0.040454,0.054845,0.029884,0.033953,0.035941,0.869649,0.022581,0.837364

In [3]:
df1 = df.drop(['Unnamed: 0','Sentrix','PATNO','HYS','Gender','Trail_Making_A','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg08012045,cg08300930,cg00134295,cg10537824,cg04990650,cg03379001,cg02215627,cg06699201,cg18100935,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,1,0.962437,0.964442,0.243530,0.826172,0.845330,0.852316,0.871498,0.653140,0.891670,...,0.10987,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
1,2,0.938567,0.960982,0.207738,0.792745,0.796766,0.838331,0.857896,0.816283,0.897772,...,0.13650,0.038891,0.039595,0.026053,0.051206,0.029660,0.027424,0.868682,0.020491,0.888800

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.575
2
Mean accuracy: 0.55
3
Mean accuracy: 0.3875
4
Mean accuracy: 0.525
5
Mean accuracy: 0.5875
6
Mean accuracy: 0.5
7
Mean accuracy: 0.475
8
Mean accuracy: 0.5625
9
Mean accuracy: 0.4625
10
Mean accuracy: 0.5125
11
Mean accuracy: 0.575
12
Mean accuracy: 0.5
13
Mean accuracy: 0.525
14
Mean accuracy: 0.5625
15
Mean accuracy: 0.475
16
Mean accuracy: 0.4875
17
Mean accuracy: 0.5125
18
Mean accuracy: 0.475
19
Mean accuracy: 0.575
20
Mean accuracy: 0.4875
21
Mean accuracy: 0.5875
22
Mean accuracy: 0.5125
23
Mean accuracy: 0.5375
24
Mean accuracy: 0.525
25
Mean accuracy: 0.5875
26
Mean accuracy: 0.3625
27
Mean accuracy: 0.4875
28
Mean accuracy: 0.6125
29
Mean accuracy: 0.4875
30
Mean accuracy: 0.4375
31
Mean accuracy: 0.525
32
Mean accuracy: 0.5625
33
Mean accuracy: 0.4875
34
Mean accuracy: 0.6
35
Mean accuracy: 0.5375
36
Mean accuracy: 0.425
37
Mean accuracy: 0.5125
38
Mean accuracy: 0.5
39
Mean accuracy: 0.55
40
Mean accuracy: 0.475
41
Mean accuracy: 0.5375
42
Mean accuracy: 0.3625
43
Mean accuracy: 0.6
44
Mean accuracy: 0.4375
45
Mean accuracy: 0.5
46
Mean accuracy: 0.4375
47
Mean accuracy: 0.55
48
Mean accuracy: 0.525
49
Mean accuracy: 0.425
50
Mean accuracy: 0.475
51
Mean accuracy: 0.5375
52
Mean accuracy: 0.425
53
Mean accuracy: 0.525
54
Mean accuracy: 0.4375
55
Mean accuracy: 0.45
56
Mean accuracy: 0.45
57
Mean accuracy: 0.575
58
Mean accuracy: 0.4375
59
Mean accuracy: 0.4875
60
Mean accuracy: 0.475
61
Mean accuracy: 0.475
62
Mean accuracy: 0.4625
63
Mean accuracy: 0.4125
64
Mean accuracy: 0.425
65
Mean accuracy: 0.5875
66
Mean accuracy: 0.525
67
Mean accuracy: 0.6375
68
Mean accuracy: 0.5125
69
Mean accuracy: 0.5125
70
Mean accuracy: 0.6125
71
Mean accuracy: 0.4875
72
Mean accuracy: 0.4875
73
Mean accuracy: 0.4625
74
Mean accuracy: 0.4875
75
Mean accuracy: 0.5
76
Mean accuracy: 0.425
77
Mean accuracy: 0.3625
78
Mean accuracy: 0.5625
79
Mean accuracy: 0.4125
80
Mean accuracy: 0.5375
81
Mean accuracy: 0.4
82
Mean accuracy: 0.5
83
Mean accuracy: 0.575
84
Mean accuracy: 0.4875
85
Mean accuracy: 0.45
86
Mean accuracy: 0.5
87
Mean accuracy: 0.45
88
Mean accuracy: 0.6125
89
Mean accuracy: 0.4875
90
Mean accuracy: 0.525
91
Mean accuracy: 0.5375
92
Mean accuracy: 0.475
93
Mean accuracy: 0.45
94
Mean accuracy: 0.3875
95
Mean accuracy: 0.5125
96
Mean accuracy: 0.5375
97
Mean accuracy: 0.5875
98
Mean accuracy: 0.525
99
Mean accuracy: 0.4625
100
Mean accuracy: 0.5875

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_AllCpG_Male_100RF.csv", index = False)

0.502125

## RanFor 100 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(40))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.55
2
Mean accuracy: 0.5125
3
Mean accuracy: 0.4375
4
Mean accuracy: 0.4625
5
Mean accuracy: 0.5875
6
Mean accuracy: 0.4875
7
Mean accuracy: 0.3625
8
Mean accuracy: 0.4375
9
Mean accuracy: 0.5375
10
Mean accuracy: 0.45
11
Mean accuracy: 0.5
12
Mean accuracy: 0.575
13
Mean accuracy: 0.4875
14
Mean accuracy: 0.5375
15
Mean accuracy: 0.5125
16
Mean accuracy: 0.525
17
Mean accuracy: 0.5
18
Mean accuracy: 0.5625
19
Mean accuracy: 0.3875
20
Mean accuracy: 0.4875
21
Mean accuracy: 0.65
22
Mean accuracy: 0.6125
23
Mean accuracy: 0.525
24
Mean accuracy: 0.4125
25
Mean accuracy: 0.45
26
Mean accuracy: 0.35
27
Mean accuracy: 0.35
28
Mean accuracy: 0.35
29
Mean accuracy: 0.425
30
Mean accuracy: 0.55
31
Mean accuracy: 0.525
32
Mean accuracy: 0.575
33
Mean accuracy: 0.4625
34
Mean accuracy: 0.5625
35
Mean accuracy: 0.5125
36
Mean accuracy: 0.5
37
Mean accuracy: 0.4875
38
Mean accuracy: 0.3875
39
Mean accuracy: 0.45
40
Mean accuracy: 0.425
41
Mean accuracy: 0.5
42
Mean accuracy: 0.5
43
Mean accuracy: 0.4625
44
Mean accuracy: 0.5625
45
Mean accuracy: 0.5375
46
Mean accuracy: 0.45
47
Mean accuracy: 0.5
48
Mean accuracy: 0.425
49
Mean accuracy: 0.6125
50
Mean accuracy: 0.5375
51
Mean accuracy: 0.5375
52
Mean accuracy: 0.45
53
Mean accuracy: 0.5125
54
Mean accuracy: 0.4125
55
Mean accuracy: 0.5375
56
Mean accuracy: 0.475
57
Mean accuracy: 0.5
58
Mean accuracy: 0.425
59
Mean accuracy: 0.4875
60
Mean accuracy: 0.5625
61
Mean accuracy: 0.5875
62
Mean accuracy: 0.475
63
Mean accuracy: 0.4125
64
Mean accuracy: 0.65
65
Mean accuracy: 0.4375
66
Mean accuracy: 0.45
67
Mean accuracy: 0.525
68
Mean accuracy: 0.4875
69
Mean accuracy: 0.45
70
Mean accuracy: 0.525
71
Mean accuracy: 0.5625
72
Mean accuracy: 0.4625
73
Mean accuracy: 0.6
74
Mean accuracy: 0.5125
75
Mean accuracy: 0.5375
76
Mean accuracy: 0.5
77
Mean accuracy: 0.475
78
Mean accuracy: 0.45
79
Mean accuracy: 0.425
80
Mean accuracy: 0.5375
81
Mean accuracy: 0.5875
82
Mean accuracy: 0.5875
83
Mean accuracy: 0.4875
84
Mean accuracy: 0.4625
85
Mean accuracy: 0.575
86
Mean accuracy: 0.425
87
Mean accuracy: 0.475
88
Mean accuracy: 0.6
89
Mean accuracy: 0.4375
90
Mean accuracy: 0.5125
91
Mean accuracy: 0.5
92
Mean accuracy: 0.475
93
Mean accuracy: 0.45
94
Mean accuracy: 0.4125
95
Mean accuracy: 0.4125
96
Mean accuracy: 0.55
97
Mean accuracy: 0.4125
98
Mean accuracy: 0.575
99
Mean accuracy: 0.525
100
Mean accuracy: 0.4875

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Rand50CpG_Male_100RF.csv", index = False)

0.49462500000000015

## RanFor 100 times. Samples = 100

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(100, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(40))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5
2
Mean accuracy: 0.5
3
Mean accuracy: 0.5
4
Mean accuracy: 0.5
5
Mean accuracy: 0.5
6
Mean accuracy: 0.5
7
Mean accuracy: 0.5125
8
Mean accuracy: 0.4875
9
Mean accuracy: 0.6
10
Mean accuracy: 0.4375
11
Mean accuracy: 0.55
12
Mean accuracy: 0.625
13
Mean accuracy: 0.5375
14
Mean accuracy: 0.575
15
Mean accuracy: 0.5375
16
Mean accuracy: 0.475
17
Mean accuracy: 0.475
18
Mean accuracy: 0.5125
19
Mean accuracy: 0.4625
20
Mean accuracy: 0.5875
21
Mean accuracy: 0.6
22
Mean accuracy: 0.6
23
Mean accuracy: 0.5125
24
Mean accuracy: 0.375
25
Mean accuracy: 0.425
26
Mean accuracy: 0.45
27
Mean accuracy: 0.3625
28
Mean accuracy: 0.4125
29
Mean accuracy: 0.4375
30
Mean accuracy: 0.6125
31
Mean accuracy: 0.5625
32
Mean accuracy: 0.5875
33
Mean accuracy: 0.4
34
Mean accuracy: 0.55
35
Mean accuracy: 0.4
36
Mean accuracy: 0.4875
37
Mean accuracy: 0.4125
38
Mean accuracy: 0.475
39
Mean accuracy: 0.5625
40
Mean accuracy: 0.45
41
Mean accuracy: 0.525
42
Mean accuracy: 0.5375
43
Mean accuracy: 0.4375
44
Mean accuracy: 0.575
45
Mean accuracy: 0.55
46
Mean accuracy: 0.55
47
Mean accuracy: 0.4625
48
Mean accuracy: 0.4875
49
Mean accuracy: 0.575
50
Mean accuracy: 0.5625
51
Mean accuracy: 0.5375
52
Mean accuracy: 0.4875
53
Mean accuracy: 0.475
54
Mean accuracy: 0.3875
55
Mean accuracy: 0.575
56
Mean accuracy: 0.475
57
Mean accuracy: 0.5375
58
Mean accuracy: 0.425
59
Mean accuracy: 0.4375
60
Mean accuracy: 0.6125
61
Mean accuracy: 0.5875
62
Mean accuracy: 0.55
63
Mean accuracy: 0.4375
64
Mean accuracy: 0.65
65
Mean accuracy: 0.4625
66
Mean accuracy: 0.4875
67
Mean accuracy: 0.6
68
Mean accuracy: 0.4875
69
Mean accuracy: 0.525
70
Mean accuracy: 0.45
71
Mean accuracy: 0.5125
72
Mean accuracy: 0.6
73
Mean accuracy: 0.6
74
Mean accuracy: 0.5625
75
Mean accuracy: 0.4625
76
Mean accuracy: 0.625
77
Mean accuracy: 0.575
78
Mean accuracy: 0.5
79
Mean accuracy: 0.4625
80
Mean accuracy: 0.6
81
Mean accuracy: 0.5625
82
Mean accuracy: 0.5625
83
Mean accuracy: 0.4625
84
Mean accuracy: 0.4625
85
Mean accuracy: 0.6125
86
Mean accuracy: 0.525
87
Mean accuracy: 0.5125
88
Mean accuracy: 0.5375
89
Mean accuracy: 0.425
90
Mean accuracy: 0.475
91
Mean accuracy: 0.45
92
Mean accuracy: 0.4875
93
Mean accuracy: 0.4875
94
Mean accuracy: 0.425
95
Mean accuracy: 0.4375
96
Mean accuracy: 0.55
97
Mean accuracy: 0.4875
98
Mean accuracy: 0.4875
99
Mean accuracy: 0.4375
100
Mean accuracy: 0.6

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Rand100CpG_Male_100RF.csv", index = False)

0.5098749999999999

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df1 = pd.read_csv('TrailMakeA_Boruta_Top50_Data_Male.csv')
print(df1.shape)
df1.head(2)

(158, 51)

,APPRDX,cg23328194,ch.8.2598327F,cg03584202,cg05720640,cg16108246,cg03060781,cg05955802,cg04001014,cg21608703,...,cg26536672,cg09159198,cg03619568,cg16912215,cg02180305,cg15043720,cg16933706,cg17652025,cg26819609,cg07880064
0,1,0.722162,0.036232,0.914221,0.345524,0.074928,0.823503,0.035858,0.038820,0.049725,...,0.847856,0.652014,0.836325,0.536352,0.640409,0.057796,0.077437,0.042378,0.118916,0.797291
1,2,0.728596,0.024407,0.919825,0.276704,0.083055,0.901964,0.019171,0.033699,0.041892,...,0.891951,0.771486,0.629661,0.384349,0.647882,0.027904,0.031536,0.042088,0.077118,0.764450

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7625
2
Mean accuracy: 0.775
3
Mean accuracy: 0.6625
4
Mean accuracy: 0.7125
5
Mean accuracy: 0.8125
6
Mean accuracy: 0.65
7
Mean accuracy: 0.675
8
Mean accuracy: 0.675
9
Mean accuracy: 0.7375
10
Mean accuracy: 0.7125
11
Mean accuracy: 0.775
12
Mean accuracy: 0.7875
13
Mean accuracy: 0.7625
14
Mean accuracy: 0.75
15
Mean accuracy: 0.7625
16
Mean accuracy: 0.6875
17
Mean accuracy: 0.725
18
Mean accuracy: 0.6625
19
Mean accuracy: 0.7625
20
Mean accuracy: 0.8125
21
Mean accuracy: 0.7375
22
Mean accuracy: 0.7375
23
Mean accuracy: 0.7625
24
Mean accuracy: 0.7375
25
Mean accuracy: 0.7625
26
Mean accuracy: 0.7375
27
Mean accuracy: 0.75
28
Mean accuracy: 0.65
29
Mean accuracy: 0.7625
30
Mean accuracy: 0.7625
31
Mean accuracy: 0.825
32
Mean accuracy: 0.75
33
Mean accuracy: 0.7375
34
Mean accuracy: 0.7375
35
Mean accuracy: 0.6875
36
Mean accuracy: 0.7625
37
Mean accuracy: 0.725
38
Mean accuracy: 0.75
39
Mean accuracy: 0.65
40
Mean accuracy: 0.7375
41
Mean accuracy: 0.7375
42
Mean accuracy: 0.725
43
Mean accuracy: 0.7375
44
Mean accuracy: 0.7375
45
Mean accuracy: 0.775
46
Mean accuracy: 0.6875
47
Mean accuracy: 0.6875
48
Mean accuracy: 0.7
49
Mean accuracy: 0.7375
50
Mean accuracy: 0.7
51
Mean accuracy: 0.775
52
Mean accuracy: 0.7
53
Mean accuracy: 0.7
54
Mean accuracy: 0.8
55
Mean accuracy: 0.7
56
Mean accuracy: 0.7
57
Mean accuracy: 0.825
58
Mean accuracy: 0.7375
59
Mean accuracy: 0.75
60
Mean accuracy: 0.6875
61
Mean accuracy: 0.8375
62
Mean accuracy: 0.725
63
Mean accuracy: 0.7375
64
Mean accuracy: 0.8125
65
Mean accuracy: 0.8125
66
Mean accuracy: 0.75
67
Mean accuracy: 0.775
68
Mean accuracy: 0.7625
69
Mean accuracy: 0.7125
70
Mean accuracy: 0.75
71
Mean accuracy: 0.7625
72
Mean accuracy: 0.825
73
Mean accuracy: 0.7125
74
Mean accuracy: 0.725
75
Mean accuracy: 0.7
76
Mean accuracy: 0.8
77
Mean accuracy: 0.7125
78
Mean accuracy: 0.775
79
Mean accuracy: 0.7625
80
Mean accuracy: 0.7125
81
Mean accuracy: 0.7125
82
Mean accuracy: 0.7125
83
Mean accuracy: 0.7875
84
Mean accuracy: 0.725
85
Mean accuracy: 0.725
86
Mean accuracy: 0.8375
87
Mean accuracy: 0.7
88
Mean accuracy: 0.775
89
Mean accuracy: 0.75
90
Mean accuracy: 0.7625
91
Mean accuracy: 0.7125
92
Mean accuracy: 0.7
93
Mean accuracy: 0.75
94
Mean accuracy: 0.85
95
Mean accuracy: 0.7625
96
Mean accuracy: 0.8125
97
Mean accuracy: 0.8125
98
Mean accuracy: 0.7
99
Mean accuracy: 0.7875
100
Mean accuracy: 0.7625

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Boruta50CpG_Male_100RF.csv", index = False)

0.7432500000000002

## RanFor Top 50 NMI 100 times. Samples = 50

In [14]:
df = pd.read_csv('Top50NMI_TrailMakeA_Data_Male.csv')
print(df.shape)
df.head(2)

(158, 52)

,PATNO,APPRDX,cg23445525,cg10894085,cg26358225,cg13661109,cg01396112,cg23266797,cg18071865,cg04736636,...,cg24723756,cg16359563,cg04398603,cg12058539,cg15692593,cg13493526,cg02772590,cg08992872,cg08786433,cg25248312
0,3001,1,0.798096,0.381271,0.151532,0.253418,0.016152,0.839867,0.252593,0.021314,...,0.839798,0.041558,0.018454,0.051718,0.859414,0.923785,0.899615,0.109165,0.906131,0.276382
1,3004,2,0.798122,0.438455,0.082433,0.138726,0.022484,0.799119,0.158555,0.018952,...,0.814417,0.037898,0.015622,0.138486,0.845644,0.901364,0.862461,0.076798,0.896088,0.219139

In [15]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg23445525,cg10894085,cg26358225,cg13661109,cg01396112,cg23266797,cg18071865,cg04736636,cg12510530,...,cg24723756,cg16359563,cg04398603,cg12058539,cg15692593,cg13493526,cg02772590,cg08992872,cg08786433,cg25248312
0,1,0.798096,0.381271,0.151532,0.253418,0.016152,0.839867,0.252593,0.021314,0.459716,...,0.839798,0.041558,0.018454,0.051718,0.859414,0.923785,0.899615,0.109165,0.906131,0.276382
1,2,0.798122,0.438455,0.082433,0.138726,0.022484,0.799119,0.158555,0.018952,0.358652,...,0.814417,0.037898,0.015622,0.138486,0.845644,0.901364,0.862461,0.076798,0.896088,0.219139

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.825
2
Mean accuracy: 0.8375
3
Mean accuracy: 0.775
4
Mean accuracy: 0.875
5
Mean accuracy: 0.875
6
Mean accuracy: 0.8375
7
Mean accuracy: 0.8875
8
Mean accuracy: 0.8
9
Mean accuracy: 0.8375
10
Mean accuracy: 0.8375
11
Mean accuracy: 0.8625
12
Mean accuracy: 0.8375
13
Mean accuracy: 0.8
14
Mean accuracy: 0.8
15
Mean accuracy: 0.8875
16
Mean accuracy: 0.8
17
Mean accuracy: 0.825
18
Mean accuracy: 0.825
19
Mean accuracy: 0.8125
20
Mean accuracy: 0.8625
21
Mean accuracy: 0.8625
22
Mean accuracy: 0.825
23
Mean accuracy: 0.825
24
Mean accuracy: 0.85
25
Mean accuracy: 0.8
26
Mean accuracy: 0.85
27
Mean accuracy: 0.85
28
Mean accuracy: 0.7875
29
Mean accuracy: 0.8625
30
Mean accuracy: 0.8
31
Mean accuracy: 0.825
32
Mean accuracy: 0.8125
33
Mean accuracy: 0.8125
34
Mean accuracy: 0.8625
35
Mean accuracy: 0.8
36
Mean accuracy: 0.85
37
Mean accuracy: 0.8875
38
Mean accuracy: 0.8125
39
Mean accuracy: 0.8
40
Mean accuracy: 0.85
41
Mean accuracy: 0.8
42
Mean accuracy: 0.85
43
Mean accuracy: 0.825
44
Mean accuracy: 0.85
45
Mean accuracy: 0.825
46
Mean accuracy: 0.8125
47
Mean accuracy: 0.8875
48
Mean accuracy: 0.8
49
Mean accuracy: 0.775
50
Mean accuracy: 0.8375
51
Mean accuracy: 0.85
52
Mean accuracy: 0.85
53
Mean accuracy: 0.875
54
Mean accuracy: 0.8125
55
Mean accuracy: 0.7875
56
Mean accuracy: 0.8625
57
Mean accuracy: 0.8375
58
Mean accuracy: 0.9125
59
Mean accuracy: 0.8375
60
Mean accuracy: 0.8375
61
Mean accuracy: 0.825
62
Mean accuracy: 0.85
63
Mean accuracy: 0.8125
64
Mean accuracy: 0.825
65
Mean accuracy: 0.825
66
Mean accuracy: 0.875
67
Mean accuracy: 0.8625
68
Mean accuracy: 0.7875
69
Mean accuracy: 0.7875
70
Mean accuracy: 0.8125
71
Mean accuracy: 0.8125
72
Mean accuracy: 0.85
73
Mean accuracy: 0.7875
74
Mean accuracy: 0.8375
75
Mean accuracy: 0.775
76
Mean accuracy: 0.85
77
Mean accuracy: 0.8625
78
Mean accuracy: 0.8
79
Mean accuracy: 0.875
80
Mean accuracy: 0.8125
81
Mean accuracy: 0.85
82
Mean accuracy: 0.8125
83
Mean accuracy: 0.825
84
Mean accuracy: 0.8375
85
Mean accuracy: 0.825
86
Mean accuracy: 0.85
87
Mean accuracy: 0.875
88
Mean accuracy: 0.8
89
Mean accuracy: 0.8
90
Mean accuracy: 0.775
91
Mean accuracy: 0.825
92
Mean accuracy: 0.8375
93
Mean accuracy: 0.85
94
Mean accuracy: 0.8
95
Mean accuracy: 0.775
96
Mean accuracy: 0.85
97
Mean accuracy: 0.7875
98
Mean accuracy: 0.85
99
Mean accuracy: 0.8125
100
Mean accuracy: 0.7875

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_NMI50CpG_Male_100RF.csv", index = False)

0.83

## RanFor Top 50 Boruta + NMI 100 times. Samples = 97

In [18]:
df = pd.read_csv('TrailMakeA_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(158, 102)

,PATNO,APPRDX,cg23445525,cg10894085,cg26358225,cg13661109,cg01396112,cg23266797,cg18071865,cg04736636,...,cg26536672,cg09159198,cg03619568,cg16912215,cg02180305,cg15043720,cg16933706,cg17652025,cg26819609,cg07880064
0,3001,1,0.798096,0.381271,0.151532,0.253418,0.016152,0.839867,0.252593,0.021314,...,0.847856,0.652014,0.836325,0.536352,0.640409,0.057796,0.077437,0.042378,0.118916,0.797291
1,3004,2,0.798122,0.438455,0.082433,0.138726,0.022484,0.799119,0.158555,0.018952,...,0.891951,0.771486,0.629661,0.384349,0.647882,0.027904,0.031536,0.042088,0.077118,0.764450

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg23445525,cg10894085,cg26358225,cg13661109,cg01396112,cg23266797,cg18071865,cg04736636,cg12510530,...,cg26536672,cg09159198,cg03619568,cg16912215,cg02180305,cg15043720,cg16933706,cg17652025,cg26819609,cg07880064
0,1,0.798096,0.381271,0.151532,0.253418,0.016152,0.839867,0.252593,0.021314,0.459716,...,0.847856,0.652014,0.836325,0.536352,0.640409,0.057796,0.077437,0.042378,0.118916,0.797291
1,2,0.798122,0.438455,0.082433,0.138726,0.022484,0.799119,0.158555,0.018952,0.358652,...,0.891951,0.771486,0.629661,0.384349,0.647882,0.027904,0.031536,0.042088,0.077118,0.764450

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(40))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.9
2
Mean accuracy: 0.875
3
Mean accuracy: 0.7875
4
Mean accuracy: 0.85
5
Mean accuracy: 0.85
6
Mean accuracy: 0.825
7
Mean accuracy: 0.8375
8
Mean accuracy: 0.8875
9
Mean accuracy: 0.85
10
Mean accuracy: 0.8125
11
Mean accuracy: 0.8375
12
Mean accuracy: 0.8375
13
Mean accuracy: 0.875
14
Mean accuracy: 0.8375
15
Mean accuracy: 0.85
16
Mean accuracy: 0.8625
17
Mean accuracy: 0.8375
18
Mean accuracy: 0.8375
19
Mean accuracy: 0.8125
20
Mean accuracy: 0.875
21
Mean accuracy: 0.825
22
Mean accuracy: 0.825
23
Mean accuracy: 0.875
24
Mean accuracy: 0.825
25
Mean accuracy: 0.7875
26
Mean accuracy: 0.8375
27
Mean accuracy: 0.85
28
Mean accuracy: 0.825
29
Mean accuracy: 0.8
30
Mean accuracy: 0.825
31
Mean accuracy: 0.85
32
Mean accuracy: 0.8625
33
Mean accuracy: 0.85
34
Mean accuracy: 0.8375
35
Mean accuracy: 0.8625
36
Mean accuracy: 0.8625
37
Mean accuracy: 0.875
38
Mean accuracy: 0.8375
39
Mean accuracy: 0.85
40
Mean accuracy: 0.8125
41
Mean accuracy: 0.8125
42
Mean accuracy: 0.7875
43
Mean accuracy: 0.7625
44
Mean accuracy: 0.85
45
Mean accuracy: 0.8
46
Mean accuracy: 0.85
47
Mean accuracy: 0.9125
48
Mean accuracy: 0.85
49
Mean accuracy: 0.8375
50
Mean accuracy: 0.8125
51
Mean accuracy: 0.85
52
Mean accuracy: 0.875
53
Mean accuracy: 0.8
54
Mean accuracy: 0.8625
55
Mean accuracy: 0.8375
56
Mean accuracy: 0.8375
57
Mean accuracy: 0.8375
58
Mean accuracy: 0.8625
59
Mean accuracy: 0.8125
60
Mean accuracy: 0.85
61
Mean accuracy: 0.8375
62
Mean accuracy: 0.8875
63
Mean accuracy: 0.875
64
Mean accuracy: 0.9125
65
Mean accuracy: 0.9
66
Mean accuracy: 0.85
67
Mean accuracy: 0.8625
68
Mean accuracy: 0.8125
69
Mean accuracy: 0.875
70
Mean accuracy: 0.8
71
Mean accuracy: 0.85
72
Mean accuracy: 0.8625
73
Mean accuracy: 0.8125
74
Mean accuracy: 0.875
75
Mean accuracy: 0.85
76
Mean accuracy: 0.8875
77
Mean accuracy: 0.85
78
Mean accuracy: 0.85
79
Mean accuracy: 0.825
80
Mean accuracy: 0.85
81
Mean accuracy: 0.8
82
Mean accuracy: 0.825
83
Mean accuracy: 0.8375
84
Mean accuracy: 0.8625
85
Mean accuracy: 0.825
86
Mean accuracy: 0.9125
87
Mean accuracy: 0.85
88
Mean accuracy: 0.8625
89
Mean accuracy: 0.775
90
Mean accuracy: 0.775
91
Mean accuracy: 0.85
92
Mean accuracy: 0.8625
93
Mean accuracy: 0.9125
94
Mean accuracy: 0.8625
95
Mean accuracy: 0.8
96
Mean accuracy: 0.8875
97
Mean accuracy: 0.8375
98
Mean accuracy: 0.825
99
Mean accuracy: 0.8625
100
Mean accuracy: 0.825

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Top50sCpG100_100RF.csv", index = False)

0.8438749999999997