# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\TrailMakeA
df = pd.read_csv('TrailMakeA_with_MethylomeDetails.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\The251\GeneCpG\TrailMakeA
(231, 87726)

,Sentrix,PATNO,Gender,Age,AgeCate,HYS,APPRDX,Trail_Making_A,cg08012045,cg08300930,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,200973410159_R03C01,3000,2,69.1,4,0,2,0.0,0.964598,0.960974,...,0.148515,0.036822,0.053052,0.044051,0.040994,0.047501,0.046350,0.904242,0.021033,0.813738
1,200991620021_R01C01,3001,1,65.1,4,2,1,1.0,0.962437,0.964442,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096
2,200991620021_R03C01,3002,2,67.6,4,2,1,2.0,0.952757,0.970714,...,0.179598,0.037220,0.050652,0.027469,0.056702,0.032307,0.024831,0.924415,0.016215,0.900643

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','Trail_Making_A','Age','AgeCate'], axis=1)
df1.head(2)

,APPRDX,cg08012045,cg08300930,cg00134295,cg10537824,cg04990650,cg03379001,cg02215627,cg06699201,cg18100935,...,cg00956423,cg14462343,cg07481734,cg22394535,cg13044444,cg23223756,cg16870358,cg04754776,cg00154746,cg06155771
0,2,0.964598,0.960974,0.241886,0.852113,0.765526,0.856057,0.874673,0.798285,0.89382,...,0.148515,0.036822,0.053052,0.044051,0.040994,0.047501,0.046350,0.904242,0.021033,0.813738
1,1,0.962437,0.964442,0.243530,0.826172,0.845330,0.852316,0.871498,0.653140,0.89167,...,0.109870,0.056582,0.064137,0.053802,0.083556,0.042638,0.041733,0.896521,0.033285,0.753096

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4800000000000001
2
Mean accuracy: 0.4999999999999999
3
Mean accuracy: 0.5000000000000001
4
Mean accuracy: 0.52
5
Mean accuracy: 0.4
6
Mean accuracy: 0.4600000000000001
7
Mean accuracy: 0.53
8
Mean accuracy: 0.6100000000000001
9
Mean accuracy: 0.53
10
Mean accuracy: 0.5399999999999999
11
Mean accuracy: 0.5599999999999999
12
Mean accuracy: 0.51
13
Mean accuracy: 0.43999999999999995
14
Mean accuracy: 0.6
15
Mean accuracy: 0.48
16
Mean accuracy: 0.5
17
Mean accuracy: 0.43
18
Mean accuracy: 0.53
19
Mean accuracy: 0.5399999999999998
20
Mean accuracy: 0.45999999999999996
21
Mean accuracy: 0.51
22
Mean accuracy: 0.43
23
Mean accuracy: 0.5199999999999999
24
Mean accuracy: 0.48999999999999994
25
Mean accuracy: 0.52
26
Mean accuracy: 0.44000000000000006
27
Mean accuracy: 0.53
28
Mean accuracy: 0.6
29
Mean accuracy: 0.49000000000000005
30
Mean accuracy: 0.54
31
Mean accuracy: 0.48
32
Mean accuracy: 0.59
33
Mean accuracy: 0.5299999999999999
34
Mean accuracy: 0.51
35
Mean accuracy: 0.51
36
Mean accuracy: 0.45000000000000007
37
Mean accuracy: 0.55
38
Mean accuracy: 0.51
39
Mean accuracy: 0.59
40
Mean accuracy: 0.55
41
Mean accuracy: 0.5399999999999999
42
Mean accuracy: 0.48999999999999994
43
Mean accuracy: 0.5599999999999999
44
Mean accuracy: 0.61
45
Mean accuracy: 0.45
46
Mean accuracy: 0.55
47
Mean accuracy: 0.42000000000000004
48
Mean accuracy: 0.48
49
Mean accuracy: 0.45
50
Mean accuracy: 0.4600000000000001
51
Mean accuracy: 0.4900000000000001
52
Mean accuracy: 0.4600000000000001
53
Mean accuracy: 0.5599999999999999
54
Mean accuracy: 0.56
55
Mean accuracy: 0.4600000000000001
56
Mean accuracy: 0.5999999999999999
57
Mean accuracy: 0.55
58
Mean accuracy: 0.48
59
Mean accuracy: 0.44000000000000006
60
Mean accuracy: 0.48999999999999994
61
Mean accuracy: 0.5800000000000001
62
Mean accuracy: 0.48
63
Mean accuracy: 0.58
64
Mean accuracy: 0.51
65
Mean accuracy: 0.5399999999999999
66
Mean accuracy: 0.5199999999999999
67
Mean accuracy: 0.51
68
Mean accuracy: 0.5399999999999999
69
Mean accuracy: 0.45999999999999996
70
Mean accuracy: 0.5199999999999999
71
Mean accuracy: 0.4699999999999999
72
Mean accuracy: 0.47000000000000003
73
Mean accuracy: 0.48
74
Mean accuracy: 0.43999999999999995
75
Mean accuracy: 0.49000000000000005
76
Mean accuracy: 0.56
77
Mean accuracy: 0.57
78
Mean accuracy: 0.59
79
Mean accuracy: 0.5599999999999999
80
Mean accuracy: 0.53
81
Mean accuracy: 0.39999999999999997
82
Mean accuracy: 0.49000000000000005
83
Mean accuracy: 0.4600000000000001
84
Mean accuracy: 0.5
85
Mean accuracy: 0.4699999999999999
86
Mean accuracy: 0.45
87
Mean accuracy: 0.44000000000000006
88
Mean accuracy: 0.5399999999999999
89
Mean accuracy: 0.53
90
Mean accuracy: 0.45999999999999996
91
Mean accuracy: 0.4
92
Mean accuracy: 0.49000000000000005
93
Mean accuracy: 0.5199999999999999
94
Mean accuracy: 0.4800000000000001
95
Mean accuracy: 0.56
96
Mean accuracy: 0.5199999999999999
97
Mean accuracy: 0.54
98
Mean accuracy: 0.5599999999999999
99
Mean accuracy: 0.51
100
Mean accuracy: 0.5399999999999999

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_AllCpG_100RF.csv", index = False)

0.5082000000000001

## RanFor 100 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.53
2
Mean accuracy: 0.47000000000000003
3
Mean accuracy: 0.6299999999999999
4
Mean accuracy: 0.5
5
Mean accuracy: 0.52
6
Mean accuracy: 0.6
7
Mean accuracy: 0.49000000000000005
8
Mean accuracy: 0.47999999999999987
9
Mean accuracy: 0.48
10
Mean accuracy: 0.6199999999999999
11
Mean accuracy: 0.5700000000000001
12
Mean accuracy: 0.47000000000000003
13
Mean accuracy: 0.6299999999999999
14
Mean accuracy: 0.39
15
Mean accuracy: 0.42000000000000004
16
Mean accuracy: 0.5199999999999999
17
Mean accuracy: 0.38
18
Mean accuracy: 0.55
19
Mean accuracy: 0.5700000000000001
20
Mean accuracy: 0.55
21
Mean accuracy: 0.5
22
Mean accuracy: 0.45000000000000007
23
Mean accuracy: 0.55
24
Mean accuracy: 0.5199999999999999
25
Mean accuracy: 0.53
26
Mean accuracy: 0.62
27
Mean accuracy: 0.48
28
Mean accuracy: 0.56
29
Mean accuracy: 0.4800000000000001
30
Mean accuracy: 0.5399999999999999
31
Mean accuracy: 0.51
32
Mean accuracy: 0.53
33
Mean accuracy: 0.5399999999999999
34
Mean accuracy: 0.51
35
Mean accuracy: 0.5
36
Mean accuracy: 0.51
37
Mean accuracy: 0.5
38
Mean accuracy: 0.51
39
Mean accuracy: 0.44000000000000006
40
Mean accuracy: 0.47000000000000003
41
Mean accuracy: 0.5
42
Mean accuracy: 0.37
43
Mean accuracy: 0.5199999999999999
44
Mean accuracy: 0.53
45
Mean accuracy: 0.48999999999999994
46
Mean accuracy: 0.5
47
Mean accuracy: 0.6500000000000001
48
Mean accuracy: 0.56
49
Mean accuracy: 0.4800000000000001
50
Mean accuracy: 0.48
51
Mean accuracy: 0.53
52
Mean accuracy: 0.5700000000000001
53
Mean accuracy: 0.4
54
Mean accuracy: 0.48999999999999994
55
Mean accuracy: 0.5399999999999999
56
Mean accuracy: 0.54
57
Mean accuracy: 0.59
58
Mean accuracy: 0.45999999999999996
59
Mean accuracy: 0.55
60
Mean accuracy: 0.47000000000000003
61
Mean accuracy: 0.5000000000000001
62
Mean accuracy: 0.48999999999999994
63
Mean accuracy: 0.59
64
Mean accuracy: 0.45999999999999996
65
Mean accuracy: 0.51
66
Mean accuracy: 0.54
67
Mean accuracy: 0.4800000000000001
68
Mean accuracy: 0.57
69
Mean accuracy: 0.48
70
Mean accuracy: 0.5599999999999999
71
Mean accuracy: 0.6599999999999999
72
Mean accuracy: 0.47000000000000003
73
Mean accuracy: 0.5700000000000001
74
Mean accuracy: 0.5799999999999998
75
Mean accuracy: 0.4699999999999999
76
Mean accuracy: 0.49000000000000005
77
Mean accuracy: 0.5200000000000001
78
Mean accuracy: 0.5199999999999999
79
Mean accuracy: 0.5299999999999999
80
Mean accuracy: 0.49000000000000005
81
Mean accuracy: 0.55
82
Mean accuracy: 0.41
83
Mean accuracy: 0.5800000000000001
84
Mean accuracy: 0.5700000000000001
85
Mean accuracy: 0.55
86
Mean accuracy: 0.5000000000000001
87
Mean accuracy: 0.52
88
Mean accuracy: 0.43
89
Mean accuracy: 0.55
90
Mean accuracy: 0.43
91
Mean accuracy: 0.6
92
Mean accuracy: 0.43
93
Mean accuracy: 0.51
94
Mean accuracy: 0.5
95
Mean accuracy: 0.5
96
Mean accuracy: 0.45999999999999996
97
Mean accuracy: 0.51
98
Mean accuracy: 0.54
99
Mean accuracy: 0.4600000000000001
100
Mean accuracy: 0.53

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Rand50CpG_100RF.csv", index = False)

0.5144999999999998

## RanFor 100 times. Samples = 97

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(97, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.51
2
Mean accuracy: 0.45
3
Mean accuracy: 0.55
4
Mean accuracy: 0.44000000000000006
5
Mean accuracy: 0.5399999999999999
6
Mean accuracy: 0.63
7
Mean accuracy: 0.53
8
Mean accuracy: 0.44000000000000006
9
Mean accuracy: 0.5
10
Mean accuracy: 0.63
11
Mean accuracy: 0.53
12
Mean accuracy: 0.48999999999999994
13
Mean accuracy: 0.56
14
Mean accuracy: 0.47000000000000003
15
Mean accuracy: 0.45
16
Mean accuracy: 0.5399999999999999
17
Mean accuracy: 0.4
18
Mean accuracy: 0.58
19
Mean accuracy: 0.59
20
Mean accuracy: 0.5199999999999999
21
Mean accuracy: 0.48
22
Mean accuracy: 0.5399999999999999
23
Mean accuracy: 0.5
24
Mean accuracy: 0.53
25
Mean accuracy: 0.4800000000000001
26
Mean accuracy: 0.53
27
Mean accuracy: 0.5199999999999999
28
Mean accuracy: 0.65
29
Mean accuracy: 0.5200000000000001
30
Mean accuracy: 0.5599999999999998
31
Mean accuracy: 0.49000000000000005
32
Mean accuracy: 0.56
33
Mean accuracy: 0.5900000000000001
34
Mean accuracy: 0.45999999999999996
35
Mean accuracy: 0.5399999999999999
36
Mean accuracy: 0.53
37
Mean accuracy: 0.5599999999999999
38
Mean accuracy: 0.52
39
Mean accuracy: 0.44000000000000006
40
Mean accuracy: 0.51
41
Mean accuracy: 0.49000000000000005
42
Mean accuracy: 0.5399999999999999
43
Mean accuracy: 0.51
44
Mean accuracy: 0.56
45
Mean accuracy: 0.53
46
Mean accuracy: 0.5499999999999999
47
Mean accuracy: 0.5799999999999998
48
Mean accuracy: 0.58
49
Mean accuracy: 0.47000000000000003
50
Mean accuracy: 0.51
51
Mean accuracy: 0.4800000000000001
52
Mean accuracy: 0.55
53
Mean accuracy: 0.43
54
Mean accuracy: 0.53
55
Mean accuracy: 0.54
56
Mean accuracy: 0.48999999999999994
57
Mean accuracy: 0.5800000000000001
58
Mean accuracy: 0.47000000000000003
59
Mean accuracy: 0.53
60
Mean accuracy: 0.48
61
Mean accuracy: 0.42000000000000004
62
Mean accuracy: 0.53
63
Mean accuracy: 0.56
64
Mean accuracy: 0.49000000000000005
65
Mean accuracy: 0.56
66
Mean accuracy: 0.48
67
Mean accuracy: 0.4600000000000001
68
Mean accuracy: 0.55
69
Mean accuracy: 0.5
70
Mean accuracy: 0.52
71
Mean accuracy: 0.5599999999999999
72
Mean accuracy: 0.44000000000000006
73
Mean accuracy: 0.5700000000000001
74
Mean accuracy: 0.55
75
Mean accuracy: 0.5399999999999999
76
Mean accuracy: 0.59
77
Mean accuracy: 0.55
78
Mean accuracy: 0.49000000000000005
79
Mean accuracy: 0.5599999999999999
80
Mean accuracy: 0.48
81
Mean accuracy: 0.53
82
Mean accuracy: 0.43
83
Mean accuracy: 0.5700000000000001
84
Mean accuracy: 0.5799999999999998
85
Mean accuracy: 0.55
86
Mean accuracy: 0.5700000000000001
87
Mean accuracy: 0.48
88
Mean accuracy: 0.47000000000000003
89
Mean accuracy: 0.54
90
Mean accuracy: 0.38
91
Mean accuracy: 0.5
92
Mean accuracy: 0.45999999999999996
93
Mean accuracy: 0.5
94
Mean accuracy: 0.4699999999999999
95
Mean accuracy: 0.42000000000000004
96
Mean accuracy: 0.48
97
Mean accuracy: 0.47000000000000003
98
Mean accuracy: 0.6
99
Mean accuracy: 0.33999999999999997
100
Mean accuracy: 0.52

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Rand97CpG_100RF.csv", index = False)

0.5152

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df1 = pd.read_csv('TrailMakeA_Boruta_Top50_Data.csv')
print(df1.shape)
df1.head(2)

(231, 51)

,APPRDX,cg17427302,cg15313666,cg20995061,cg24465448,cg12696505,cg01083159,cg15629915,cg09252204,cg11492856,...,cg13530254,cg07667731,cg20567867,cg12683454,cg04888085,cg09304381,cg25911279,cg23811160,cg08810486,cg17464366
0,2,0.933776,0.909546,0.041305,0.023223,0.031196,0.285636,0.054835,0.363327,0.921944,...,0.941384,0.016602,0.923635,0.020790,0.016866,0.981877,0.035425,0.185028,0.446588,0.360898
1,1,0.897221,0.907550,0.022731,0.016847,0.090758,0.323545,0.067318,0.026972,0.911869,...,0.942138,0.013778,0.920654,0.023826,0.014670,0.960567,0.031463,0.171493,0.028135,0.040671

In [12]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6799999999999999
2
Mean accuracy: 0.64
3
Mean accuracy: 0.71
4
Mean accuracy: 0.7300000000000001
5
Mean accuracy: 0.76
6
Mean accuracy: 0.75
7
Mean accuracy: 0.7
8
Mean accuracy: 0.75
9
Mean accuracy: 0.78
10
Mean accuracy: 0.6699999999999999
11
Mean accuracy: 0.7
12
Mean accuracy: 0.72
13
Mean accuracy: 0.7
14
Mean accuracy: 0.73
15
Mean accuracy: 0.65
16
Mean accuracy: 0.63
17
Mean accuracy: 0.6799999999999999
18
Mean accuracy: 0.6799999999999999
19
Mean accuracy: 0.77
20
Mean accuracy: 0.69
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.67
23
Mean accuracy: 0.7000000000000001
24
Mean accuracy: 0.7
25
Mean accuracy: 0.67
26
Mean accuracy: 0.65
27
Mean accuracy: 0.72
28
Mean accuracy: 0.6599999999999999
29
Mean accuracy: 0.6799999999999999
30
Mean accuracy: 0.72
31
Mean accuracy: 0.6900000000000001
32
Mean accuracy: 0.77
33
Mean accuracy: 0.6799999999999999
34
Mean accuracy: 0.6699999999999999
35
Mean accuracy: 0.7
36
Mean accuracy: 0.63
37
Mean accuracy: 0.72
38
Mean accuracy: 0.7
39
Mean accuracy: 0.73
40
Mean accuracy: 0.61
41
Mean accuracy: 0.77
42
Mean accuracy: 0.7
43
Mean accuracy: 0.73
44
Mean accuracy: 0.74
45
Mean accuracy: 0.65
46
Mean accuracy: 0.7
47
Mean accuracy: 0.6399999999999999
48
Mean accuracy: 0.7
49
Mean accuracy: 0.72
50
Mean accuracy: 0.71
51
Mean accuracy: 0.7000000000000001
52
Mean accuracy: 0.6599999999999999
53
Mean accuracy: 0.8
54
Mean accuracy: 0.72
55
Mean accuracy: 0.69
56
Mean accuracy: 0.72
57
Mean accuracy: 0.71
58
Mean accuracy: 0.73
59
Mean accuracy: 0.6599999999999999
60
Mean accuracy: 0.68
61
Mean accuracy: 0.76
62
Mean accuracy: 0.75
63
Mean accuracy: 0.74
64
Mean accuracy: 0.6499999999999999
65
Mean accuracy: 0.7
66
Mean accuracy: 0.7
67
Mean accuracy: 0.75
68
Mean accuracy: 0.73
69
Mean accuracy: 0.6699999999999999
70
Mean accuracy: 0.67
71
Mean accuracy: 0.77
72
Mean accuracy: 0.7
73
Mean accuracy: 0.76
74
Mean accuracy: 0.67
75
Mean accuracy: 0.72
76
Mean accuracy: 0.78
77
Mean accuracy: 0.78
78
Mean accuracy: 0.72
79
Mean accuracy: 0.73
80
Mean accuracy: 0.7
81
Mean accuracy: 0.6599999999999999
82
Mean accuracy: 0.74
83
Mean accuracy: 0.7300000000000001
84
Mean accuracy: 0.6
85
Mean accuracy: 0.7100000000000001
86
Mean accuracy: 0.6500000000000001
87
Mean accuracy: 0.69
88
Mean accuracy: 0.6300000000000001
89
Mean accuracy: 0.67
90
Mean accuracy: 0.6599999999999999
91
Mean accuracy: 0.6699999999999999
92
Mean accuracy: 0.7400000000000001
93
Mean accuracy: 0.7300000000000001
94
Mean accuracy: 0.6799999999999999
95
Mean accuracy: 0.69
96
Mean accuracy: 0.61
97
Mean accuracy: 0.72
98
Mean accuracy: 0.73
99
Mean accuracy: 0.63
100
Mean accuracy: 0.7

In [13]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Boruta50CpG_100RF.csv", index = False)

0.7006999999999999

## RanFor Top 50 NMI 100 times. Samples = 50

In [14]:
df = pd.read_csv('Top50NMI_TrailMakeA_Data.csv')
print(df.shape)
df.head(2)

(231, 52)

,PATNO,APPRDX,cg18504826,cg04958915,cg23983141,cg04310833,cg24706032,cg12184854,cg08096908,cg08550831,...,cg01083159,cg19767249,cg25045630,cg02471166,cg05596698,cg04604946,cg26013260,cg25361663,cg05301556,cg05356336
0,3000,2,0.923461,0.953291,0.873134,0.919058,0.013061,0.935107,0.937764,0.926300,...,0.285636,0.049537,0.925686,0.601775,0.835721,0.299968,0.931111,0.922851,0.793635,0.730565
1,3001,1,0.912524,0.912131,0.863465,0.914570,0.014550,0.933108,0.905542,0.907085,...,0.323545,0.041059,0.896759,0.804546,0.768449,0.310033,0.910688,0.911043,0.801101,0.794499

In [15]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18504826,cg04958915,cg23983141,cg04310833,cg24706032,cg12184854,cg08096908,cg08550831,cg15355127,...,cg01083159,cg19767249,cg25045630,cg02471166,cg05596698,cg04604946,cg26013260,cg25361663,cg05301556,cg05356336
0,2,0.923461,0.953291,0.873134,0.919058,0.013061,0.935107,0.937764,0.926300,0.685666,...,0.285636,0.049537,0.925686,0.601775,0.835721,0.299968,0.931111,0.922851,0.793635,0.730565
1,1,0.912524,0.912131,0.863465,0.914570,0.014550,0.933108,0.905542,0.907085,0.676244,...,0.323545,0.041059,0.896759,0.804546,0.768449,0.310033,0.910688,0.911043,0.801101,0.794499

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.65
2
Mean accuracy: 0.65
3
Mean accuracy: 0.6699999999999999
4
Mean accuracy: 0.76
5
Mean accuracy: 0.7
6
Mean accuracy: 0.75
7
Mean accuracy: 0.7
8
Mean accuracy: 0.71
9
Mean accuracy: 0.67
10
Mean accuracy: 0.67
11
Mean accuracy: 0.69
12
Mean accuracy: 0.76
13
Mean accuracy: 0.68
14
Mean accuracy: 0.75
15
Mean accuracy: 0.6900000000000001
16
Mean accuracy: 0.6699999999999999
17
Mean accuracy: 0.6900000000000001
18
Mean accuracy: 0.74
19
Mean accuracy: 0.76
20
Mean accuracy: 0.72
21
Mean accuracy: 0.6599999999999999
22
Mean accuracy: 0.6500000000000001
23
Mean accuracy: 0.6799999999999999
24
Mean accuracy: 0.72
25
Mean accuracy: 0.63
26
Mean accuracy: 0.6799999999999999
27
Mean accuracy: 0.73
28
Mean accuracy: 0.7
29
Mean accuracy: 0.64
30
Mean accuracy: 0.7
31
Mean accuracy: 0.69
32
Mean accuracy: 0.73
33
Mean accuracy: 0.7100000000000001
34
Mean accuracy: 0.72
35
Mean accuracy: 0.63
36
Mean accuracy: 0.7300000000000001
37
Mean accuracy: 0.73
38
Mean accuracy: 0.74
39
Mean accuracy: 0.73
40
Mean accuracy: 0.7100000000000001
41
Mean accuracy: 0.65
42
Mean accuracy: 0.7100000000000001
43
Mean accuracy: 0.6799999999999999
44
Mean accuracy: 0.74
45
Mean accuracy: 0.6699999999999999
46
Mean accuracy: 0.6900000000000001
47
Mean accuracy: 0.69
48
Mean accuracy: 0.6599999999999999
49
Mean accuracy: 0.7100000000000001
50
Mean accuracy: 0.6599999999999999
51
Mean accuracy: 0.6199999999999999
52
Mean accuracy: 0.69
53
Mean accuracy: 0.6399999999999999
54
Mean accuracy: 0.6799999999999999
55
Mean accuracy: 0.7300000000000001
56
Mean accuracy: 0.6900000000000001
57
Mean accuracy: 0.72
58
Mean accuracy: 0.6799999999999999
59
Mean accuracy: 0.6200000000000001
60
Mean accuracy: 0.74
61
Mean accuracy: 0.73
62
Mean accuracy: 0.71
63
Mean accuracy: 0.6799999999999999
64
Mean accuracy: 0.68
65
Mean accuracy: 0.67
66
Mean accuracy: 0.6799999999999999
67
Mean accuracy: 0.67
68
Mean accuracy: 0.6900000000000001
69
Mean accuracy: 0.6
70
Mean accuracy: 0.67
71
Mean accuracy: 0.7
72
Mean accuracy: 0.7100000000000001
73
Mean accuracy: 0.69
74
Mean accuracy: 0.71
75
Mean accuracy: 0.7100000000000001
76
Mean accuracy: 0.7000000000000001
77
Mean accuracy: 0.72
78
Mean accuracy: 0.7300000000000001
79
Mean accuracy: 0.6799999999999999
80
Mean accuracy: 0.6799999999999999
81
Mean accuracy: 0.69
82
Mean accuracy: 0.6499999999999999
83
Mean accuracy: 0.72
84
Mean accuracy: 0.6599999999999999
85
Mean accuracy: 0.65
86
Mean accuracy: 0.7100000000000001
87
Mean accuracy: 0.6699999999999999
88
Mean accuracy: 0.63
89
Mean accuracy: 0.7
90
Mean accuracy: 0.61
91
Mean accuracy: 0.62
92
Mean accuracy: 0.6000000000000001
93
Mean accuracy: 0.65
94
Mean accuracy: 0.6700000000000002
95
Mean accuracy: 0.75
96
Mean accuracy: 0.71
97
Mean accuracy: 0.71
98
Mean accuracy: 0.6900000000000001
99
Mean accuracy: 0.65
100
Mean accuracy: 0.73

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_NMI50CpG_100RF.csv", index = False)

0.6893999999999997

## RanFor Top 50 Boruta + NMI 100 times. Samples = 97

In [18]:
df = pd.read_csv('TrailMakeA_Top50sMerge_Data.csv')
print(df.shape)
df.head(2)

(231, 99)

,PATNO,APPRDX,cg18504826,cg04958915,cg23983141,cg04310833,cg24706032,cg12184854,cg08096908,cg08550831,...,cg13530254,cg07667731,cg20567867,cg12683454,cg04888085,cg09304381,cg25911279,cg23811160,cg08810486,cg17464366
0,3000,2,0.923461,0.953291,0.873134,0.919058,0.013061,0.935107,0.937764,0.926300,...,0.941384,0.016602,0.923635,0.020790,0.016866,0.981877,0.035425,0.185028,0.446588,0.360898
1,3001,1,0.912524,0.912131,0.863465,0.914570,0.014550,0.933108,0.905542,0.907085,...,0.942138,0.013778,0.920654,0.023826,0.014670,0.960567,0.031463,0.171493,0.028135,0.040671

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg18504826,cg04958915,cg23983141,cg04310833,cg24706032,cg12184854,cg08096908,cg08550831,cg15355127,...,cg13530254,cg07667731,cg20567867,cg12683454,cg04888085,cg09304381,cg25911279,cg23811160,cg08810486,cg17464366
0,2,0.923461,0.953291,0.873134,0.919058,0.013061,0.935107,0.937764,0.926300,0.685666,...,0.941384,0.016602,0.923635,0.020790,0.016866,0.981877,0.035425,0.185028,0.446588,0.360898
1,1,0.912524,0.912131,0.863465,0.914570,0.014550,0.933108,0.905542,0.907085,0.676244,...,0.942138,0.013778,0.920654,0.023826,0.014670,0.960567,0.031463,0.171493,0.028135,0.040671

In [20]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.71
2
Mean accuracy: 0.6900000000000001
3
Mean accuracy: 0.7
4
Mean accuracy: 0.76
5
Mean accuracy: 0.75
6
Mean accuracy: 0.7699999999999999
7
Mean accuracy: 0.7
8
Mean accuracy: 0.78
9
Mean accuracy: 0.75
10
Mean accuracy: 0.64
11
Mean accuracy: 0.72
12
Mean accuracy: 0.74
13
Mean accuracy: 0.6699999999999999
14
Mean accuracy: 0.74
15
Mean accuracy: 0.62
16
Mean accuracy: 0.65
17
Mean accuracy: 0.74
18
Mean accuracy: 0.73
19
Mean accuracy: 0.75
20
Mean accuracy: 0.72
21
Mean accuracy: 0.7
22
Mean accuracy: 0.67
23
Mean accuracy: 0.6900000000000001
24
Mean accuracy: 0.6799999999999999
25
Mean accuracy: 0.63
26
Mean accuracy: 0.6399999999999999
27
Mean accuracy: 0.72
28
Mean accuracy: 0.74
29
Mean accuracy: 0.6300000000000001
30
Mean accuracy: 0.72
31
Mean accuracy: 0.62
32
Mean accuracy: 0.72
33
Mean accuracy: 0.6900000000000001
34
Mean accuracy: 0.6799999999999999
35
Mean accuracy: 0.75
36
Mean accuracy: 0.6900000000000001
37
Mean accuracy: 0.7
38
Mean accuracy: 0.72
39
Mean accuracy: 0.7199999999999999
40
Mean accuracy: 0.66
41
Mean accuracy: 0.7
42
Mean accuracy: 0.7
43
Mean accuracy: 0.67
44
Mean accuracy: 0.7499999999999999
45
Mean accuracy: 0.68
46
Mean accuracy: 0.7099999999999999
47
Mean accuracy: 0.7000000000000001
48
Mean accuracy: 0.67
49
Mean accuracy: 0.7100000000000001
50
Mean accuracy: 0.71
51
Mean accuracy: 0.69
52
Mean accuracy: 0.7300000000000001
53
Mean accuracy: 0.74
54
Mean accuracy: 0.76
55
Mean accuracy: 0.6900000000000002
56
Mean accuracy: 0.7100000000000002
57
Mean accuracy: 0.74
58
Mean accuracy: 0.7100000000000001
59
Mean accuracy: 0.66
60
Mean accuracy: 0.71
61
Mean accuracy: 0.8099999999999999
62
Mean accuracy: 0.69
63
Mean accuracy: 0.7500000000000001
64
Mean accuracy: 0.65
65
Mean accuracy: 0.72
66
Mean accuracy: 0.7100000000000001
67
Mean accuracy: 0.6699999999999999
68
Mean accuracy: 0.72
69
Mean accuracy: 0.6700000000000002
70
Mean accuracy: 0.61
71
Mean accuracy: 0.75
72
Mean accuracy: 0.72
73
Mean accuracy: 0.75
74
Mean accuracy: 0.69
75
Mean accuracy: 0.7100000000000002
76
Mean accuracy: 0.74
77
Mean accuracy: 0.73
78
Mean accuracy: 0.74
79
Mean accuracy: 0.72
80
Mean accuracy: 0.6500000000000001
81
Mean accuracy: 0.6900000000000001
82
Mean accuracy: 0.69
83
Mean accuracy: 0.7500000000000001
84
Mean accuracy: 0.65
85
Mean accuracy: 0.7
86
Mean accuracy: 0.7
87
Mean accuracy: 0.6799999999999999
88
Mean accuracy: 0.6399999999999999
89
Mean accuracy: 0.74
90
Mean accuracy: 0.63
91
Mean accuracy: 0.65
92
Mean accuracy: 0.71
93
Mean accuracy: 0.7500000000000001
94
Mean accuracy: 0.7300000000000001
95
Mean accuracy: 0.75
96
Mean accuracy: 0.6399999999999999
97
Mean accuracy: 0.6900000000000001
98
Mean accuracy: 0.69
99
Mean accuracy: 0.7700000000000001
100
Mean accuracy: 0.76

In [21]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("TrailMakeA_Top50sCpG97_100RF.csv", index = False)

0.7044999999999999