# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT
df = pd.read_csv('UPSIT3Categ_Methylome_Male.csv')
print(df.shape)
df.head(3)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Male\GeneCpG\UPSIT
(307, 5679)

,Sentrix,PATNO,HYS,Gender,APPRDX,UPSIT_3,UPSIT_Total,cg06067658,cg15442538,cg25928446,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200991620021_R01C01,3001,2,1,1,1,25,0.088679,0.890148,0.719238,...,0.748763,0.830052,0.861102,0.855659,0.788271,0.805084,0.729165,0.803183,0.925666,0.849608
1,200973410167_R04C01,3007,2,1,1,2,18,0.128668,0.916448,0.726893,...,0.886279,0.898054,0.896800,0.911732,0.863749,0.893595,0.829444,0.866504,0.917233,0.786606
2,200973410167_R05C01,3010,2,1,1,2,9,0.106438,0.922987,0.715904,...,0.847166,0.880457,0.909545,0.902309,0.848555,0.881235,0.840847,0.886343,0.912116,0.786117

In [3]:
df1 = df.drop(['Sentrix','PATNO','HYS','Gender','UPSIT_3','UPSIT_Total'], axis=1)
df1.head(2)

,APPRDX,cg06067658,cg15442538,cg25928446,cg12415575,cg26358225,cg19058526,cg20195763,cg23725394,cg27107076,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,1,0.088679,0.890148,0.719238,0.066678,0.151532,0.133249,0.479724,0.926745,0.538423,...,0.748763,0.830052,0.861102,0.855659,0.788271,0.805084,0.729165,0.803183,0.925666,0.849608
1,1,0.128668,0.916448,0.726893,0.066768,0.198886,0.141136,0.412058,0.876792,0.665097,...,0.886279,0.898054,0.896800,0.911732,0.863749,0.893595,0.829444,0.866504,0.917233,0.786606

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.45
2
Mean accuracy: 0.52
3
Mean accuracy: 0.45999999999999996
4
Mean accuracy: 0.48999999999999994
5
Mean accuracy: 0.47000000000000003
6
Mean accuracy: 0.52
7
Mean accuracy: 0.5299999999999999
8
Mean accuracy: 0.5599999999999999
9
Mean accuracy: 0.57
10
Mean accuracy: 0.51
11
Mean accuracy: 0.5599999999999999
12
Mean accuracy: 0.5700000000000001
13
Mean accuracy: 0.47000000000000003
14
Mean accuracy: 0.63
15
Mean accuracy: 0.42000000000000004
16
Mean accuracy: 0.49000000000000005
17
Mean accuracy: 0.5199999999999999
18
Mean accuracy: 0.5
19
Mean accuracy: 0.56
20
Mean accuracy: 0.43000000000000005
21
Mean accuracy: 0.58
22
Mean accuracy: 0.49000000000000005
23
Mean accuracy: 0.56
24
Mean accuracy: 0.6
25
Mean accuracy: 0.51
26
Mean accuracy: 0.5199999999999999
27
Mean accuracy: 0.5200000000000001
28
Mean accuracy: 0.51
29
Mean accuracy: 0.4699999999999999
30
Mean accuracy: 0.4999999999999999
31
Mean accuracy: 0.4
32
Mean accuracy: 0.5200000000000001
33
Mean accuracy: 0.47000000000000003
34
Mean accuracy: 0.5399999999999999
35
Mean accuracy: 0.53
36
Mean accuracy: 0.4699999999999999
37
Mean accuracy: 0.48999999999999994
38
Mean accuracy: 0.45
39
Mean accuracy: 0.57
40
Mean accuracy: 0.5599999999999999
41
Mean accuracy: 0.52
42
Mean accuracy: 0.45
43
Mean accuracy: 0.5199999999999999
44
Mean accuracy: 0.5199999999999999
45
Mean accuracy: 0.6
46
Mean accuracy: 0.58
47
Mean accuracy: 0.4699999999999999
48
Mean accuracy: 0.55
49
Mean accuracy: 0.45
50
Mean accuracy: 0.5399999999999999
51
Mean accuracy: 0.49000000000000005
52
Mean accuracy: 0.47000000000000003
53
Mean accuracy: 0.57
54
Mean accuracy: 0.34
55
Mean accuracy: 0.53
56
Mean accuracy: 0.48
57
Mean accuracy: 0.51
58
Mean accuracy: 0.45000000000000007
59
Mean accuracy: 0.52
60
Mean accuracy: 0.43999999999999995
61
Mean accuracy: 0.5599999999999999
62
Mean accuracy: 0.58
63
Mean accuracy: 0.45999999999999996
64
Mean accuracy: 0.51
65
Mean accuracy: 0.45
66
Mean accuracy: 0.4
67
Mean accuracy: 0.53
68
Mean accuracy: 0.48
69
Mean accuracy: 0.5199999999999999
70
Mean accuracy: 0.57
71
Mean accuracy: 0.5599999999999999
72
Mean accuracy: 0.48999999999999994
73
Mean accuracy: 0.38999999999999996
74
Mean accuracy: 0.45
75
Mean accuracy: 0.5399999999999999
76
Mean accuracy: 0.5599999999999999
77
Mean accuracy: 0.45999999999999996
78
Mean accuracy: 0.5399999999999999
79
Mean accuracy: 0.54
80
Mean accuracy: 0.45
81
Mean accuracy: 0.49000000000000005
82
Mean accuracy: 0.54
83
Mean accuracy: 0.59
84
Mean accuracy: 0.44000000000000006
85
Mean accuracy: 0.43
86
Mean accuracy: 0.5399999999999999
87
Mean accuracy: 0.49000000000000005
88
Mean accuracy: 0.5599999999999999
89
Mean accuracy: 0.5
90
Mean accuracy: 0.5700000000000001
91
Mean accuracy: 0.55
92
Mean accuracy: 0.43
93
Mean accuracy: 0.49000000000000005
94
Mean accuracy: 0.54
95
Mean accuracy: 0.54
96
Mean accuracy: 0.55
97
Mean accuracy: 0.5
98
Mean accuracy: 0.54
99
Mean accuracy: 0.56
100
Mean accuracy: 0.5299999999999999

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_AllCpG_Male_100RF.csv", index = False)

0.5091

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.47000000000000003
2
Mean accuracy: 0.5399999999999999
3
Mean accuracy: 0.51
4
Mean accuracy: 0.51
5
Mean accuracy: 0.55
6
Mean accuracy: 0.41999999999999993
7
Mean accuracy: 0.49000000000000005
8
Mean accuracy: 0.45999999999999996
9
Mean accuracy: 0.45
10
Mean accuracy: 0.43
11
Mean accuracy: 0.4800000000000001
12
Mean accuracy: 0.44000000000000006
13
Mean accuracy: 0.4600000000000001
14
Mean accuracy: 0.53
15
Mean accuracy: 0.52
16
Mean accuracy: 0.45999999999999996
17
Mean accuracy: 0.44000000000000006
18
Mean accuracy: 0.63
19
Mean accuracy: 0.51
20
Mean accuracy: 0.49000000000000005
21
Mean accuracy: 0.53
22
Mean accuracy: 0.54
23
Mean accuracy: 0.48999999999999994
24
Mean accuracy: 0.52
25
Mean accuracy: 0.51
26
Mean accuracy: 0.58
27
Mean accuracy: 0.6
28
Mean accuracy: 0.6
29
Mean accuracy: 0.54
30
Mean accuracy: 0.43
31
Mean accuracy: 0.49000000000000005
32
Mean accuracy: 0.65
33
Mean accuracy: 0.53
34
Mean accuracy: 0.48999999999999994
35
Mean accuracy: 0.4600000000000001
36
Mean accuracy: 0.5
37
Mean accuracy: 0.47000000000000003
38
Mean accuracy: 0.47000000000000003
39
Mean accuracy: 0.5499999999999999
40
Mean accuracy: 0.4700000000000001
41
Mean accuracy: 0.53
42
Mean accuracy: 0.45999999999999996
43
Mean accuracy: 0.5700000000000001
44
Mean accuracy: 0.5599999999999999
45
Mean accuracy: 0.47000000000000003
46
Mean accuracy: 0.5599999999999999
47
Mean accuracy: 0.61
48
Mean accuracy: 0.4800000000000001
49
Mean accuracy: 0.5399999999999999
50
Mean accuracy: 0.49000000000000005
51
Mean accuracy: 0.51
52
Mean accuracy: 0.45
53
Mean accuracy: 0.54
54
Mean accuracy: 0.6699999999999999
55
Mean accuracy: 0.47000000000000003
56
Mean accuracy: 0.5399999999999999
57
Mean accuracy: 0.52
58
Mean accuracy: 0.58
59
Mean accuracy: 0.45
60
Mean accuracy: 0.51
61
Mean accuracy: 0.48999999999999994
62
Mean accuracy: 0.5
63
Mean accuracy: 0.51
64
Mean accuracy: 0.5199999999999999
65
Mean accuracy: 0.42000000000000004
66
Mean accuracy: 0.48
67
Mean accuracy: 0.39
68
Mean accuracy: 0.5
69
Mean accuracy: 0.45
70
Mean accuracy: 0.52
71
Mean accuracy: 0.59
72
Mean accuracy: 0.48999999999999994
73
Mean accuracy: 0.4999999999999999
74
Mean accuracy: 0.59
75
Mean accuracy: 0.4999999999999999
76
Mean accuracy: 0.49000000000000005
77
Mean accuracy: 0.5399999999999999
78
Mean accuracy: 0.48999999999999994
79
Mean accuracy: 0.5599999999999999
80
Mean accuracy: 0.4600000000000001
81
Mean accuracy: 0.49000000000000005
82
Mean accuracy: 0.32
83
Mean accuracy: 0.52
84
Mean accuracy: 0.4999999999999999
85
Mean accuracy: 0.5399999999999999
86
Mean accuracy: 0.36
87
Mean accuracy: 0.42000000000000004
88
Mean accuracy: 0.47000000000000003
89
Mean accuracy: 0.45999999999999996
90
Mean accuracy: 0.6
91
Mean accuracy: 0.38
92
Mean accuracy: 0.29999999999999993
93
Mean accuracy: 0.57
94
Mean accuracy: 0.55
95
Mean accuracy: 0.45999999999999996
96
Mean accuracy: 0.39999999999999997
97
Mean accuracy: 0.48
98
Mean accuracy: 0.43
99
Mean accuracy: 0.5200000000000001
100
Mean accuracy: 0.51

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Rand50CpG_Male_100RF.csv", index = False)

0.4999000000000002

## RanFor 100 times. Samples = 96

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(96, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(50))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.41000000000000003
2
Mean accuracy: 0.53
3
Mean accuracy: 0.5199999999999999
4
Mean accuracy: 0.47000000000000003
5
Mean accuracy: 0.5599999999999999
6
Mean accuracy: 0.5
7
Mean accuracy: 0.43999999999999995
8
Mean accuracy: 0.45
9
Mean accuracy: 0.44000000000000006
10
Mean accuracy: 0.36
11
Mean accuracy: 0.42000000000000004
12
Mean accuracy: 0.43999999999999995
13
Mean accuracy: 0.4
14
Mean accuracy: 0.47000000000000003
15
Mean accuracy: 0.43
16
Mean accuracy: 0.48
17
Mean accuracy: 0.44000000000000006
18
Mean accuracy: 0.6399999999999999
19
Mean accuracy: 0.5900000000000001
20
Mean accuracy: 0.4699999999999999
21
Mean accuracy: 0.5
22
Mean accuracy: 0.51
23
Mean accuracy: 0.54
24
Mean accuracy: 0.48
25
Mean accuracy: 0.4600000000000001
26
Mean accuracy: 0.53
27
Mean accuracy: 0.51
28
Mean accuracy: 0.5799999999999998
29
Mean accuracy: 0.5399999999999999
30
Mean accuracy: 0.51
31
Mean accuracy: 0.61
32
Mean accuracy: 0.53
33
Mean accuracy: 0.45999999999999996
34
Mean accuracy: 0.41000000000000003
35
Mean accuracy: 0.51
36
Mean accuracy: 0.45000000000000007
37
Mean accuracy: 0.5
38
Mean accuracy: 0.4999999999999999
39
Mean accuracy: 0.5900000000000001
40
Mean accuracy: 0.55
41
Mean accuracy: 0.47000000000000003
42
Mean accuracy: 0.5799999999999998
43
Mean accuracy: 0.59
44
Mean accuracy: 0.51
45
Mean accuracy: 0.49000000000000005
46
Mean accuracy: 0.59
47
Mean accuracy: 0.53
48
Mean accuracy: 0.55
49
Mean accuracy: 0.52
50
Mean accuracy: 0.5399999999999999
51
Mean accuracy: 0.48
52
Mean accuracy: 0.4999999999999999
53
Mean accuracy: 0.5900000000000001
54
Mean accuracy: 0.62
55
Mean accuracy: 0.5000000000000001
56
Mean accuracy: 0.5399999999999999
57
Mean accuracy: 0.51
58
Mean accuracy: 0.59
59
Mean accuracy: 0.43999999999999995
60
Mean accuracy: 0.4600000000000001
61
Mean accuracy: 0.48
62
Mean accuracy: 0.4699999999999999
63
Mean accuracy: 0.45
64
Mean accuracy: 0.48999999999999994
65
Mean accuracy: 0.4999999999999999
66
Mean accuracy: 0.47000000000000003
67
Mean accuracy: 0.42000000000000004
68
Mean accuracy: 0.45
69
Mean accuracy: 0.44000000000000006
70
Mean accuracy: 0.56
71
Mean accuracy: 0.53
72
Mean accuracy: 0.48
73
Mean accuracy: 0.53
74
Mean accuracy: 0.5199999999999999
75
Mean accuracy: 0.45999999999999996
76
Mean accuracy: 0.52
77
Mean accuracy: 0.5199999999999999
78
Mean accuracy: 0.51
79
Mean accuracy: 0.58
80
Mean accuracy: 0.4699999999999999
81
Mean accuracy: 0.5
82
Mean accuracy: 0.37
83
Mean accuracy: 0.52
84
Mean accuracy: 0.43999999999999995
85
Mean accuracy: 0.5399999999999999
86
Mean accuracy: 0.42000000000000004
87
Mean accuracy: 0.47000000000000003
88
Mean accuracy: 0.45999999999999996
89
Mean accuracy: 0.43
90
Mean accuracy: 0.6
91
Mean accuracy: 0.47000000000000003
92
Mean accuracy: 0.30999999999999994
93
Mean accuracy: 0.56
94
Mean accuracy: 0.5299999999999999
95
Mean accuracy: 0.48
96
Mean accuracy: 0.51
97
Mean accuracy: 0.5299999999999999
98
Mean accuracy: 0.43
99
Mean accuracy: 0.47000000000000003
100
Mean accuracy: 0.5499999999999999

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Rand96CpG_Male_100RF.csv", index = False)

0.49770000000000003

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('UPSIT_Boruta_Top50_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 52)

,PATNO,APPRDX,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,...,cg24628866,cg15323638,cg11559967,cg24718866,cg07806248,cg10210919,cg15028128,cg07897734,cg19731340,cg24272338
0,3001,1,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,...,0.918421,0.174982,0.896292,0.013781,0.934287,0.026093,0.921116,0.842938,0.018411,0.912405
1,3007,1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,...,0.915580,0.172641,0.918307,0.012835,0.905446,0.023069,0.919847,0.923446,0.017375,0.891393

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,cg22219083,...,cg24628866,cg15323638,cg11559967,cg24718866,cg07806248,cg10210919,cg15028128,cg07897734,cg19731340,cg24272338
0,1,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,0.018263,...,0.918421,0.174982,0.896292,0.013781,0.934287,0.026093,0.921116,0.842938,0.018411,0.912405
1,1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,0.021999,...,0.915580,0.172641,0.918307,0.012835,0.905446,0.023069,0.919847,0.923446,0.017375,0.891393

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.6199999999999999
2
Mean accuracy: 0.6799999999999999
3
Mean accuracy: 0.6599999999999999
4
Mean accuracy: 0.6599999999999999
5
Mean accuracy: 0.58
6
Mean accuracy: 0.6100000000000001
7
Mean accuracy: 0.7
8
Mean accuracy: 0.73
9
Mean accuracy: 0.7700000000000001
10
Mean accuracy: 0.6399999999999999
11
Mean accuracy: 0.6299999999999999
12
Mean accuracy: 0.6699999999999999
13
Mean accuracy: 0.69
14
Mean accuracy: 0.7
15
Mean accuracy: 0.64
16
Mean accuracy: 0.59
17
Mean accuracy: 0.6
18
Mean accuracy: 0.6399999999999999
19
Mean accuracy: 0.6299999999999999
20
Mean accuracy: 0.64
21
Mean accuracy: 0.7100000000000001
22
Mean accuracy: 0.6900000000000001
23
Mean accuracy: 0.74
24
Mean accuracy: 0.7
25
Mean accuracy: 0.72
26
Mean accuracy: 0.71
27
Mean accuracy: 0.72
28
Mean accuracy: 0.68
29
Mean accuracy: 0.68
30
Mean accuracy: 0.69
31
Mean accuracy: 0.6799999999999999
32
Mean accuracy: 0.75
33
Mean accuracy: 0.6900000000000001
34
Mean accuracy: 0.6799999999999999
35
Mean accuracy: 0.7200000000000001
36
Mean accuracy: 0.6599999999999999
37
Mean accuracy: 0.62
38
Mean accuracy: 0.6799999999999999
39
Mean accuracy: 0.6900000000000001
40
Mean accuracy: 0.7
41
Mean accuracy: 0.7
42
Mean accuracy: 0.64
43
Mean accuracy: 0.76
44
Mean accuracy: 0.5299999999999999
45
Mean accuracy: 0.6499999999999999
46
Mean accuracy: 0.6900000000000001
47
Mean accuracy: 0.69
48
Mean accuracy: 0.71
49
Mean accuracy: 0.6799999999999999
50
Mean accuracy: 0.7100000000000001
51
Mean accuracy: 0.6699999999999999
52
Mean accuracy: 0.7099999999999999
53
Mean accuracy: 0.67
54
Mean accuracy: 0.6599999999999999
55
Mean accuracy: 0.7100000000000001
56
Mean accuracy: 0.6499999999999999
57
Mean accuracy: 0.6399999999999999
58
Mean accuracy: 0.5900000000000001
59
Mean accuracy: 0.61
60
Mean accuracy: 0.63
61
Mean accuracy: 0.6799999999999999
62
Mean accuracy: 0.6799999999999999
63
Mean accuracy: 0.6299999999999999
64
Mean accuracy: 0.74
65
Mean accuracy: 0.6599999999999999
66
Mean accuracy: 0.73
67
Mean accuracy: 0.71
68
Mean accuracy: 0.65
69
Mean accuracy: 0.64
70
Mean accuracy: 0.6799999999999999
71
Mean accuracy: 0.5799999999999998
72
Mean accuracy: 0.63
73
Mean accuracy: 0.62
74
Mean accuracy: 0.61
75
Mean accuracy: 0.62
76
Mean accuracy: 0.69
77
Mean accuracy: 0.7
78
Mean accuracy: 0.72
79
Mean accuracy: 0.69
80
Mean accuracy: 0.69
81
Mean accuracy: 0.6599999999999999
82
Mean accuracy: 0.6799999999999999
83
Mean accuracy: 0.7100000000000001
84
Mean accuracy: 0.6100000000000001
85
Mean accuracy: 0.62
86
Mean accuracy: 0.6900000000000001
87
Mean accuracy: 0.74
88
Mean accuracy: 0.65
89
Mean accuracy: 0.6599999999999999
90
Mean accuracy: 0.66
91
Mean accuracy: 0.73
92
Mean accuracy: 0.6900000000000001
93
Mean accuracy: 0.63
94
Mean accuracy: 0.63
95
Mean accuracy: 0.76
96
Mean accuracy: 0.7499999999999999
97
Mean accuracy: 0.67
98
Mean accuracy: 0.6799999999999999
99
Mean accuracy: 0.62
100
Mean accuracy: 0.6300000000000001

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Boruta50CpG_Male_100RF.csv", index = False)

0.6710999999999998

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('UPSIT_NMI_Top50_Male_Data.csv')
print(df.shape)
df.head(2)

(307, 51)

,APPRDX,cg26358225,cg01605403,cg22295787,cg02295000,cg00360077,cg02176314,cg14746118,cg23074747,cg12501949,...,cg24260971,cg27315341,cg06263834,cg02944903,cg16628215,cg20003494,cg05142211,cg19646414,cg07466585,cg23127998
0,1,0.151532,0.879499,0.016057,0.826318,0.912095,0.916863,0.778754,0.011630,0.747517,...,0.101776,0.855311,0.049564,0.779978,0.053833,0.025708,0.035018,0.888881,0.082290,0.216844
1,1,0.198886,0.935782,0.021968,0.805755,0.916703,0.920714,0.798111,0.011863,0.757032,...,0.060896,0.769311,0.030237,0.653859,0.022553,0.045513,0.041906,0.885429,0.025043,0.166560

In [16]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.58
2
Mean accuracy: 0.67
3
Mean accuracy: 0.6499999999999999
4
Mean accuracy: 0.68
5
Mean accuracy: 0.5799999999999998
6
Mean accuracy: 0.6799999999999999
7
Mean accuracy: 0.62
8
Mean accuracy: 0.7
9
Mean accuracy: 0.6
10
Mean accuracy: 0.68
11
Mean accuracy: 0.7
12
Mean accuracy: 0.6299999999999999
13
Mean accuracy: 0.6300000000000001
14
Mean accuracy: 0.6299999999999999
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.51
17
Mean accuracy: 0.62
18
Mean accuracy: 0.63
19
Mean accuracy: 0.6699999999999999
20
Mean accuracy: 0.6799999999999999
21
Mean accuracy: 0.6799999999999999
22
Mean accuracy: 0.72
23
Mean accuracy: 0.64
24
Mean accuracy: 0.69
25
Mean accuracy: 0.7
26
Mean accuracy: 0.6199999999999999
27
Mean accuracy: 0.67
28
Mean accuracy: 0.72
29
Mean accuracy: 0.6100000000000001
30
Mean accuracy: 0.6599999999999999
31
Mean accuracy: 0.59
32
Mean accuracy: 0.63
33
Mean accuracy: 0.7100000000000001
34
Mean accuracy: 0.6199999999999999
35
Mean accuracy: 0.66
36
Mean accuracy: 0.74
37
Mean accuracy: 0.73
38
Mean accuracy: 0.65
39
Mean accuracy: 0.6799999999999999
40
Mean accuracy: 0.6100000000000001
41
Mean accuracy: 0.6100000000000001
42
Mean accuracy: 0.7
43
Mean accuracy: 0.73
44
Mean accuracy: 0.59
45
Mean accuracy: 0.7499999999999999
46
Mean accuracy: 0.7
47
Mean accuracy: 0.71
48
Mean accuracy: 0.6599999999999999
49
Mean accuracy: 0.7
50
Mean accuracy: 0.6199999999999999
51
Mean accuracy: 0.63
52
Mean accuracy: 0.7200000000000001
53
Mean accuracy: 0.68
54
Mean accuracy: 0.59
55
Mean accuracy: 0.7
56
Mean accuracy: 0.7000000000000001
57
Mean accuracy: 0.6
58
Mean accuracy: 0.55
59
Mean accuracy: 0.51
60
Mean accuracy: 0.64
61
Mean accuracy: 0.6399999999999999
62
Mean accuracy: 0.74
63
Mean accuracy: 0.62
64
Mean accuracy: 0.72
65
Mean accuracy: 0.67
66
Mean accuracy: 0.6799999999999999
67
Mean accuracy: 0.66
68
Mean accuracy: 0.6399999999999999
69
Mean accuracy: 0.59
70
Mean accuracy: 0.7
71
Mean accuracy: 0.6900000000000001
72
Mean accuracy: 0.5599999999999999
73
Mean accuracy: 0.65
74
Mean accuracy: 0.6299999999999999
75
Mean accuracy: 0.7
76
Mean accuracy: 0.62
77
Mean accuracy: 0.7
78
Mean accuracy: 0.76
79
Mean accuracy: 0.69
80
Mean accuracy: 0.6599999999999999
81
Mean accuracy: 0.6599999999999999
82
Mean accuracy: 0.62
83
Mean accuracy: 0.6799999999999999
84
Mean accuracy: 0.6099999999999999
85
Mean accuracy: 0.65
86
Mean accuracy: 0.6599999999999999
87
Mean accuracy: 0.6
88
Mean accuracy: 0.6799999999999999
89
Mean accuracy: 0.5900000000000001
90
Mean accuracy: 0.71
91
Mean accuracy: 0.66
92
Mean accuracy: 0.71
93
Mean accuracy: 0.7
94
Mean accuracy: 0.68
95
Mean accuracy: 0.63
96
Mean accuracy: 0.6
97
Mean accuracy: 0.7099999999999999
98
Mean accuracy: 0.65
99
Mean accuracy: 0.6299999999999999
100
Mean accuracy: 0.6599999999999999

In [17]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_NMI50CpG_Male_100RF.csv", index = False)

0.6561

## RanFor Top 50 Boruta + NMI 100 times. Samples = 96

In [18]:
df = pd.read_csv('UPSIT_Top50sMerge_Data_Male.csv')
print(df.shape)
df.head(2)

(307, 98)

,PATNO,APPRDX,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,...,cg24260971,cg27315341,cg06263834,cg02944903,cg16628215,cg20003494,cg05142211,cg19646414,cg07466585,cg23127998
0,3001,1,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,...,0.101776,0.855311,0.049564,0.779978,0.053833,0.025708,0.035018,0.888881,0.082290,0.216844
1,3007,1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,...,0.060896,0.769311,0.030237,0.653859,0.022553,0.045513,0.041906,0.885429,0.025043,0.166560

In [19]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg00260798,cg11023668,cg00877792,cg27498387,cg01458259,cg05294431,cg19997384,cg14927724,cg22219083,...,cg24260971,cg27315341,cg06263834,cg02944903,cg16628215,cg20003494,cg05142211,cg19646414,cg07466585,cg23127998
0,1,0.885679,0.497315,0.497734,0.316042,0.820166,0.726805,0.284672,0.284245,0.018263,...,0.101776,0.855311,0.049564,0.779978,0.053833,0.025708,0.035018,0.888881,0.082290,0.216844
1,1,0.916535,0.653975,0.453499,0.250261,0.857082,0.824456,0.329010,0.258556,0.021999,...,0.060896,0.769311,0.030237,0.653859,0.022553,0.045513,0.041906,0.885429,0.025043,0.166560

In [ ]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(50))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.57
2
Mean accuracy: 0.73
3
Mean accuracy: 0.76
4
Mean accuracy: 0.6
5
Mean accuracy: 0.5899999999999999
6
Mean accuracy: 0.72
7
Mean accuracy: 0.7
8
Mean accuracy: 0.7
9
Mean accuracy: 0.7100000000000001
10
Mean accuracy: 0.6699999999999999
11
Mean accuracy: 0.65
12
Mean accuracy: 0.6499999999999999
13
Mean accuracy: 0.5900000000000001
14
Mean accuracy: 0.7
15
Mean accuracy: 0.6399999999999999
16
Mean accuracy: 0.6799999999999999
17
Mean accuracy: 0.55
18
Mean accuracy: 0.69
19
Mean accuracy: 0.68
20
Mean accuracy: 0.6799999999999999
21
Mean accuracy: 0.6399999999999999
22
Mean accuracy: 0.72
23
Mean accuracy: 0.72
24
Mean accuracy: 0.7
25
Mean accuracy: 0.75
26
Mean accuracy: 0.67
27
Mean accuracy: 0.6599999999999999
28
Mean accuracy: 0.7300000000000001
29
Mean accuracy: 0.63
30
Mean accuracy: 0.66
31
Mean accuracy: 0.6399999999999999
32
Mean accuracy: 0.7100000000000001
33
Mean accuracy: 0.7000000000000001
34
Mean accuracy: 0.6699999999999999
35
Mean accuracy: 0.69
36
Mean accuracy: 0.7
37
Mean accuracy: 0.7299999999999999
38
Mean accuracy: 0.61
39
Mean accuracy: 0.76
40
Mean accuracy: 0.77
41
Mean accuracy: 0.72
42
Mean accuracy: 0.6599999999999999
43
Mean accuracy: 0.72
44
Mean accuracy: 0.6199999999999999
45
Mean accuracy: 0.6799999999999999
46
Mean accuracy: 0.7
47
Mean accuracy: 0.7100000000000001
48
Mean accuracy: 0.67
49
Mean accuracy: 0.6799999999999999
50
Mean accuracy: 0.79
51
Mean accuracy: 0.7300000000000001
52
Mean accuracy: 0.6599999999999999
53
Mean accuracy: 0.6599999999999999
54
Mean accuracy: 0.6799999999999999
55
Mean accuracy: 0.74
56
Mean accuracy: 0.6399999999999999
57
Mean accuracy: 0.6399999999999999
58
Mean accuracy: 0.5999999999999999
59
Mean accuracy: 0.64
60
Mean accuracy: 0.63
61
Mean accuracy: 0.6900000000000001
62
Mean accuracy: 0.7400000000000001
63
Mean accuracy: 0.6399999999999999
64
Mean accuracy: 0.7500000000000001
65
Mean accuracy: 0.72
66
Mean accuracy: 0.7
67
Mean accuracy: 0.6900000000000001
68
Mean accuracy: 0.6799999999999999
69
Mean accuracy: 0.63
70
Mean accuracy: 0.7000000000000001
71
Mean accuracy: 0.61
72
Mean accuracy: 0.6399999999999999
73
Mean accuracy: 0.6100000000000001
74
Mean accuracy: 0.66
75
Mean accuracy: 0.69
76
Mean accuracy: 0.6599999999999999
77
Mean accuracy: 0.7400000000000001
78
Mean accuracy: 0.73
79
Mean accuracy: 0.6699999999999999
80
Mean accuracy: 0.67
81
Mean accuracy: 0.73
82
Mean accuracy: 0.72
83
Mean accuracy: 0.7100000000000001
84
Mean accuracy: 0.6
85
Mean accuracy: 0.62
86
Mean accuracy: 0.6599999999999999
87
Mean accuracy: 0.7300000000000001
88
Mean accuracy: 0.6499999999999999
89
Mean accuracy: 0.6499999999999999
90
Mean accuracy: 0.7
91
Mean accuracy: 0.6799999999999999
92
Mean accuracy: 0.72
93
Mean accuracy: 0.72
94
Mean accuracy: 0.67
95
Mean accuracy: 0.72
96
Mean accuracy: 0.71
97
Mean accuracy: 0.6399999999999999
98
Mean accuracy: 0.67
99

In [ ]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Top50sCpG96_Male_100RF.csv", index = False)