# Random Forest Classification

In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sn
from numpy import std
from numpy import mean
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

## All CpG

In [2]:
%cd Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT
df = pd.read_csv('UPSIT3Categ_Methylome_Female.csv')
print(df.shape)
df.head(2)

Z:\PPMI_Data\Excels\NonMotors\Derived250\Female\GeneCpG\UPSIT
(150, 5679)

,Sentrix,PATNO,HYS,Gender,APPRDX,UPSIT_3,UPSIT_Total,cg06067658,cg15442538,cg25928446,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,200991620021_R03C01,3002,2,2,1,2,17,0.130195,0.886075,0.721228,...,0.843815,0.861038,0.870442,0.896617,0.857573,0.832123,0.807071,0.846446,0.914551,0.874165
1,200989060105_R03C01,3003,2,2,1,1,23,0.070498,0.904334,0.706840,...,0.857097,0.881147,0.912999,0.897845,0.836257,0.882631,0.835665,0.896638,0.944095,0.914684

In [3]:
df1 = df.drop(['UPSIT_Total','Sentrix','PATNO','HYS','Gender','UPSIT_3'], axis=1)
df1.head(2)

,APPRDX,cg06067658,cg15442538,cg25928446,cg12415575,cg26358225,cg19058526,cg20195763,cg23725394,cg27107076,...,cg05766881,cg01708543,cg10933281,cg04735449,cg15856662,cg11864127,cg14420798,cg08859349,cg01481205,cg19228755
0,1,0.130195,0.886075,0.721228,0.030683,0.126684,0.070607,0.416702,0.932702,0.623884,...,0.843815,0.861038,0.870442,0.896617,0.857573,0.832123,0.807071,0.846446,0.914551,0.874165
1,1,0.070498,0.904334,0.706840,0.051474,0.141152,0.170727,0.421593,0.934273,0.643751,...,0.857097,0.881147,0.912999,0.897845,0.836257,0.882631,0.835665,0.896638,0.944095,0.914684

In [4]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5333333333333334
2
Mean accuracy: 0.5833333333333333
3
Mean accuracy: 0.5499999999999999
4
Mean accuracy: 0.4333333333333333
5
Mean accuracy: 0.5333333333333334
6
Mean accuracy: 0.4999999999999999
7
Mean accuracy: 0.4666666666666666
8
Mean accuracy: 0.6499999999999999
9
Mean accuracy: 0.6499999999999999
10
Mean accuracy: 0.5
11
Mean accuracy: 0.5333333333333334
12
Mean accuracy: 0.5166666666666666
13
Mean accuracy: 0.4833333333333333
14
Mean accuracy: 0.4333333333333333
15
Mean accuracy: 0.5166666666666666
16
Mean accuracy: 0.4833333333333333
17
Mean accuracy: 0.6166666666666667
18
Mean accuracy: 0.5
19
Mean accuracy: 0.5333333333333333
20
Mean accuracy: 0.4833333333333333
21
Mean accuracy: 0.6166666666666667
22
Mean accuracy: 0.4666666666666667
23
Mean accuracy: 0.5166666666666666
24
Mean accuracy: 0.4499999999999999
25
Mean accuracy: 0.5833333333333334
26
Mean accuracy: 0.5333333333333333
27
Mean accuracy: 0.4666666666666667
28
Mean accuracy: 0.45
29
Mean accuracy: 0.65
30
Mean accuracy: 0.4666666666666667
31
Mean accuracy: 0.5333333333333333
32
Mean accuracy: 0.5333333333333334
33
Mean accuracy: 0.55
34
Mean accuracy: 0.35
35
Mean accuracy: 0.5166666666666666
36
Mean accuracy: 0.45
37
Mean accuracy: 0.4833333333333333
38
Mean accuracy: 0.35
39
Mean accuracy: 0.5
40
Mean accuracy: 0.4999999999999999
41
Mean accuracy: 0.4833333333333334
42
Mean accuracy: 0.5333333333333333
43
Mean accuracy: 0.5333333333333333
44
Mean accuracy: 0.5
45
Mean accuracy: 0.5833333333333333
46
Mean accuracy: 0.5333333333333334
47
Mean accuracy: 0.5
48
Mean accuracy: 0.55
49
Mean accuracy: 0.5666666666666667
50
Mean accuracy: 0.4666666666666667
51
Mean accuracy: 0.6666666666666666
52
Mean accuracy: 0.5666666666666667
53
Mean accuracy: 0.4
54
Mean accuracy: 0.4999999999999999
55
Mean accuracy: 0.4833333333333333
56
Mean accuracy: 0.5666666666666667
57
Mean accuracy: 0.4999999999999999
58
Mean accuracy: 0.5333333333333333
59
Mean accuracy: 0.5666666666666667
60
Mean accuracy: 0.4333333333333333
61
Mean accuracy: 0.4833333333333333
62
Mean accuracy: 0.55
63
Mean accuracy: 0.55
64
Mean accuracy: 0.5833333333333333
65
Mean accuracy: 0.5833333333333333
66
Mean accuracy: 0.5000000000000001
67
Mean accuracy: 0.6166666666666666
68
Mean accuracy: 0.4499999999999999
69
Mean accuracy: 0.4666666666666667
70
Mean accuracy: 0.5833333333333333
71
Mean accuracy: 0.39999999999999997
72
Mean accuracy: 0.6
73
Mean accuracy: 0.4333333333333333
74
Mean accuracy: 0.4833333333333333
75
Mean accuracy: 0.5499999999999999
76
Mean accuracy: 0.5666666666666667
77
Mean accuracy: 0.4833333333333333
78
Mean accuracy: 0.5666666666666667
79
Mean accuracy: 0.4333333333333334
80
Mean accuracy: 0.5333333333333333
81
Mean accuracy: 0.6333333333333333
82
Mean accuracy: 0.5333333333333333
83
Mean accuracy: 0.3833333333333333
84
Mean accuracy: 0.5666666666666667
85
Mean accuracy: 0.6000000000000001
86
Mean accuracy: 0.3666666666666666
87
Mean accuracy: 0.4666666666666666
88
Mean accuracy: 0.4333333333333333
89
Mean accuracy: 0.5166666666666667
90
Mean accuracy: 0.45
91
Mean accuracy: 0.5499999999999999
92
Mean accuracy: 0.38333333333333336
93
Mean accuracy: 0.5333333333333333
94
Mean accuracy: 0.5833333333333334
95
Mean accuracy: 0.4833333333333334
96
Mean accuracy: 0.6333333333333333
97
Mean accuracy: 0.3666666666666666
98
Mean accuracy: 0.4333333333333333
99
Mean accuracy: 0.35
100
Mean accuracy: 0.5666666666666667

In [5]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_AllCpG_Female_100RF.csv", index = False)

0.5118333333333336

## RanFor 1000 times. Samples = 50

In [6]:
df2 = df1.drop (['APPRDX'], axis=1)

In [7]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(50, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.5
2
Mean accuracy: 0.4166666666666667
3
Mean accuracy: 0.4833333333333332
4
Mean accuracy: 0.5
5
Mean accuracy: 0.4833333333333332
6
Mean accuracy: 0.5666666666666667
7
Mean accuracy: 0.6000000000000001
8
Mean accuracy: 0.4333333333333333
9
Mean accuracy: 0.5000000000000001
10
Mean accuracy: 0.6
11
Mean accuracy: 0.45
12
Mean accuracy: 0.4999999999999999
13
Mean accuracy: 0.4
14
Mean accuracy: 0.35
15
Mean accuracy: 0.5999999999999999
16
Mean accuracy: 0.55
17
Mean accuracy: 0.4833333333333333
18
Mean accuracy: 0.5166666666666667
19
Mean accuracy: 0.4833333333333333
20
Mean accuracy: 0.6000000000000001
21
Mean accuracy: 0.6166666666666666
22
Mean accuracy: 0.6666666666666667
23
Mean accuracy: 0.5999999999999999
24
Mean accuracy: 0.55
25
Mean accuracy: 0.4166666666666667
26
Mean accuracy: 0.4333333333333333
27
Mean accuracy: 0.4499999999999999
28
Mean accuracy: 0.5833333333333334
29
Mean accuracy: 0.6166666666666667
30
Mean accuracy: 0.5
31
Mean accuracy: 0.5
32
Mean accuracy: 0.4666666666666666
33
Mean accuracy: 0.55
34
Mean accuracy: 0.45
35
Mean accuracy: 0.6
36
Mean accuracy: 0.4333333333333333
37
Mean accuracy: 0.6833333333333333
38
Mean accuracy: 0.5833333333333334
39
Mean accuracy: 0.41666666666666663
40
Mean accuracy: 0.41666666666666663
41
Mean accuracy: 0.5666666666666667
42
Mean accuracy: 0.45
43
Mean accuracy: 0.6833333333333333
44
Mean accuracy: 0.3833333333333333
45
Mean accuracy: 0.5333333333333334
46
Mean accuracy: 0.5499999999999999
47
Mean accuracy: 0.55
48
Mean accuracy: 0.5833333333333334
49
Mean accuracy: 0.5666666666666667
50
Mean accuracy: 0.4833333333333334
51
Mean accuracy: 0.5499999999999999
52
Mean accuracy: 0.5666666666666667
53
Mean accuracy: 0.6166666666666666
54
Mean accuracy: 0.6166666666666667
55
Mean accuracy: 0.4333333333333333
56
Mean accuracy: 0.5333333333333333
57
Mean accuracy: 0.4833333333333333
58
Mean accuracy: 0.33333333333333337
59
Mean accuracy: 0.4833333333333333
60
Mean accuracy: 0.5333333333333333
61
Mean accuracy: 0.55
62
Mean accuracy: 0.41666666666666663
63
Mean accuracy: 0.4833333333333332
64
Mean accuracy: 0.5666666666666667
65
Mean accuracy: 0.55
66
Mean accuracy: 0.6
67
Mean accuracy: 0.5833333333333334
68
Mean accuracy: 0.5833333333333333
69
Mean accuracy: 0.4833333333333333
70
Mean accuracy: 0.5833333333333333
71
Mean accuracy: 0.5833333333333333
72
Mean accuracy: 0.55
73
Mean accuracy: 0.6166666666666666
74
Mean accuracy: 0.4
75
Mean accuracy: 0.55
76
Mean accuracy: 0.5333333333333333
77
Mean accuracy: 0.45
78
Mean accuracy: 0.5166666666666666
79
Mean accuracy: 0.3833333333333333
80
Mean accuracy: 0.45
81
Mean accuracy: 0.45
82
Mean accuracy: 0.5333333333333333
83
Mean accuracy: 0.4666666666666666
84
Mean accuracy: 0.5666666666666667
85
Mean accuracy: 0.4833333333333333
86
Mean accuracy: 0.5833333333333333
87
Mean accuracy: 0.6499999999999999
88
Mean accuracy: 0.5333333333333333
89
Mean accuracy: 0.4
90
Mean accuracy: 0.5166666666666666
91
Mean accuracy: 0.4833333333333333
92
Mean accuracy: 0.5
93
Mean accuracy: 0.6333333333333333
94
Mean accuracy: 0.5333333333333333
95
Mean accuracy: 0.6666666666666666
96
Mean accuracy: 0.6166666666666666
97
Mean accuracy: 0.5
98
Mean accuracy: 0.5333333333333333
99
Mean accuracy: 0.4833333333333334
100
Mean accuracy: 0.4

In [8]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Rand50CpG_Female_100RF.csv", index = False)

0.5201666666666668

## RanFor 100 times. Samples = 95

In [9]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])
for i in range (1,101) :
        print(i)
        df3 = df2.sample(95, axis=1)
        df3 = df3.reindex(['APPRDX', *df3.columns], axis=1).assign(APPRDX=df1['APPRDX'])
        dataset = df3.groupby('APPRDX').apply(lambda x: x.sample(30))
        X = dataset.iloc[:, 1:].values
        y = dataset.iloc[:, 0].values
        random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
        scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
        mean_score = scores.mean()
        print(f'Mean accuracy: {mean_score}')
        new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
        dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.4833333333333333
2
Mean accuracy: 0.5499999999999999
3
Mean accuracy: 0.5333333333333332
4
Mean accuracy: 0.5333333333333333
5
Mean accuracy: 0.5666666666666667
6
Mean accuracy: 0.5666666666666668
7
Mean accuracy: 0.6000000000000001
8
Mean accuracy: 0.5666666666666667
9
Mean accuracy: 0.4333333333333333
10
Mean accuracy: 0.5333333333333334
11
Mean accuracy: 0.5666666666666667
12
Mean accuracy: 0.5166666666666667
13
Mean accuracy: 0.38333333333333336
14
Mean accuracy: 0.45
15
Mean accuracy: 0.5333333333333333
16
Mean accuracy: 0.55
17
Mean accuracy: 0.6
18
Mean accuracy: 0.4333333333333334
19
Mean accuracy: 0.4833333333333333
20
Mean accuracy: 0.5166666666666666
21
Mean accuracy: 0.5333333333333333
22
Mean accuracy: 0.5
23
Mean accuracy: 0.55
24
Mean accuracy: 0.5833333333333333
25
Mean accuracy: 0.4666666666666667
26
Mean accuracy: 0.38333333333333325
27
Mean accuracy: 0.4833333333333333
28
Mean accuracy: 0.5833333333333334
29
Mean accuracy: 0.5666666666666667
30
Mean accuracy: 0.5833333333333333
31
Mean accuracy: 0.5
32
Mean accuracy: 0.5333333333333332
33
Mean accuracy: 0.5
34
Mean accuracy: 0.3833333333333333
35
Mean accuracy: 0.5666666666666667
36
Mean accuracy: 0.5333333333333333
37
Mean accuracy: 0.7166666666666666
38
Mean accuracy: 0.5166666666666667
39
Mean accuracy: 0.5499999999999999
40
Mean accuracy: 0.39999999999999997
41
Mean accuracy: 0.5666666666666667
42
Mean accuracy: 0.41666666666666663
43
Mean accuracy: 0.6666666666666667
44
Mean accuracy: 0.4
45
Mean accuracy: 0.5833333333333333
46
Mean accuracy: 0.5166666666666667
47
Mean accuracy: 0.6
48
Mean accuracy: 0.55
49
Mean accuracy: 0.6333333333333333
50
Mean accuracy: 0.5166666666666666
51
Mean accuracy: 0.65
52
Mean accuracy: 0.4333333333333334
53
Mean accuracy: 0.5499999999999999
54
Mean accuracy: 0.6833333333333333
55
Mean accuracy: 0.5666666666666667
56
Mean accuracy: 0.41666666666666663
57
Mean accuracy: 0.55
58
Mean accuracy: 0.45
59
Mean accuracy: 0.4666666666666666
60
Mean accuracy: 0.6
61
Mean accuracy: 0.5499999999999999
62
Mean accuracy: 0.4
63
Mean accuracy: 0.4666666666666666
64
Mean accuracy: 0.5666666666666667
65
Mean accuracy: 0.5333333333333333
66
Mean accuracy: 0.5666666666666667
67
Mean accuracy: 0.5166666666666666
68
Mean accuracy: 0.5166666666666666
69
Mean accuracy: 0.41666666666666663
70
Mean accuracy: 0.5833333333333333
71
Mean accuracy: 0.6166666666666667
72
Mean accuracy: 0.41666666666666663
73
Mean accuracy: 0.55
74
Mean accuracy: 0.3666666666666666
75
Mean accuracy: 0.55
76
Mean accuracy: 0.6166666666666666
77
Mean accuracy: 0.5166666666666667
78
Mean accuracy: 0.55
79
Mean accuracy: 0.45
80
Mean accuracy: 0.5666666666666667
81
Mean accuracy: 0.45
82
Mean accuracy: 0.55
83
Mean accuracy: 0.5
84
Mean accuracy: 0.5166666666666667
85
Mean accuracy: 0.45
86
Mean accuracy: 0.5833333333333334
87
Mean accuracy: 0.5166666666666666
88
Mean accuracy: 0.5333333333333333
89
Mean accuracy: 0.41666666666666663
90
Mean accuracy: 0.5666666666666667
91
Mean accuracy: 0.5
92
Mean accuracy: 0.4
93
Mean accuracy: 0.6166666666666667
94
Mean accuracy: 0.5833333333333333
95
Mean accuracy: 0.6333333333333334
96
Mean accuracy: 0.5666666666666667
97
Mean accuracy: 0.45
98
Mean accuracy: 0.6166666666666666
99
Mean accuracy: 0.4833333333333334
100
Mean accuracy: 0.41666666666666663

In [10]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Rand95CpG_Female_100RF.csv", index = False)

0.5231666666666667

## RanFor Top 50 Boruta 100 times. Samples = 50

In [11]:
df = pd.read_csv('UPSIT_Boruta_Top50_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg00260798,cg07668077,cg17502447,cg17478371,cg02888917,cg00173854,cg12845419,cg17503711,...,cg18322516,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274
0,3002,1,0.879267,0.743484,0.862084,0.020390,0.061802,0.025939,0.518718,0.460579,...,0.922824,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144
1,3003,1,0.910582,0.825779,0.831112,0.034629,0.063124,0.048876,0.548928,0.333375,...,0.912891,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374

In [12]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg00260798,cg07668077,cg17502447,cg17478371,cg02888917,cg00173854,cg12845419,cg17503711,cg27344018,...,cg18322516,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274
0,1,0.879267,0.743484,0.862084,0.020390,0.061802,0.025939,0.518718,0.460579,0.876019,...,0.922824,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144
1,1,0.910582,0.825779,0.831112,0.034629,0.063124,0.048876,0.548928,0.333375,0.853940,...,0.912891,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374

In [13]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7333333333333333
2
Mean accuracy: 0.7166666666666666
3
Mean accuracy: 0.6833333333333333
4
Mean accuracy: 0.7166666666666667
5
Mean accuracy: 0.6833333333333333
6
Mean accuracy: 0.6499999999999999
7
Mean accuracy: 0.6833333333333333
8
Mean accuracy: 0.75
9
Mean accuracy: 0.7833333333333333
10
Mean accuracy: 0.7166666666666666
11
Mean accuracy: 0.7333333333333333
12
Mean accuracy: 0.6166666666666666
13
Mean accuracy: 0.6833333333333333
14
Mean accuracy: 0.6500000000000001
15
Mean accuracy: 0.7333333333333333
16
Mean accuracy: 0.6666666666666667
17
Mean accuracy: 0.7833333333333334
18
Mean accuracy: 0.7333333333333333
19
Mean accuracy: 0.7333333333333332
20
Mean accuracy: 0.6666666666666666
21
Mean accuracy: 0.65
22
Mean accuracy: 0.6666666666666667
23
Mean accuracy: 0.7166666666666666
24
Mean accuracy: 0.7
25
Mean accuracy: 0.7666666666666666
26
Mean accuracy: 0.7333333333333333
27
Mean accuracy: 0.6833333333333333
28
Mean accuracy: 0.7
29
Mean accuracy: 0.7333333333333332
30
Mean accuracy: 0.6166666666666667
31
Mean accuracy: 0.7333333333333333
32
Mean accuracy: 0.7
33
Mean accuracy: 0.7833333333333333
34
Mean accuracy: 0.7166666666666667
35
Mean accuracy: 0.65
36
Mean accuracy: 0.6333333333333333
37
Mean accuracy: 0.7833333333333334
38
Mean accuracy: 0.6333333333333334
39
Mean accuracy: 0.6166666666666666
40
Mean accuracy: 0.7333333333333332
41
Mean accuracy: 0.6833333333333333
42
Mean accuracy: 0.6666666666666666
43
Mean accuracy: 0.7833333333333334
44
Mean accuracy: 0.65
45
Mean accuracy: 0.6666666666666666
46
Mean accuracy: 0.6666666666666666
47
Mean accuracy: 0.6499999999999999
48
Mean accuracy: 0.7
49
Mean accuracy: 0.7999999999999999
50
Mean accuracy: 0.6499999999999999
51
Mean accuracy: 0.6666666666666666
52
Mean accuracy: 0.65
53
Mean accuracy: 0.6666666666666667
54
Mean accuracy: 0.6166666666666667
55
Mean accuracy: 0.65
56
Mean accuracy: 0.7833333333333333
57
Mean accuracy: 0.6333333333333333
58
Mean accuracy: 0.7499999999999999
59
Mean accuracy: 0.6333333333333334
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.7333333333333334
62
Mean accuracy: 0.7166666666666666
63
Mean accuracy: 0.7499999999999999
64
Mean accuracy: 0.6833333333333333
65
Mean accuracy: 0.6833333333333333
66
Mean accuracy: 0.6833333333333333
67
Mean accuracy: 0.6666666666666667
68
Mean accuracy: 0.6666666666666667
69
Mean accuracy: 0.7333333333333333
70
Mean accuracy: 0.7500000000000001
71
Mean accuracy: 0.6333333333333333
72
Mean accuracy: 0.7333333333333334
73
Mean accuracy: 0.6666666666666667
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.6499999999999999
76
Mean accuracy: 0.75
77
Mean accuracy: 0.7
78
Mean accuracy: 0.7166666666666668
79
Mean accuracy: 0.65
80
Mean accuracy: 0.6333333333333333
81
Mean accuracy: 0.7
82
Mean accuracy: 0.7
83
Mean accuracy: 0.7833333333333334
84
Mean accuracy: 0.7333333333333334
85
Mean accuracy: 0.6833333333333333
86
Mean accuracy: 0.5166666666666666
87
Mean accuracy: 0.6666666666666666
88
Mean accuracy: 0.75
89
Mean accuracy: 0.7
90
Mean accuracy: 0.75
91
Mean accuracy: 0.7833333333333334
92
Mean accuracy: 0.6833333333333333
93
Mean accuracy: 0.7666666666666667
94
Mean accuracy: 0.6333333333333334
95
Mean accuracy: 0.65
96
Mean accuracy: 0.75
97
Mean accuracy: 0.7
98
Mean accuracy: 0.65
99
Mean accuracy: 0.5833333333333333
100
Mean accuracy: 0.7166666666666666

In [14]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Boruta50CpG_Female_100RF.csv", index = False)

0.6949999999999998

## RanFor Top 50 NMI 100 times. Samples = 50

In [15]:
df = pd.read_csv('NMI_Top50_UPSIT_Methylome_Female.csv')
print(df.shape)
df.head(2)

(150, 52)

,PATNO,APPRDX,cg02488409,cg23865342,cg12845419,cg23142730,cg02888917,cg27486833,cg26730369,cg11686092,...,cg14548871,cg04721557,cg17218282,cg20471798,cg04948892,cg12751142,cg17957325,cg13520090,cg05538980,cg18580385
0,3002,1,0.921580,0.896196,0.518718,0.826768,0.061802,0.729550,0.064156,0.041555,...,0.027095,0.939462,0.767832,0.845091,0.156538,0.510861,0.922070,0.877443,0.792984,0.895246
1,3003,1,0.923798,0.876246,0.548928,0.807613,0.063124,0.745873,0.091314,0.091124,...,0.018183,0.939685,0.778352,0.820209,0.150134,0.622603,0.929889,0.778461,0.763160,0.887588

In [16]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02488409,cg23865342,cg12845419,cg23142730,cg02888917,cg27486833,cg26730369,cg11686092,cg14149699,...,cg14548871,cg04721557,cg17218282,cg20471798,cg04948892,cg12751142,cg17957325,cg13520090,cg05538980,cg18580385
0,1,0.921580,0.896196,0.518718,0.826768,0.061802,0.729550,0.064156,0.041555,0.031048,...,0.027095,0.939462,0.767832,0.845091,0.156538,0.510861,0.922070,0.877443,0.792984,0.895246
1,1,0.923798,0.876246,0.548928,0.807613,0.063124,0.745873,0.091314,0.091124,0.034633,...,0.018183,0.939685,0.778352,0.820209,0.150134,0.622603,0.929889,0.778461,0.763160,0.887588

In [17]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.7000000000000001
3
Mean accuracy: 0.7499999999999999
4
Mean accuracy: 0.7
5
Mean accuracy: 0.75
6
Mean accuracy: 0.6666666666666667
7
Mean accuracy: 0.75
8
Mean accuracy: 0.7666666666666666
9
Mean accuracy: 0.75
10
Mean accuracy: 0.8166666666666667
11
Mean accuracy: 0.7833333333333333
12
Mean accuracy: 0.6666666666666667
13
Mean accuracy: 0.7
14
Mean accuracy: 0.6500000000000001
15
Mean accuracy: 0.7833333333333333
16
Mean accuracy: 0.7333333333333334
17
Mean accuracy: 0.8
18
Mean accuracy: 0.7333333333333333
19
Mean accuracy: 0.65
20
Mean accuracy: 0.7
21
Mean accuracy: 0.7166666666666666
22
Mean accuracy: 0.7333333333333334
23
Mean accuracy: 0.7666666666666666
24
Mean accuracy: 0.8
25
Mean accuracy: 0.7666666666666667
26
Mean accuracy: 0.7666666666666667
27
Mean accuracy: 0.7999999999999999
28
Mean accuracy: 0.7499999999999999
29
Mean accuracy: 0.8
30
Mean accuracy: 0.6666666666666666
31
Mean accuracy: 0.75
32
Mean accuracy: 0.7
33
Mean accuracy: 0.7833333333333332
34
Mean accuracy: 0.7166666666666667
35
Mean accuracy: 0.6666666666666667
36
Mean accuracy: 0.7833333333333333
37
Mean accuracy: 0.7666666666666667
38
Mean accuracy: 0.7833333333333333
39
Mean accuracy: 0.6833333333333332
40
Mean accuracy: 0.7500000000000001
41
Mean accuracy: 0.7333333333333333
42
Mean accuracy: 0.7166666666666667
43
Mean accuracy: 0.7
44
Mean accuracy: 0.75
45
Mean accuracy: 0.75
46
Mean accuracy: 0.8
47
Mean accuracy: 0.75
48
Mean accuracy: 0.6833333333333333
49
Mean accuracy: 0.7666666666666667
50
Mean accuracy: 0.7499999999999999
51
Mean accuracy: 0.7666666666666667
52
Mean accuracy: 0.6833333333333333
53
Mean accuracy: 0.7
54
Mean accuracy: 0.6666666666666667
55
Mean accuracy: 0.7166666666666668
56
Mean accuracy: 0.7
57
Mean accuracy: 0.7
58
Mean accuracy: 0.7833333333333334
59
Mean accuracy: 0.7833333333333333
60
Mean accuracy: 0.7333333333333333
61
Mean accuracy: 0.75
62
Mean accuracy: 0.6666666666666667
63
Mean accuracy: 0.7666666666666667
64
Mean accuracy: 0.6833333333333333
65
Mean accuracy: 0.7666666666666667
66
Mean accuracy: 0.7666666666666667
67
Mean accuracy: 0.7833333333333333
68
Mean accuracy: 0.7166666666666667
69
Mean accuracy: 0.7333333333333334
70
Mean accuracy: 0.6833333333333333
71
Mean accuracy: 0.75
72
Mean accuracy: 0.7833333333333334
73
Mean accuracy: 0.6833333333333333
74
Mean accuracy: 0.6833333333333333
75
Mean accuracy: 0.75
76
Mean accuracy: 0.75
77
Mean accuracy: 0.65
78
Mean accuracy: 0.7166666666666666
79
Mean accuracy: 0.7000000000000001
80
Mean accuracy: 0.7166666666666666
81
Mean accuracy: 0.7499999999999999
82
Mean accuracy: 0.7500000000000001
83
Mean accuracy: 0.6666666666666667
84
Mean accuracy: 0.7166666666666666
85
Mean accuracy: 0.7166666666666666
86
Mean accuracy: 0.6166666666666666
87
Mean accuracy: 0.65
88
Mean accuracy: 0.7
89
Mean accuracy: 0.7666666666666667
90
Mean accuracy: 0.7499999999999999
91
Mean accuracy: 0.6833333333333333
92
Mean accuracy: 0.7333333333333334
93
Mean accuracy: 0.7166666666666667
94
Mean accuracy: 0.7166666666666666
95
Mean accuracy: 0.6833333333333333
96
Mean accuracy: 0.7666666666666666
97
Mean accuracy: 0.6499999999999999
98
Mean accuracy: 0.6499999999999999
99
Mean accuracy: 0.6333333333333333
100
Mean accuracy: 0.6

In [18]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_NMI50CpG_Female_100RF.csv", index = False)

0.7254999999999999

## RanFor Top 50 Boruta + NMI 100 times. Samples = 95

In [19]:
df = pd.read_csv('UPSIT_Top50sMerge_Data_Female.csv')
print(df.shape)
df.head(2)

(150, 97)

,PATNO,APPRDX,cg02488409,cg23865342,cg12845419,cg23142730,cg02888917,cg27486833,cg26730369,cg11686092,...,cg18322516,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274
0,3002,1,0.921580,0.896196,0.518718,0.826768,0.061802,0.729550,0.064156,0.041555,...,0.922824,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144
1,3003,1,0.923798,0.876246,0.548928,0.807613,0.063124,0.745873,0.091314,0.091124,...,0.912891,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374

In [20]:
df1 = df.drop(['PATNO'], axis=1)
df1.head(2)

,APPRDX,cg02488409,cg23865342,cg12845419,cg23142730,cg02888917,cg27486833,cg26730369,cg11686092,cg14149699,...,cg18322516,cg25149563,cg23390920,cg21280928,cg26544028,cg03385171,cg03191458,cg04324977,cg00153831,cg19458274
0,1,0.921580,0.896196,0.518718,0.826768,0.061802,0.729550,0.064156,0.041555,0.031048,...,0.922824,0.748475,0.489156,0.892898,0.656587,0.920785,0.907265,0.936076,0.936939,0.015144
1,1,0.923798,0.876246,0.548928,0.807613,0.063124,0.745873,0.091314,0.091124,0.034633,...,0.912891,0.841205,0.505509,0.866465,0.629046,0.922969,0.929922,0.910388,0.916622,0.015374

In [21]:
np.random.seed (1)
dframe1 = pd.DataFrame(columns=['Accuracy', 'Std_Dev'])

for i in range(1, 101):
    print(i)
    df2 = df1.groupby('APPRDX').apply(lambda x: x.sample(30))
    X = df2.drop('APPRDX', axis = 1)
    y = df2['APPRDX']
    random_forest_model = RandomForestClassifier(n_estimators = 100, max_depth = 5, criterion = 'gini')
    scores = cross_val_score(random_forest_model, X, y, cv = 10, n_jobs = -1)
    mean_score = scores.mean()
    print(f'Mean accuracy: {mean_score}')
    new_row = {'Accuracy': mean_score, 'Std_Dev': std(scores)}
    dframe1 = pd.concat([dframe1, pd.DataFrame(new_row, index=[0])], ignore_index=True)

1
Mean accuracy: 0.7
2
Mean accuracy: 0.7000000000000001
3
Mean accuracy: 0.6666666666666666
4
Mean accuracy: 0.6833333333333333
5
Mean accuracy: 0.65
6
Mean accuracy: 0.6666666666666667
7
Mean accuracy: 0.6666666666666667
8
Mean accuracy: 0.7333333333333332
9
Mean accuracy: 0.75
10
Mean accuracy: 0.7666666666666667
11
Mean accuracy: 0.7166666666666666
12
Mean accuracy: 0.7166666666666666
13
Mean accuracy: 0.8
14
Mean accuracy: 0.6666666666666667
15
Mean accuracy: 0.7166666666666666
16
Mean accuracy: 0.6833333333333333
17
Mean accuracy: 0.7833333333333333
18
Mean accuracy: 0.7333333333333333
19
Mean accuracy: 0.7166666666666667
20
Mean accuracy: 0.7333333333333334
21
Mean accuracy: 0.6666666666666666
22
Mean accuracy: 0.7
23
Mean accuracy: 0.7333333333333333
24
Mean accuracy: 0.75
25
Mean accuracy: 0.7333333333333333
26
Mean accuracy: 0.7333333333333333
27
Mean accuracy: 0.7666666666666667
28
Mean accuracy: 0.7333333333333333
29
Mean accuracy: 0.8666666666666668
30
Mean accuracy: 0.7
31
Mean accuracy: 0.6833333333333333
32
Mean accuracy: 0.75
33
Mean accuracy: 0.75
34
Mean accuracy: 0.7666666666666667
35
Mean accuracy: 0.65
36
Mean accuracy: 0.6833333333333333
37
Mean accuracy: 0.7666666666666667
38
Mean accuracy: 0.8166666666666668
39
Mean accuracy: 0.7333333333333332
40
Mean accuracy: 0.7166666666666666
41
Mean accuracy: 0.6833333333333333
42
Mean accuracy: 0.7333333333333333
43
Mean accuracy: 0.7499999999999999
44
Mean accuracy: 0.6833333333333333
45
Mean accuracy: 0.7
46
Mean accuracy: 0.7833333333333333
47
Mean accuracy: 0.7333333333333333
48
Mean accuracy: 0.6666666666666667
49
Mean accuracy: 0.85
50
Mean accuracy: 0.7
51
Mean accuracy: 0.75
52
Mean accuracy: 0.6833333333333333
53
Mean accuracy: 0.6833333333333333
54
Mean accuracy: 0.6666666666666667
55
Mean accuracy: 0.75
56
Mean accuracy: 0.7833333333333333
57
Mean accuracy: 0.7166666666666667
58
Mean accuracy: 0.8166666666666668
59
Mean accuracy: 0.75
60
Mean accuracy: 0.6833333333333333
61
Mean accuracy: 0.7
62
Mean accuracy: 0.7333333333333334
63
Mean accuracy: 0.7833333333333333
64
Mean accuracy: 0.6666666666666667
65
Mean accuracy: 0.7833333333333334
66
Mean accuracy: 0.7
67
Mean accuracy: 0.7
68
Mean accuracy: 0.7666666666666666
69
Mean accuracy: 0.7500000000000001
70
Mean accuracy: 0.6666666666666666
71
Mean accuracy: 0.6833333333333333
72
Mean accuracy: 0.7666666666666666
73
Mean accuracy: 0.65
74
Mean accuracy: 0.7
75
Mean accuracy: 0.7333333333333333
76
Mean accuracy: 0.7333333333333334
77
Mean accuracy: 0.7
78
Mean accuracy: 0.7
79
Mean accuracy: 0.6666666666666667
80
Mean accuracy: 0.7
81
Mean accuracy: 0.7333333333333333
82
Mean accuracy: 0.7333333333333334
83
Mean accuracy: 0.8166666666666668
84
Mean accuracy: 0.7333333333333334
85
Mean accuracy: 0.6333333333333334
86
Mean accuracy: 0.6000000000000001
87
Mean accuracy: 0.7499999999999999
88
Mean accuracy: 0.7
89
Mean accuracy: 0.7333333333333332
90
Mean accuracy: 0.7666666666666666
91
Mean accuracy: 0.7166666666666666
92
Mean accuracy: 0.7666666666666667
93
Mean accuracy: 0.75
94
Mean accuracy: 0.65
95
Mean accuracy: 0.7333333333333334
96
Mean accuracy: 0.8166666666666668
97
Mean accuracy: 0.7
98
Mean accuracy: 0.7333333333333333
99
Mean accuracy: 0.5833333333333333
100
Mean accuracy: 0.6833333333333333

In [22]:
print(mean(dframe1['Accuracy']))
dframe1.to_csv ("UPSIT_Top50sCpG95_Female_100RF.csv", index = False)

0.7213333333333334